Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$

fix(auth): address PR #91 review — complete state_version cleanup, fix cache logic
  services/platform/apps/api/users/views.py
  services/portal/apps/api_client/services.py
  services/portal/apps/users/middleware.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(cors): address PR #90 review — middleware ordering, staging/dev CORS fixes
  services/platform/config/settings/base.py
  services/platform/config/settings/dev.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, i18n-coverage-check, performance-check

fix(customers): add address constraint tests, fix swift→swift_code in fixtures
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/tests/customers/test_customers_models.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(types): resolve Chaos Monkey findings — SECRET_KEY guard, newsletter_consent crash
  services/platform/apps/common/key_derivation.py
  services/platform/apps/notifications/services.py
  services/platform/apps/notifications/tasks.py
  services/platform/tests/common/test_key_derivation.py
  services/platform/tests/common/test_post_encryption_upgrade.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(dev): resolve 6 make-dev issues — domain audit, CSS dedup, PID, logging, datetimes, signal tests
  Makefile
  services/platform/apps/audit/services.py
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/tests/provisioning/test_cross_app_integration.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

chore: add .gitguardian.yaml to suppress test fixture false positives
  .gitguardian.yaml
Due: none

chore: bump version to v0.26.0 and update CHANGELOG
  CHANGELOG.md
  README.md
  pyproject.toml
  services/platform/pyproject.toml
  services/platform/templates/base.html
  services/portal/pyproject.toml
  services/portal/templates/base.html
  uv.lock
Due: django-template-check, i18n-coverage-check

feat(database): migrate from psycopg2-binary to psycopg v3
  NOTICE.md
  deploy/ansible/roles/praho-native/tasks/main.yml
  docs/ADRs/ADR-0013-uv-package-manager-migration.md
  docs/ADRs/ADR-0022-project-structure-strategic-seams.md
  docs/architecture/ARCHITECTURE.md
  docs/architecture/CODEBASE_ARCHAEOLOGY.md
  docs/architecture/diagrams/data-flow.mmd
  pyproject.toml
  services/platform/apps/common/performance/connection_pool.py
  services/platform/config/settings/prod.py
  tests/integration/test_docker_services.py
  tests/integration/test_platform_portal_api.py
  tests/integration/test_security_hardening.py
  uv.lock
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(orders): fix payment routing, compliance, and UX across portal order flow
  docs/architecture/ui-ux/portal-design-system.md
  docs/domain/ORDER_LIFECYCLE.md
  services/platform/apps/api/orders/serializers.py
  services/platform/apps/api/orders/views.py
  services/platform/tests/common/test_code_health_scan.py
  services/portal/apps/orders/services.py
  services/portal/apps/orders/views.py
  services/portal/templates/components/pagination.html
  services/portal/templates/dashboard/dashboard.html
  services/portal/templates/orders/cart_review.html
  services/portal/templates/orders/checkout.html
  services/portal/templates/orders/order_confirmation.html
  services/portal/templates/orders/partials/mini_cart_content.html
  services/portal/templates/orders/partials/order_breadcrumbs.html
  services/portal/templates/orders/product_catalog.html
  services/portal/templates/orders/product_detail.html
  services/portal/templates/services/partials/services_table.html
  services/portal/templates/services/plans_list.html
  services/portal/templates/services/service_detail.html
  services/portal/templates/services/service_request_action.html
  services/portal/tests/orders/test_cart_service.py
  services/portal/tests/orders/test_cart_session.py
  services/portal/tests/orders/test_order_flow_fixes.py
  services/portal/tests/orders/test_security.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(orders): harden idempotency, security, and UX across order flow
  services/platform/apps/api/orders/views.py
  services/platform/apps/audit/services.py
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/common/middleware.py
  services/platform/apps/orders/migrations/0008_order_idempotency_key_and_more.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/preflight.py
  services/platform/apps/orders/price_sealing.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/views.py
  services/platform/static/css/tailwind.min.css
  services/platform/templates/orders/order_detail.html
  services/platform/templates/orders/order_list.html
  services/portal/apps/orders/services.py
  services/portal/apps/orders/validators.py
  services/portal/apps/orders/views.py
  services/portal/apps/services/services.py
  services/portal/config/settings/base.py
  services/portal/static/css/tailwind.min.css
  services/portal/templates/components/button.html
  services/portal/templates/orders/cart_review.html
  services/portal/templates/orders/checkout.html
  services/portal/templates/orders/order_confirmation.html
  services/portal/templates/orders/partials/cart_updated.html
  services/portal/templates/orders/product_catalog.html
  services/portal/templates/services/service_detail.html
  services/portal/templates/services/service_request_action.html
  services/portal/tests/orders/test_basic_functionality.py
  services/portal/tests/orders/test_cart_session.py
  services/portal/tests/orders/test_cart_session_mocked.py
  services/portal/tests/orders/test_order_flow_fixes.py
  services/portal/tests/orders/test_security.py
  services/portal/tests/orders/test_views.py
  services/portal/tests/ui/test_component_button.py
  tests/integration/test_docker_services.py
  tests/integration_tests/test_api_billing.py
  tests/integration_tests/test_mfa_security.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(services): resolve VariableDoesNotExist for currency_code in templates
  services/platform/apps/api/services/serializers.py
  services/portal/templates/services/partials/services_table.html
  services/portal/templates/services/service_detail.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): address PR#95 review comments and admin template gaps
  services/platform/apps/api/orders/views.py
  services/platform/tests/audit/test_audit_services_coverage.py
  services/portal/apps/orders/views.py
  services/portal/templates/orders/checkout.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(provisioning): add currency FK to Service model with multi-currency support
  services/platform/apps/api/orders/serializers.py
  services/platform/apps/api/orders/views.py
  services/platform/apps/api/services/serializers.py
  services/platform/apps/api/services/views.py
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/orders/services.py
  services/platform/apps/provisioning/migrations/0019_service_currency.py
  services/platform/apps/provisioning/service_models.py
  services/platform/apps/provisioning/service_views.py
  services/platform/templates/provisioning/service_activate.html
  services/platform/tests/customers/test_customers_services_api.py
  services/platform/tests/orders/test_order_flow_hardening.py
  services/platform/tests/orders/test_product_list_serializer_meta.py
  services/platform/tests/provisioning/test_provisioning_models.py
  services/platform/tests/provisioning/test_provisioning_services.py
  services/platform/tests/security/test_comprehensive_access_control.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/orders/services.py
  services/portal/apps/orders/validators.py
  services/portal/apps/orders/views.py
  services/portal/templates/orders/checkout.html
  services/portal/templates/orders/order_confirmation.html
  services/portal/templates/orders/partials/cart_updated.html
  services/portal/templates/orders/partials/mini_cart_content.html
  services/portal/templates/orders/product_catalog.html
  services/portal/templates/services/service_detail.html
  services/portal/tests/orders/test_cart_ux_enhancements.py
  services/portal/tests/orders/test_order_flow_fixes.py
  services/portal/tests/services/test_service_detail_age_display.py
  tests/e2e/portal/test_order_flow_bugs.py
  tests/e2e/portal/test_order_flow_compliance.py
  tests/e2e/portal/test_order_flow_ux.py
  tests/integration_tests/test_order_payment_methods.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): harden security, remove CartRateLimiter, clean up tests and templates
  services/platform/apps/orders/services.py
  services/platform/apps/provisioning/service_views.py
  services/platform/tests/provisioning/test_provisioning_services.py
  services/portal/apps/orders/services.py
  services/portal/apps/orders/views.py
  services/portal/templates/dashboard/dashboard.html
  services/portal/templates/orders/cart_review.html
  services/portal/templates/orders/order_confirmation.html
  services/portal/templates/orders/partials/mini_cart_content.html
  services/portal/tests/orders/test_basic_functionality.py
  services/portal/tests/orders/test_security.py
  services/portal/tests/orders/test_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(orders): remove CartRateLimiter class and related test references
  services/portal/apps/orders/services.py
  services/portal/tests/orders/test_cart_session.py
  services/portal/tests/orders/test_cart_session_mocked.py
  services/portal/tests/orders/test_rate_limit_views.py
  services/portal/tests/orders/test_security_basic.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(ui): unify step_navigation, progress_indicator, order_breadcrumbs into step_progress
  .component-parity-ignore
  docs/architecture/ui-ux/portal-design-system.md
  scripts/check_component_parity.py
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/apps/users/views.py
  services/platform/templates/components/progress_indicator.html
  services/platform/templates/components/step_navigation.html
  services/platform/templates/components/step_progress.html
  services/platform/templates/users/mfa_backup_codes.html
  services/platform/templates/users/mfa_method_selection.html
  services/platform/templates/users/mfa_setup.html
  services/portal/apps/orders/views.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/apps/ui/views.py
  services/portal/templates/components/progress_indicator.html
  services/portal/templates/components/step_navigation.html
  services/portal/templates/components/step_progress.html
  services/portal/templates/orders/cart_review.html
  services/portal/templates/orders/checkout.html
  services/portal/templates/orders/order_confirmation.html
  services/portal/templates/orders/partials/order_breadcrumbs.html
  services/portal/templates/orders/product_catalog.html
  services/portal/templates/orders/product_detail.html
  services/portal/templates/styleguide/index.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): eliminate order_number UNIQUE constraint race in parallel tests
  services/platform/apps/orders/models.py
  services/platform/apps/orders/services.py
  services/platform/tests/factories/core_factories.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): resolve 4 Codex deep-review findings with tests
  services/platform/apps/api/orders/views.py
  services/platform/apps/common/middleware.py
  services/platform/apps/orders/services.py
  services/platform/tests/api/test_hmac_billing_staff_bypass.py
  services/platform/tests/orders/test_idempotency_fixes.py
  services/portal/apps/orders/views.py
  services/portal/tests/orders/test_confirm_payment_user_id.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): make VAT rate dynamic in cart totals instead of hardcoded 21%
  services/portal/templates/orders/partials/cart_totals.html
Due: django-template-check, i18n-coverage-check

fix(orders): harden order flow from chaos monkey audit findings
  services/platform/apps/api/orders/views.py
  services/platform/apps/orders/migrations/0009_alter_order_idempotency_key.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/services.py
  services/platform/apps/provisioning/service_views.py
  services/platform/tests/orders/test_chaos_monkey_fixes.py
  services/platform/tests/orders/test_confirm_order_pi_validation.py
  services/platform/tests/orders/test_create_order_validation_order.py
  services/platform/tests/provisioning/test_lifecycle_timestamps.py
  services/portal/apps/orders/services.py
  services/portal/apps/orders/validators.py
  services/portal/apps/orders/views.py
  services/portal/templates/orders/cart_review.html
  services/portal/templates/orders/checkout.html
  services/portal/templates/orders/order_confirmation.html
  services/portal/templates/orders/partials/cart_totals.html
  services/portal/templates/orders/partials/cart_updated.html
  services/portal/tests/orders/test_cart_session.py
  services/portal/tests/orders/test_dos_hardening.py
  services/portal/tests/orders/test_remaining_fixes.py
  services/portal/tests/orders/test_security.py
  services/portal/tests/orders/test_security_basic.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(middleware): stop HMAC intercepting staff billing pages
  services/platform/apps/common/middleware.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): harden order flow from portal audit round 2
  services/platform/apps/api/orders/views.py
  services/platform/apps/orders/models.py
  services/platform/static/css/tailwind.min.css
  services/platform/tests/orders/test_chaos_monkey_fixes.py
  services/platform/tests/orders/test_create_order_validation_order.py
  services/platform/tests/orders/test_product_list_serializer_meta.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/orders/validators.py
  services/portal/apps/orders/views.py
  services/portal/config/settings/base.py
  services/portal/static/css/tailwind.min.css
  services/portal/templates/orders/cart_review.html
  services/portal/tests/orders/test_chaos_monkey_round2.py
  services/portal/tests/orders/test_dos_hardening.py
  services/portal/tests/orders/test_security.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(tests): remove unnecessary type: ignore comments from round2 tests
  services/portal/tests/orders/test_chaos_monkey_round2.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, performance-check

feat(billing): add EU VIES VAT validation for cross-border reverse-charge (#88)
  pyproject.toml
  services/platform/apps/billing/gateways/vies_gateway.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/common/eu_vat_validator.py
  services/platform/apps/customers/migrations/0013_add_vies_verification_fields.py
  services/platform/apps/customers/profile_models.py
  services/platform/tests/billing/test_vat_validation_task.py
  services/platform/tests/billing/test_vies_gateway.py
  services/platform/tests/common/test_eu_vat_validator.py
  uv.lock
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): harden order flow from portal audit round 3
  services/platform/apps/api/orders/views.py
  services/platform/apps/orders/models.py
  services/platform/tests/orders/test_chaos_monkey_fixes.py
  services/platform/tests/orders/test_confirm_order_pi_validation.py
  services/platform/tests/orders/test_orders_models.py
  services/portal/apps/orders/views.py
  services/portal/templates/components/input.html
  services/portal/templates/components/modal.html
  services/portal/templates/orders/checkout.html
  services/portal/templates/orders/order_confirmation.html
  services/portal/templates/users/mfa_backup_codes.html
  services/portal/templates/users/profile.html
  services/portal/tests/orders/test_chaos_monkey_round2.py
  services/portal/tests/orders/test_confirm_payment_user_id.py
  services/portal/tests/orders/test_dos_hardening.py
  services/portal/tests/orders/test_order_flow_fixes.py
  services/portal/tests/orders/test_rate_limit_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(changelog): add portal order flow audit highlights to Unreleased
  CHANGELOG.md
Due: none

refactor(platform): Result type, financial arithmetic, VAT unification (#89, #105, #106)
  services/platform/apps/billing/metering_service.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/stripe_metering.py
  services/platform/apps/common/financial_arithmetic.py
  services/platform/apps/common/tax_service.py
  services/platform/apps/orders/vat_rules.py
  services/platform/tests/billing/test_metering_gateway_coverage.py
  services/platform/tests/billing/test_refund_service_coverage.py
  services/platform/tests/common/test_financial_arithmetic.py
  services/platform/tests/common/test_tax_service_scenarios.py
  services/platform/tests/orders/test_orders_refund.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

build(platform): add django-fsm-2, ADR-0034, FSM test helpers (#109)
  docs/ADRs/ADR-0034-django-fsm2-state-machines.md
  pyproject.toml
  services/platform/tests/helpers/fsm_helpers.py
  uv.lock
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

feat(orders): migrate Order + OrderItem to FSMField with transitions (#109, #96)
  services/platform/apps/orders/migrations/0010_alter_order_status_and_more.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/tasks.py
  services/platform/tests/orders/test_chaos_monkey_fixes.py
  services/platform/tests/orders/test_orders_edit.py
  services/platform/tests/orders/test_orders_models.py
  services/platform/tests/orders/test_orders_services.py
  services/platform/tests/orders/test_orders_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): migrate all billing models to FSMField (#109)
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/migrations/0020_alter_invoice_status_alter_proformainvoice_status.py
  services/platform/apps/billing/migrations/0021_alter_payment_status_alter_refund_status_and_more.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/proforma_models.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/services.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/subscription_models.py
  services/platform/apps/billing/subscription_service.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_billing_codex_fixes.py
  services/platform/tests/billing/test_billing_signals_coverage.py
  services/platform/tests/billing/test_billing_tasks.py
  services/platform/tests/billing/test_invoice_service.py
  services/platform/tests/billing/test_invoices_models.py
  services/platform/tests/billing/test_metering_services.py
  services/platform/tests/billing/test_payments_allocation.py
  services/platform/tests/billing/test_pdf_generators.py
  services/platform/tests/billing/test_pdf_generators_comprehensive.py
  services/platform/tests/billing/test_services.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(platform): migrate Service, Domain, Ticket to FSMField (#109)
  services/platform/apps/domains/migrations/0004_alter_domain_status.py
  services/platform/apps/domains/models.py
  services/platform/apps/domains/webhooks.py
  services/platform/apps/provisioning/migrations/0021_service_terminated_at_alter_service_status.py
  services/platform/apps/provisioning/provisioning_service.py
  services/platform/apps/provisioning/service_models.py
  services/platform/apps/provisioning/service_views.py
  services/platform/apps/provisioning/services.py
  services/platform/apps/provisioning/tasks.py
  services/platform/apps/tickets/migrations/0003_alter_ticket_status.py
  services/platform/apps/tickets/models.py
  services/platform/apps/tickets/services.py
  services/platform/tests/provisioning/test_cross_app_integration.py
  services/platform/tests/provisioning/test_provisioning_models.py
  services/platform/tests/tickets/test_ticket_status_service.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(all): add DB CHECK constraints for financial fields and valid statuses (#108)
  .pre-commit-config.yaml
  Makefile
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/invoice_service.py
  services/platform/apps/billing/migrations/0022_invoice_invoice_subtotal_non_negative_and_more.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/proforma_models.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/subscription_models.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/views.py
  services/platform/apps/domains/migrations/0005_domain_domain_status_valid_values.py
  services/platform/apps/domains/models.py
  services/platform/apps/orders/migrations/0011_order_order_status_valid_values_and_more.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/signals_extended.py
  services/platform/apps/orders/views.py
  services/platform/apps/provisioning/migrations/0022_service_service_status_valid_values.py
  services/platform/apps/provisioning/service_models.py
  services/platform/apps/provisioning/webhooks.py
  services/platform/apps/tickets/migrations/0004_ticket_ticket_status_valid_values.py
  services/platform/apps/tickets/models.py
  services/platform/tests/billing/test_billing_27_todos.py
  services/platform/tests/billing/test_billing_signals_coverage.py
  services/platform/tests/billing/test_billing_tasks.py
  services/platform/tests/billing/test_invoice_service.py
  services/platform/tests/billing/test_payments_models.py
  services/platform/tests/billing/test_pdf_generators.py
  services/platform/tests/billing/test_proformas_models.py
  services/platform/tests/billing/test_refund_service_coverage.py
  services/platform/tests/tickets/test_ticket_status_service.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

build(lint): add FSM guardrail pre-commit lint script (#109)
  scripts/lint_fsm_guardrails.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

test(fsm): add FSM transition smoke tests for all 10 models (#109)
  services/platform/tests/common/test_fsm_transitions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(fsm): harden FSM integration — refresh_from_db, transition dispatch, error handling (#109)
  Makefile
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/proforma_models.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/subscription_models.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/apps/domains/models.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/services.py
  services/platform/apps/provisioning/service_models.py
  services/platform/apps/tickets/models.py
  services/platform/apps/tickets/services.py
  services/platform/tests/common/test_fsm_transitions.py
  services/platform/tests/orders/test_orders_services.py
  services/platform/tests/orders/test_orders_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(fsm): extend FSM migration to 5 additional models + fix lint guardrail violations (#109)
  CHANGELOG.md
  README.md
  scripts/lint_fsm_guardrails.py
  services/platform/apps/billing/efactura/models.py
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/metering_models.py
  services/platform/apps/billing/metering_service.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/stripe_metering.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/apps/customers/customer_models.py
  services/platform/apps/promotions/admin.py
  services/platform/apps/promotions/models.py
  services/platform/apps/promotions/services.py
  services/platform/apps/promotions/views.py
  services/platform/apps/provisioning/relationship_models.py
  services/platform/apps/provisioning/webhooks.py
  services/platform/tests/billing/test_invoices_models.py
  services/platform/tests/common/test_fsm_transitions.py
  tests/e2e/orm/test_billing_workflow.py
  tests/e2e/orm/test_provisioning_workflow.py
  tests/integration_tests/test_api_orders.py
  tests/integration_tests/test_order_payment_methods.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): apply critical and high-priority FSM remediation fixes (#109)
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/services.py
  services/platform/apps/billing/subscription_service.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/views.py
  services/platform/apps/provisioning/webhooks.py
  services/platform/tests/billing/efactura/test_models.py
  services/platform/tests/billing/efactura/test_service.py
  services/platform/tests/billing/test_metering_gateway_coverage.py
  services/platform/tests/billing/test_refund_service_coverage.py
  services/platform/tests/billing/test_security.py
  services/platform/tests/billing/test_services_basic.py
  services/platform/tests/billing/test_tax_configuration.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check
