Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

ruff-new-violations:
  name: 'Ruff: Block New Violations Only'
  entry: uv run python
  args:
  - scripts/ruff_new_violations.py
  - --staged
  language: system
  pass_filenames: true
  require_serial: true

type-check-modified:
  name: Type Check Modified Files
  entry: uv run python
  args:
  - services/platform/scripts/check_types_modified.py
  - --staged
  language: system
  pass_filenames: false
  require_serial: false

prevent-type-ignore:
  name: Block New Type Ignore Comments
  entry: uv run python
  args:
  - services/platform/scripts/prevent_type_ignore.py
  - --staged-only
  language: system
  pass_filenames: true
  stages:
  - pre-commit

django-template-check:
  name: Django Template Syntax Check
  entry: uv run python
  args:
  - services/platform/scripts/fix_template_comparisons.py
  - --check
  language: system

portal-isolation-check:
  name: 'Security: Portal Isolation Check'
  entry: bash
  args:
  - -c
  ...

audit-coverage-check:
  name: 'Security: Audit Coverage Check'
  entry: uv run python
  args:
  - scripts/audit_coverage_scan.py
  - --min-severity=high
  - --exclude-tests
  - services/platform/apps
  language: system
  pass_filenames: false
  stages:
  - pre-commit

security-credentials-check:
  name: 'Security: Check for Hardcoded Credentials'
  entry: bash
  args:
  - -c
  - '# Use ruff to check for hardcoded credentials
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=S105,S106,S107,S108 --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

i18n-coverage-check:
  name: 'i18n: Check for Unwrapped Strings'
  entry: uv run python
  args:
  - scripts/lint_i18n_coverage.py
  - --fail-on
  - high
  - --allowlist
  - scripts/i18n_coverage_allowlist.txt
  language: system
  pass_filenames: true

performance-check:
  name: 'Performance: Check for Anti-patterns'
  entry: bash
  args:
  - -c
  - '# Check for performance issues in modified files
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=PERF,C90,PIE,SIM --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

fix(portal): hide payment balances on closed documents
  CHANGELOG.md
  docs/STAFF_PROMOTIONS_VERIFICATION_2026-09-28.md
  services/portal/templates/billing/partials/gift_card_payment.html
  services/portal/tests/billing/test_gift_card_payment.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

docs(promotions): record checks on integrated branch
  docs/STAFF_PROMOTIONS_VERIFICATION_2026-09-28.md
Due: none

fix(promotions): correct refund identity and staff presentation
  CHANGELOG.md
  docs/PROMOTION_OPERATIONS.md
  docs/STAFF_PROMOTIONS_VERIFICATION_2026-09-28.md
  services/platform/apps/promotions/presentation.py
  services/platform/apps/promotions/tender_refunds.py
  services/platform/apps/promotions/views.py
  services/platform/templates/promotions/admin/campaign_detail.html
  services/platform/templates/promotions/admin/coupon_detail.html
  services/platform/templates/promotions/admin/gift_card_detail.html
  services/platform/templates/promotions/admin/loyalty_dashboard.html
  services/platform/templates/promotions/admin/redemptions.html
  services/platform/tests/promotions/test_staff_localisation.py
  services/platform/tests/promotions/test_staff_workflows.py
  services/platform/tests/promotions/test_tender_refunds.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(promotions): record full review verification
  docs/STAFF_PROMOTIONS_VERIFICATION_2026-09-28.md
Due: none

fix: address recovery review privacy and retry findings
  CHANGELOG.md
  docs/domain/CUSTOMER_RECOVERY_AND_SERVICE_REQUESTS.md
  services/platform/apps/api/users/serializers.py
  services/platform/apps/api/users/views.py
  services/platform/templates/tickets/partials/service_request_review.html
  services/platform/tests/api/test_password_recovery.py
  services/platform/tests/api/test_password_reset_api.py
  services/platform/tests/provisioning/test_service_requests.py
  services/portal/apps/services/views.py
  services/portal/apps/users/views.py
  services/portal/tests/services/test_service_requests.py
  services/portal/tests/users/test_password_recovery.py
  services/portal/tests/users/test_password_reset_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix: preserve recovery timing and service receipt retries
  CHANGELOG.md
  docs/domain/CUSTOMER_RECOVERY_AND_SERVICE_REQUESTS.md
  services/platform/apps/api/customers/serializers.py
  services/platform/tests/api/test_purchase_identity_contracts.py
  services/platform/tests/provisioning/test_service_requests.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/services/views.py
  services/portal/tests/common/test_auth_rate_limiting.py
  services/portal/tests/services/test_service_requests.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix: preserve service currency choices in request forms
  services/portal/apps/services/views.py
  services/portal/templates/services/plans_list.html
  services/portal/templates/services/service_request_action.html
  services/portal/tests/services/test_service_currency_display.py
  services/portal/tests/services/test_service_requests.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

test: verify accepted checkout retries and fixed sale currency
  services/platform/tests/orders/test_create_order_validation_order.py
  tests/e2e/platform/test_staff_billing.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix: batch billing summary payment and refund queries
  docs/domain/SELLING_CURRENCY.md
  services/platform/apps/api/billing/serializers.py
  services/platform/tests/api/test_billing_summary_currency.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix: preserve per-unit service prices at currency renewal
  CHANGELOG.md
  services/platform/apps/billing/currency_transitions.py
  services/platform/tests/billing/test_subscription_currency_transitions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(domains,orders): close three transaction-boundary defects from the #560 review
  services/platform/apps/domains/signals.py
  services/platform/apps/domains/webhooks.py
  services/platform/apps/orders/tasks.py
  services/platform/tests/domains/test_virtualmin_sync_commit_boundary.py
  services/platform/tests/domains/test_webhook_handler_atomicity.py
  services/platform/tests/orders/test_order_stale_proforma_pointer.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(api): stop a public endpoint from locking arbitrary accounts
  services/platform/apps/api/core/throttling.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_api_users_security.py
  services/platform/tests/api/test_throttle_architecture_guardrails.py
  services/platform/tests/api/test_token_endpoint_lockout.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(api): public endpoints no longer accept credentials they never read
  services/platform/apps/api/billing/views.py
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/orders/views.py
  services/platform/apps/api/services/views.py
  services/platform/apps/api/tickets/views.py
  services/platform/tests/api/test_token_auth_requires_hmac.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(customers,orders): one cascade outcome, and a domain error a customer can read
  services/platform/apps/customers/signals.py
  services/platform/apps/orders/preflight.py
  services/platform/tests/customers/test_customer_suspension_cascade.py
  services/portal/apps/orders/platform_messages.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs: record the #560 follow-up fixes in the changelog
  CHANGELOG.md
Due: none

fix(customers,api): abort a failing cascade, harden the throttle key, correct a wrong claim
  CHANGELOG.md
  services/platform/apps/api/billing/views.py
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/orders/views.py
  services/platform/apps/api/services/views.py
  services/platform/apps/api/tickets/views.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/apps/customers/signals.py
  services/platform/tests/api/test_token_auth_requires_hmac.py
  services/platform/tests/customers/test_customer_suspension_cascade.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs: correct the mechanism behind the stale-proforma fix
  services/platform/apps/orders/tasks.py
  services/platform/tests/orders/test_order_stale_proforma_pointer.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs: state the missing-domain fix accurately in the changelog
  CHANGELOG.md
Due: none

fix: close the transaction, lockout and localisation follow-ups from #560 (#568)
  CHANGELOG.md
  services/platform/apps/api/billing/views.py
  services/platform/apps/api/core/throttling.py
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/orders/views.py
  services/platform/apps/api/services/views.py
  services/platform/apps/api/tickets/views.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/apps/customers/signals.py
  services/platform/apps/domains/signals.py
  services/platform/apps/domains/webhooks.py
  services/platform/apps/orders/preflight.py
  services/platform/apps/orders/tasks.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_api_users_security.py
  services/platform/tests/api/test_throttle_architecture_guardrails.py
  services/platform/tests/api/test_token_auth_requires_hmac.py
  services/platform/tests/api/test_token_endpoint_lockout.py
  services/platform/tests/customers/test_customer_suspension_cascade.py
  services/platform/tests/domains/test_virtualmin_sync_commit_boundary.py
  services/platform/tests/domains/test_webhook_handler_atomicity.py
  services/platform/tests/orders/test_order_stale_proforma_pointer.py
  services/portal/apps/orders/platform_messages.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(quality): stop flagging identity-only user creation as domain state
  scripts/audit_test_assertion_quality.py
  services/platform/tests/common/test_assertion_quality_detector.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

feat(lint): wire the status-only test assertion ratchet into make lint
  Makefile
Due: none

docs(e2e): correct the stale "not in CI" claim
  docs/testing/manual-e2e.md
Due: none

fix(quality): handle attribute, annotated, and reused-name identity bindings
  docs/testing/manual-e2e.md
  scripts/audit_test_assertion_quality.py
  services/platform/tests/common/test_assertion_quality_detector.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(lint): stop the template gate from measuring or reporting the wrong thing
  .github/workflows/integration.yml
  .pre-commit-config.yaml
  scripts/lint_template_components.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(quality): resolve PR bot findings in the assertion-quality scanner
  scripts/audit_test_assertion_quality.py
  scripts/status_only_test_baseline.txt
  services/platform/tests/common/test_assertion_quality_detector.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(portal): dashboard widgets 500 on every request, not just when untested
  services/portal/templates/services/partials/dashboard_widget.html
  services/portal/templates/tickets/partials/dashboard_widget.html
  services/portal/tests/services/test_dashboard_widget_route.py
  services/portal/tests/tickets/test_dashboard_widget_route.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

test: content-assertion tests for untested billing and infrastructure routes
  services/platform/tests/infrastructure/test_provider_size_region_list_routes.py
  services/portal/tests/billing/test_pdf_export_views.py
  services/portal/tests/billing/test_recurring_authorization_management.py
  services/portal/tests/billing/test_request_refund_view.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, performance-check

fix(lint): stop claiming "warnings only" when excluded blockers exist
  scripts/lint_template_components.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(portal): dashboard widgets mask undeclared platform failures as empty
  services/portal/templates/services/partials/dashboard_widget.html
  services/portal/templates/tickets/partials/dashboard_widget.html
  services/portal/tests/services/test_dashboard_widget_route.py
  services/portal/tests/tickets/test_dashboard_widget_route.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(test): remove an unmocked network call and two content-collision vacuities
  services/platform/tests/infrastructure/test_provider_size_region_list_routes.py
  services/portal/tests/billing/test_pdf_export_views.py
  services/portal/tests/billing/test_recurring_authorization_management.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, performance-check

test: add CLI regression coverage for the severity/fail-count fix
  tests/integration/test_lint_template_components.py
Due: ruff-new-violations, type-check-modified

fix(portal): usage chart no longer leaks its own dev comment to customers
  services/portal/templates/services/partials/usage_chart.html
  services/portal/tests/services/test_service_usage_view.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(test): close the remaining bot findings on the route-coverage PR
  services/platform/tests/infrastructure/test_provider_size_region_list_routes.py
  services/portal/tests/billing/test_pdf_export_views.py
  services/portal/tests/billing/test_request_refund_view.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, performance-check

feat(scripts): visual-regression harness for the template-fix verification pass
  .gitignore
  scripts/screenshot_diff.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
