Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

ruff-new-violations:
  name: 'Ruff: Block New Violations Only'
  entry: uv run python
  args:
  - scripts/ruff_new_violations.py
  - --staged
  language: system
  pass_filenames: true
  require_serial: true

type-check-modified:
  name: Type Check Modified Files
  entry: uv run python
  args:
  - services/platform/scripts/check_types_modified.py
  - --staged
  language: system
  pass_filenames: false
  require_serial: false

prevent-type-ignore:
  name: Block New Type Ignore Comments
  entry: uv run python
  args:
  - services/platform/scripts/prevent_type_ignore.py
  - --staged-only
  language: system
  pass_filenames: true
  stages:
  - pre-commit

django-template-check:
  name: Django Template Syntax Check
  entry: uv run python
  args:
  - services/platform/scripts/fix_template_comparisons.py
  - --check
  language: system

portal-isolation-check:
  name: 'Security: Portal Isolation Check'
  entry: bash
  args:
  - -c
  ...

audit-coverage-check:
  name: 'Security: Audit Coverage Check'
  entry: uv run python
  args:
  - scripts/audit_coverage_scan.py
  - --min-severity=high
  - --exclude-tests
  - services/platform/apps
  language: system
  pass_filenames: false
  stages:
  - pre-commit

security-credentials-check:
  name: 'Security: Check for Hardcoded Credentials'
  entry: bash
  args:
  - -c
  - '# Use ruff to check for hardcoded credentials
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=S105,S106,S107,S108 --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

i18n-coverage-check:
  name: 'i18n: Check for Unwrapped Strings'
  entry: uv run python
  args:
  - scripts/lint_i18n_coverage.py
  - --fail-on
  - high
  - --allowlist
  - scripts/i18n_coverage_allowlist.txt
  language: system
  pass_filenames: true

performance-check:
  name: 'Performance: Check for Anti-patterns'
  entry: bash
  args:
  - -c
  - '# Check for performance issues in modified files
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=PERF,C90,PIE,SIM --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

fix(billing): address e-Factura review findings
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/management/commands/record_exchange_rate.py
  services/platform/tests/billing/test_lifecycle_hardening.py
  services/platform/tests/billing/test_record_exchange_rate_command.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(infrastructure): add #347 end-to-end drill execution plan (CLI + web UI)
  services/platform/infrastructure/ansible/playbooks/DRILL_EXECUTION_PLAN.md
Due: none

fix(provisioning): resolve Virtualmin API credentials vault-first (#347)
  services/platform/apps/infrastructure/registration_service.py
  services/platform/apps/provisioning/virtualmin_auth_manager.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/tests/infrastructure/test_node_activation.py
  services/platform/tests/provisioning/test_auth_manager_regressions.py
  services/platform/tests/provisioning/test_virtualmin_credentials.py
  services/platform/tests/provisioning/test_virtualmin_retry_contract.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): harden node-deploy credential handling (#347)
  services/platform/apps/infrastructure/ansible_service.py
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/registration_service.py
  services/platform/apps/infrastructure/ssh_key_manager.py
  services/platform/infrastructure/ansible/playbooks/NODE_DEPLOY_DRILL.md
  services/platform/infrastructure/ansible/playbooks/virtualmin.yml
  services/platform/tests/infrastructure/test_deployment_service_pipeline.py
  services/platform/tests/infrastructure/test_node_activation.py
  services/platform/tests/infrastructure/test_security_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(infrastructure): auto-provision Virtualmin API credentials, vault-first (#348)
  services/platform/apps/infrastructure/ansible_service.py
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/registration_service.py
  services/platform/apps/infrastructure/ssh_key_manager.py
  services/platform/apps/provisioning/virtualmin_auth_manager.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/infrastructure/ansible/playbooks/DRILL_EXECUTION_PLAN.md
  services/platform/infrastructure/ansible/playbooks/NODE_DEPLOY_DRILL.md
  services/platform/infrastructure/ansible/playbooks/virtualmin.yml
  services/platform/tests/infrastructure/test_deployment_service_pipeline.py
  services/platform/tests/infrastructure/test_node_activation.py
  services/platform/tests/infrastructure/test_security_hardening.py
  services/platform/tests/provisioning/test_auth_manager_regressions.py
  services/platform/tests/provisioning/test_virtualmin_credentials.py
  services/platform/tests/provisioning/test_virtualmin_retry_contract.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(infrastructure): auto-provision Virtualmin API credentials, vault-first (#354)
  services/platform/apps/infrastructure/ansible_service.py
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/registration_service.py
  services/platform/apps/infrastructure/ssh_key_manager.py
  services/platform/apps/provisioning/virtualmin_auth_manager.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/infrastructure/ansible/playbooks/DRILL_EXECUTION_PLAN.md
  services/platform/infrastructure/ansible/playbooks/NODE_DEPLOY_DRILL.md
  services/platform/infrastructure/ansible/playbooks/virtualmin.yml
  services/platform/tests/infrastructure/test_deployment_service_pipeline.py
  services/platform/tests/infrastructure/test_node_activation.py
  services/platform/tests/infrastructure/test_security_hardening.py
  services/platform/tests/provisioning/test_auth_manager_regressions.py
  services/platform/tests/provisioning/test_virtualmin_credentials.py
  services/platform/tests/provisioning/test_virtualmin_retry_contract.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(integrations): reprocess redelivered webhooks that previously failed (#234)
  services/platform/apps/integrations/models.py
  services/platform/apps/integrations/webhooks/base.py
  services/platform/tests/integrations/test_webhook_failed_redelivery.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(audit/gdpr): make marketing-consent withdrawal actually stop sends (#226)
  services/platform/apps/audit/services.py
  services/platform/apps/audit/views.py
  services/platform/tests/audit/test_gdpr_consent_propagation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(notifications): deliver attachments on the async email path (#228)
  services/platform/apps/notifications/services.py
  services/platform/apps/notifications/tasks.py
  services/platform/tests/notifications/test_async_email_attachments.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(integrations): address review of the webhook redelivery fix (#234)
  services/platform/apps/integrations/webhooks/base.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(audit/gdpr): close consent-integrity gaps in the propagation fix (#226)
  services/platform/apps/audit/services.py
  services/platform/apps/audit/views.py
  services/platform/tests/audit/test_gdpr_consent_propagation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): reconcile discounted document totals
  CHANGELOG.md
  services/platform/apps/api/orders/views.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/pdf_generators.py
  services/platform/apps/billing/proforma_models.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/services.py
  services/platform/apps/common/financial_arithmetic.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/preflight.py
  services/platform/apps/orders/tasks.py
  services/platform/tests/billing/efactura/test_xml_builder.py
  services/platform/tests/billing/test_card_proforma_lifecycle.py
  services/platform/tests/billing/test_invoice_from_order.py
  services/platform/tests/billing/test_invoices_models.py
  services/platform/tests/billing/test_line_item_fields.py
  services/platform/tests/billing/test_payment_intent_security.py
  services/platform/tests/billing/test_pdf_generators.py
  services/platform/tests/billing/test_proforma_order_lifecycle.py
  services/platform/tests/billing/test_proformas_models.py
  services/platform/tests/common/test_financial_arithmetic.py
  services/platform/tests/orders/test_order_flow_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(security): restore unsafe-eval on platform CSP for Alpine and htmx
  services/platform/apps/common/middleware.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): preserve legacy discount conversion
  services/platform/apps/billing/services.py
  services/platform/tests/billing/test_proforma_order_lifecycle.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): make the Virtualmin node-deploy pipeline work end-to-end
  services/platform/apps/infrastructure/ansible_service.py
  services/platform/infrastructure/ansible/ansible.cfg
  services/platform/infrastructure/ansible/playbooks/common_base.yml
  services/platform/infrastructure/ansible/playbooks/templates/50unattended-upgrades.j2
  services/platform/infrastructure/ansible/playbooks/templates/domain_template.j2
  services/platform/infrastructure/ansible/playbooks/templates/jail.local.j2
  services/platform/infrastructure/ansible/playbooks/templates/s3_backup_sync.sh.j2
  services/platform/infrastructure/ansible/playbooks/templates/virtualmin_backup_schedule.j2
  services/platform/infrastructure/ansible/playbooks/virtualmin.yml
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): reject verified proforma drift
  services/platform/apps/api/orders/views.py
  services/platform/tests/billing/test_card_proforma_lifecycle.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ui): honest count badges, tab param clamps, lazy labels
  services/platform/apps/orders/views.py
  services/platform/apps/tickets/views.py
  services/platform/apps/users/views.py
  services/platform/tests/orders/test_order_list_dashboard.py
  services/platform/tests/tickets/test_ticket_list_rendering.py
  services/platform/tests/users/test_2fa_services.py
  services/portal/apps/billing/views.py
  services/portal/apps/services/services.py
  services/portal/apps/services/views.py
  services/portal/apps/tickets/views.py
  services/portal/tests/billing/test_invoices_list_view.py
  services/portal/tests/services/test_service_status_tabs.py
  services/portal/tests/services/test_services_api.py
  services/portal/tests/tickets/test_ticket_list_view.py
  shared/ui/templates/components/list_page_filters.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(ui): improve status visibility and filter accessibility (#349)
  CHANGELOG.md
  services/platform/apps/api/services/views.py
  services/platform/apps/orders/views.py
  services/platform/apps/tickets/views.py
  services/platform/apps/users/views.py
  services/platform/templates/orders/order_list.html
  services/platform/templates/tickets/list.html
  services/platform/tests/orders/test_order_list_dashboard.py
  services/platform/tests/provisioning/test_services_api_summary.py
  services/platform/tests/tickets/test_ticket_list_rendering.py
  services/platform/tests/users/test_2fa_services.py
  services/portal/apps/billing/views.py
  services/portal/apps/services/services.py
  services/portal/apps/services/views.py
  services/portal/apps/tickets/views.py
  services/portal/templates/billing/invoices_list.html
  services/portal/templates/services/service_list.html
  services/portal/templates/tickets/ticket_list.html
  services/portal/tests/billing/test_invoices_list_view.py
  services/portal/tests/services/test_service_status_tabs.py
  services/portal/tests/services/test_services_api.py
  services/portal/tests/tickets/test_ticket_list_view.py
  shared/ui/templates/components/list_page_filters.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): serialize e-Factura submission claims
  CHANGELOG.md
  services/platform/apps/billing/efactura/client.py
  services/platform/apps/billing/efactura/models.py
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/efactura/tasks.py
  services/platform/apps/billing/migrations/0040_efactura_submission_claims.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/views.py
  services/platform/docs/efactura-submission-reconciliation.md
  services/platform/docs/plans/2026-07-20-efactura-go-live-hardening.md
  services/platform/templates/billing/efactura_document_detail.html
  services/platform/templates/billing/partials/efactura_document_list.html
  services/platform/tests/billing/efactura/test_client.py
  services/platform/tests/billing/efactura/test_models.py
  services/platform/tests/billing/efactura/test_service.py
  services/platform/tests/billing/efactura/test_submission_claims.py
  services/platform/tests/billing/efactura/test_tasks.py
  services/platform/tests/billing/test_billing_tasks.py
  services/platform/tests/billing/test_efactura_submission_claim_audit.py
  services/platform/tests/billing/test_efactura_views.py
  services/platform/tests/common/test_fsm_transitions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): make the awaiting-payment timeout payment-method-aware (#222)
  services/platform/apps/orders/tasks.py
  services/platform/apps/settings/services.py
  services/platform/tests/orders/test_order_timeout.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): close e-Factura FX review gaps
  docs/ADRs/ADR-0041-foreign-currency-efactura-accounting.md
  services/platform/apps/billing/currency_models.py
  services/platform/apps/billing/efactura/models.py
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/apps/billing/exchange_rate_service.py
  services/platform/apps/billing/management/commands/record_exchange_rate.py
  services/platform/apps/billing/migrations/0038_fxrate_provenance_and_constraints.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/apps/billing/views.py
  services/platform/tests/billing/efactura/test_models.py
  services/platform/tests/billing/efactura/test_service.py
  services/platform/tests/billing/efactura/test_xml_builder.py
  services/platform/tests/billing/test_efactura_views.py
  services/platform/tests/billing/test_fxrate_constraints.py
  services/platform/tests/billing/test_metering_services.py
  services/platform/tests/billing/test_record_exchange_rate_command.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): preserve service usage user identity
  CHANGELOG.md
  services/portal/apps/services/views.py
  services/portal/tests/services/test_service_usage_view.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): narrow session IDs before conversion
  services/portal/apps/services/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): honor normalized service identity
  services/portal/apps/services/views.py
  services/portal/tests/services/test_service_usage_view.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): harden multi-currency e-Factura issuance (#353)
  docs/ADRs/ADR-0041-foreign-currency-efactura-accounting.md
  docs/ADRs/README.md
  services/platform/apps/billing/currency_models.py
  services/platform/apps/billing/efactura/models.py
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/efactura/validator.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/apps/billing/exchange_rate_service.py
  services/platform/apps/billing/fx_rate_ingestion.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/management/commands/record_exchange_rate.py
  services/platform/apps/billing/migrations/0038_fxrate_provenance_and_constraints.py
  services/platform/apps/billing/migrations/0039_invoice_tax_point_and_fx_snapshot.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/apps/billing/views.py
  services/platform/docs/plans/2026-07-20-efactura-go-live-hardening.md
  services/platform/tests/billing/efactura/test_models.py
  services/platform/tests/billing/efactura/test_service.py
  services/platform/tests/billing/efactura/test_validator.py
  services/platform/tests/billing/efactura/test_xml_builder.py
  services/platform/tests/billing/test_efactura_views.py
  services/platform/tests/billing/test_exchange_rate_service.py
  services/platform/tests/billing/test_fxrate_constraints.py
  services/platform/tests/billing/test_fxrate_migration.py
  services/platform/tests/billing/test_invoice_exchange_rate_snapshot.py
  services/platform/tests/billing/test_invoices_models.py
  services/platform/tests/billing/test_lifecycle_hardening.py
  services/platform/tests/billing/test_metering_services.py
  services/platform/tests/billing/test_record_exchange_rate_command.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(security): invert CSP eval contract, single CSP owner per service
  deploy/nginx/nginx-ssl.conf
  services/platform/apps/common/middleware.py
  services/platform/tests/common/test_csp_header.py
  tests/integration/test_security_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(security): restore unsafe-eval on platform CSP for Alpine and htmx (#366)
  deploy/nginx/nginx-ssl.conf
  services/platform/apps/common/middleware.py
  services/platform/tests/common/test_csp_header.py
  tests/integration/test_security_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): configured trust outranks TOFU, unblock lock-in tests
  services/platform/apps/infrastructure/ansible_service.py
  services/platform/tests/infrastructure/test_security_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): make the Virtualmin node-deploy pipeline work end-to-end (#367)
  services/platform/apps/infrastructure/ansible_service.py
  services/platform/infrastructure/ansible/ansible.cfg
  services/platform/infrastructure/ansible/playbooks/common_base.yml
  services/platform/infrastructure/ansible/playbooks/templates/50unattended-upgrades.j2
  services/platform/infrastructure/ansible/playbooks/templates/domain_template.j2
  services/platform/infrastructure/ansible/playbooks/templates/jail.local.j2
  services/platform/infrastructure/ansible/playbooks/templates/s3_backup_sync.sh.j2
  services/platform/infrastructure/ansible/playbooks/templates/virtualmin_backup_schedule.j2
  services/platform/infrastructure/ansible/playbooks/virtualmin.yml
  services/platform/tests/infrastructure/test_security_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(integrations): clear stale failure state, harden dedup backstop
  services/platform/apps/integrations/models.py
  services/platform/apps/integrations/webhooks/base.py
  services/platform/tests/integrations/test_webhook_failed_redelivery.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(integrations): reprocess redelivered webhooks that previously failed (#234) (#355)
  services/platform/apps/integrations/models.py
  services/platform/apps/integrations/webhooks/base.py
  services/platform/tests/integrations/test_webhook_failed_redelivery.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(audit/gdpr): membership state, audit trail, and rollback hardening
  services/platform/apps/audit/services.py
  services/platform/apps/audit/views.py
  services/platform/tests/audit/test_gdpr_consent_propagation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(notifications): carry attachments through every re-enqueue path
  services/platform/apps/notifications/services.py
  services/platform/apps/notifications/tasks.py
  services/platform/tests/notifications/test_async_email_attachments.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(audit/gdpr): make marketing-consent withdrawal actually stop sends (#226) (#356)
  services/platform/apps/audit/services.py
  services/platform/apps/audit/views.py
  services/platform/tests/audit/test_gdpr_consent_propagation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(notifications): deliver attachments on the async email path (#228) (#357)
  services/platform/apps/notifications/services.py
  services/platform/apps/notifications/tasks.py
  services/platform/tests/notifications/test_async_email_attachments.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): fail open for unknown payment methods on timeout
  services/platform/apps/orders/tasks.py
  services/platform/tests/orders/test_order_timeout.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): bring service_plans onto the shared identity parser
  services/portal/apps/services/views.py
  services/portal/tests/services/test_service_usage_view.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): make the awaiting-payment timeout payment-method-aware (#222) (#370)
  services/platform/apps/orders/tasks.py
  services/platform/apps/settings/services.py
  services/platform/tests/orders/test_order_timeout.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): preserve service usage user identity (#230) (#372)
  CHANGELOG.md
  services/portal/apps/services/views.py
  services/portal/tests/services/test_service_usage_view.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): harden document adjustment integrity (#195)
  CHANGELOG.md
  services/platform/apps/billing/document_adjustments.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/invoice_service.py
  services/platform/apps/billing/pdf_generators.py
  services/platform/apps/billing/proforma_models.py
  services/platform/tests/billing/efactura/test_xml_builder.py
  services/platform/tests/billing/test_invoice_service.py
  services/platform/tests/billing/test_pdf_generators.py
  services/platform/tests/billing/test_proformas_models.py
  services/platform/tests/billing/test_tax_configuration.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
