Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

ruff-new-violations:
  name: 'Ruff: Block New Violations Only'
  entry: uv run python
  args:
  - scripts/ruff_new_violations.py
  - --staged
  language: system
  pass_filenames: true
  require_serial: true

type-check-modified:
  name: Type Check Modified Files
  entry: uv run python
  args:
  - services/platform/scripts/check_types_modified.py
  - --staged
  language: system
  pass_filenames: false
  require_serial: false

prevent-type-ignore:
  name: Block New Type Ignore Comments
  entry: uv run python
  args:
  - services/platform/scripts/prevent_type_ignore.py
  - --staged-only
  language: system
  pass_filenames: true
  stages:
  - pre-commit

django-template-check:
  name: Django Template Syntax Check
  entry: uv run python
  args:
  - services/platform/scripts/fix_template_comparisons.py
  - --check
  language: system

portal-isolation-check:
  name: 'Security: Portal Isolation Check'
  entry: bash
  args:
  - -c
  ...

audit-coverage-check:
  name: 'Security: Audit Coverage Check'
  entry: uv run python
  args:
  - scripts/audit_coverage_scan.py
  - --min-severity=high
  - --exclude-tests
  - services/platform/apps
  language: system
  pass_filenames: false
  stages:
  - pre-commit

security-credentials-check:
  name: 'Security: Check for Hardcoded Credentials'
  entry: bash
  args:
  - -c
  - '# Use ruff to check for hardcoded credentials
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=S105,S106,S107,S108 --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

i18n-coverage-check:
  name: 'i18n: Check for Unwrapped Strings'
  entry: uv run python
  args:
  - scripts/lint_i18n_coverage.py
  - --fail-on
  - high
  - --allowlist
  - scripts/i18n_coverage_allowlist.txt
  language: system
  pass_filenames: true

performance-check:
  name: 'Performance: Check for Anti-patterns'
  entry: bash
  args:
  - -c
  - '# Check for performance issues in modified files
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=PERF,C90,PIE,SIM --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

fix(domains): enforce TLD policy and restore renewal page (#237, #285) (#424)
  CHANGELOG.md
  services/platform/apps/domains/domain_names.py
  services/platform/apps/domains/management/commands/create_sample_domains.py
  services/platform/apps/domains/models.py
  services/platform/apps/domains/services.py
  services/platform/apps/domains/views.py
  services/platform/templates/domains/domain_register.html
  services/platform/templates/domains/domain_renew.html
  services/platform/tests/domains/test_availability_view.py
  services/platform/tests/domains/test_domain_renew_template.py
  services/platform/tests/domains/test_domain_service_logic.py
  services/platform/tests/domains/test_gateway_registration_wiring.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing,orders): restore the PostgreSQL reconciler and reverse-charge preflight
  services/platform/apps/billing/tasks.py
  services/platform/apps/orders/preflight.py
  services/platform/apps/orders/views.py
  services/platform/tests/billing/test_recurring_submission_outbox.py
  services/platform/tests/orders/test_order_flow_hardening.py
  services/platform/tests/orders/test_order_security.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing,domains): remediate audit MEDIUM findings
  services/platform/apps/billing/efactura/models.py
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/migrations/0024_backfill_refunds_from_meta.py
  services/platform/apps/billing/migrations/0045_rerun_legacy_refund_recovery.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/common/management/commands/setup_scheduled_tasks.py
  services/platform/apps/domains/services.py
  services/platform/apps/domains/tasks.py
  services/platform/apps/notifications/management/commands/setup_email_templates.py
  services/platform/tests/billing/efactura/test_submission_claims.py
  services/platform/tests/billing/test_billing_tasks.py
  services/platform/tests/billing/test_recurring_submission_outbox.py
  services/platform/tests/billing/test_refund_service_regressions.py
  services/platform/tests/domains/test_domain_notification_policy.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing,notifications): remediate audit verified-LOW findings
  services/platform/apps/billing/forms.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/notifications/tasks.py
  services/platform/tests/billing/test_billing_models_regressions.py
  services/platform/tests/billing/test_billing_operator_controls.py
  services/platform/tests/notifications/test_campaign_tasks.py
  services/platform/tests/notifications/test_security_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

chore(billing,domains,common): audit LOW hygiene sweep
  docs/domain/RECURRING_BILLING.md
  services/platform/apps/api/billing/views.py
  services/platform/apps/billing/gateways/base.py
  services/platform/apps/billing/gateways/stripe_gateway.py
  services/platform/apps/billing/operator_controls.py
  services/platform/apps/billing/services.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/apps/common/validators.py
  services/platform/apps/domains/migrations/0005_tld_tld_min_registration_period_lte_max.py
  services/platform/apps/domains/models.py
  services/platform/apps/infrastructure/deployment_preflight.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/settings/catalog.py
  services/platform/apps/tickets/services.py
  services/platform/apps/tickets/tasks.py
  services/platform/apps/users/services.py
  services/platform/config/settings/dev.py
  services/platform/templates/domains/domain_renew.html
  services/platform/tests/billing/_billing_service_task_cases.py
  services/platform/tests/billing/test_billing_operator_controls.py
  services/platform/tests/billing/test_billing_tasks.py
  services/platform/tests/billing/test_refund_gateway_integrity.py
  services/platform/tests/domains/test_domain_service_logic.py
  services/platform/tests/infrastructure/test_env_loading.py
  services/platform/tests/infrastructure/test_tasks_infrastructure.py
  services/platform/tests/tickets/test_ticket_status_service.py
  services/platform/tests/tickets/test_tickets_api_reply.py
  services/platform/tests/tickets/test_tickets_comments.py
  services/portal/config/settings/dev.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(tickets,domains): narrow nullable types after audit remediation
  services/platform/apps/domains/services.py
  services/platform/apps/tickets/services.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing,domains,orders): address review findings on the audit remediation
  services/platform/apps/billing/tasks.py
  services/platform/apps/domains/services.py
  services/platform/apps/orders/preflight.py
  services/platform/tests/billing/test_refund_gateway_integrity.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): rebuild Virtualmin server by reusing PRAHO rows (#326)
  CHANGELOG.md
  services/platform/apps/provisioning/virtualmin_disaster_recovery.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/tests/provisioning/test_disaster_recovery_rebuild.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): persist rotated password and capture pre-reprovision status
  services/platform/apps/provisioning/virtualmin_disaster_recovery.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/tests/provisioning/test_disaster_recovery_rebuild.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): make Virtualmin recovery and restore fail closed (#326)
  CHANGELOG.md
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/apps/provisioning/virtualmin_disaster_recovery.py
  services/platform/tests/provisioning/test_disaster_recovery_regressions.py
  services/platform/tests/provisioning/test_restore_fail_closed.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): mark restore progress failed and surface rollback failures
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/tests/provisioning/test_restore_fail_closed.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): fail closed on integrity-failure rollback too (sibling)
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/tests/provisioning/test_restore_fail_closed.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): make the Virtualmin backup pipeline fail honestly (#326)
  CHANGELOG.md
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/tests/provisioning/test_backup_remote_honesty.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(promotions): persist post-discount order_total_cents on redemption (#233)
  CHANGELOG.md
  services/platform/apps/promotions/models.py
  services/platform/tests/promotions/test_promotions_money_defects.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(tickets): enforce migration state consistency
  .github/workflows/integration.yml
  Makefile
  services/platform/apps/audit/migrations/0008_alter_auditevent_action.py
  services/platform/apps/tickets/migrations/0004_alter_ticket_assigned_to.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, performance-check

fix(portal): reconcile stateless migration history
  Makefile
  services/portal/apps/billing/migrations/0002_remove_obsolete_business_models.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, performance-check

fix(tickets): enforce migration state consistency (#296, #322)
  .github/workflows/integration.yml
  Makefile
  services/platform/apps/audit/migrations/0008_alter_auditevent_action.py
  services/platform/apps/tickets/migrations/0004_alter_ticket_assigned_to.py
  services/portal/apps/billing/migrations/0002_remove_obsolete_business_models.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, performance-check

fix(tooling): resolve git hooks dir for worktrees in make install (#386)
  CHANGELOG.md
  scripts/patch_precommit_hook.py
  tests/test_patch_precommit_hook.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

perf(notifications): guard async email attachment size at the broker (#358)
  CHANGELOG.md
  services/platform/apps/notifications/services.py
  services/platform/apps/settings/catalog.py
  services/platform/tests/notifications/test_async_email_attachments.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

security(audit): use is_staff_user for search-suggestion gate (#271)
  CHANGELOG.md
  services/platform/apps/audit/services.py
  services/platform/tests/audit/test_audit_services_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(domains): process domain-order renew items and log unhandled actions (#430)
  CHANGELOG.md
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_domain_service_logic.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(infrastructure): add Cloudflare DNS gateway for node deploy (#347)
  services/platform/apps/infrastructure/apps.py
  services/platform/apps/infrastructure/dns_gateway.py
  services/platform/apps/infrastructure/tests/test_dns_gateway.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

security(audit): add keyed hash-chain ledger over audit events (#313)
  scripts/audit_model_allowlist.txt
  services/platform/apps/audit/management/commands/backfill_audit_chain.py
  services/platform/apps/audit/management/commands/run_integrity_check.py
  services/platform/apps/audit/migrations/0009_auditchainhead_auditchainlink.py
  services/platform/apps/audit/models.py
  services/platform/apps/audit/services.py
  services/platform/apps/audit/signals.py
  services/platform/apps/common/key_derivation.py
  services/platform/config/settings/base.py
  services/platform/tests/audit/test_audit_chain_ledger.py
  services/platform/tests/audit/test_audit_services_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

security(audit): anchor the chain head externally to catch truncation (#313)
  scripts/audit_model_allowlist.txt
  services/platform/apps/audit/management/commands/anchor_audit_chain.py
  services/platform/apps/audit/management/commands/run_integrity_check.py
  services/platform/apps/audit/migrations/0010_auditchainanchor.py
  services/platform/apps/audit/models.py
  services/platform/apps/audit/services.py
  services/platform/apps/common/key_derivation.py
  services/platform/config/settings/base.py
  services/platform/tests/audit/test_audit_chain_ledger.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

security(audit): stamp integrity MAC on the INSERT, not a second write (#313)
  services/platform/apps/audit/migrations/0011_alter_auditevent_timestamp.py
  services/platform/apps/audit/models.py
  services/platform/apps/audit/services.py
  services/platform/apps/audit/signals.py
  services/platform/tests/audit/test_audit_integrity_hash.py
  services/platform/tests/audit/test_audit_management.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

security(audit): close three bypasses found by adversarial review (#313)
  services/platform/apps/audit/services.py
  services/platform/tests/audit/test_audit_chain_ledger.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(infrastructure): wire node-deploy Cloudflare DNS create + teardown (#347)
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/tasks.py
  services/platform/tests/infrastructure/test_deployment_dns.py
  services/platform/tests/infrastructure/test_deployment_service_pipeline.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(changelog): add node DNS provisioning entry (#347)
  CHANGELOG.md
Due: none

test(infrastructure): configure DNS in SSH-stage transition test (#347)
  services/platform/tests/infrastructure/test_deployment_state_machine.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(infrastructure): harden node DNS reconcile + cleanup provenance (#347)
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/dns_gateway.py
  services/platform/apps/infrastructure/tests/test_dns_gateway.py
  services/platform/tests/infrastructure/test_deployment_dns.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(infrastructure): auto-provision node DNS records on deploy (#347 GAP 3)
  CHANGELOG.md
  services/platform/apps/infrastructure/apps.py
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/dns_gateway.py
  services/platform/apps/infrastructure/tasks.py
  services/platform/apps/infrastructure/tests/test_dns_gateway.py
  services/platform/tests/infrastructure/test_deployment_dns.py
  services/platform/tests/infrastructure/test_deployment_service_pipeline.py
  services/platform/tests/infrastructure/test_deployment_state_machine.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): atomic unowned check + provider-unavailable orphan marker (#347)
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/dns_gateway.py
  services/platform/apps/infrastructure/tests/test_dns_gateway.py
  services/platform/tests/infrastructure/test_deployment_dns.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): atomic unowned DNS check + provider-unavailable orphan marker (#347)
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/dns_gateway.py
  services/platform/apps/infrastructure/tests/test_dns_gateway.py
  services/platform/tests/infrastructure/test_deployment_dns.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(tooling): wire #386 hook-patch test into CI + add end-to-end guard
  tests/integration/test_patch_precommit_hook.py
Due: ruff-new-violations, type-check-modified

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
