Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

ruff-new-violations:
  name: 'Ruff: Block New Violations Only'
  entry: uv run python
  args:
  - scripts/ruff_new_violations.py
  - --staged
  language: system
  pass_filenames: true
  require_serial: true

type-check-modified:
  name: Type Check Modified Files
  entry: uv run python
  args:
  - services/platform/scripts/check_types_modified.py
  - --staged
  language: system
  pass_filenames: false
  require_serial: false

prevent-type-ignore:
  name: Block New Type Ignore Comments
  entry: uv run python
  args:
  - services/platform/scripts/prevent_type_ignore.py
  - --staged-only
  language: system
  pass_filenames: true
  stages:
  - pre-commit

django-template-check:
  name: Django Template Syntax Check
  entry: uv run python
  args:
  - services/platform/scripts/fix_template_comparisons.py
  - --check
  language: system

portal-isolation-check:
  name: 'Security: Portal Isolation Check'
  entry: bash
  args:
  - -c
  ...

audit-coverage-check:
  name: 'Security: Audit Coverage Check'
  entry: uv run python
  args:
  - scripts/audit_coverage_scan.py
  - --min-severity=high
  - --exclude-tests
  - services/platform/apps
  language: system
  pass_filenames: false
  stages:
  - pre-commit

security-credentials-check:
  name: 'Security: Check for Hardcoded Credentials'
  entry: bash
  args:
  - -c
  - '# Use ruff to check for hardcoded credentials
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=S105,S106,S107,S108 --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

i18n-coverage-check:
  name: 'i18n: Check for Unwrapped Strings'
  entry: uv run python
  args:
  - scripts/lint_i18n_coverage.py
  - --fail-on
  - high
  - --allowlist
  - scripts/i18n_coverage_allowlist.txt
  language: system
  pass_filenames: true

performance-check:
  name: 'Performance: Check for Anti-patterns'
  entry: bash
  args:
  - -c
  - '# Check for performance issues in modified files
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=PERF,C90,PIE,SIM --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

fix: address review findings — partition naming, SQL validation, diagram regeneration
  docs/ADRs/ADR-0023-database-structure.md
  docs/architecture/diagrams/database-tables.mmd
  services/platform/apps/audit/compliance.py
  services/platform/apps/audit/management/commands/audit_compliance.py
  services/platform/apps/common/partitioning.py
  services/platform/tests/audit/test_audit_compliance.py
  services/platform/tests/common/test_partitioning.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(audit): prevent KeyError in handle_apply_retention on partition entries
  services/platform/apps/audit/management/commands/audit_compliance.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, i18n-coverage-check, performance-check

fix(audit): map partition status to compliance semantics, fix remaining 118→119
  docs/ADRs/ADR-0023-database-structure.md
  docs/ADRs/README.md
  services/platform/apps/audit/compliance.py
  services/platform/tests/audit/test_audit_compliance.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): quantity validation, preflight currency, null server guard (#112, #97)
  services/platform/apps/api/orders/views.py
  services/platform/tests/helpers/hmac.py
  services/portal/apps/orders/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): extract currency helper, add regression tests, fix error messages
  services/platform/apps/api/orders/views.py
  services/platform/tests/orders/test_order_flow_bug_fixes.py
  services/portal/tests/orders/test_order_core_functionality.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(tests): HMAC nonce length + CORS documentation test
  services/platform/tests/ui/test_ui_security.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(cors): add CorsMiddleware to all settings with proper ordering (#67)
  services/platform/config/settings/base.py
  services/platform/config/settings/dev.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, i18n-coverage-check, performance-check

fix(billing): replace silent error swallowing with logger.exception (#63)
  services/platform/apps/billing/refund_service.py
  services/platform/tests/billing/test_refund_service_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(domains): implement HMAC-SHA256 webhook signature verification (#92)
  scripts/code_health_allowlist.txt
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_webhook_signature_verification.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): add assert narrowing after _resolve_currency, fix retention status label
  services/platform/apps/api/orders/views.py
  services/platform/tests/audit/test_partition_retention_status.py
  services/platform/tests/orders/test_order_flow_preflight_and_server_guard.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing,audit): downgrade TransactionTestCase to TestCase across metering and audit suites
  services/platform/tests/audit/test_audit_signals.py
  services/platform/tests/billing/test_metering_gateway_regressions.py
  services/platform/tests/billing/test_metering_models.py
  services/platform/tests/billing/test_metering_services.py
  services/platform/tests/billing/test_metering_tasks.py
  services/platform/tests/billing/test_stripe_metering.py
  services/platform/tests/billing/test_subscription_models_regressions.py
  services/platform/tests/billing/test_subscription_resume.py
  services/platform/tests/billing/test_usage_billing_redteam.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

test: downgrade TransactionTestCase to TestCase across remaining suites
  services/platform/tests/billing/_billing_services_basic_cases.py
  services/platform/tests/billing/test_billing_models_regressions.py
  services/platform/tests/billing/test_currencies.py
  services/platform/tests/billing/test_invoices_models.py
  services/platform/tests/billing/test_metering_models.py
  services/platform/tests/billing/test_metering_services.py
  services/platform/tests/billing/test_pdf_generators.py
  services/platform/tests/billing/test_sequences.py
  services/platform/tests/billing/test_services.py
  services/platform/tests/customers/test_customers_models.py
  services/platform/tests/infrastructure/test_infrastructure_models.py
  services/platform/tests/infrastructure/test_provider_views.py
  services/platform/tests/orders/_order_hardening_cases.py
  services/platform/tests/orders/_order_idempotency_cases.py
  services/platform/tests/tickets/test_tickets_security.py
  services/platform/tests/users/test_2fa_models.py
  services/platform/tests/users/test_authentication_models_enhanced.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix: CORS config + refund error logging (#67, #63) (#114)
  services/platform/apps/billing/refund_service.py
  services/platform/config/settings/base.py
  services/platform/config/settings/dev.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/tests/billing/test_refund_service_regressions.py
  services/platform/tests/ui/test_ui_security.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): add EU VIES VAT validation for cross-border reverse-charge (#88)
  pyproject.toml
  services/platform/apps/billing/gateways/vies_gateway.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/common/eu_vat_validator.py
  services/platform/apps/customers/migrations/0013_add_vies_verification_fields.py
  services/platform/apps/customers/profile_models.py
  services/platform/tests/billing/test_vat_validation_task.py
  services/platform/tests/billing/test_vies_gateway.py
  services/platform/tests/common/test_eu_vat_validator.py
  uv.lock
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): address 7 review findings on VIES VAT validation (#110)
  services/platform/apps/billing/gateways/vies_gateway.py
  services/platform/apps/billing/migrations/0020_add_format_check_validation_source.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/tax_models.py
  services/platform/apps/common/eu_vat_validator.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(tests): align tests with VIES refactor + merge migrations
  services/platform/apps/billing/migrations/0026_merge_20260312_1303.py
  services/platform/apps/customers/migrations/0015_merge_20260312_1303.py
  services/platform/tests/billing/test_billing_tasks.py
  services/platform/tests/billing/test_vies_gateway.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, performance-check

fix(billing): address Copilot review findings on VIES VAT validation
  services/platform/apps/billing/gateways/vies_gateway.py
  services/platform/apps/billing/tasks.py
  services/platform/tests/billing/test_vat_validation_task.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): Sentry visibility, entity context, and complete logging in refund service
  services/platform/apps/billing/refund_service.py
  services/platform/config/settings/base.py
  services/platform/config/settings/prod.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): audit trail logging, aggregation safety, CORS ordering consistency
  services/platform/apps/billing/refund_service.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing,cors): behavior tests for CORS, logging assertions, security negative tests
  scripts/check_component_parity.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/config/settings/dev.py
  services/platform/templates/billing/payment_list.html
  services/platform/templates/customers/list.html
  services/platform/templates/infrastructure/deployment_list.html
  services/platform/templates/infrastructure/provider_list.html
  services/platform/templates/infrastructure/region_list.html
  services/platform/templates/infrastructure/size_list.html
  services/platform/templates/notifications/email_log_list.html
  services/platform/templates/notifications/template_list.html
  services/platform/templates/provisioning/server_list.html
  services/platform/templates/provisioning/service_list.html
  services/platform/tests/billing/test_refund_service_regressions.py
  services/platform/tests/ui/test_ui_security.py
  shared/ui/templates/components/empty_state.html
  shared/ui/templates/components/form_actions.html
  shared/ui/templates/components/form_error_summary.html
  shared/ui/templates/components/list_page_filters.html
  shared/ui/templates/components/list_page_header.html
  shared/ui/templates/components/list_page_skeleton.html
  shared/ui/templates/components/page_header.html
  shared/ui/templates/components/section_card.html
  shared/ui/templates/components/stat_tile.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(tests): add root-level tests/helpers for E2E ORM test imports
  tests/helpers/__init__.py
  tests/helpers/fsm_helpers.py
Due: ruff-new-violations, type-check-modified

fix(tests): add TESTING=True to E2E settings for force_status() guard
  services/platform/config/settings/e2e.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, i18n-coverage-check, performance-check

fix(tests): resolve 7 E2E test failures — refund model, selectors, template
  services/platform/templates/users/user_detail.html
  tests/e2e/orm/test_billing_workflow.py
  tests/e2e/platform/test_staff_users.py
  tests/e2e/portal/test_order_flow_bugs.py
  tests/e2e/portal/test_order_flow_ux.py
Due: ruff-new-violations, type-check-modified, django-template-check, i18n-coverage-check

fix(tests): wait for HTMX cart/add response before navigating to cart
  tests/e2e/portal/test_order_flow_bugs.py
Due: ruff-new-violations, type-check-modified

fix(tests): wait for HTMX calculate_totals response, accept TVA locale
  tests/e2e/portal/test_order_flow_bugs.py
Due: ruff-new-violations, type-check-modified

fix(tests): pin Playwright locale to en-US for deterministic E2E tests
  tests/e2e/conftest.py
Due: ruff-new-violations, type-check-modified

fix(domains): implement HMAC-SHA256 webhook signature verification (#92) (#113)
  scripts/code_health_allowlist.txt
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_webhook_signature_verification.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(domains): harden webhook HMAC verification post-merge
  scripts/code_health_allowlist.txt
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_webhook_signature_verification.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

ci(testing): add affected-module detection for focused CI test runs
  .github/workflows/full-test.yml
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
  .github/workflows/platform.yml
  .github/workflows/portal.yml
  Makefile
  scripts/affected_test_modules.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

ci: trigger platform and portal CI on shared/ directory changes
  .github/workflows/platform.yml
  .github/workflows/portal.yml
Due: none

ci(testing): harden CI workflows and affected-module detection
  .github/workflows/full-test.yml
  .github/workflows/nightly.yml
  .github/workflows/platform.yml
  Makefile
  scripts/affected_test_modules.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

ci(testing): tiered CI — SQLite for PRs, PostgreSQL for master/nightly
  .github/workflows/full-test.yml
  .github/workflows/nightly.yml
  .github/workflows/platform.yml
  Makefile
  services/platform/config/settings/ci.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, i18n-coverage-check, performance-check

fix(ci): use session-level PostgreSQL options only in ci.py
  services/platform/config/settings/ci.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, i18n-coverage-check, performance-check

fix(ci): remove manual migrate/createcachetable, fix DB name for test runner
  .github/workflows/full-test.yml
  .github/workflows/nightly.yml
  .github/workflows/platform.yml
  services/platform/config/settings/ci.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, i18n-coverage-check, performance-check

fix(ci): revert to SQLite for all CI workflows — PostgreSQL deferred
  .github/workflows/full-test.yml
  .github/workflows/nightly.yml
  .github/workflows/platform.yml
Due: none

build: make test-ci auto-manages PostgreSQL via Docker
  Makefile
Due: none

fix(billing): address round-3 review findings on VIES VAT validation
  services/platform/apps/billing/gateways/vies_gateway.py
  services/platform/apps/billing/migrations/0020_add_format_check_validation_source.py
  services/platform/apps/billing/migrations/0026_merge_20260312_1303.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/common/eu_vat_validator.py
  services/platform/apps/customers/migrations/0013_add_vies_verification_fields.py
  services/platform/apps/customers/migrations/0015_merge_20260312_1303.py
  services/platform/tests/billing/test_billing_tasks.py
  services/platform/tests/billing/test_vies_gateway.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
