Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$

fix(d390): drop the is_active check that could only restate VIES validity (#556)
  services/platform/apps/billing/ec_sales_service.py
  services/platform/tests/billing/test_d390.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): change-password form promised 8 characters, Platform requires 12
  services/portal/apps/users/forms.py
  services/portal/locale/en/LC_MESSAGES/django.po
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/templates/users/change_password.html
  services/portal/tests/users/test_change_password_min_length.py
  tests/integration/test_password_min_length_parity.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(settings): refuse REDIS_URL instead of building a broken Redis cache
  .env.example.dev
  .env.example.prod
  docs/architecture/CODEBASE_ARCHAEOLOGY.md
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/config/settings/base.py
  services/platform/config/settings/dev.py
  services/platform/config/settings/prod.py
  services/platform/tests/settings/test_logging_configuration.py
  services/platform/tests/settings/test_prod_cache_backend.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, i18n-coverage-check, performance-check

test(billing): read the portal refund vocabulary from its new source
  services/platform/tests/billing/test_refund_reason_vocabulary.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(portal): keep a completed checkout replayable after its claim lease
  services/platform/apps/common/counters.py
  services/platform/tests/common/test_counters.py
  services/portal/apps/common/counters.py
  services/portal/apps/orders/views.py
  services/portal/tests/common/test_counters.py
  services/portal/tests/orders/test_shared_checkout_claims.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(deploy): state why the public body cap matches Django's limit
  deploy/ansible/roles/praho-native/templates/Caddyfile.native.j2
  deploy/ansible/roles/praho/templates/Caddyfile.j2
  deploy/caddy/Caddyfile
  deploy/caddy/Caddyfile.platform
  tests/deploy/test_caddy_routing.py
Due: ruff-new-violations, type-check-modified

fix(db): degrade on an unusable connection where DatabaseError meant "unavailable"
  services/platform/apps/billing/checks.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/checks.py
  services/platform/apps/common/localisation_services.py
  services/platform/apps/infrastructure/apps.py
  services/platform/apps/infrastructure/views.py
  services/platform/apps/orders/models.py
  services/platform/tests/billing/test_refund_history_db_errors.py
  services/platform/tests/settings/test_localisation_consumers.py
  tests/integration/test_database_error_handlers.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): stop Service-only paths re-enabling a domain-disabled account
  docs/ADRs/ADR-0051-hosting-account-enabled-state-ownership.md
  docs/ADRs/README.md
  services/platform/apps/domains/models.py
  services/platform/apps/provisioning/domain_veto.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/tests/provisioning/test_virtualmin_domain_veto.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix: close the small follow-ups from the order-error localisation work
  services/platform/apps/api/metadata.py
  services/platform/apps/provisioning/signals.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_options_metadata.py
  services/portal/apps/orders/platform_messages.py
  services/portal/apps/orders/views.py
  services/portal/tests/orders/test_order_error_localisation.py
  tests/integration/test_platform_error_localisation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(api): record that token auth is gated, drop dead auth code
  docs/ADRs/ADR-0031-api-token-authentication-strategy.md
  services/platform/apps/api/AUTHENTICATION.md
  services/platform/apps/api/billing/views.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/request_ip.py
  services/platform/tests/common/test_common_request.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(api): break the metadata import cycle and test the real profile classifier
  services/platform/apps/api/metadata.py
  services/portal/tests/orders/test_profile_error_classification.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(db): catch db.utils.DatabaseError and aliased suppress in the handler guard
  tests/integration/test_database_error_handlers.py
Due: ruff-new-violations, type-check-modified

fix(users): rotate the session key when backup codes are regenerated
  services/platform/apps/users/views.py
  services/platform/tests/users/test_backup_code_regeneration_session.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): enforce the staff manual price override policy
  scripts/settings_drift_baseline.txt
  scripts/settings_inert_baseline.txt
  services/platform/apps/orders/views.py
  services/platform/tests/orders/test_order_settings_effects.py
  services/platform/tests/orders/test_orders_security.py
  services/platform/tests/orders/test_price_override_enforcement.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): answer every counter-store failure with one response shape
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/common/store_unavailable.py
  services/portal/apps/orders/views.py
  services/portal/tests/common/test_store_unavailable_contract.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(efactura): expire the ANAF quota at Romanian midnight across DST (#550)
  services/platform/apps/billing/efactura/quota.py
  services/platform/tests/billing/efactura/test_quota.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(api): require the second factor to issue an API token
  docs/ADRs/ADR-0031-api-token-authentication-strategy.md
  services/platform/apps/api/AUTHENTICATION.md
  services/platform/apps/api/users/views.py
  services/platform/tests/api/test_token_auth_requires_hmac.py
  services/platform/tests/api/test_token_endpoint_second_factor.py
  services/platform/tests/api/test_token_second_factor_concurrency.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

perf(users): skip the session index write when nothing changed
  services/platform/apps/users/session_backend.py
  services/platform/tests/users/test_session_index_write_skip.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(api): a refused token issuance does not spend the TOTP code either
  docs/ADRs/ADR-0031-api-token-authentication-strategy.md
  services/platform/apps/api/users/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): close two gaps in the counter-store failure contract
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/orders/views.py
  services/portal/tests/common/test_store_unavailable_contract.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

perf(dashboard): keep the monthly revenue cutoff indexable
  services/platform/apps/common/views.py
  services/platform/tests/billing/test_staff_currency_summaries.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): a failed refund record leaves no Refund row behind
  services/platform/apps/billing/refund_service.py
  services/platform/tests/billing/test_refund_history_db_errors.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(settings): say development uses LocMemCache, not the database cache
  .env.example.dev
  services/platform/config/settings/dev.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, i18n-coverage-check, performance-check

fix(ui): Platform's input_field forwards every hx-* the shared template renders
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/tests/ui/test_input_field_htmx_parity.py
  services/portal/tests/ui/test_component_input.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): keep the 503 for store-down callers that are not HTML page loads
  services/portal/apps/common/rate_limiting.py
  services/portal/tests/common/test_store_unavailable_contract.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(e2e): configure the RON bank account platform's e2e settings never set (#578)
  services/platform/config/settings/e2e.py
  services/platform/tests/billing/test_e2e_settings_bank_transfer.py
  tests/e2e/portal/test_customer_users.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, i18n-coverage-check, performance-check

test(api): pin that a refused token issuance leaves the TOTP code usable
  services/platform/tests/api/test_token_endpoint_second_factor.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(billing): compute reporting, quota and D390 dates on the Romanian calendar (#587)
  services/platform/apps/billing/ec_sales_service.py
  services/platform/apps/billing/efactura/quota.py
  services/platform/apps/common/views.py
  services/platform/tests/billing/efactura/test_quota.py
  services/platform/tests/billing/test_billing_report_screens.py
  services/platform/tests/billing/test_d390.py
  services/platform/tests/billing/test_staff_currency_summaries.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(templates): swap billing invoice_detail and status filter to components (#583)
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/tests/billing/test_refund_reason_vocabulary.py
  services/platform/tests/ui/test_input_field_htmx_parity.py
  services/portal/apps/billing/views.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/templates/billing/invoice_detail.html
  services/portal/templates/billing/partials/invoice_extra_filters.html
  services/portal/tests/billing/test_invoice_detail_refund_modal.py
  services/portal/tests/ui/test_component_input.py
  shared/ui/templates/components/input.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(tickets): normalize unrecognized priority values on error re-render
  services/portal/apps/tickets/views.py
  services/portal/tests/tickets/test_ticket_create_view.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ui): button_id and file-input accept/aria-label/multiple were silently dropped
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/tests/ui/test_component_button.py
  services/portal/tests/ui/test_component_input.py
  shared/ui/templates/components/input.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(templates): swap tickets area to shared components
  services/portal/apps/tickets/views.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/templates/tickets/partials/status_and_comments.html
  services/portal/templates/tickets/ticket_create.html
  services/portal/tests/tickets/test_ticket_create_view.py
  services/portal/tests/ui/test_component_input.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): enforce the price override policy, keep checkout replayable, one store-failure shape (#589)
  scripts/settings_drift_baseline.txt
  scripts/settings_inert_baseline.txt
  services/platform/apps/common/counters.py
  services/platform/apps/orders/views.py
  services/platform/tests/common/test_counters.py
  services/platform/tests/orders/test_order_settings_effects.py
  services/platform/tests/orders/test_orders_security.py
  services/platform/tests/orders/test_price_override_enforcement.py
  services/portal/apps/common/counters.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/common/store_unavailable.py
  services/portal/apps/orders/views.py
  services/portal/tests/common/test_counters.py
  services/portal/tests/common/test_store_unavailable_contract.py
  services/portal/tests/orders/test_shared_checkout_claims.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(auth): require the second factor for API tokens, rotate sessions, align password length (#591)
  docs/ADRs/ADR-0031-api-token-authentication-strategy.md
  services/platform/apps/api/AUTHENTICATION.md
  services/platform/apps/api/billing/views.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/request_ip.py
  services/platform/apps/users/session_backend.py
  services/platform/apps/users/views.py
  services/platform/tests/api/test_token_auth_requires_hmac.py
  services/platform/tests/api/test_token_endpoint_second_factor.py
  services/platform/tests/api/test_token_second_factor_concurrency.py
  services/platform/tests/common/test_common_request.py
  services/platform/tests/users/test_backup_code_regeneration_session.py
  services/platform/tests/users/test_session_index_write_skip.py
  services/portal/apps/users/forms.py
  services/portal/locale/en/LC_MESSAGES/django.po
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/templates/users/change_password.html
  services/portal/tests/users/test_change_password_min_length.py
  tests/integration/test_password_min_length_parity.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(templates): swap tickets area to shared components (#592)
  services/portal/apps/tickets/views.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/templates/tickets/partials/status_and_comments.html
  services/portal/templates/tickets/ticket_create.html
  services/portal/tests/tickets/test_ticket_create_view.py
  services/portal/tests/ui/test_component_button.py
  services/portal/tests/ui/test_component_input.py
  shared/ui/templates/components/input.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

feat(scripts): object-level database comparator for the migration reset
  scripts/compare_db_schema.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

test: retire tests whose only subject was a deleted migration
  services/platform/tests/billing/test_billing_operator_controls_migration.py
  services/platform/tests/billing/test_currency_bound_balances.py
  services/platform/tests/billing/test_currency_e2e.py
  services/platform/tests/billing/test_efactura_document_type_repair.py
  services/platform/tests/billing/test_efactura_submission_integrity_migration.py
  services/platform/tests/billing/test_fxrate_migration.py
  services/platform/tests/billing/test_invoice_number_placeholder_migration.py
  services/platform/tests/billing/test_provider_submission_budget_backfill.py
  services/platform/tests/billing/test_recurring_submission_outbox.py
  services/platform/tests/billing/test_refund_reason_vocabulary.py
  services/platform/tests/billing/test_refund_service_regressions.py
  services/platform/tests/billing/test_signed_document_rollback_guard.py
  services/platform/tests/billing/test_stale_credit_note_xml.py
  services/platform/tests/billing/test_vies_gate_paths.py
  services/platform/tests/customers/test_address_flag_migration.py
  services/platform/tests/customers/test_payment_method_encryption_migration.py
  services/platform/tests/customers/test_vat_rate_override_migration.py
  services/platform/tests/domains/test_currency_terms_migration.py
  services/platform/tests/domains/test_domain_name_canonicalization.py
  services/platform/tests/domains/test_durable_operations.py
  services/platform/tests/helpers/migrations.py
  services/platform/tests/infrastructure/test_drift_migrations.py
  services/platform/tests/promotions/test_renewal_benefit_currency.py
  services/platform/tests/promotions/test_services_advanced.py
  services/platform/tests/settings/test_operator_policy_migration.py
  services/platform/tests/settings/test_settings_catalog.py
  services/platform/tests/tickets/test_ticket_related_service_scoping.py
  services/platform/tests/users/test_session_index.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

test: guard the database objects only migrations create
  .github/workflows/integration.yml
  services/platform/tests/common/test_migration_db_objects.py
  services/platform/tests/common/test_migration_seeds.py
  services/platform/tests/common/test_nightly_ci_workflow.py
  services/platform/tests/customers/test_payment_method_encryption_trigger.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check
