Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

ruff-new-violations:
  name: 'Ruff: Block New Violations Only'
  entry: uv run python
  args:
  - scripts/ruff_new_violations.py
  - --staged
  language: system
  pass_filenames: true
  require_serial: true

type-check-modified:
  name: Type Check Modified Files
  entry: uv run python
  args:
  - services/platform/scripts/check_types_modified.py
  - --staged
  language: system
  pass_filenames: false
  require_serial: false

prevent-type-ignore:
  name: Block New Type Ignore Comments
  entry: uv run python
  args:
  - services/platform/scripts/prevent_type_ignore.py
  - --staged-only
  language: system
  pass_filenames: true
  stages:
  - pre-commit

django-template-check:
  name: Django Template Syntax Check
  entry: uv run python
  args:
  - services/platform/scripts/fix_template_comparisons.py
  - --check
  language: system

portal-isolation-check:
  name: 'Security: Portal Isolation Check'
  entry: bash
  args:
  - -c
  ...

audit-coverage-check:
  name: 'Security: Audit Coverage Check'
  entry: uv run python
  args:
  - scripts/audit_coverage_scan.py
  - --min-severity=high
  - --exclude-tests
  - services/platform/apps
  language: system
  pass_filenames: false
  stages:
  - pre-commit

security-credentials-check:
  name: 'Security: Check for Hardcoded Credentials'
  entry: bash
  args:
  - -c
  - '# Use ruff to check for hardcoded credentials
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=S105,S106,S107,S108 --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

i18n-coverage-check:
  name: 'i18n: Check for Unwrapped Strings'
  entry: uv run python
  args:
  - scripts/lint_i18n_coverage.py
  - --fail-on
  - high
  - --allowlist
  - scripts/i18n_coverage_allowlist.txt
  language: system
  pass_filenames: true

performance-check:
  name: 'Performance: Check for Anti-patterns'
  entry: bash
  args:
  - -c
  - '# Check for performance issues in modified files
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=PERF,C90,PIE,SIM --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

docs: record the external-invoice-issuer decision and its operator runbook
  CHANGELOG.md
  docs/ADRs/ADR-0048-external-invoice-issuer.md
  docs/ADRs/README.md
  docs/domain/EXTERNAL_INVOICE_ISSUER.md
Due: none

fix(billing): decide reversals by durable state and enforce the issuer switch
  CHANGELOG.md
  docs/ADRs/ADR-0048-external-invoice-issuer.md
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/issuers/policy.py
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/issuers/smartbill/mapper.py
  services/platform/apps/billing/migrations/0052_invoice_invoice_one_reversal_per_original.py
  services/platform/apps/billing/migrations/0053_remove_invoiceline_invoiceline_unit_price_non_negative_and_more.py
  services/platform/apps/settings/services.py
  services/platform/apps/settings/views.py
  services/platform/tests/billing/test_issuer_switch_preflight.py
  services/platform/tests/billing/test_provider_storno.py
  services/platform/tests/billing/test_smartbill_mapper.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): close the twin of the reversal wedge and stop pacing poisoning claims
  services/platform/apps/billing/issuers/models.py
  services/platform/apps/billing/issuers/policy.py
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/issuers/smartbill/issuer.py
  services/platform/apps/settings/services.py
  services/platform/tests/billing/test_issuer_switch_preflight.py
  services/platform/tests/billing/test_provider_issuance.py
  services/platform/tests/billing/test_provider_storno.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): honour the selected issuer everywhere and recover lost reversals
  CHANGELOG.md
  services/platform/apps/billing/issuers/policy.py
  services/platform/apps/billing/issuers/tasks.py
  services/platform/apps/billing/services.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/tests/billing/test_billing_ownership.py
  services/platform/tests/billing/test_issuer_creation_paths.py
  services/platform/tests/billing/test_metering_services.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): repair resumed credit notes and keep stuck reversals from starving the sweep
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/issuers/tasks.py
  services/platform/tests/billing/test_issuer_creation_paths.py
  services/platform/tests/billing/test_provider_issuance.py
  services/platform/tests/billing/test_provider_storno.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): stop credit notes being issued as invoices, and unlatch the issuer switch
  services/platform/apps/billing/issuers/policy.py
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/issuers/tasks.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/tests/billing/test_issuer_creation_paths.py
  services/platform/tests/billing/test_metering_services.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): stop a document awaiting issuance rendering as the word "None"
  services/platform/apps/billing/pdf_generators.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/views.py
  services/platform/templates/dashboard.html
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/billing/test_issuer_creation_paths.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): a SmartBill refusal with no reason must not license a resend
  CHANGELOG.md
  services/platform/apps/billing/issuers/smartbill/responses.py
  services/platform/tests/billing/test_smartbill_responses.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): keep a recognised refusal recognised when it arrives throttled
  services/platform/apps/billing/issuers/smartbill/responses.py
  services/platform/tests/billing/test_smartbill_responses.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): a SmartBill refusal with no reason must not license a resend (#532)
  CHANGELOG.md
  services/platform/apps/billing/issuers/smartbill/responses.py
  services/platform/tests/billing/test_smartbill_responses.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): make a reversal a correct document before making it recoverable
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/migrations/0054_remove_invoice_invoice_discount_non_negative_and_more.py
  services/platform/apps/billing/pdf_generators.py
  services/platform/apps/billing/signals.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_credit_note_customer_surface.py
  services/platform/tests/billing/test_credit_note_discount.py
  services/platform/tests/billing/test_credit_note_fx.py
  services/platform/tests/billing/test_efactura_credit_note_wiring.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): let EC-Sales read a credit note as the correction it is
  services/platform/apps/billing/ec_sales_service.py
  services/platform/tests/billing/test_ec_sales_credit_notes.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): recover provider work by kind, and stop retrying forever
  services/platform/apps/billing/issuers/models.py
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/issuers/tasks.py
  services/platform/apps/billing/migrations/0055_providerissuance_submissions.py
  services/platform/tests/billing/test_provider_recovery_routing.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): give an operator a way out of an unknown issuance outcome
  services/platform/apps/billing/forms.py
  services/platform/apps/billing/operator_controls.py
  services/platform/apps/billing/urls.py
  services/platform/apps/billing/views.py
  services/platform/templates/billing/provider_reconciliation_form.html
  services/platform/templates/billing/provider_reconciliation_queue.html
  services/platform/templates/settings/group.html
  services/platform/tests/billing/test_provider_reconciliation_screen.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(billing): say four fields in the FX docstring, because the check tests four
  services/platform/apps/billing/invoice_models.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): a credit note is complete when issued, and revenue must see it
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_credit_note_never_paid.py
  services/platform/tests/billing/test_revenue_nets_reversals.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): make a reversal reconcile everywhere it is read
  services/platform/apps/billing/ec_sales_service.py
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/efactura/validator.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/apps/billing/invoice_service.py
  services/platform/apps/billing/pdf_generators.py
  services/platform/tests/billing/efactura/test_credit_note_xml_totals.py
  services/platform/tests/billing/efactura/test_validator.py
  services/platform/tests/billing/test_credit_note_pdf.py
  services/platform/tests/billing/test_ec_sales_credit_notes.py
  services/platform/tests/billing/test_efactura_credit_note_wiring.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): enforce the retry budget where ownership is taken, and attribute the adoption atomically
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/issuers/tasks.py
  services/platform/apps/billing/operator_controls.py
  services/platform/apps/billing/views.py
  services/platform/templates/billing/provider_reconciliation_queue.html
  services/platform/tests/billing/test_provider_reconciliation_screen.py
  services/platform/tests/billing/test_submission_budget.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): stop revenue subtracting a refunded invoice twice
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_revenue_nets_reversals.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): close three gaps on the manual reconciliation and reversal paths
  services/platform/apps/billing/forms.py
  services/platform/apps/billing/issuers/service.py
  services/platform/tests/billing/test_credit_note_fx.py
  services/platform/tests/billing/test_provider_reconciliation_form.py
  services/platform/tests/billing/test_provider_reconciliation_screen.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): sweep claims whose worker never reported back
  services/platform/apps/billing/issuers/tasks.py
  services/platform/apps/billing/tasks.py
  services/platform/tests/billing/test_abandoned_claim_sweep.py
  services/platform/tests/billing/test_billing_ownership.py
  services/platform/tests/billing/test_submission_budget.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): correct e-Factura rows that call a credit note an invoice
  services/platform/apps/billing/efactura/models.py
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/migrations/0056_repair_credit_note_document_types.py
  services/platform/apps/billing/signals.py
  services/platform/tests/billing/test_efactura_document_type_repair.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): emit credit-note UBL as magnitudes, and teach the validator to say so
  docs/domain/EXTERNAL_INVOICE_ISSUER.md
  services/platform/apps/billing/efactura/validator.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/apps/billing/pdf_generators.py
  services/platform/tests/billing/_billing_service_task_cases.py
  services/platform/tests/billing/efactura/test_credit_note_xml_totals.py
  services/platform/tests/billing/efactura/test_sandbox_integration.py
  services/platform/tests/billing/efactura/test_validator.py
  services/platform/tests/billing/test_credit_note_pdf.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): report the same numbers whichever invoicing system issued the document
  services/platform/apps/billing/efactura/validator.py
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/pdf_generators.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/views.py
  services/platform/tests/billing/efactura/test_validator.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_provider_storno.py
  services/platform/tests/billing/test_revenue_nets_reversals.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): match refund eligibility to revenue, and retire an over-broad sign rule
  services/platform/apps/billing/efactura/validator.py
  services/platform/apps/billing/views.py
  services/platform/tests/billing/efactura/test_credit_note_xml_totals.py
  services/platform/tests/billing/efactura/test_validator.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): never repair a reversal that may already exist at the provider
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_credit_note_fx.py
  services/platform/tests/billing/test_revenue_nets_reversals.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(billing): correct two claims this branch disproved
  docs/ADRs/ADR-0048-external-invoice-issuer.md
  docs/domain/EXTERNAL_INVOICE_ISSUER.md
Due: none

test(billing): prove four fixes that no test would have caught being reverted
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_credit_note_pdf.py
  services/platform/tests/billing/test_revenue_nets_reversals.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): restore partially_refunded to the revenue population
  services/platform/apps/billing/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): carry forward the submission budget pre-existing rows already spent
  services/platform/apps/billing/issuers/tasks.py
  services/platform/apps/billing/migrations/0057_backfill_provider_submission_budget.py
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_provider_submission_budget_backfill.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): refuse a rollback that would restore a constraint the data breaks
  CHANGELOG.md
  services/platform/apps/billing/migrations/0054_remove_invoice_invoice_discount_non_negative_and_more.py
  services/platform/apps/billing/migrations/0056_repair_credit_note_document_types.py
  services/platform/tests/billing/test_signed_document_rollback_guard.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, performance-check

fix(billing): make a line's direction agree with the document it belongs to
  services/platform/apps/billing/invoice_models.py
  services/platform/tests/billing/test_invoice_line_direction.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing): prove the direction check must run after the amounts are derived
  services/platform/tests/billing/test_invoice_line_direction.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(billing): discard XML the wrong builder produced when repairing a document type
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/migrations/0058_clear_credit_note_xml_built_by_the_wrong_builder.py
  services/platform/tests/billing/test_stale_credit_note_xml.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): render the figures both reporting screens were already computing
  services/platform/apps/billing/views.py
  services/platform/templates/billing/reports.html
  services/platform/templates/billing/vat_report.html
  services/platform/tests/billing/test_billing_report_screens.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing): make the report-screen assertions distinguish card from table row
  services/platform/tests/billing/test_billing_report_screens.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(billing): bound the charset an operator can adopt as a legal fiscal number
  services/platform/apps/billing/forms.py
  services/platform/tests/billing/test_provider_reconciliation_charset.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): close two bypasses in the line-direction guard and stop mixing currencies
  CHANGELOG.md
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/migrations/0054_remove_invoice_invoice_discount_non_negative_and_more.py
  services/platform/apps/billing/views.py
  services/platform/templates/billing/reports.html
  services/platform/templates/billing/vat_report.html
  services/platform/tests/billing/test_billing_report_screens.py
  services/platform/tests/billing/test_invoice_line_direction.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): report an adoption failure on the screen instead of answering a 500
  services/platform/apps/billing/operator_controls.py
  services/platform/tests/billing/test_adoption_failure_is_reported.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
