Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$

fix(infrastructure): improve diagnosability and retry-safety of control-plane hardening
  services/platform/apps/common/performance/connection_pool.py
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/validation_service.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/tests/infrastructure/test_deployment_service_pipeline.py
  services/platform/tests/infrastructure/test_security_hardening.py
  services/platform/tests/provisioning/test_virtualmin_outbound.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): harden Virtualmin control plane (#327) (#334)
  .env.example.dev
  .env.example.prod
  .env.example.staging
  CHANGELOG.md
  docs/deployment/DEPLOYMENT.md
  services/platform/apps/common/outbound_http.py
  services/platform/apps/common/performance/connection_pool.py
  services/platform/apps/common/ssh.py
  services/platform/apps/infrastructure/ansible_service.py
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/maintenance.py
  services/platform/apps/infrastructure/management/commands/pin_virtualmin_certificates.py
  services/platform/apps/infrastructure/registration_service.py
  services/platform/apps/infrastructure/ssh_key_manager.py
  services/platform/apps/infrastructure/tasks.py
  services/platform/apps/infrastructure/validation_service.py
  services/platform/apps/infrastructure/views.py
  services/platform/apps/provisioning/virtualmin_auth_manager.py
  services/platform/apps/provisioning/virtualmin_forms.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/config/settings/base.py
  services/platform/infrastructure/ansible/ansible.cfg
  services/platform/templates/infrastructure/deployment_detail.html
  services/platform/templates/provisioning/virtualmin/server_form.html
  services/platform/tests/common/test_outbound_http.py
  services/platform/tests/infrastructure/test_deployment_service_pipeline.py
  services/platform/tests/infrastructure/test_provider_views.py
  services/platform/tests/infrastructure/test_registration_tls_pin.py
  services/platform/tests/infrastructure/test_security_hardening.py
  services/platform/tests/provisioning/test_auth_manager_regressions.py
  services/platform/tests/provisioning/test_virtualmin_credentials.py
  services/platform/tests/provisioning/test_virtualmin_outbound.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): recover initial-execution jobs and require affirmative health
  services/platform/apps/provisioning/virtualmin_models.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/tests/provisioning/test_virtualmin_tasks.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(provisioning): prove first-attempt stranding recovers and retry converges end-to-end
  services/platform/tests/provisioning/test_virtualmin_tasks.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(provisioning): make the Virtualmin pipeline actually provision (#325) (#331)
  CHANGELOG.md
  services/platform/apps/provisioning/migrations/0003_virtualminprovisioningjob_claimed_at_and_more.py
  services/platform/apps/provisioning/security_utils.py
  services/platform/apps/provisioning/signals.py
  services/platform/apps/provisioning/tasks.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/apps/provisioning/virtualmin_models.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/tests/mocks/test_virtualmin_mock.py
  services/platform/tests/mocks/virtualmin_mock.py
  services/platform/tests/provisioning/test_provisioning_idempotency_rollback.py
  services/platform/tests/provisioning/test_provisioning_virtualmin_service.py
  services/platform/tests/provisioning/test_virtualmin_tasks.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): converge Stripe refunds safely
  CHANGELOG.md
  docs/domain/REFUND_SERVICE.md
  services/platform/apps/billing/gateways/base.py
  services/platform/apps/billing/gateways/stripe_gateway.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/migrations/0037_refund_gateway_id_unique.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/integrations/webhooks/stripe.py
  services/platform/tests/billing/_billing_services_basic_cases.py
  services/platform/tests/billing/test_billing_ownership.py
  services/platform/tests/billing/test_billing_refund_and_efactura_regressions.py
  services/platform/tests/billing/test_refund_gateway_integrity.py
  services/platform/tests/billing/test_refund_service_regressions.py
  services/platform/tests/billing/test_services.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): include legacy refunds in settlement
  services/platform/apps/billing/refund_service.py
  services/platform/tests/billing/test_refund_gateway_integrity.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): close retry-contract review findings
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/tests/infrastructure/test_deployment_service_pipeline.py
  services/platform/tests/provisioning/test_virtualmin_retriability.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): close the two HIGH review findings on the retry contract
  services/platform/apps/provisioning/virtualmin_auth_manager.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/tests/provisioning/test_auth_manager_regressions.py
  services/platform/tests/provisioning/test_virtualmin_tasks.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): enforce safe retry contracts (#253) (#336)
  CHANGELOG.md
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/provisioning/secure_gateway.py
  services/platform/apps/provisioning/virtualmin_auth_manager.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/apps/provisioning/virtualmin_models.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/tests/infrastructure/test_deployment_retriability.py
  services/platform/tests/infrastructure/test_deployment_service_pipeline.py
  services/platform/tests/provisioning/test_auth_manager_regressions.py
  services/platform/tests/provisioning/test_backup_job_failure_state.py
  services/platform/tests/provisioning/test_provisioning_idempotency_rollback.py
  services/platform/tests/provisioning/test_secure_gateway_retry_contract.py
  services/platform/tests/provisioning/test_virtualmin_retriability.py
  services/platform/tests/provisioning/test_virtualmin_retry_contract.py
  services/platform/tests/provisioning/test_virtualmin_task_retry_contract.py
  services/platform/tests/provisioning/test_virtualmin_tasks.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): recover malformed scheduled remediation rows
  services/platform/apps/infrastructure/MIGRATION_NOTES.md
  services/platform/apps/infrastructure/tasks.py
  services/platform/tests/infrastructure/test_drift_remediation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

chore(infrastructure): add restart_approved and cleanup_failed snapshot status
  services/platform/apps/infrastructure/migrations/0005_driftremediationrequest_restart_approved_and_more.py
  services/platform/apps/infrastructure/models.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): guard drift audit calls against backend failures
  services/platform/apps/infrastructure/drift_remediation.py
  services/platform/apps/infrastructure/drift_scanner.py
  services/platform/tests/infrastructure/test_drift_remediation.py
  services/platform/tests/infrastructure/test_drift_scanner.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): add staff drift-dismiss path, drop dead auto-resolve
  services/platform/apps/infrastructure/audit_service.py
  services/platform/apps/infrastructure/drift_remediation.py
  services/platform/apps/infrastructure/drift_scanner.py
  services/platform/apps/infrastructure/urls.py
  services/platform/apps/infrastructure/views.py
  services/platform/tests/infrastructure/test_drift_remediation.py
  services/platform/tests/infrastructure/test_drift_scanner.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): correct provision_order_item task path so items provision
  services/platform/apps/orders/tasks.py
  services/platform/tests/orders/test_async_task_paths.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): make drift snapshot lifecycle honest
  services/platform/apps/infrastructure/drift_remediation.py
  services/platform/apps/infrastructure/tasks.py
  services/platform/tests/infrastructure/test_drift_remediation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): enforce ADR-0029 separate restart approval
  services/platform/apps/infrastructure/drift_remediation.py
  services/platform/apps/infrastructure/views.py
  services/platform/tests/infrastructure/test_drift_remediation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): complete deploy_node FSM path and drop broken key fallback
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/tests/infrastructure/test_deployment_service_pipeline.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): converge failed-deployment cleanup and stuck recovery
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/tasks.py
  services/platform/tests/infrastructure/test_tasks_infrastructure.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): make Hetzner deletes idempotent on already-gone resources
  services/platform/apps/infrastructure/hcloud_service.py
  services/platform/tests/infrastructure/test_cloud_gateway.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): register auto-deployed nodes disabled until credentials set
  services/platform/apps/infrastructure/registration_service.py
  services/platform/tests/infrastructure/test_registration_tls_pin.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): address PR #341 review — UI reachability and exception safety
  services/platform/apps/infrastructure/drift_remediation.py
  services/platform/apps/infrastructure/tasks.py
  services/platform/templates/infrastructure/drift/deployment_detail.html
  services/platform/templates/infrastructure/drift/remediation_list.html
  services/platform/tests/infrastructure/test_drift_remediation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): harden refund convergence rollback, resilience, and re-refund
  services/platform/apps/billing/gateways/stripe_gateway.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/integrations/webhooks/stripe.py
  services/platform/tests/billing/test_billing_refund_and_efactura_regressions.py
  services/platform/tests/billing/test_refund_gateway_integrity.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing): add unmocked disputed-payment refund rollback regression
  services/platform/tests/billing/test_refund_gateway_integrity.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(billing): converge Stripe refunds safely (#339)
  CHANGELOG.md
  docs/domain/REFUND_SERVICE.md
  services/platform/apps/billing/gateways/base.py
  services/platform/apps/billing/gateways/stripe_gateway.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/migrations/0037_refund_gateway_id_unique.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/integrations/webhooks/stripe.py
  services/platform/tests/billing/_billing_services_basic_cases.py
  services/platform/tests/billing/test_billing_ownership.py
  services/platform/tests/billing/test_billing_refund_and_efactura_regressions.py
  services/platform/tests/billing/test_refund_gateway_integrity.py
  services/platform/tests/billing/test_refund_service_regressions.py
  services/platform/tests/billing/test_services.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(security): bind encrypted payment data to rows
  CHANGELOG.md
  docs/ADRs/ADR-0040-row-bound-encrypted-json-fields.md
  docs/ADRs/README.md
  services/platform/apps/api/billing/views.py
  services/platform/apps/billing/payment_convergence.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/recurring_authorization_service.py
  services/platform/apps/billing/recurring_billing.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/common/encryption.py
  services/platform/apps/common/fields.py
  services/platform/apps/common/management/commands/reencrypt_with_aad.py
  services/platform/apps/customers/contact_models.py
  services/platform/apps/customers/contact_service.py
  services/platform/apps/customers/migrations/0019_bind_payment_method_encryption_context.py
  services/platform/apps/customers/signals.py
  services/platform/tests/api/test_recurring_payments_api.py
  services/platform/tests/billing/test_subscription_invoice_payments.py
  services/platform/tests/common/test_encrypted_json_field.py
  services/platform/tests/common/test_encryption.py
  services/platform/tests/common/test_reencrypt_with_aad.py
  services/platform/tests/customers/test_contact_service.py
  services/platform/tests/customers/test_payment_method_encryption_migration.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(security): note migration table-lock downtime and marker threat model
  docs/ADRs/ADR-0040-row-bound-encrypted-json-fields.md
  services/platform/apps/common/fields.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(infrastructure): add verify-and-activate bridge for deployed nodes (#347 GAP 2)
  services/platform/apps/infrastructure/registration_service.py
  services/platform/tests/infrastructure/test_node_activation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(security): bind encrypted payment data to immutable rows (#346)
  CHANGELOG.md
  docs/ADRs/ADR-0040-row-bound-encrypted-json-fields.md
  docs/ADRs/README.md
  services/platform/apps/api/billing/views.py
  services/platform/apps/billing/payment_convergence.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/recurring_authorization_service.py
  services/platform/apps/billing/recurring_billing.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/common/encryption.py
  services/platform/apps/common/fields.py
  services/platform/apps/common/management/commands/reencrypt_with_aad.py
  services/platform/apps/customers/contact_models.py
  services/platform/apps/customers/contact_service.py
  services/platform/apps/customers/migrations/0019_bind_payment_method_encryption_context.py
  services/platform/apps/customers/signals.py
  services/platform/tests/api/test_recurring_payments_api.py
  services/platform/tests/billing/test_subscription_invoice_payments.py
  services/platform/tests/common/test_encrypted_json_field.py
  services/platform/tests/common/test_encryption.py
  services/platform/tests/common/test_reencrypt_with_aad.py
  services/platform/tests/customers/test_contact_service.py
  services/platform/tests/customers/test_payment_method_encryption_migration.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): pass ansible vars via 0600 file, not the command line (#347 GAP 1)
  services/platform/apps/infrastructure/ansible_service.py
  services/platform/tests/infrastructure/test_security_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(infrastructure): auto-provision + activate Virtualmin API credential (#347 GAP 1)
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/infrastructure/ansible/playbooks/virtualmin.yml
  services/platform/tests/infrastructure/test_deployment_service_pipeline.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(ui): improve status visibility and filter accessibility
  CHANGELOG.md
  services/platform/apps/api/services/views.py
  services/platform/apps/orders/views.py
  services/platform/templates/orders/order_list.html
  services/platform/templates/tickets/list.html
  services/platform/tests/orders/test_order_list_dashboard.py
  services/platform/tests/provisioning/test_services_api_summary.py
  services/platform/tests/tickets/test_ticket_list_rendering.py
  services/portal/apps/services/services.py
  services/portal/apps/services/views.py
  services/portal/templates/billing/invoices_list.html
  services/portal/templates/services/service_list.html
  services/portal/templates/tickets/ticket_list.html
  services/portal/tests/services/test_service_status_tabs.py
  services/portal/tests/services/test_services_api.py
  shared/ui/templates/components/list_page_filters.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(infrastructure): add #347 node-deploy acceptance drill runbook
  services/platform/infrastructure/ansible/playbooks/NODE_DEPLOY_DRILL.md
Due: none

fix(ui): preserve tab variant styles
  services/platform/tests/tickets/test_ticket_list_rendering.py
  shared/ui/templates/components/list_page_filters.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): harden drift/deployment sweep exception-safety and honesty
  services/platform/apps/infrastructure/drift_remediation.py
  services/platform/apps/infrastructure/hcloud_service.py
  services/platform/apps/infrastructure/tasks.py
  services/platform/tests/infrastructure/test_drift_remediation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): drift-subsystem honesty and deployment-lifecycle correctness (#341)
  services/platform/apps/infrastructure/MIGRATION_NOTES.md
  services/platform/apps/infrastructure/audit_service.py
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/drift_remediation.py
  services/platform/apps/infrastructure/drift_scanner.py
  services/platform/apps/infrastructure/hcloud_service.py
  services/platform/apps/infrastructure/migrations/0005_driftremediationrequest_restart_approved_and_more.py
  services/platform/apps/infrastructure/models.py
  services/platform/apps/infrastructure/registration_service.py
  services/platform/apps/infrastructure/tasks.py
  services/platform/apps/infrastructure/urls.py
  services/platform/apps/infrastructure/views.py
  services/platform/apps/orders/tasks.py
  services/platform/templates/infrastructure/drift/deployment_detail.html
  services/platform/templates/infrastructure/drift/remediation_list.html
  services/platform/tests/infrastructure/test_cloud_gateway.py
  services/platform/tests/infrastructure/test_deployment_service_pipeline.py
  services/platform/tests/infrastructure/test_drift_remediation.py
  services/platform/tests/infrastructure/test_drift_scanner.py
  services/platform/tests/infrastructure/test_registration_tls_pin.py
  services/platform/tests/infrastructure/test_tasks_infrastructure.py
  services/platform/tests/orders/test_async_task_paths.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): make verify_and_activate actually authenticate the node (#347)
  services/platform/apps/infrastructure/registration_service.py
  services/platform/tests/infrastructure/test_node_activation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(billing): plan staged e-Factura FX hardening
  services/platform/docs/plans/2026-07-20-efactura-go-live-hardening.md
Due: none

fix(billing): harden multi-currency e-Factura issuance
  docs/ADRs/ADR-0041-foreign-currency-efactura-accounting.md
  docs/ADRs/README.md
  services/platform/apps/billing/currency_models.py
  services/platform/apps/billing/efactura/models.py
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/efactura/validator.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/apps/billing/exchange_rate_service.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/management/commands/record_exchange_rate.py
  services/platform/apps/billing/migrations/0038_fxrate_provenance_and_constraints.py
  services/platform/apps/billing/migrations/0039_invoice_tax_point_and_fx_snapshot.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/docs/plans/2026-07-20-efactura-go-live-hardening.md
  services/platform/tests/billing/efactura/test_models.py
  services/platform/tests/billing/efactura/test_service.py
  services/platform/tests/billing/efactura/test_validator.py
  services/platform/tests/billing/efactura/test_xml_builder.py
  services/platform/tests/billing/test_exchange_rate_service.py
  services/platform/tests/billing/test_fxrate_constraints.py
  services/platform/tests/billing/test_fxrate_migration.py
  services/platform/tests/billing/test_invoice_exchange_rate_snapshot.py
  services/platform/tests/billing/test_invoices_models.py
  services/platform/tests/billing/test_metering_services.py
  services/platform/tests/billing/test_record_exchange_rate_command.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): allow audited legacy FX promotion
  services/platform/apps/billing/fx_rate_ingestion.py
  services/platform/apps/billing/management/commands/record_exchange_rate.py
  services/platform/tests/billing/test_record_exchange_rate_command.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check
