Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$

fix(orders,billing): address Codex review edge cases and harden tests
  services/platform/apps/api/orders/views.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/integrations/webhooks/stripe.py
  services/platform/apps/orders/migrations/0005_rename_order_status_values.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/tasks.py
  services/platform/templates/orders/order_detail.html
  services/platform/templates/orders/partials/order_list.html
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_proforma_order_lifecycle.py
  services/platform/tests/billing/test_refund_service_regressions.py
  services/platform/tests/integrations/test_stripe_proforma_webhook.py
  services/platform/tests/orders/test_review_gate.py
  services/portal/apps/orders/views.py
  services/portal/templates/orders/order_confirmation.html
  services/portal/tests/orders/_order_flow_cases.py
  services/portal/tests/orders/_order_rate_limit_and_security_cases.py
  services/portal/tests/orders/test_dos_hardening.py
  tests/integration/api/test_order_payment_methods.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders,billing): harden edge cases from adversarial review
  CLAUDE.md
  services/platform/apps/api/orders/views.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/tasks.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/common/test_fsm_transitions.py
  services/platform/tests/orders/test_order_cancellation_cleanup.py
  services/platform/tests/orders/test_orders_services.py
  services/platform/tests/orders/test_review_gate.py
  services/portal/apps/orders/views.py
  services/portal/apps/ui/templatetags/ui_components.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): use model-specific DoesNotExist and fix mock patch targets (#120)
  services/platform/apps/billing/refund_service.py
  services/platform/tests/billing/_billing_services_basic_cases.py
  services/platform/tests/billing/_billing_services_focused_cases.py
  services/platform/tests/billing/test_refund_service_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): replace string matching with ObjectDoesNotExist in refund lookups (#120)
  services/platform/apps/billing/refund_service.py
  services/platform/tests/billing/_billing_services_basic_cases.py
  services/platform/tests/billing/_billing_services_focused_cases.py
  services/platform/tests/billing/test_refund_service_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders,billing): fix 24 review findings from adversarial pass 4 + Codex
  docs/domain/SIGNALS_ARCHITECTURE.md
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/views.py
  services/platform/apps/integrations/webhooks/stripe.py
  services/platform/apps/orders/migrations/0005_rename_order_status_values.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/tasks.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/billing/test_invoices_views.py
  services/platform/tests/billing/test_proforma_order_lifecycle.py
  services/platform/tests/integrations/test_stripe_proforma_webhook.py
  services/platform/tests/orders/test_order_cancellation_cleanup.py
  services/platform/tests/orders/test_orders_services.py
  services/platform/tests/orders/test_review_gate.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing,orders): fix discount overwrite and template substring checks
  services/platform/apps/billing/proforma_service.py
  services/platform/templates/orders/partials/order_items_list.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders,templates): fix template substring checks and add discount test
  services/platform/templates/orders/order_detail.html
  services/platform/templates/orders/order_list.html
  services/platform/templates/orders/partials/order_items_list.html
  services/platform/tests/billing/test_proforma_order_lifecycle.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, security-credentials-check, i18n-coverage-check, performance-check

chore: untrack CLAUDE.md (already in .gitignore)
  CLAUDE.md
Due: none

fix(orders): add type narrowing assert for proforma in cancellation handler
  services/platform/apps/orders/signals.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): close blank payment_method bypass and implement migration rollback
  services/platform/apps/api/orders/views.py
  services/platform/apps/orders/migrations/0005_rename_order_status_values.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing,orders): route card payments through proforma lifecycle
  docs/ADRs/ADR-0034-django-fsm2-state-machines.md
  docs/ADRs/ADR-0038-proforma-payment-convergence.md
  docs/domain/ORDER_LIFECYCLE.md
  docs/domain/REFUND_SERVICE.md
  services/platform/apps/api/orders/views.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/orders/tasks.py
  services/platform/tests/billing/test_card_proforma_lifecycle.py
  services/platform/tests/orders/_order_hardening_cases.py
  services/platform/tests/orders/test_review_gate.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing,orders): close card bypass, remove dead code, harden allowlists
  services/platform/apps/api/orders/views.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): fix billing field name mismatch in company profile edit template
  services/portal/templates/users/company_profile_edit.html
  services/portal/tests/customers/test_customers_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(customers): polish detail page — breadcrumbs, badges, clickable rows, staff gate
  services/platform/apps/customers/customer_views.py
  services/platform/templates/customers/detail.html
  services/platform/tests/customers/test_customers_detail.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(customers): fix critical bugs and redesign list page with HTMX search
  services/platform/apps/billing/views.py
  services/platform/apps/customers/customer_views.py
  services/platform/apps/customers/urls.py
  services/platform/apps/customers/views.py
  services/platform/apps/provisioning/service_views.py
  services/platform/apps/tickets/views.py
  services/platform/templates/customers/detail.html
  services/platform/templates/customers/list.html
  services/platform/templates/customers/partials/customer_table.html
  services/platform/templates/customers/partials/header_action.html
  services/platform/templates/customers/partials/type_filter.html
  services/platform/tests/customers/test_customers_list.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): use member.user_id instead of member.id in team template
  services/portal/templates/customers/team.html
Due: django-template-check, i18n-coverage-check

refactor(customers): remove invoice delivery method, add breadcrumbs to all pages, CUI copy
  services/platform/apps/api/customers/serializers.py
  services/platform/apps/api/customers/views.py
  services/platform/apps/audit/services.py
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/customers/customer_views.py
  services/platform/apps/customers/forms.py
  services/platform/apps/customers/migrations/0015_remove_invoice_delivery_method.py
  services/platform/apps/customers/profile_models.py
  services/platform/apps/customers/profile_service.py
  services/platform/apps/customers/signals.py
  services/platform/apps/customers/user_management_views.py
  services/platform/apps/users/services.py
  services/platform/scripts/setup_test_data.py
  services/platform/templates/customers/add_user.html
  services/platform/templates/customers/assign_user.html
  services/platform/templates/customers/create_user.html
  services/platform/templates/customers/detail.html
  services/platform/templates/customers/edit.html
  services/platform/templates/customers/partials/customer_table.html
  services/platform/tests/audit/test_audit_services_regressions.py
  services/platform/tests/customers/test_customers_edit.py
  services/platform/tests/customers/test_customers_models.py
  services/platform/tests/customers/test_customers_profiles.py
  services/platform/tests/customers/test_customers_user_pages.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(api): add customer user management and profile update API endpoints
  services/platform/apps/api/customers/urls.py
  services/platform/apps/api/customers/views.py
  services/platform/tests/api/test_customer_api.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

build(deps): add python-stdnum for EU VAT and CUI validation
  pyproject.toml
  uv.lock
Due: none

feat(portal): add customer management app with team, tax, address pages
  services/portal/apps/api_client/services.py
  services/portal/apps/customers/__init__.py
  services/portal/apps/customers/apps.py
  services/portal/apps/customers/urls.py
  services/portal/apps/customers/views.py
  services/portal/config/settings/base.py
  services/portal/config/urls.py
  services/portal/templates/base.html
  services/portal/templates/components/mobile_header.html
  services/portal/templates/customers/address_form.html
  services/portal/templates/customers/addresses.html
  services/portal/templates/customers/tax_profile.html
  services/portal/templates/customers/team.html
  services/portal/templates/customers/team_invite.html
  services/portal/templates/users/company_profile.html
  services/portal/tests/customers/__init__.py
  services/portal/tests/customers/test_customers_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

feat(portal): add notification toggles, fix GDPR section, add CUI to company card
  services/platform/apps/api/users/views.py
  services/portal/apps/users/views.py
  services/portal/templates/users/profile.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): consistent address button sizing, remove Current badge, fix i18n
  services/portal/apps/common/context_processors.py
  services/portal/templates/base.html
  services/portal/templates/customers/addresses.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(customers): simplify address types to primary+billing, add delete guard
  services/platform/apps/api/customers/views.py
  services/platform/apps/customers/contact_models.py
  services/platform/apps/customers/migrations/0016_simplify_address_types.py
  services/portal/apps/customers/views.py
  services/portal/templates/customers/address_form.html
  services/portal/templates/customers/addresses.html
  services/portal/tests/customers/test_customers_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(api,portal): remove dead endpoints and fix role mismatch
  services/platform/apps/api/customers/views.py
  services/portal/apps/common/decorators.py
  services/portal/apps/customers/views.py
  services/portal/tests/customers/test_customers_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): fix company not showing on profile, remove email notification badge
  services/portal/apps/users/views.py
  services/portal/templates/users/profile.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

feat(portal): add set-primary/set-billing address endpoints and UI buttons
  services/platform/apps/api/customers/urls.py
  services/platform/apps/api/customers/views.py
  services/portal/apps/api_client/services.py
  services/portal/apps/customers/urls.py
  services/portal/apps/customers/views.py
  services/portal/templates/customers/addresses.html
  services/portal/tests/customers/test_customers_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(portal): redesign profile page — My Account dropdown, component buttons, simplified company selector
  services/portal/apps/common/context_processors.py
  services/portal/templates/base.html
  services/portal/templates/components/mobile_header.html
  services/portal/templates/users/profile.html
  services/portal/tests/customers/test_customers_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): show Member Since date on profile page
  services/platform/apps/api/users/views.py
  services/portal/templates/users/profile.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(api): add registration_number and reverse_charge_eligible to tax profile serializer
  services/platform/apps/api/customers/serializers.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(portal): replace VAT/billing fields in company edit with links to dedicated pages
  services/portal/apps/users/views.py
  services/portal/templates/users/company_profile_edit.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(security): harden customer API with 15 adversarial review fixes
  services/platform/apps/api/secure_auth.py
  services/platform/apps/customers/customer_views.py
  services/platform/templates/customers/detail.html
  services/platform/templates/customers/partials/customer_table.html
  services/platform/tests/api/test_customer_api.py
  services/portal/apps/customers/views.py
  services/portal/templates/customers/address_form.html
  services/portal/templates/customers/addresses.html
  services/portal/templates/customers/team.html
  services/portal/tests/customers/test_customers_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal,api): fix tax profile save 500 + remove VAT/billing from company edit form
  services/platform/apps/api/customers/views.py
  services/portal/apps/customers/views.py
  services/portal/apps/users/forms.py
  services/portal/templates/customers/tax_profile.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(api): fix MyPy type errors and Ruff violations in customer API views
  services/platform/apps/api/customers/views.py
  services/portal/tests/customers/test_customers_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(portal): use design system form components on profile page
  services/platform/config/settings/base.py
  services/portal/templates/users/profile.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, i18n-coverage-check, performance-check

fix(portal): fix tax profile 500 — call customers/details/ instead of customers/profile/
  services/portal/apps/api_client/services.py
  services/portal/apps/customers/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(customers): replace address_type enum with is_primary/is_billing boolean flags
  services/platform/apps/api/customers/serializers.py
  services/platform/apps/audit/services.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/customers/contact_models.py
  services/platform/apps/customers/contact_service.py
  services/platform/apps/customers/contact_views.py
  services/platform/apps/customers/customer_models.py
  services/platform/apps/customers/customer_views.py
  services/platform/apps/customers/forms.py
  services/platform/apps/customers/migrations/0016_simplify_address_types.py
  services/platform/apps/customers/migrations/0017_address_boolean_flags.py
  services/platform/apps/customers/signals.py
  services/platform/apps/orders/services.py
  services/platform/apps/users/services.py
  services/platform/scripts/setup_test_data.py
  services/platform/templates/customers/detail.html
  services/platform/tests/api/test_customer_api.py
  services/platform/tests/audit/test_audit_services_regressions.py
  services/platform/tests/conftest.py
  services/platform/tests/customers/test_billing_address_api.py
  services/platform/tests/customers/test_contact_service.py
  services/platform/tests/customers/test_customers_contact.py
  services/platform/tests/customers/test_customers_list.py
  services/platform/tests/customers/test_customers_models.py
  services/platform/tests/customers/test_services_comprehensive.py
  services/platform/tests/factories/core_factories.py
  services/platform/tests/provisioning/test_lifecycle_timestamps.py
  services/platform/tests/provisioning/test_provisioning_models.py
  services/platform/tests/provisioning/test_provisioning_services.py
  services/platform/tests/provisioning/test_provisioning_signals.py
  services/platform/tests/provisioning/test_provisioning_views.py
  services/platform/tests/provisioning/test_provisioning_virtualmin_protection.py
  services/portal/apps/users/views.py
  services/portal/templates/customers/address_form.html
  services/portal/templates/customers/addresses.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(e2e): add Playwright E2E tests for Portal customer management
  tests/e2e/portal/test_customer_addresses.py
  tests/e2e/portal/test_customer_company.py
Due: ruff-new-violations, type-check-modified

fix(portal): fix billing address and business contact display on company view
  services/portal/apps/users/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): always show Create Company button on profile page
  services/portal/templates/users/profile.html
Due: django-template-check, i18n-coverage-check

fix(api,portal): QA fixes — API decorators, email validation, address i18n, tests
  services/platform/apps/api/customers/views.py
  services/platform/apps/customers/migrations/0015_remove_invoice_delivery_method.py
  services/portal/apps/customers/views.py
  services/portal/templates/customers/addresses.html
  services/portal/tests/customers/test_customers_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check
