Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$

fix(tooling): resolve git hooks dir for worktrees in make install (#386)
  CHANGELOG.md
  scripts/patch_precommit_hook.py
  tests/integration/test_patch_precommit_hook.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

perf(notifications): guard async email attachment size at the broker (#358)
  CHANGELOG.md
  services/platform/apps/notifications/services.py
  services/platform/apps/settings/catalog.py
  services/platform/tests/notifications/test_async_email_attachments.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

security(audit): use is_staff_user for search-suggestion gate (#271)
  CHANGELOG.md
  services/platform/apps/audit/services.py
  services/platform/tests/audit/test_audit_services_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(security): resolve the last two #271 is_staff gates
  CHANGELOG.md
  services/platform/apps/common/credential_vault.py
  services/platform/apps/common/middleware.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/common/test_credential_access_gate.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(security): resolve the last two #271 is_staff gates (Closes #271)
  CHANGELOG.md
  services/platform/apps/common/credential_vault.py
  services/platform/apps/common/middleware.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/common/test_credential_access_gate.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(security): guardrail against bare is_staff account creation (#271)
  services/platform/tests/users/test_staff_account_creation_guardrail.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

security(audit): fail closed on empty and malformed anchor records (#313)
  services/platform/apps/audit/management/commands/anchor_audit_chain.py
  services/platform/apps/audit/services.py
  services/platform/tests/audit/test_audit_chain_ledger.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(domains): recheck renewal ownership at processing time (#430)
  CHANGELOG.md
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_domain_service_logic.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

security(api): portal-key the billing-address throttle and sweep same-pattern sites (#277)
  CHANGELOG.md
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/orders/views.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/tests/api/test_throttle_architecture_guardrails.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(tickets): unify comment visibility on is_public across web + API (#278)
  CHANGELOG.md
  services/platform/apps/api/tickets/serializers.py
  services/platform/apps/api/tickets/views.py
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/tickets/models.py
  services/platform/apps/tickets/views.py
  services/platform/templates/tickets/partials/comments_list.html
  services/platform/tests/tickets/test_tickets_comments.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(migrations): restore the current leaf, not a hardcoded one (#445)
  services/platform/tests/billing/test_billing_operator_controls_migration.py
  services/platform/tests/billing/test_efactura_submission_integrity_migration.py
  services/platform/tests/billing/test_fxrate_migration.py
  services/platform/tests/customers/test_payment_method_encryption_migration.py
  services/platform/tests/customers/test_vat_rate_override_migration.py
  services/platform/tests/helpers/migrations.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

test(encryption): cover reencrypt_with_aad against PostgreSQL jsonb (#270)
  services/platform/apps/common/management/commands/reencrypt_with_aad.py
  tests/integration/test_reencrypt_with_aad_postgres.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, i18n-coverage-check, performance-check

feat(portal): add CSP policy-profile mechanism + e2e qualification gate
  Makefile
  services/portal/apps/common/e2e_views.py
  services/portal/apps/common/middleware.py
  services/portal/apps/users/middleware.py
  services/portal/config/e2e_urls.py
  services/portal/config/settings/base.py
  services/portal/config/settings/e2e.py
  services/portal/templates/e2e/csp_violation_positive_control.html
  services/portal/tests/ui/test_csp_e2e_control.py
  services/portal/tests/ui/test_csp_policy_profiles.py
  tests/e2e/helpers/csp.py
  tests/e2e/portal/csp_violation_oracle_gate.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

feat(audit): review queue for flagged events (#400)
  CHANGELOG.md
  scripts/audit_model_allowlist.txt
  services/platform/apps/audit/migrations/0009_auditeventreview.py
  services/platform/apps/audit/models.py
  services/platform/apps/audit/urls.py
  services/platform/apps/audit/views.py
  services/platform/templates/audit/management_dashboard.html
  services/platform/templates/audit/review_queue.html
  services/platform/tests/audit/test_audit_review_queue.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(promotions): make redemption reversal a compare-and-swap (#421)
  CHANGELOG.md
  services/platform/apps/promotions/models.py
  services/platform/apps/promotions/services.py
  services/platform/tests/promotions/test_services_advanced.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

chore(orders): stop sending the dead payment_status field (#104 H11)
  services/platform/tests/orders/test_order_flow_security.py
  services/portal/apps/orders/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(domains): correct three Gandi request payload shapes (#265)
  services/platform/apps/domains/gateways/gandi.py
  services/platform/tests/domains/test_gateway_phase2.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(domains): canonicalize Domain.name on save (#442)
  CHANGELOG.md
  services/platform/apps/domains/migrations/0006_canonicalize_domain_name.py
  services/platform/apps/domains/models.py
  services/platform/tests/domains/test_domain_name_canonicalization.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): give stranded Virtualmin nodes a pin remediation path (#337)
  CHANGELOG.md
  docs/deployment/DEPLOYMENT.md
  services/platform/apps/infrastructure/management/commands/pin_virtualmin_certificates.py
  services/platform/tests/infrastructure/test_registration_tls_pin.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): make account-scoped backup listing return backups (#431)
  CHANGELOG.md
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/tests/provisioning/test_backup_list_filtering.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(encryption): add --rekey so key rotation can actually complete (#270)
  CHANGELOG.md
  services/platform/apps/common/encryption.py
  services/platform/apps/common/management/commands/reencrypt_with_aad.py
  services/platform/tests/common/test_reencrypt_with_aad.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(infrastructure): report whether the panel certificate is CA-trusted (#436)
  CHANGELOG.md
  services/platform/apps/infrastructure/validation_service.py
  services/platform/tests/infrastructure/test_ssl_trust_reporting.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

perf(users): index the two APIToken expiry access patterns (#246)
  CHANGELOG.md
  services/platform/apps/users/migrations/0005_apitoken_apitoken_expires_at_idx_and_more.py
  services/platform/apps/users/models.py
  services/platform/tests/users/test_apitoken_expiry_indexes.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): add missing favicon.svg + harden signup e2e console checks (UNIT 0.3 Part A)
  services/portal/static/img/favicon.svg
  tests/e2e/portal/test_signup_order_flow.py
Due: ruff-new-violations, type-check-modified

test(portal): Alpine interaction lock-in gate under strict CSP (UNIT 0.3 Part B)
  Makefile
  tests/e2e/portal/csp_alpine_interactions_gate.py
Due: ruff-new-violations, type-check-modified

test(portal): pin inline-handler / hx-on inventory snapshot guardrail (UNIT 0.5)
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, performance-check

feat(portal): delegated data-action registry + migrate row-nav handlers (UNIT 2a)
  services/portal/static/js/csp-actions.js
  services/portal/templates/base.html
  services/portal/templates/billing/partials/invoices_table.html
  services/portal/templates/services/partials/services_table.html
  services/portal/templates/tickets/partials/tickets_table.html
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

feat(portal): migrate error-notification dismiss handlers to data-action (UNIT 2a)
  services/portal/static/js/csp-actions.js
  services/portal/templates/orders/partials/cart_error_notification.html
  services/portal/templates/orders/partials/error_message.html
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

feat(portal): migrate copy-to-clipboard handlers to data-action (UNIT 2a)
  services/portal/static/js/csp-actions.js
  services/portal/templates/users/mfa_backup_codes.html
  services/portal/templates/users/mfa_setup_totp.html
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

feat(portal): migrate cookie-prefs + invoice-modal handlers to data-action (UNIT 2a)
  services/portal/static/js/csp-actions.js
  services/portal/templates/billing/invoice_detail.html
  services/portal/templates/legal/cookie_policy.html
  services/portal/templates/users/privacy_dashboard.html
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): return correct HTMX partials for cart update and add-error
  services/portal/apps/orders/views.py
  services/portal/templates/orders/partials/cart_error_notification.html
  services/portal/templates/orders/partials/cart_item_updated.html
  services/portal/tests/orders/test_cart_flow_fixes.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): remove-from-cart serves its two HTMX targets correctly
  services/portal/apps/orders/views.py
  services/portal/templates/orders/cart_review.html
  services/portal/tests/orders/test_cart_flow_fixes.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

chore(orders): remove dead cart event wiring and unused context
  services/portal/apps/orders/views.py
  services/portal/templates/orders/partials/cart_updated.html
  services/portal/templates/orders/product_catalog.html
  services/portal/tests/orders/test_cart_flow_fixes.py
  services/portal/tests/orders/test_cart_ux_enhancements.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): re-render cart-items section on removal; drop redundant totals calc
  services/portal/apps/orders/views.py
  services/portal/templates/orders/cart_review.html
  services/portal/templates/orders/partials/cart_items.html
  services/portal/tests/orders/_order_regression_cases.py
  services/portal/tests/orders/test_cart_flow_fixes.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): localize error_message.html labels (English msgids)
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/templates/orders/partials/error_message.html
  services/portal/tests/orders/test_cart_flow_fixes.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

docs(changelog): note cart-review HTMX correctness fixes
  CHANGELOG.md
Due: none

test(orders): browser e2e lock-in for cart-review HTMX flows
  tests/e2e/portal/test_cart_flow_regression.py
Due: ruff-new-violations, type-check-modified

feat(portal): migrate confirm-on-submit handlers to delegated data-confirm (UNIT 2a)
  services/portal/static/js/csp-actions.js
  services/portal/templates/customers/addresses.html
  services/portal/templates/customers/team.html
  services/portal/templates/users/mfa_management.html
  services/portal/tests/customers/test_customers_views.py
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

feat(portal): migrate usage-period buttons to data-action load-usage (UNIT 2a)
  services/portal/static/js/csp-actions.js
  services/portal/templates/services/service_usage.html
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check
