Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$

fix(deploy): harden 8 deploy infrastructure bugs (#16 #17 #18 #36 #37 #45 #46 #47)
  .dockerignore
  deploy/ansible/roles/docker/tasks/main.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/Caddyfile.native.j2
  deploy/ansible/roles/praho/templates/Caddyfile.j2
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/caddy/Caddyfile
  deploy/caddy/Caddyfile.platform
  deploy/caddy/Caddyfile.portal
  deploy/platform/Dockerfile
  deploy/portal/Dockerfile
  deploy/scripts/restore.sh
  deploy/scripts/rollback.sh
  scripts/audit_model_allowlist.txt
  services/platform/tests/settings/test_logging_configuration.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, performance-check

chore: bump version to v0.25.0 and update CHANGELOG
  CHANGELOG.md
  README.md
  docs/ADRs/README.md
  docs/architecture/CODEBASE_ARCHAEOLOGY.md
  docs/architecture/DEPENDENCY_ANALYSIS.md
  services/platform/pyproject.toml
  services/platform/templates/base.html
  services/portal/pyproject.toml
  services/portal/templates/base.html
  uv.lock
Due: django-template-check, i18n-coverage-check

fix(test): resolve 2 CI failures in platform test suite
  services/platform/tests/settings/test_logging_configuration.py
  services/platform/tests/tickets/test_tickets_security.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(env): align CI and deploy venv paths with darwin/linux split
  .github/workflows/integration.yml
  .github/workflows/platform.yml
  .github/workflows/portal.yml
  .github/workflows/type-coverage.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/praho-platform.service.j2
  deploy/ansible/roles/praho-native/templates/praho-portal.service.j2
  deploy/ansible/roles/praho-native/templates/praho-qcluster.service.j2
  scripts/ruff_new_violations.py
  services/platform/scripts/deploy.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

feat(security): add @public_api_endpoint and @require_portal_authentication decorators
  services/platform/apps/api/secure_auth.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(security): mark all API endpoints with auth intent decorators
  services/platform/apps/api/billing/views.py
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/orders/views.py
  services/platform/apps/api/services/views.py
  services/platform/apps/api/tickets/views.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/middleware.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(security): add structural test enforcing API auth coverage
  services/platform/tests/api/test_api_auth_coverage.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(deploy): harden 7 deploy infrastructure bugs (#19 #23 #27 #38 #43)
  .env.example.dev
  .env.example.prod
  .env.example.staging
  .github/workflows/integration.yml
  .github/workflows/platform.yml
  .github/workflows/portal.yml
  .github/workflows/type-coverage.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.dev.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.services.yml
  deploy/docker-compose.single-server.yml
  deploy/platform/Dockerfile
  deploy/portal/Dockerfile
  deploy/scripts/deploy.sh
  services/platform/config/settings/base.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/tests/settings/test_logging_configuration.py
  services/platform/tests/settings/test_secret_key_resolution.py
  services/portal/apps/common/security_validation.py
  services/portal/apps/orders/services.py
  services/portal/config/settings/base.py
  services/portal/config/settings/dev.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
  services/portal/tests/settings/test_logging_configuration.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

docs(changelog): add unreleased section for deploy hardening
  CHANGELOG.md
Due: none

fix(deploy): address chaos-monkey, codex-cli, and copilot review findings
  deploy/ansible/playbooks/native-single-server.yml
  deploy/ansible/roles/praho-native/templates/health-check.sh.j2
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/docker-compose.platform-only.yml
  deploy/scripts/health-check.sh
  deploy/scripts/restore.sh
  deploy/scripts/rollback.sh
  services/platform/config/settings/base.py
  services/platform/tests/settings/test_secret_key_resolution.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
  services/portal/tests/settings/test_logging_configuration.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, i18n-coverage-check, performance-check

fix(deploy): harden 7 deploy infrastructure bugs (#19 #23 #27 #38 #43) (#81)
  .env.example.dev
  .env.example.prod
  .env.example.staging
  .github/workflows/integration.yml
  .github/workflows/platform.yml
  .github/workflows/portal.yml
  .github/workflows/type-coverage.yml
  CHANGELOG.md
  deploy/ansible/playbooks/native-single-server.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/health-check.sh.j2
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.dev.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.services.yml
  deploy/docker-compose.single-server.yml
  deploy/platform/Dockerfile
  deploy/portal/Dockerfile
  deploy/scripts/deploy.sh
  deploy/scripts/health-check.sh
  deploy/scripts/restore.sh
  deploy/scripts/rollback.sh
  services/platform/config/settings/base.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/tests/settings/test_logging_configuration.py
  services/platform/tests/settings/test_secret_key_resolution.py
  services/portal/apps/common/security_validation.py
  services/portal/apps/orders/services.py
  services/portal/config/settings/base.py
  services/portal/config/settings/dev.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
  services/portal/tests/settings/test_logging_configuration.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

feat(rate-limit): add custom @rate_limit decorator replacing django-ratelimit
  services/platform/apps/common/rate_limiting.py
  services/platform/config/settings/_rate_limiting.py
  services/platform/tests/common/test_rate_limiting_decorator.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(rate-limit): replace @ratelimit with @rate_limit across all views
  services/platform/apps/customers/customer_views.py
  services/platform/apps/integrations/views.py
  services/platform/apps/promotions/views.py
  services/platform/apps/tickets/views.py
  services/platform/apps/users/views.py
  services/platform/tests/users/test_authentication_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(settings): consolidate to single RATE_LIMITING_ENABLED setting
  Makefile
  docs/ADRs/ADR-0014-no-test-suppression-policy.md
  scripts/lint_test_suppressions.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/middleware.py
  services/platform/config/settings/base.py
  services/platform/config/settings/dev.py
  services/platform/config/settings/e2e.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/config/settings/test.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/tickets/test_tickets_security.py
  services/portal/apps/common/rate_limiting.py
  services/portal/config/settings/dev.py
  tests/integration/test_security_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

chore(deps): remove django-ratelimit dependency
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(security): address Copilot and Codex review findings
  services/platform/apps/api/secure_auth.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/decorators.py
  services/platform/apps/common/rate_limiting.py
  services/platform/apps/users/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(rate-limit): wire audit into decorator and bump all limits by 50%
  services/platform/apps/common/rate_limiting.py
  services/platform/apps/customers/customer_views.py
  services/platform/apps/integrations/views.py
  services/platform/apps/promotions/views.py
  services/platform/apps/settings/migrations/0003_clear_encrypted_settings.py
  services/platform/apps/tickets/views.py
  services/platform/apps/users/signals.py
  services/platform/apps/users/views.py
  services/platform/static/css/tailwind.min.css
  services/platform/tests/tickets/test_tickets_security.py
  services/portal/static/css/tailwind.min.css
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(notifications): fail closed email log encryption fallback (#72)
  services/platform/apps/notifications/management/commands/reencrypt_email_logs.py
  services/platform/apps/notifications/models.py
  services/platform/apps/notifications/tests/__init__.py
  services/platform/apps/notifications/tests/test_email_log_encryption.py
  services/platform/config/settings/base.py
  services/platform/config/settings/dev.py
  services/platform/config/settings/test.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): ignore X-Forwarded-Host in client IP extraction (#57)
  services/platform/apps/orders/price_sealing.py
  services/platform/apps/orders/tests/__init__.py
  services/platform/apps/orders/tests/test_price_sealing.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(security): fail-closed on unexpected exceptions, seed active_customer_id on login
  services/portal/apps/users/middleware.py
  services/portal/apps/users/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(validation): extract CNPValidator to common, fix CNP validation (#64)
  services/platform/apps/billing/efactura/b2c.py
  services/platform/apps/common/cnp_validator.py
  services/platform/apps/common/validators.py
  services/platform/apps/customers/migrations/0005_use_cnp_validator.py
  services/platform/apps/customers/profile_models.py
  services/platform/apps/users/forms.py
  services/platform/tests/common/test_cnp_validator.py
  services/portal/apps/users/forms.py
  services/portal/tests/users/test_cnp_form_validation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): replace insecure get_client_ip with get_safe_client_ip (#57)
  scripts/security_scanner.py
  services/platform/apps/api/orders/serializers.py
  services/platform/apps/api/orders/views.py
  services/platform/apps/orders/price_sealing.py
  services/platform/apps/orders/tests/test_price_sealing.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(notifications): harden EmailLog encryption — graceful degradation (#72)
  scripts/error_handling_scan.py
  services/platform/apps/notifications/apps.py
  services/platform/apps/notifications/checks.py
  services/platform/apps/notifications/management/commands/reencrypt_email_logs.py
  services/platform/apps/notifications/migrations/0006_add_body_encrypted_field.py
  services/platform/apps/notifications/models.py
  services/platform/apps/notifications/tests/test_email_log_encryption.py
  services/platform/config/settings/base.py
  services/platform/config/settings/dev.py
  services/platform/config/settings/test.py
  services/platform/tests/notifications/test_notifications_checks.py
  services/platform/tests/notifications/test_notifications_models.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): add DB-level CHECK constraints on financial fields (#71)
  services/platform/apps/orders/migrations/0007_add_financial_check_constraints.py
  services/platform/apps/orders/models.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(security): resolve 8 Semgrep findings, 9 error handling violations, 5 invalid noqa directives
  CHANGELOG.md
  Makefile
  services/platform/apps/api/users/views.py
  services/platform/apps/billing/tax_models.py
  services/platform/apps/common/rate_limiting.py
  services/platform/apps/infrastructure/apps.py
  services/platform/apps/infrastructure/drift_remediation.py
  services/platform/apps/infrastructure/views.py
  services/platform/apps/notifications/models.py
  services/platform/apps/orders/price_sealing.py
  services/portal/apps/users/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(settings): make SECURE_SSL_REDIRECT env-configurable (#30)
  .env.example.prod
  .env.example.staging
  CHANGELOG.md
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.single-server.yml
  docs/deployment/HTTPS_DEPLOYMENT_CHECKLIST.md
  docs/security/SECURITY_COMPLIANCE_ASSESSMENT.md
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/apps/common/checks.py
  services/platform/apps/customers/services.py
  services/platform/apps/notifications/migrations/0007_alter_emaillog_body_encrypted.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/tests/common/test_common_security.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(customers): flush all 6 TODO stubs with real implementations
  docs/plans/2026-03-07-customers-todo-flush-design.md
  services/platform/apps/customers/customer_models.py
  services/platform/apps/customers/customer_views.py
  services/platform/apps/customers/migrations/0006_add_meta_jsonfield.py
  services/platform/apps/customers/tasks.py
  services/platform/apps/notifications/management/commands/setup_email_templates.py
  services/platform/tests/common/test_todo_cleanup.py
  services/platform/tests/customers/test_customers_services_api.py
  services/platform/tests/customers/test_customers_tasks.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(customers): harden customers app — 29 chaos-monkey findings resolved
  .gitignore
  CHANGELOG.md
  services/platform/apps/billing/tasks.py
  services/platform/apps/common/cui_validator.py
  services/platform/apps/customers/contact_models.py
  services/platform/apps/customers/contact_service.py
  services/platform/apps/customers/contact_views.py
  services/platform/apps/customers/credit_service.py
  services/platform/apps/customers/customer_models.py
  services/platform/apps/customers/customer_service.py
  services/platform/apps/customers/customer_views.py
  services/platform/apps/customers/forms.py
  services/platform/apps/customers/migrations/0007_alter_customer_managers_and_more.py
  services/platform/apps/customers/profile_models.py
  services/platform/apps/customers/profile_service.py
  services/platform/apps/customers/profile_views.py
  services/platform/apps/customers/services.py
  services/platform/apps/customers/signals.py
  services/platform/apps/customers/tasks.py
  services/platform/apps/customers/user_management_views.py
  services/platform/tests/customers/test_customers_profiles.py
  services/platform/tests/customers/test_customers_security.py
  services/platform/tests/customers/test_services_comprehensive.py
  services/platform/tests/customers/test_user_management_views.py
  services/platform/tests/provisioning/test_cross_app_integration.py
  services/platform/tests/provisioning/test_provisioning_signals.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(customers): resolve 10 Copilot/Codex PR review findings
  services/platform/apps/billing/invoice_service.py
  services/platform/apps/customers/migrations/0007_alter_customer_managers_and_more.py
  services/platform/apps/customers/migrations/0008_customer_meta_check_constraint.py
  services/platform/apps/customers/tasks.py
  services/platform/apps/notifications/management/commands/setup_email_templates.py
  services/platform/tests/billing/test_invoice_service.py
  services/platform/tests/customers/test_customers_tasks.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(customers): resolve Codex CLI review findings — signals, validation, atomicity
  services/platform/apps/api/customers/views.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/customers/contact_models.py
  services/platform/apps/customers/contact_service.py
  services/platform/apps/customers/customer_models.py
  services/platform/apps/customers/customer_service.py
  services/platform/apps/customers/customer_views.py
  services/platform/apps/customers/forms.py
  services/platform/apps/customers/migrations/0011_add_unique_default_payment_constraint.py
  services/platform/apps/customers/profile_service.py
  services/platform/apps/customers/services.py
  services/platform/apps/customers/signals.py
  services/platform/apps/customers/tasks.py
  services/platform/tests/billing/test_billing_tasks.py
  services/platform/tests/customers/test_contact_service.py
  services/platform/tests/customers/test_profile_service.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(customers): make SoftDeleteManager generic — eliminate ~20 type: ignore comments
  CHANGELOG.md
  services/platform/apps/customers/contact_models.py
  services/platform/apps/customers/contact_service.py
  services/platform/apps/customers/contact_views.py
  services/platform/apps/customers/customer_models.py
  services/platform/apps/customers/forms.py
  services/platform/apps/customers/profile_service.py
  services/platform/apps/customers/tasks.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(common): expand generate_sample_data with permutation customers and richer fixtures
  services/platform/apps/common/management/commands/generate_sample_data.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, i18n-coverage-check, performance-check

fix: resolve 3 low-priority issues — CORS, error logging, type safety (#67, #63, #89)
  services/platform/apps/billing/refund_service.py
  services/platform/apps/customers/credit_service.py
  services/platform/apps/customers/services.py
  services/platform/apps/customers/tasks.py
  services/platform/config/settings/base.py
  services/platform/config/settings/prod.py
  services/platform/tests/billing/test_refund_service_coverage.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(auth): replace blind state_version with membership_hash for session cache invalidation (#84)
  services/platform/apps/api/users/views.py
  services/portal/apps/users/middleware.py
  services/portal/conftest.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(common): add 14 model types to generate_sample_data with DRY helpers
  .pre-commit-config.yaml
  services/platform/apps/common/management/commands/generate_sample_data.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, i18n-coverage-check, performance-check

chore: rename type-check → check-types, add test-fast and lint-fix targets
  .github/workflows/type-coverage.yml
  Makefile
  README.md
  docs/ADRs/ADR-0009-pragmatic-mypy-strategy.md
  docs/development/PRE_COMMIT_HOOKS_GUIDE.md
  services/platform/apps/infrastructure/apps.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(customers): resolve 36 Chaos Monkey findings — critical, high, medium, idempotency
  docs/ADRs/ADR-0009-pragmatic-mypy-strategy.md
  docs/development/PRE_COMMIT_HOOKS_GUIDE.md
  scripts/security_scanner.py
  services/platform/apps/common/fields.py
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/customers/contact_models.py
  services/platform/apps/customers/credit_service.py
  services/platform/apps/customers/customer_models.py
  services/platform/apps/customers/customer_views.py
  services/platform/apps/customers/migrations/0009_fix_meta_check_not_valid.py
  services/platform/apps/customers/migrations/0012_fix_soft_delete_unique_constraints.py
  services/platform/apps/customers/services.py
  services/platform/apps/customers/signals.py
  services/platform/apps/customers/tasks.py
  services/platform/apps/notifications/management/commands/setup_email_templates.py
  services/platform/tests/customers/test_customers_tasks.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(types): resolve all 37 MyPy errors, extract constants, improve observability
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  scripts/code_health_allowlist.txt
  scripts/code_health_scan.py
  services/platform/apps/api/users/views.py
  services/platform/apps/audit/siem.py
  services/platform/apps/billing/efactura/b2c.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/apps/common/key_derivation.py
  services/platform/apps/common/management/commands/post_encryption_upgrade.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/apps/common/rate_limiting.py
  services/platform/apps/common/validators.py
  services/platform/apps/infrastructure/apps.py
  services/platform/apps/infrastructure/drift_remediation.py
  services/platform/apps/infrastructure/views.py
  services/platform/apps/notifications/services.py
  services/platform/apps/orders/services.py
  services/platform/apps/users/services.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check
