Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

ruff-new-violations:
  name: 'Ruff: Block New Violations Only'
  entry: uv run python
  args:
  - scripts/ruff_new_violations.py
  - --staged
  language: system
  pass_filenames: true
  require_serial: true

type-check-modified:
  name: Type Check Modified Files
  entry: uv run python
  args:
  - services/platform/scripts/check_types_modified.py
  - --staged
  language: system
  pass_filenames: false
  require_serial: false

prevent-type-ignore:
  name: Block New Type Ignore Comments
  entry: uv run python
  args:
  - services/platform/scripts/prevent_type_ignore.py
  - --staged-only
  language: system
  pass_filenames: true
  stages:
  - pre-commit

django-template-check:
  name: Django Template Syntax Check
  entry: uv run python
  args:
  - services/platform/scripts/fix_template_comparisons.py
  - --check
  language: system

portal-isolation-check:
  name: 'Security: Portal Isolation Check'
  entry: bash
  args:
  - -c
  ...

audit-coverage-check:
  name: 'Security: Audit Coverage Check'
  entry: uv run python
  args:
  - scripts/audit_coverage_scan.py
  - --min-severity=high
  - --exclude-tests
  - services/platform/apps
  language: system
  pass_filenames: false
  stages:
  - pre-commit

security-credentials-check:
  name: 'Security: Check for Hardcoded Credentials'
  entry: bash
  args:
  - -c
  - '# Use ruff to check for hardcoded credentials
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=S105,S106,S107,S108 --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

i18n-coverage-check:
  name: 'i18n: Check for Unwrapped Strings'
  entry: uv run python
  args:
  - scripts/lint_i18n_coverage.py
  - --fail-on
  - high
  - --allowlist
  - scripts/i18n_coverage_allowlist.txt
  language: system
  pass_filenames: true

performance-check:
  name: 'Performance: Check for Anti-patterns'
  entry: bash
  args:
  - -c
  - '# Check for performance issues in modified files
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=PERF,C90,PIE,SIM --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

fix(billing): never mark a guarded invoice as sent
  services/platform/apps/billing/invoice_service.py
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_invoice_service.py
  services/platform/tests/billing/test_invoices_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(settings): harden the service write path and make the staff API read-only
  services/platform/apps/settings/management/commands/setup_default_settings.py
  services/platform/apps/settings/models.py
  services/platform/apps/settings/services.py
  services/platform/apps/settings/signals.py
  services/platform/apps/settings/views.py
  services/platform/tests/billing/test_recurring_collection_concurrency.py
  services/platform/tests/billing/test_subscription_invoice_payments.py
  services/platform/tests/settings/test_settings_integration.py
  services/platform/tests/settings/test_settings_service_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): harden document adjustment integrity (#195) (#375)
  CHANGELOG.md
  services/platform/apps/billing/document_adjustments.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/invoice_service.py
  services/platform/apps/billing/pdf_generators.py
  services/platform/apps/billing/proforma_models.py
  services/platform/apps/billing/views.py
  services/platform/tests/billing/efactura/test_xml_builder.py
  services/platform/tests/billing/test_invoice_service.py
  services/platform/tests/billing/test_invoices_views.py
  services/platform/tests/billing/test_pdf_generators.py
  services/platform/tests/billing/test_proformas_models.py
  services/platform/tests/billing/test_tax_configuration.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(settings): settings catalog, decoy-key curation, real maintenance gate
  scripts/lint_settings_coverage.py
  scripts/settings_allowlist.txt
  services/platform/apps/billing/efactura/settings.py
  services/platform/apps/billing/management/commands/setup_efactura_settings.py
  services/platform/apps/common/checks.py
  services/platform/apps/common/constants.py
  services/platform/apps/common/context_processors.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/utils.py
  services/platform/apps/orders/tasks.py
  services/platform/apps/settings/catalog.py
  services/platform/apps/settings/key_scan.py
  services/platform/apps/settings/management/commands/setup_default_settings.py
  services/platform/apps/settings/migrations/0003_curate_catalog_rows.py
  services/platform/apps/settings/services.py
  services/platform/apps/settings/signals.py
  services/platform/config/settings/base.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/templates/base.html
  services/platform/tests/audit/test_audit_e2e.py
  services/platform/tests/billing/efactura/test_settings.py
  services/platform/tests/common/test_constants_consistency.py
  services/platform/tests/settings/test_settings_catalog.py
  services/platform/tests/settings/test_settings_integration.py
  services/platform/tests/settings/test_settings_security.py
  services/platform/tests/settings/test_settings_service_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): reconcile discounted VAT totals
  CHANGELOG.md
  services/platform/apps/api/orders/views.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/services.py
  services/platform/apps/common/financial_arithmetic.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/preflight.py
  services/platform/apps/orders/tasks.py
  services/platform/tests/billing/test_card_proforma_lifecycle.py
  services/platform/tests/billing/test_invoice_from_order.py
  services/platform/tests/billing/test_payment_intent_security.py
  services/platform/tests/billing/test_proforma_order_lifecycle.py
  services/platform/tests/common/test_financial_arithmetic.py
  services/platform/tests/orders/test_order_flow_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(settings): three-surface settings UI, legacy demolition
  scripts/audit_model_allowlist.txt
  services/platform/apps/common/context_processors.py
  services/platform/apps/common/management/commands/setup_initial_data.py
  services/platform/apps/settings/management/commands/migrate_virtualmin_to_settings.py
  services/platform/apps/settings/management/commands/setup_settings_categories.py
  services/platform/apps/settings/management/commands/setup_stripe_settings.py
  services/platform/apps/settings/management/commands/setup_virtualmin_settings.py
  services/platform/apps/settings/migrations/0004_delete_settingcategory_and_more.py
  services/platform/apps/settings/models.py
  services/platform/apps/settings/templatetags/settings_tags.py
  services/platform/apps/settings/urls.py
  services/platform/apps/settings/views.py
  services/platform/templates/components/mobile_header.html
  services/platform/templates/infrastructure/dashboard.html
  services/platform/templates/settings/automation.html
  services/platform/templates/settings/dashboard.html
  services/platform/templates/settings/feature_flag.html
  services/platform/templates/settings/group.html
  services/platform/templates/settings/home.html
  services/platform/templates/settings/manage.html
  services/platform/templates/settings/partials/_form_js.html
  services/platform/templates/settings/partials/_sidebar.html
  services/platform/templates/settings/partials/category_form.html
  services/platform/templates/settings/partials/history_drawer.html
  services/platform/templates/settings/partials/search_results.html
  services/platform/templates/settings/partials/secret_row.html
  services/platform/templates/settings/partials/setting_row.html
  services/platform/templates/settings/setting_display.html
  services/platform/tests/common/test_setup_initial_data.py
  services/platform/tests/settings/test_settings_import.py
  services/platform/tests/settings/test_settings_security.py
  services/platform/tests/settings/test_settings_ui.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(settings): consumer-contract guardrail, round-trip coverage, ADR-0042
  CHANGELOG.md
  docs/ADRs/ADR-0042-settings-catalog-and-consumer-contract.md
  docs/ADRs/README.md
  services/platform/apps/common/middleware.py
  services/platform/apps/settings/catalog.py
  services/platform/apps/settings/key_scan.py
  services/platform/apps/settings/migrations/0003_curate_catalog_rows.py
  services/platform/apps/settings/services.py
  services/platform/apps/settings/urls.py
  services/platform/apps/settings/views.py
  services/platform/templates/settings/partials/_form_js.html
  services/platform/tests/settings/test_catalog_consumer_contract.py
  services/platform/tests/settings/test_settings_import.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(settings): QA hardening from full-stack walkthrough
  node_modules
  services/platform/apps/settings/catalog.py
  services/platform/apps/settings/views.py
  services/platform/static/css/tailwind.min.css
  services/platform/templates/settings/automation.html
  services/platform/templates/settings/home.html
  services/platform/templates/settings/partials/_form_js.html
  services/platform/templates/settings/partials/_sidebar.html
  services/platform/templates/settings/partials/secret_row.html
  services/platform/templates/settings/partials/setting_row.html
  services/portal/static/css/tailwind.min.css
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, i18n-coverage-check, performance-check

fix(billing): reconcile discounted VAT totals (#203) (#376)
  CHANGELOG.md
  services/platform/apps/api/orders/views.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/services.py
  services/platform/apps/common/financial_arithmetic.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/preflight.py
  services/platform/apps/orders/tasks.py
  services/platform/tests/billing/test_card_proforma_lifecycle.py
  services/platform/tests/billing/test_invoice_from_order.py
  services/platform/tests/billing/test_payment_intent_security.py
  services/platform/tests/billing/test_proforma_order_lifecycle.py
  services/platform/tests/common/test_financial_arithmetic.py
  services/platform/tests/orders/test_order_flow_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(settings): repeatable full-catalog QA sweep tool
  scripts/qa_settings_sweep.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, performance-check

test(settings): harden the catalog sweep against false confidence
  scripts/qa_settings_sweep.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, performance-check

fix(settings): close review gaps in catalog UI and first-write path
  services/platform/apps/common/context_processors.py
  services/platform/apps/settings/services.py
  services/platform/apps/settings/views.py
  services/platform/config/settings/base.py
  services/platform/templates/settings/partials/setting_row.html
  services/platform/tests/settings/test_settings_service_hardening.py
  services/platform/tests/settings/test_settings_ui.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(settings): isolate audit failures from the settings write transaction
  services/platform/apps/settings/signals.py
  services/platform/tests/settings/test_settings_service_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, i18n-coverage-check, performance-check

fix(settings): isolate audit failures from the settings write transaction (#392)
  services/platform/apps/settings/signals.py
  services/platform/tests/settings/test_settings_service_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, i18n-coverage-check, performance-check

fix(settings): deferred success log captures its own save's value
  services/platform/apps/settings/signals.py
  services/platform/tests/settings/test_settings_service_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, i18n-coverage-check, performance-check

refactor(audit): remove dead SIEM transport so the audit module stands alone
  docs/domain/AUDIT_SYSTEM_GUIDE.md
  docs/security/SECURITY_COMPLIANCE_ASSESSMENT.md
  scripts/audit_model_allowlist.txt
  services/platform/apps/api/security_linter.py
  services/platform/apps/audit/compliance.py
  services/platform/apps/audit/file_integrity_service.py
  services/platform/apps/audit/logging_formatters.py
  services/platform/apps/audit/management/commands/audit_compliance.py
  services/platform/apps/audit/migrations/0003_delete_siemexportlog_delete_siemhashchainstate.py
  services/platform/apps/audit/models.py
  services/platform/apps/audit/siem.py
  services/platform/apps/audit/siem_integration.py
  services/platform/tests/TEST_AUDIT_LOG.md
  services/platform/tests/audit/test_audit_compliance.py
  services/platform/tests/audit/test_audit_logging_formatters.py
  services/platform/tests/audit/test_audit_mgmt_commands.py
  services/platform/tests/audit/test_audit_siem_regressions.py
  services/platform/tests/audit/test_file_integrity_monitoring.py
  services/platform/tests/audit/test_siem_formats.py
  services/platform/tests/audit/test_siem_outbound.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(audit): keyed v2 integrity MACs, enforced immutability, honest checks
  services/platform/apps/audit/compliance.py
  services/platform/apps/audit/management/commands/audit_compliance.py
  services/platform/apps/audit/management/commands/restamp_audit_integrity.py
  services/platform/apps/audit/management/commands/run_integrity_check.py
  services/platform/apps/audit/migrations/0004_alter_auditintegritycheck_status.py
  services/platform/apps/audit/migrations/0005_alter_auditevent_content_type.py
  services/platform/apps/audit/models.py
  services/platform/apps/audit/services.py
  services/platform/apps/audit/signals.py
  services/platform/apps/audit/tasks.py
  services/platform/apps/audit/views.py
  services/platform/apps/common/key_derivation.py
  services/platform/apps/common/validators.py
  services/platform/apps/provisioning/signals.py
  services/platform/apps/settings/signals.py
  services/platform/apps/users/tasks.py
  services/platform/config/settings/base.py
  services/platform/templates/audit/integrity_dashboard.html
  services/platform/tests/audit/test_audit_authentication.py
  services/platform/tests/audit/test_audit_compliance.py
  services/platform/tests/audit/test_audit_e2e.py
  services/platform/tests/audit/test_audit_event_creation.py
  services/platform/tests/audit/test_audit_immutability.py
  services/platform/tests/audit/test_audit_integrity_hash.py
  services/platform/tests/audit/test_audit_management.py
  services/platform/tests/audit/test_audit_services_regressions.py
  services/platform/tests/audit/test_audit_signals.py
  services/platform/tests/settings/test_settings_service_hardening.py
  services/platform/tests/users/test_2fa_services.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(audit): real retention enforcement, seeded policies, durable file baselines
  scripts/audit_model_allowlist.txt
  services/platform/apps/audit/compliance.py
  services/platform/apps/audit/management/commands/audit_compliance.py
  services/platform/apps/audit/management/commands/run_integrity_check.py
  services/platform/apps/audit/management/commands/setup_audit_retention_policies.py
  services/platform/apps/audit/migrations/0006_fileintegritybaseline_and_more.py
  services/platform/apps/audit/models.py
  services/platform/apps/audit/services.py
  services/platform/apps/audit/tasks.py
  services/platform/apps/common/management/commands/setup_initial_data.py
  services/platform/apps/common/management/commands/setup_scheduled_tasks.py
  services/platform/apps/settings/catalog.py
  services/platform/apps/settings/migrations/0005_delete_file_hash_cache_key.py
  services/platform/tests/audit/test_audit_compliance.py
  services/platform/tests/audit/test_audit_mgmt_commands.py
  services/platform/tests/audit/test_audit_retention_infrastructure.py
  services/platform/tests/audit/test_audit_services_regressions.py
  services/platform/tests/audit/test_partition_retention_status.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): make the refund idempotency key invariant to sibling refunds (#342)
  services/platform/apps/billing/gateways/stripe_gateway.py
  services/platform/apps/billing/migrations/0040_refund_idempotency_intent.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/refund_service.py
  services/platform/tests/billing/test_refund_idempotency_intent.py
  services/platform/tests/billing/test_refund_service_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(settings): deferred success log captures its own save's value (#394)
  services/platform/apps/settings/signals.py
  services/platform/tests/settings/test_settings_service_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, i18n-coverage-check, performance-check

fix(arch): honest guard messages, self-covering pre-commit matcher
  .pre-commit-config.yaml
  scripts/lint_cross_app_model_imports.py
  services/platform/tests/common/test_lint_cross_app_model_imports.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

refactor(arch): enforce ADR-0007 import boundaries (#219)
  .github/workflows/integration.yml
  .pre-commit-config.yaml
  Makefile
  docs/ADRs/ADR-0007-function-level-cross-app-imports.md
  scripts/cross_app_model_imports_baseline.txt
  scripts/lint_cross_app_model_imports.py
  services/platform/apps/customers/customer_views.py
  services/platform/tests/common/test_lint_cross_app_model_imports.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(settings): defer the audit-model import per ADR-0007
  services/platform/apps/settings/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, i18n-coverage-check, performance-check

feat(audit): close coverage gaps and de-duplicate the event stream
  scripts/audit_model_allowlist.txt
  services/platform/apps/audit/migrations/0007_alter_auditevent_action_and_more.py
  services/platform/apps/audit/models.py
  services/platform/apps/audit/services.py
  services/platform/apps/audit/signals.py
  services/platform/apps/audit/views.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/common/middleware.py
  services/platform/apps/customers/signals.py
  services/platform/apps/orders/signals.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/apps/users/mfa.py
  services/platform/templates/audit/partials/gdpr_export_detail.html
  services/platform/templates/audit/partials/gdpr_export_requests_list.html
  services/platform/tests/audit/test_audit_fsm_receiver.py
  services/platform/tests/audit/test_audit_gdpr.py
  services/platform/tests/audit/test_audit_retention_infrastructure.py
  services/platform/tests/audit/test_audit_services_regressions.py
  services/platform/tests/audit/test_audit_views_regressions.py
  services/platform/tests/billing/test_billing_tasks.py
  services/platform/tests/customers/test_customers_profiles.py
  services/platform/tests/orders/test_orders_models.py
  services/platform/tests/users/test_2fa_models.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(audit): un-strand the management hub and wire saved searches into the UI
  services/platform/apps/common/context_processors.py
  services/platform/templates/audit/integrity_dashboard.html
  services/platform/templates/audit/logs.html
  services/platform/tests/audit/test_audit_views_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(audit): ADR-0043, changelog, and guardrails for the audit overhaul
  CHANGELOG.md
  docs/ADRs/ADR-0043-audit-integrity-v2-retention-and-standalone-siem.md
  docs/ADRs/README.md
  scripts/audit_coverage_scan.py
  services/platform/tests/audit/test_audit_model_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

refactor(arch): enforce ADR-0007 import boundaries (#373)
  .github/workflows/integration.yml
  .pre-commit-config.yaml
  Makefile
  docs/ADRs/ADR-0007-function-level-cross-app-imports.md
  scripts/cross_app_model_imports_baseline.txt
  scripts/lint_cross_app_model_imports.py
  services/platform/apps/customers/customer_views.py
  services/platform/apps/settings/views.py
  services/platform/tests/common/test_lint_cross_app_model_imports.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(audit): abort rebaseline on hashing failure; error status on failed verification runs
  docs/security/SECURITY_COMPLIANCE_ASSESSMENT.md
  services/platform/apps/audit/tasks.py
  services/platform/tests/audit/test_audit_retention_infrastructure.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(integrations): keep exception detail out of webhook responses
  services/platform/apps/billing/refund_service.py
  services/platform/apps/integrations/webhooks/stripe.py
  services/platform/tests/billing/test_refund_gateway_integrity.py
  services/platform/tests/integrations/test_webhook_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(integrations): harden Stripe webhook handling
  services/platform/apps/billing/refund_service.py
  services/platform/apps/integrations/management/commands/process_webhooks.py
  services/platform/apps/integrations/webhooks/base.py
  services/platform/apps/integrations/webhooks/stripe.py
  services/platform/tests/billing/test_refund_gateway_integrity.py
  services/platform/tests/integrations/test_webhook_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(dev-seed): reset dev credential passwords idempotently so the printed table can't lie
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/tests/common/test_generate_sample_data_credentials.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(integrations): harden Stripe webhook handling (#235, #343) (#374)
  services/platform/apps/billing/refund_service.py
  services/platform/apps/integrations/management/commands/process_webhooks.py
  services/platform/apps/integrations/webhooks/base.py
  services/platform/apps/integrations/webhooks/stripe.py
  services/platform/tests/billing/test_refund_gateway_integrity.py
  services/platform/tests/integrations/test_webhook_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(promotions): gift cards consume coupon headroom in the subset cap
  services/platform/apps/promotions/services.py
  services/platform/tests/promotions/test_promotions_money_defects.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(promotions): scope the stacking cap to each coupon's own items (#311)
  services/platform/apps/promotions/services.py
  services/platform/tests/promotions/test_promotions_money_defects.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(promotions): scope the stacking cap to each coupon's own items (#311) (#387)
  services/platform/apps/promotions/services.py
  services/platform/tests/promotions/test_promotions_money_defects.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): fail closed on mismatched refund invoice linkage
  services/platform/apps/billing/refund_service.py
  services/platform/tests/billing/test_billing_refund_and_efactura_regressions.py
  services/platform/tests/billing/test_refund_service_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): make refund commands durable
  docs/domain/REFUND_SERVICE.md
  services/platform/apps/billing/gateways/stripe_gateway.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/signals.py
  services/platform/tests/billing/test_billing_refund_and_efactura_regressions.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_refund_gateway_integrity.py
  services/platform/tests/billing/test_refund_service_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): make refund commands durable and unify projection (#342, #345) (#388)
  docs/domain/REFUND_SERVICE.md
  services/platform/apps/billing/gateways/stripe_gateway.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/signals.py
  services/platform/tests/billing/test_billing_refund_and_efactura_regressions.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_refund_gateway_integrity.py
  services/platform/tests/billing/test_refund_service_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
