Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

ruff-new-violations:
  name: 'Ruff: Block New Violations Only'
  entry: uv run python
  args:
  - scripts/ruff_new_violations.py
  - --staged
  language: system
  pass_filenames: true
  require_serial: true

type-check-modified:
  name: Type Check Modified Files
  entry: uv run python
  args:
  - services/platform/scripts/check_types_modified.py
  - --staged
  language: system
  pass_filenames: false
  require_serial: false

prevent-type-ignore:
  name: Block New Type Ignore Comments
  entry: uv run python
  args:
  - services/platform/scripts/prevent_type_ignore.py
  - --staged-only
  language: system
  pass_filenames: true
  stages:
  - pre-commit

django-template-check:
  name: Django Template Syntax Check
  entry: uv run python
  args:
  - services/platform/scripts/fix_template_comparisons.py
  - --check
  language: system

portal-isolation-check:
  name: 'Security: Portal Isolation Check'
  entry: bash
  args:
  - -c
  ...

audit-coverage-check:
  name: 'Security: Audit Coverage Check'
  entry: uv run python
  args:
  - scripts/audit_coverage_scan.py
  - --min-severity=high
  - --exclude-tests
  - services/platform/apps
  language: system
  pass_filenames: false
  stages:
  - pre-commit

security-credentials-check:
  name: 'Security: Check for Hardcoded Credentials'
  entry: bash
  args:
  - -c
  - '# Use ruff to check for hardcoded credentials
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=S105,S106,S107,S108 --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

i18n-coverage-check:
  name: 'i18n: Check for Unwrapped Strings'
  entry: uv run python
  args:
  - scripts/lint_i18n_coverage.py
  - --fail-on
  - high
  - --allowlist
  - scripts/i18n_coverage_allowlist.txt
  language: system
  pass_filenames: true

performance-check:
  name: 'Performance: Check for Anti-patterns'
  entry: bash
  args:
  - -c
  - '# Check for performance issues in modified files
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=PERF,C90,PIE,SIM --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

fix(billing): refund exactly the requested amount on a gift-card invoice
  services/platform/apps/billing/refund_service.py
  services/platform/apps/promotions/tender_refunds.py
  services/platform/tests/billing/test_fiscal_correction_obligations.py
  services/platform/tests/promotions/test_tender_refunds.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): read the outstanding balance from the same held amount
  services/platform/apps/api/billing/serializers.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/refund_models.py
  services/platform/tests/billing/test_refund_scope_settlement.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): allow a credit note on a fiscal correction only once it is attached
  services/platform/apps/billing/fiscal_correction_models.py
  services/platform/apps/billing/migrations/0005_fiscal_correction.py
  services/platform/tests/billing/test_fiscal_correction_model.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): record the fiscal correction every completed refund owes (#599)
  .github/workflows/integration.yml
  CHANGELOG.md
  services/platform/apps/api/billing/serializers.py
  services/platform/apps/billing/fiscal_correction_models.py
  services/platform/apps/billing/fiscal_correction_service.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/migrations/0005_fiscal_correction.py
  services/platform/apps/billing/models.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/promotions/tender_refunds.py
  services/platform/tests/billing/_fiscal_correction_helpers.py
  services/platform/tests/billing/test_billing_ownership.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_fiscal_correction_concurrency.py
  services/platform/tests/billing/test_fiscal_correction_model.py
  services/platform/tests/billing/test_fiscal_correction_obligations.py
  services/platform/tests/billing/test_provider_storno.py
  services/platform/tests/billing/test_refund_scope_settlement.py
  services/platform/tests/billing/test_refund_service_regressions.py
  services/platform/tests/billing/test_revenue_nets_reversals.py
  services/platform/tests/common/test_nightly_ci_workflow.py
  services/platform/tests/common/test_sample_data_integrity.py
  services/platform/tests/promotions/test_promotion_release_on_refund.py
  services/platform/tests/promotions/test_tender_refunds.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): issue the built-in storno credit note a refund owes (ADR-0053)
  .github/workflows/integration.yml
  CHANGELOG.md
  docs/ADRs/ADR-0048-external-invoice-issuer.md
  docs/ADRs/ADR-0053-every-settled-refund-issues-a-storno.md
  docs/ADRs/README.md
  services/platform/apps/billing/credit_note_lines.py
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/efactura/validator.py
  services/platform/apps/billing/fiscal_correction_allocation.py
  services/platform/apps/billing/fiscal_correction_models.py
  services/platform/apps/billing/fiscal_correction_worker.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/migrations/0006_builtin_storno_issuance.py
  services/platform/apps/billing/pdf_generators.py
  services/platform/apps/billing/services.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/tax_evidence.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/notifications/management/commands/setup_email_templates.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/tests/billing/_storno_helpers.py
  services/platform/tests/billing/test_billing_ownership.py
  services/platform/tests/billing/test_builtin_storno_concurrency.py
  services/platform/tests/billing/test_builtin_storno_delivery.py
  services/platform/tests/billing/test_builtin_storno_issuance.py
  services/platform/tests/billing/test_credit_note_vat_evidence.py
  services/platform/tests/billing/test_fiscal_correction_allocation.py
  services/platform/tests/common/test_nightly_ci_workflow.py
  services/platform/tests/notifications/test_template_key_consistency.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing): pin the fiscal correction issuance invariants
  services/platform/tests/billing/test_fiscal_correction_issuance_model.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(billing): send the storno email in the customer's language and pin the numbering family
  services/platform/apps/billing/fiscal_correction_worker.py
  services/platform/tests/billing/test_builtin_storno_delivery.py
  services/platform/tests/billing/test_invoice_sequence_scope.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(notifications): send invoice emails in the customer's language
  CHANGELOG.md
  services/platform/apps/notifications/services.py
  services/platform/tests/notifications/test_invoice_email_locale.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing): pin the numbering family on the usage and gateway paths
  services/platform/tests/billing/test_invoice_sequence_scope.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

feat(billing): keep every storno valid, send it once, back off e-Factura re-checks
  docs/ADRs/ADR-0053-every-settled-refund-issues-a-storno.md
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/fiscal_correction_allocation.py
  services/platform/apps/billing/fiscal_correction_models.py
  services/platform/apps/billing/fiscal_correction_worker.py
  services/platform/apps/billing/migrations/0006_builtin_storno_issuance.py
  services/platform/tests/billing/test_builtin_storno_concurrency.py
  services/platform/tests/billing/test_builtin_storno_delivery.py
  services/platform/tests/billing/test_builtin_storno_issuance.py
  services/platform/tests/billing/test_fiscal_correction_allocation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): settle each storno from the ledger as of its refund, in order
  services/platform/apps/billing/fiscal_correction_models.py
  services/platform/apps/billing/fiscal_correction_worker.py
  services/platform/apps/billing/migrations/0006_builtin_storno_issuance.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/refund_models.py
  services/platform/tests/billing/test_builtin_storno_review_fixes.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing): save the late payment's transition with the status alone
  services/platform/tests/billing/test_builtin_storno_review_fixes.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(billing): judge what a refund's correction owes by the ledger as it stood then
  services/platform/apps/billing/fiscal_correction_worker.py
  services/platform/apps/billing/refund_models.py
  services/platform/tests/billing/test_builtin_storno_delivery.py
  services/platform/tests/billing/test_builtin_storno_issuance.py
  services/platform/tests/billing/test_builtin_storno_review_fixes.py
  services/platform/tests/billing/test_fiscal_correction_issuance_model.py
  services/platform/tests/billing/test_storno_held_amount_as_of.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing): take off a refund that belongs to no correction on the invoice
  services/platform/tests/billing/test_storno_held_amount_as_of.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(billing): take off the completed legs of an unfinished tender command
  services/platform/apps/billing/fiscal_correction_worker.py
  services/platform/tests/billing/test_storno_held_amount_as_of.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(billing): state the storno email's at-least-once delivery and the filing backoff
  CHANGELOG.md
  docs/ADRs/ADR-0053-every-settled-refund-issues-a-storno.md
  services/platform/apps/billing/fiscal_correction_worker.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): issue the built-in storno credit note every refund owes (ADR-0053) (#600)
  .github/workflows/integration.yml
  CHANGELOG.md
  docs/ADRs/ADR-0048-external-invoice-issuer.md
  docs/ADRs/ADR-0053-every-settled-refund-issues-a-storno.md
  docs/ADRs/README.md
  services/platform/apps/billing/credit_note_lines.py
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/efactura/validator.py
  services/platform/apps/billing/fiscal_correction_allocation.py
  services/platform/apps/billing/fiscal_correction_models.py
  services/platform/apps/billing/fiscal_correction_worker.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/migrations/0006_builtin_storno_issuance.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/pdf_generators.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/services.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/tax_evidence.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/notifications/management/commands/setup_email_templates.py
  services/platform/apps/notifications/services.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/tests/billing/_storno_helpers.py
  services/platform/tests/billing/test_billing_ownership.py
  services/platform/tests/billing/test_builtin_storno_concurrency.py
  services/platform/tests/billing/test_builtin_storno_delivery.py
  services/platform/tests/billing/test_builtin_storno_issuance.py
  services/platform/tests/billing/test_credit_note_vat_evidence.py
  services/platform/tests/billing/test_fiscal_correction_allocation.py
  services/platform/tests/billing/test_fiscal_correction_issuance_model.py
  services/platform/tests/billing/test_invoice_sequence_scope.py
  services/platform/tests/billing/test_storno_held_amount_as_of.py
  services/platform/tests/common/test_nightly_ci_workflow.py
  services/platform/tests/notifications/test_invoice_email_locale.py
  services/platform/tests/notifications/test_template_key_consistency.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): issue SmartBill stornos from the refund's fiscal correction (ADR-0053)
  services/platform/apps/billing/fiscal_correction_models.py
  services/platform/apps/billing/fiscal_correction_service.py
  services/platform/apps/billing/fiscal_correction_worker.py
  services/platform/apps/billing/forms.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/issuers/models.py
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/issuers/tasks.py
  services/platform/apps/billing/migrations/0007_smartbill_correction_identity.py
  services/platform/apps/billing/operator_controls.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/urls.py
  services/platform/apps/billing/views.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/templates/billing/provider_reconciliation_queue.html
  services/platform/templates/billing/provider_storno_form.html
  services/platform/tests/billing/_fiscal_correction_helpers.py
  services/platform/tests/billing/efactura/test_credit_note_currency_xml.py
  services/platform/tests/billing/efactura/test_credit_note_xml_totals.py
  services/platform/tests/billing/test_billing_ownership.py
  services/platform/tests/billing/test_builtin_storno_issuance.py
  services/platform/tests/billing/test_credit_note_discount.py
  services/platform/tests/billing/test_credit_note_fx.py
  services/platform/tests/billing/test_credit_note_pdf.py
  services/platform/tests/billing/test_currency_alert_thresholds.py
  services/platform/tests/billing/test_fiscal_correction_obligations.py
  services/platform/tests/billing/test_issuer_creation_paths.py
  services/platform/tests/billing/test_provider_recovery_routing.py
  services/platform/tests/billing/test_provider_storno.py
  services/platform/tests/billing/test_provider_storno_recorded_by_staff.py
  services/platform/tests/billing/test_refund_scope_settlement.py
  services/platform/tests/billing/test_smartbill_storno_by_correction.py
  services/platform/tests/promotions/test_tender_refunds.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(billing): record how SmartBill stornos follow the fiscal correction (ADR-0053, ADR-0048)
  CHANGELOG.md
  docs/ADRs/ADR-0048-external-invoice-issuer.md
  docs/ADRs/ADR-0053-every-settled-refund-issues-a-storno.md
  docs/domain/EXTERNAL_INVOICE_ISSUER.md
Due: none

test(billing): pin the storno document and D390 date a SmartBill correction gets
  services/platform/tests/billing/test_provider_storno_recorded_by_staff.py
  services/platform/tests/billing/test_smartbill_storno_by_correction.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

docs(billing): describe the provider storno checks without naming a review note
  services/platform/apps/billing/fiscal_correction_service.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): date and record SmartBill stornos the way their checks read them
  docs/ADRs/ADR-0053-every-settled-refund-issues-a-storno.md
  services/platform/apps/billing/fiscal_correction_service.py
  services/platform/apps/billing/fiscal_correction_worker.py
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/operator_controls.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/tax_evidence.py
  services/platform/tests/billing/_fiscal_correction_helpers.py
  services/platform/tests/billing/test_provider_storno.py
  services/platform/tests/billing/test_provider_storno_recorded_by_staff.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): count a reversal whose enqueue failed as skipped, not queued
  services/platform/apps/billing/fiscal_correction_worker.py
  services/platform/apps/billing/issuers/tasks.py
  services/platform/tests/billing/test_provider_recovery_routing.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): issue SmartBill stornos from the refund's fiscal correction, record partial ones by hand (#601)
  CHANGELOG.md
  docs/ADRs/ADR-0048-external-invoice-issuer.md
  docs/ADRs/ADR-0053-every-settled-refund-issues-a-storno.md
  docs/domain/EXTERNAL_INVOICE_ISSUER.md
  services/platform/apps/billing/fiscal_correction_models.py
  services/platform/apps/billing/fiscal_correction_service.py
  services/platform/apps/billing/fiscal_correction_worker.py
  services/platform/apps/billing/forms.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/issuers/models.py
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/issuers/tasks.py
  services/platform/apps/billing/migrations/0007_smartbill_correction_identity.py
  services/platform/apps/billing/operator_controls.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/tax_evidence.py
  services/platform/apps/billing/urls.py
  services/platform/apps/billing/views.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/templates/billing/provider_reconciliation_queue.html
  services/platform/templates/billing/provider_storno_form.html
  services/platform/tests/billing/_fiscal_correction_helpers.py
  services/platform/tests/billing/efactura/test_credit_note_currency_xml.py
  services/platform/tests/billing/efactura/test_credit_note_xml_totals.py
  services/platform/tests/billing/test_billing_ownership.py
  services/platform/tests/billing/test_builtin_storno_issuance.py
  services/platform/tests/billing/test_credit_note_discount.py
  services/platform/tests/billing/test_credit_note_fx.py
  services/platform/tests/billing/test_credit_note_pdf.py
  services/platform/tests/billing/test_currency_alert_thresholds.py
  services/platform/tests/billing/test_fiscal_correction_obligations.py
  services/platform/tests/billing/test_issuer_creation_paths.py
  services/platform/tests/billing/test_provider_recovery_routing.py
  services/platform/tests/billing/test_provider_storno.py
  services/platform/tests/billing/test_provider_storno_recorded_by_staff.py
  services/platform/tests/billing/test_refund_scope_settlement.py
  services/platform/tests/billing/test_smartbill_storno_by_correction.py
  services/platform/tests/promotions/test_tender_refunds.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): report fiscal and cash revenue side by side, date VAT by its documents
  CHANGELOG.md
  docs/ADRs/ADR-0048-external-invoice-issuer.md
  docs/ADRs/ADR-0053-every-settled-refund-issues-a-storno.md
  services/platform/apps/billing/views.py
  services/platform/apps/common/views.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/templates/billing/partials/undated_corrections_warning.html
  services/platform/templates/billing/reports.html
  services/platform/templates/billing/vat_report.html
  services/platform/templates/dashboard.html
  services/platform/tests/billing/_revenue_report_helpers.py
  services/platform/tests/billing/test_billing_report_screens.py
  services/platform/tests/billing/test_reports_flag_corrections_without_a_period.py
  services/platform/tests/billing/test_revenue_nets_reversals.py
  services/platform/tests/billing/test_staff_currency_summaries.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing): cover the reports against SmartBill corrections and several notes per original
  docs/ADRs/ADR-0048-external-invoice-issuer.md
  docs/ADRs/ADR-0053-every-settled-refund-issues-a-storno.md
  services/platform/apps/billing/views.py
  services/platform/tests/billing/_revenue_report_helpers.py
  services/platform/tests/billing/test_reports_flag_corrections_without_a_period.py
  services/platform/tests/billing/test_revenue_nets_reversals.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

perf(billing): select the VAT period on indexed columns, count unsent notes once
  services/platform/apps/billing/fiscal_correction_models.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/migrations/0008_report_period_indexes.py
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_reports_flag_corrections_without_a_period.py
  services/platform/tests/billing/test_revenue_nets_reversals.py
  services/platform/tests/billing/test_vat_period_boundaries.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): refuse the last representable end date, name the dashboard card for what it sums
  CHANGELOG.md
  services/platform/apps/billing/views.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/templates/dashboard.html
  services/platform/tests/billing/test_billing_report_screens.py
  services/platform/tests/billing/test_staff_currency_summaries.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): report fiscal and cash revenue side by side, date credit notes by their communication (#602)
  CHANGELOG.md
  docs/ADRs/ADR-0048-external-invoice-issuer.md
  docs/ADRs/ADR-0053-every-settled-refund-issues-a-storno.md
  services/platform/apps/billing/fiscal_correction_models.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/migrations/0008_report_period_indexes.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/views.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/templates/billing/partials/undated_corrections_warning.html
  services/platform/templates/billing/reports.html
  services/platform/templates/billing/vat_report.html
  services/platform/templates/dashboard.html
  services/platform/tests/billing/_revenue_report_helpers.py
  services/platform/tests/billing/test_billing_report_screens.py
  services/platform/tests/billing/test_reports_flag_corrections_without_a_period.py
  services/platform/tests/billing/test_revenue_nets_reversals.py
  services/platform/tests/billing/test_staff_currency_summaries.py
  services/platform/tests/billing/test_vat_period_boundaries.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): keep credit notes with no fiscal correction visible in D390
  services/platform/apps/billing/ec_sales_service.py
  services/platform/tests/billing/test_d390_declares_credit_notes_in_their_communication_month.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): declare storno credit notes in D390 as negative lines in their communication month
  CHANGELOG.md
  docs/ADRs/ADR-0053-every-settled-refund-issues-a-storno.md
  docs/billing/D390_ACCOUNTANT_HANDOFF.md
  services/platform/apps/billing/d390.py
  services/platform/apps/billing/d390_schema/README.md
  services/platform/apps/billing/ec_sales_service.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/templates/billing/d390_report.html
  services/platform/tests/billing/test_d390.py
  services/platform/tests/billing/test_d390_declares_credit_notes_in_their_communication_month.py
  services/platform/tests/billing/test_ec_sales_credit_notes.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): settle D390 refunds per invoice and per refunded payment
  docs/ADRs/ADR-0053-every-settled-refund-issues-a-storno.md
  docs/billing/D390_ACCOUNTANT_HANDOFF.md
  services/platform/apps/billing/ec_sales_service.py
  services/platform/tests/billing/test_d390_declares_credit_notes_in_their_communication_month.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): read each D390 refund's correction with the refund, and date unsent notes by their tax point
  services/platform/apps/billing/ec_sales_service.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/templates/billing/d390_report.html
  services/platform/tests/billing/test_d390_declares_credit_notes_in_their_communication_month.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): declare storno credit notes in D390 as negative lines in their communication month (#603)
  CHANGELOG.md
  docs/ADRs/ADR-0053-every-settled-refund-issues-a-storno.md
  docs/billing/D390_ACCOUNTANT_HANDOFF.md
  services/platform/apps/billing/d390.py
  services/platform/apps/billing/d390_schema/README.md
  services/platform/apps/billing/ec_sales_service.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/templates/billing/d390_report.html
  services/platform/tests/billing/test_d390.py
  services/platform/tests/billing/test_d390_declares_credit_notes_in_their_communication_month.py
  services/platform/tests/billing/test_ec_sales_credit_notes.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ui): pass every shared input attribute through Platform's input_field
  CHANGELOG.md
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/templates/products/product_price_form.html
  services/platform/tests/ui/test_input_field_renders_every_template_attribute.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/tests/ui/test_input_field_renders_every_template_attribute.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(ui): approve the input template guard's twin in each service
  scripts/test_layout_allowlist.json
Due: none

fix(ui): announce the help text under an input, under its own id
  services/platform/tests/ui/test_input_field_renders_every_template_attribute.py
  services/portal/tests/ui/test_input_field_renders_every_template_attribute.py
  shared/ui/templates/components/input.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ui): pass every shared input attribute through Platform's input_field (#604)
  CHANGELOG.md
  scripts/test_layout_allowlist.json
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/templates/products/product_price_form.html
  services/platform/tests/ui/test_input_field_renders_every_template_attribute.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/tests/ui/test_input_field_renders_every_template_attribute.py
  shared/ui/templates/components/input.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ui): fail loudly on unknown tag arguments, fix every template that passed one
  CHANGELOG.md
  scripts/test_layout_allowlist.json
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/templates/audit/partials/gdpr_export_requests_list.html
  services/platform/templates/customers/edit.html
  services/platform/templates/customers/partials/header_action.html
  services/platform/templates/orders/product_catalog.html
  services/platform/templates/provisioning/virtualmin/restore_form.html
  services/platform/tests/audit/test_audit_views_regressions.py
  services/platform/tests/billing/test_invoice_edit_line_controls.py
  services/platform/tests/provisioning/test_virtualmin_restore_page.py
  services/platform/tests/ui/test_tag_call_sites_pass_only_accepted_arguments.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/templates/services/partials/usage_chart.html
  services/portal/templates/services/service_usage.html
  services/portal/templates/styleguide/index.html
  services/portal/tests/ui/test_component_card.py
  services/portal/tests/ui/test_tag_call_sites_pass_only_accepted_arguments.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ui): scan inside page_header and section_card, and check their arguments
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/tests/provisioning/test_virtualmin_restore_page.py
  services/platform/tests/ui/test_tag_call_sites_pass_only_accepted_arguments.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/tests/ui/test_tag_call_sites_pass_only_accepted_arguments.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
