Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

ruff-new-violations:
  name: 'Ruff: Block New Violations Only'
  entry: uv run python
  args:
  - scripts/ruff_new_violations.py
  - --staged
  language: system
  pass_filenames: true
  require_serial: true

type-check-modified:
  name: Type Check Modified Files
  entry: uv run python
  args:
  - services/platform/scripts/check_types_modified.py
  - --staged
  language: system
  pass_filenames: false
  require_serial: false

prevent-type-ignore:
  name: Block New Type Ignore Comments
  entry: uv run python
  args:
  - services/platform/scripts/prevent_type_ignore.py
  - --staged-only
  language: system
  pass_filenames: true
  stages:
  - pre-commit

django-template-check:
  name: Django Template Syntax Check
  entry: uv run python
  args:
  - services/platform/scripts/fix_template_comparisons.py
  - --check
  language: system

portal-isolation-check:
  name: 'Security: Portal Isolation Check'
  entry: bash
  args:
  - -c
  ...

audit-coverage-check:
  name: 'Security: Audit Coverage Check'
  entry: uv run python
  args:
  - scripts/audit_coverage_scan.py
  - --min-severity=high
  - --exclude-tests
  - services/platform/apps
  language: system
  pass_filenames: false
  stages:
  - pre-commit

security-credentials-check:
  name: 'Security: Check for Hardcoded Credentials'
  entry: bash
  args:
  - -c
  - '# Use ruff to check for hardcoded credentials
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=S105,S106,S107,S108 --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

i18n-coverage-check:
  name: 'i18n: Check for Unwrapped Strings'
  entry: uv run python
  args:
  - scripts/lint_i18n_coverage.py
  - --fail-on
  - high
  - --allowlist
  - scripts/i18n_coverage_allowlist.txt
  language: system
  pass_filenames: true

performance-check:
  name: 'Performance: Check for Anti-patterns'
  entry: bash
  args:
  - -c
  - '# Check for performance issues in modified files
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=PERF,C90,PIE,SIM --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

fix(tickets): stop converting attachment file-layer errors into opaque 500s
  CHANGELOG.md
  services/platform/apps/api/tickets/views.py
  services/platform/tests/tickets/test_tickets_api_error_handling.py
  services/portal/apps/api_client/views.py
  services/portal/tests/api_client/test_download_attachment_view.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(tickets): make every traceback-logging conversion deletion-resistant
  services/platform/tests/tickets/test_tickets_api_error_handling.py
  services/portal/tests/api_client/test_download_attachment_view.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, performance-check

fix(tickets): stop converting attachment file-layer errors into opaque 500s (#490)
  CHANGELOG.md
  services/platform/apps/api/tickets/views.py
  services/platform/tests/tickets/test_tickets_api_error_handling.py
  services/portal/apps/api_client/views.py
  services/portal/tests/api_client/test_download_attachment_view.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(encryption): PostgreSQL coverage for the --rekey path incl. ORM readback
  tests/integration/test_reencrypt_with_aad_postgres.py
Due: ruff-new-violations, type-check-modified

test(encryption): delimiter-bound the rekey count assertions
  tests/integration/test_reencrypt_with_aad_postgres.py
Due: ruff-new-violations, type-check-modified

test(encryption): PostgreSQL coverage for the --rekey path incl. ORM readback (#491)
  tests/integration/test_reencrypt_with_aad_postgres.py
Due: ruff-new-violations, type-check-modified

ci: give the API token concurrency step migration-setup headroom
  .github/workflows/integration.yml
Due: none

ci: give the API token concurrency step migration-setup headroom (#492)
  .github/workflows/integration.yml
Due: none

test(ci): align the concurrency-step timeout guardrail with the 8-minute budget
  services/platform/tests/common/test_nightly_ci_workflow.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

test(ui): behavior-level e2e coverage for the filter tab widget, styling from aria-selected
  CHANGELOG.md
  Makefile
  scripts/test_layout_allowlist.json
  services/platform/apps/tickets/views.py
  services/platform/static/css/tailwind.min.css
  services/platform/templates/tickets/list.html
  services/platform/tests/tickets/test_ticket_list_rendering.py
  services/portal/apps/billing/views.py
  services/portal/apps/services/views.py
  services/portal/apps/tickets/views.py
  services/portal/static/css/tailwind.min.css
  services/portal/templates/billing/invoices_list.html
  services/portal/templates/services/service_list.html
  services/portal/templates/tickets/ticket_list.html
  shared/ui/static/js/ui-actions.js
  shared/ui/templates/components/list_page_filters.html
  tests/e2e/helpers/filter_tabs.py
  tests/e2e/helpers/htmx.py
  tests/e2e/platform/test_filter_tabs_platform.py
  tests/e2e/portal/test_filter_tabs_portal.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(ci): align the concurrency-step timeout guardrail with the 8-minute budget (#493)
  services/platform/tests/common/test_nightly_ci_workflow.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(ui): label the filter tabpanel from both breakpoints' active tabs
  services/platform/templates/tickets/list.html
  services/platform/tests/tickets/test_ticket_list_rendering.py
  services/portal/templates/billing/invoices_list.html
  services/portal/templates/services/service_list.html
  services/portal/templates/tickets/ticket_list.html
  shared/ui/static/js/ui-actions.js
  tests/e2e/helpers/filter_tabs.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, security-credentials-check, i18n-coverage-check, performance-check

test(ui): behavior-level e2e coverage for the filter tab widget, styling from aria-selected (#495)
  CHANGELOG.md
  Makefile
  scripts/test_layout_allowlist.json
  services/platform/apps/tickets/views.py
  services/platform/static/css/tailwind.min.css
  services/platform/templates/tickets/list.html
  services/platform/tests/tickets/test_ticket_list_rendering.py
  services/portal/apps/billing/views.py
  services/portal/apps/services/views.py
  services/portal/apps/tickets/views.py
  services/portal/static/css/tailwind.min.css
  services/portal/templates/billing/invoices_list.html
  services/portal/templates/services/service_list.html
  services/portal/templates/tickets/ticket_list.html
  shared/ui/static/js/ui-actions.js
  shared/ui/templates/components/list_page_filters.html
  tests/e2e/helpers/filter_tabs.py
  tests/e2e/helpers/htmx.py
  tests/e2e/platform/test_filter_tabs_platform.py
  tests/e2e/portal/test_filter_tabs_portal.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(provisioning): Virtualmin migration foundations — model, fencing, gateway timeout, dispatcher wiring
  scripts/audit_model_allowlist.txt
  services/platform/apps/audit/migrations/0016_alter_auditevent_action.py
  services/platform/apps/audit/models.py
  services/platform/apps/provisioning/migrations/0004_alter_virtualminprovisioningjob_operation_and_more.py
  services/platform/apps/provisioning/models.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/apps/provisioning/virtualmin_migration_models.py
  services/platform/apps/provisioning/virtualmin_migration_service.py
  services/platform/apps/provisioning/virtualmin_models.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/tests/mocks/virtualmin_mock.py
  services/platform/tests/provisioning/test_virtualmin_migration_foundations.py
  services/platform/tests/provisioning/test_virtualmin_retry_contract.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(provisioning): node-to-node Virtualmin account migration (#359)
  services/platform/apps/infrastructure/ansible_service.py
  services/platform/apps/provisioning/virtualmin_forms.py
  services/platform/apps/provisioning/virtualmin_migration_models.py
  services/platform/apps/provisioning/virtualmin_migration_service.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/apps/provisioning/virtualmin_urls.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/apps/settings/catalog.py
  services/platform/infrastructure/ansible/playbooks/virtualmin_migrate_fetch.yml
  services/platform/infrastructure/ansible/playbooks/virtualmin_migrate_push.yml
  services/platform/templates/provisioning/virtualmin/account_detail.html
  services/platform/templates/provisioning/virtualmin/migrate_form.html
  services/platform/templates/provisioning/virtualmin/migration_status.html
  services/platform/tests/fixtures/virtualmin/responses/list_domains.py
  services/platform/tests/mocks/virtualmin_mock.py
  services/platform/tests/provisioning/test_virtualmin_migration_foundations.py
  services/platform/tests/provisioning/test_virtualmin_migration_service.py
  services/platform/tests/provisioning/test_virtualmin_task_retry_contract.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(provisioning): node drain, stop/start hooks, and failover stamping
  CHANGELOG.md
  services/platform/apps/audit/migrations/0017_alter_auditevent_action.py
  services/platform/apps/audit/models.py
  services/platform/apps/infrastructure/audit_service.py
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/forms.py
  services/platform/apps/infrastructure/tasks.py
  services/platform/apps/infrastructure/tests/test_integration.py
  services/platform/apps/infrastructure/views.py
  services/platform/apps/provisioning/migrations/0005_virtualminserver_is_draining_nodedrain.py
  services/platform/apps/provisioning/models.py
  services/platform/apps/provisioning/virtualmin_drain_service.py
  services/platform/apps/provisioning/virtualmin_drain_views.py
  services/platform/apps/provisioning/virtualmin_migration_models.py
  services/platform/apps/provisioning/virtualmin_migration_service.py
  services/platform/apps/provisioning/virtualmin_models.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/apps/provisioning/virtualmin_urls.py
  services/platform/apps/settings/catalog.py
  services/platform/templates/infrastructure/deployment_create.html
  services/platform/templates/infrastructure/deployment_detail.html
  services/platform/templates/provisioning/virtualmin/drain.html
  services/platform/templates/provisioning/virtualmin/server_detail.html
  services/platform/tests/infrastructure/test_deployment_retriability.py
  services/platform/tests/infrastructure/test_node_drain_hooks.py
  services/platform/tests/provisioning/test_virtualmin_drain.py
  services/platform/tests/provisioning/test_virtualmin_migration_service.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(provisioning): settings-driven Virtualmin placement policy
  CHANGELOG.md
  docs/ADRs/ADR-0044-virtualmin-placement-policy.md
  docs/ADRs/README.md
  services/platform/apps/provisioning/migrations/0006_alter_virtualminserver_weight.py
  services/platform/apps/provisioning/placement.py
  services/platform/apps/provisioning/virtualmin_drain_service.py
  services/platform/apps/provisioning/virtualmin_migration_service.py
  services/platform/apps/provisioning/virtualmin_models.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/settings/catalog.py
  services/platform/apps/settings/services.py
  services/platform/tests/provisioning/test_virtualmin_drain.py
  services/platform/tests/provisioning/test_virtualmin_placement.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(audit): allowlist NodeDrain — lifecycle audited by the drain service
  scripts/audit_model_allowlist.txt
Due: none

fix(provisioning): harden migration ambiguity, capacity, and recovery boundaries
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/provisioning/virtualmin_drain_service.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/apps/provisioning/virtualmin_migration_service.py
  services/platform/apps/provisioning/virtualmin_models.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/apps/provisioning/virtualmin_urls.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/templates/provisioning/virtualmin/migration_status.html
  services/platform/tests/infrastructure/test_node_drain_hooks.py
  services/platform/tests/provisioning/test_virtualmin_migration_boundaries.py
  services/platform/tests/provisioning/test_virtualmin_migration_service.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): close placement-policy bypasses and auto-drain deadlock
  services/platform/apps/provisioning/virtualmin_drain_service.py
  services/platform/apps/provisioning/virtualmin_forms.py
  services/platform/apps/provisioning/virtualmin_migration_service.py
  services/platform/templates/provisioning/virtualmin/server_detail.html
  services/platform/tests/provisioning/test_virtualmin_migration_boundaries.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): tighten rejection evidence, reclaim safety, and sync guards
  services/platform/apps/provisioning/virtualmin_drain_service.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/apps/provisioning/virtualmin_migration_service.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/templates/provisioning/virtualmin/migration_status.html
  services/platform/tests/provisioning/test_virtualmin_migration_boundaries.py
  services/platform/tests/provisioning/test_virtualmin_retriability.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(provisioning): durable backup/restore job layer with token-fenced execution
  scripts/audit_model_allowlist.txt
  services/platform/apps/provisioning/management/commands/virtualmin_backup.py
  services/platform/apps/provisioning/migrations/0007_spoolreservation_spoolroot_and_more.py
  services/platform/apps/provisioning/spool.py
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/apps/provisioning/virtualmin_migration_models.py
  services/platform/apps/provisioning/virtualmin_migration_service.py
  services/platform/apps/provisioning/virtualmin_models.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/apps/settings/catalog.py
  services/platform/tests/provisioning/test_backup_job_failure_state.py
  services/platform/tests/provisioning/test_virtualmin_backup_jobs.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(provisioning): backup archive transport to spool and honest publication
  services/platform/apps/infrastructure/ansible_service.py
  services/platform/apps/provisioning/management/commands/virtualmin_backup.py
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/apps/provisioning/virtualmin_forms.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/apps/provisioning/virtualmin_migration_service.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/infrastructure/ansible/playbooks/virtualmin_backup_fetch.yml
  services/platform/infrastructure/ansible/playbooks/virtualmin_backup_push.yml
  services/platform/infrastructure/ansible/playbooks/virtualmin_remote_cleanup.yml
  services/platform/tests/provisioning/test_backup_remote_honesty.py
  services/platform/tests/provisioning/test_virtualmin_backup_transport.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(provisioning): real domain restore with fail-closed gates and DR truth
  docs/architecture/CODEBASE_ARCHAEOLOGY.md
  services/platform/apps/provisioning/PRAHO_AS_SOURCE_OF_TRUTH_ANALYSIS.md
  services/platform/apps/provisioning/TODO_WEEK3_RECOVERY.md
  services/platform/apps/provisioning/TODO_WEEK4_VERIFICATION.md
  services/platform/apps/provisioning/VIRTUALMIN_README.md
  services/platform/apps/provisioning/management/commands/virtualmin_backup.py
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/apps/provisioning/virtualmin_disaster_recovery.py
  services/platform/apps/provisioning/virtualmin_forms.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/apps/provisioning/virtualmin_urls.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/templates/provisioning/virtualmin/partials/job_status.html
  services/platform/templates/provisioning/virtualmin/restore_form.html
  services/platform/tests/provisioning/test_disaster_recovery_integrity.py
  services/platform/tests/provisioning/test_restore_fail_closed.py
  services/platform/tests/provisioning/test_virtualmin_backup_jobs.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(infrastructure): enforce snapshot invariants, cert-trust gate, pin report
  CHANGELOG.md
  docs/ADRs/ADR-0045-committed-side-effect-boundaries.md
  docs/ADRs/README.md
  docs/deployment/DEPLOYMENT.md
  services/platform/apps/infrastructure/drift_remediation.py
  services/platform/apps/infrastructure/hcloud_service.py
  services/platform/apps/infrastructure/management/commands/pin_virtualmin_certificates.py
  services/platform/apps/infrastructure/registration_service.py
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/apps/settings/catalog.py
  services/platform/infrastructure/ansible/playbooks/virtualmin.yml
  services/platform/tests/infrastructure/test_drift_remediation.py
  services/platform/tests/infrastructure/test_node_activation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): harden restore refusals, audit trail, and status UI
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/apps/provisioning/virtualmin_disaster_recovery.py
  services/platform/apps/provisioning/virtualmin_signals.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/templates/provisioning/virtualmin/partials/job_status.html
  services/platform/tests/provisioning/test_restore_fail_closed.py
  services/platform/tests/provisioning/test_virtualmin_backup_jobs.py
  services/platform/tests/provisioning/test_virtualmin_backup_transport.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): close verification-pass PARTIALs (C1/C2/C4/W3)
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/apps/provisioning/virtualmin_disaster_recovery.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/templates/provisioning/virtualmin/backup_status.html
  services/platform/templates/provisioning/virtualmin/partials/job_status.html
  services/platform/tests/provisioning/test_disaster_recovery_integrity.py
  services/platform/tests/provisioning/test_restore_fail_closed.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): async-review follow-ups — archive-name guard, fetch cleanup, seed check
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/apps/provisioning/virtualmin_disaster_recovery.py
  services/platform/tests/provisioning/test_disaster_recovery_integrity.py
  services/platform/tests/provisioning/test_restore_fail_closed.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(dev): stop debug-toolbar cache-wrapper accumulation that killed login under load
  pyproject.toml
  services/platform/config/settings/dev.py
  services/platform/tests/common/test_debug_toolbar_cache_panel.py
  services/portal/config/settings/dev.py
  uv.lock
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

test(e2e): repair three stale platform specs and seed the dev deployment DNS zone
  CHANGELOG.md
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/tests/common/test_generate_sample_data_dns_zone.py
  tests/e2e/platform/test_platform_tickets.py
  tests/e2e/platform/test_staff_users.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(dev): extendable toolbar allowlist, exact tab-selection assert, changelog repair
  CHANGELOG.md
  services/platform/config/settings/dev.py
  services/portal/config/settings/dev.py
  tests/e2e/platform/test_platform_tickets.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, i18n-coverage-check, performance-check

fix(dev): surface DNS-seed failures and forward the toolbar allowlist into containers
  .env.example.dev
  deploy/docker-compose.dev.yml
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/tests/common/test_generate_sample_data_dns_zone.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(e2e): restore full-suite trustworthiness — toolbar cache-wrapper leak + 3 stale platform tests (#500)
  .env.example.dev
  CHANGELOG.md
  deploy/docker-compose.dev.yml
  pyproject.toml
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/config/settings/dev.py
  services/platform/tests/common/test_debug_toolbar_cache_panel.py
  services/platform/tests/common/test_generate_sample_data_dns_zone.py
  services/portal/config/settings/dev.py
  tests/e2e/platform/test_platform_tickets.py
  tests/e2e/platform/test_staff_users.py
  uv.lock
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(users): set the submitted password when registering a customer owner
  services/platform/apps/users/services.py
  services/platform/tests/security/test_enhanced_validation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): map registration customer_type to platform-canonical values
  services/portal/apps/users/forms.py
  services/portal/tests/users/test_registration_customer_type_mapping.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

test(users): harden registration negative tests + document required password
  services/platform/apps/users/services.py
  services/platform/tests/security/test_enhanced_validation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(api): surface the real registration error instead of masking it
  services/platform/apps/api/customers/serializers.py
  services/platform/tests/api/test_registration_serializer.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): avoid CSP inventory guardrail false-positive on the ONG mapping key
  services/portal/apps/users/forms.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
