Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

ruff-new-violations:
  name: 'Ruff: Block New Violations Only'
  entry: uv run python
  args:
  - scripts/ruff_new_violations.py
  - --staged
  language: system
  pass_filenames: true
  require_serial: true

type-check-modified:
  name: Type Check Modified Files
  entry: uv run python
  args:
  - services/platform/scripts/check_types_modified.py
  - --staged
  language: system
  pass_filenames: false
  require_serial: false

prevent-type-ignore:
  name: Block New Type Ignore Comments
  entry: uv run python
  args:
  - services/platform/scripts/prevent_type_ignore.py
  - --staged-only
  language: system
  pass_filenames: true
  stages:
  - pre-commit

django-template-check:
  name: Django Template Syntax Check
  entry: uv run python
  args:
  - services/platform/scripts/fix_template_comparisons.py
  - --check
  language: system

portal-isolation-check:
  name: 'Security: Portal Isolation Check'
  entry: bash
  args:
  - -c
  ...

audit-coverage-check:
  name: 'Security: Audit Coverage Check'
  entry: uv run python
  args:
  - scripts/audit_coverage_scan.py
  - --min-severity=high
  - --exclude-tests
  - services/platform/apps
  language: system
  pass_filenames: false
  stages:
  - pre-commit

security-credentials-check:
  name: 'Security: Check for Hardcoded Credentials'
  entry: bash
  args:
  - -c
  - '# Use ruff to check for hardcoded credentials
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=S105,S106,S107,S108 --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

i18n-coverage-check:
  name: 'i18n: Check for Unwrapped Strings'
  entry: uv run python
  args:
  - scripts/lint_i18n_coverage.py
  - --fail-on
  - high
  - --allowlist
  - scripts/i18n_coverage_allowlist.txt
  language: system
  pass_filenames: true

performance-check:
  name: 'Performance: Check for Anti-patterns'
  entry: bash
  args:
  - -c
  - '# Check for performance issues in modified files
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=PERF,C90,PIE,SIM --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

fix(billing): rotate the pending sweep so a stuck issuance cannot hold the queue head
  services/platform/apps/billing/issuers/tasks.py
  services/platform/tests/billing/test_pending_sweep_rotation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): name the documents the abandoned-claim sweep quarantines
  services/platform/apps/billing/issuers/tasks.py
  services/platform/tests/billing/test_abandoned_claim_log.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): normalise the parent id and pick it by what the save will persist
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/issuers/tasks.py
  services/platform/apps/billing/operator_controls.py
  services/platform/tests/billing/test_invoice_line_direction.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): treat a zero primary key as saved and stop consuming update_fields twice
  services/platform/apps/billing/invoice_models.py
  services/platform/tests/billing/test_invoice_line_direction.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): guard direction at the two bulk paths that already lock the parent
  services/platform/apps/billing/invoice_querysets.py
  services/platform/tests/billing/test_adoption_failure_is_reported.py
  services/platform/tests/billing/test_invoice_line_direction.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing): prove the direction check is gated for a reason, not for cost alone
  services/platform/tests/billing/test_invoice_line_direction.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

feat(e2e): measure coverage inside the servers the browser suite drives
  Makefile
  scripts/e2e_stack.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

feat(ci): report portal coverage as the union of its unit and browser suites
  .gitignore
  Makefile
Due: none

ci(nightly): run the browser suite so end-to-end work finally moves a number
  .github/workflows/nightly.yml
Due: none

fix(billing): stop the VAT report dropping today's invoices across the date boundary
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_billing_report_screens.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ci): measure coverage correctly, then gate it per package
  .github/workflows/nightly.yml
  .github/workflows/platform.yml
  .gitignore
  Makefile
  pyproject.toml
Due: none

fix(platform): answer the maintenance gate in JSON on the API surface
  services/platform/apps/common/middleware.py
  services/platform/tests/common/test_maintenance_gate.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(e2e): drive a real maintenance window and observe it in the portal
  tests/e2e/portal/test_maintenance_window.py
Due: ruff-new-violations, type-check-modified

test(portal): assert the button's own attribute, not a string the page always contains
  services/portal/tests/common/test_maintenance_feedback.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, performance-check

fix(portal): tell the customer it is maintenance, not that their data is gone
  services/portal/apps/api_client/services.py
  services/portal/apps/billing/services.py
  services/portal/apps/common/auth.py
  services/portal/apps/common/rate_limit_feedback.py
  services/portal/apps/tickets/services.py
  services/portal/apps/users/views.py
  services/portal/templates/billing/partials/invoices_table.html
  services/portal/templates/components/maintenance_inline_alert.html
  services/portal/templates/services/partials/services_table.html
  services/portal/templates/tickets/partials/tickets_table.html
  services/portal/templates/users/login.html
  services/portal/tests/common/test_maintenance_feedback.py
  services/portal/tests/security/test_hmac_production_security.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

feat(settings): gate the dimension every existing check missed — effect
  scripts/lint_settings_coverage.py
  scripts/settings_effect_baseline.txt
  services/platform/tests/settings/test_smartbill_settings_effects.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, performance-check

test(settings): finish the business zone — every testable key now has an effect test
  QA/cycle-02-v0.30.0/findings.md
  scripts/settings_effect_baseline.txt
  services/platform/tests/billing/test_efactura_deadline_settings_effects.py
  services/platform/tests/customers/test_credit_settings_effects.py
  services/platform/tests/orders/test_order_settings_effects.py
  services/platform/tests/tickets/test_ticket_settings_effects.py
  services/platform/tests/users/test_session_settings_effects.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, performance-check

docs(qa): archive cycle 1, promote the plan, and record cycle 2's findings
  QA/README.md
  QA/cycle-01-v0.21.0/README.md
  QA/cycle-01-v0.21.0/action_log.md
  QA/cycle-01-v0.21.0/mobile_pass_plan.md
  QA/cycle-01-v0.21.0/qa_report.md
  QA/cycle-02-v0.30.0/findings.md
  QA/plan.md
Due: none

feat(settings): find the 43 settings that are editable and provably inert
  scripts/lint_settings_coverage.py
  scripts/settings_inert_baseline.txt
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, performance-check

fix(settings): correct the guardrail's overclaims — 43 inert is really 56
  scripts/lint_settings_coverage.py
  scripts/settings_drift_baseline.txt
  scripts/settings_inert_baseline.txt
  services/platform/tests/common/test_settings_lint_detectors.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, performance-check

docs(qa): point the price-override finding at its tracking issue
  QA/cycle-02-v0.30.0/findings.md
  scripts/settings_inert_baseline.txt
Due: none

test(settings): drive the company identity settings where a reader actually sees them
  QA/cycle-02-v0.30.0/findings.md
  scripts/settings_effect_baseline.txt
  services/platform/tests/settings/test_company_identity_effects.py
  services/platform/tests/settings/test_smartbill_settings_effects.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, performance-check

docs(qa): cite pull requests rather than short SHAs in the cycle-2 record
  QA/cycle-02-v0.30.0/findings.md
Due: none

chore: bump version to v0.30.0 and update CHANGELOG
  CHANGELOG.md
  QA/cycle-02-v0.30.0/findings.md
  README.md
  docs/ADRs/README.md
  pyproject.toml
  services/platform/apps/common/views.py
  services/platform/pyproject.toml
  services/platform/templates/base.html
  services/portal/pyproject.toml
  services/portal/templates/base.html
  uv.lock
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(qa): find tests that request a page and assert only that it returned 200
  QA/cycle-02-v0.30.0/phase-4-survey.md
  scripts/audit_test_assertion_quality.py
  scripts/status_only_test_baseline.txt
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(quality): stop swallowing five failures, and let the gate that found them fail
  Makefile
  QA/cycle-02-v0.30.0/phase-4-survey.md
  services/platform/apps/common/middleware.py
  services/platform/apps/infrastructure/registration_service.py
  services/platform/apps/orders/views.py
  services/platform/tests/common/test_session_security_failclosed.py
  services/platform/tests/orders/test_vat_rate_lookup_error_paths.py
  services/portal/apps/orders/views.py
  services/portal/tests/orders/test_confirm_payment_user_id.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): the maintenance widening created two 500s and leaked comments into the page
  services/portal/apps/billing/services.py
  services/portal/apps/users/views.py
  services/portal/templates/billing/partials/invoices_table.html
  services/portal/templates/components/maintenance_inline_alert.html
  services/portal/templates/services/partials/services_table.html
  services/portal/templates/tickets/partials/tickets_table.html
  services/portal/templates/users/login.html
  services/portal/tests/common/test_maintenance_not_a_server_error.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(settings): make the effect check answer the question it claims to — 77 was not real
  QA/cycle-02-v0.30.0/findings.md
  scripts/lint_settings_coverage.py
  scripts/settings_effect_baseline.txt
  services/platform/tests/common/test_settings_lint_detectors.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, performance-check

fix(quality): InterfaceError is a sibling of DatabaseError, so it was escaping
  services/platform/apps/common/middleware.py
  services/platform/apps/infrastructure/registration_service.py
  services/platform/tests/common/test_session_security_failclosed.py
  services/platform/tests/infrastructure/test_verify_and_activate_refresh.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ci): a coverage gate that measures one half is worse than one that fails
  Makefile
  scripts/e2e_stack.py
  services/platform/tests/common/test_e2e_stack.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(portal): only a maintenance window the platform declared may say so
  services/portal/apps/api_client/services.py
  services/portal/apps/billing/views.py
  services/portal/apps/common/rate_limit_feedback.py
  services/portal/apps/users/views.py
  services/portal/templates/components/maintenance_inline_alert.html
  services/portal/tests/common/test_maintenance_feedback.py
  services/portal/tests/common/test_maintenance_not_a_server_error.py
  services/portal/tests/security/test_hmac_production_security.py
  tests/test_cross_service_parity.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): a Platform success without a user object is no longer a login
  services/portal/apps/api_client/services.py
  services/portal/tests/api_client/test_authenticate_customer_contract.py
  services/portal/tests/security/test_hmac_malformed_headers.py
  services/portal/tests/security/test_hmac_production_security.py
  services/portal/tests/security/test_hmac_timing_attacks.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): count failed logins instead of clearing the limiter on every one
  services/portal/apps/api_client/services.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/users/views.py
  services/portal/config/settings/base.py
  services/portal/tests/common/test_auth_rate_limiting.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(platform): give login and reset traffic its own HMAC bucket and a per-client limit
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/apps/common/apps.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/api/test_throttle_architecture_guardrails.py
  services/platform/tests/common/test_forwarded_client_ip.py
  services/platform/tests/common/test_throttle_rate_validation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(platform): limit login per caller address and start lockout at the fifth failure
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/apps/api/users/views.py
  services/platform/apps/users/models.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_account_security_workflows.py
  services/platform/tests/api/test_login_client_ip_limits.py
  services/platform/tests/users/test_authentication_models.py
  services/platform/tests/users/test_authentication_models_enhanced.py
  services/platform/tests/users/test_security_lockout.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(api): enforce customer roles on billing, order, payment and ticket endpoints
  services/platform/apps/api/billing/views.py
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/orders/views.py
  services/platform/apps/api/secure_auth.py
  services/platform/apps/api/services/views.py
  services/platform/apps/api/tickets/views.py
  services/platform/apps/billing/views.py
  services/platform/tests/api/test_api_auth_regressions.py
  services/platform/tests/api/test_customer_role_enforcement.py
  services/portal/apps/api_client/services.py
  services/portal/apps/billing/views.py
  services/portal/apps/common/decorators.py
  services/portal/apps/orders/views.py
  services/portal/apps/tickets/views.py
  services/portal/templates/components/permission_denied_partial.html
  services/portal/tests/billing/test_role_guards.py
  services/portal/tests/orders/_order_flow_cases.py
  services/portal/tests/orders/_order_rate_limit_and_security_cases.py
  services/portal/tests/orders/test_confirm_payment_user_id.py
  services/portal/tests/orders/test_dos_hardening.py
  services/portal/tests/orders/test_rate_limit_views.py
  services/portal/tests/orders/test_security.py
  services/portal/tests/orders/test_views.py
  services/portal/tests/tickets/test_attachment_download.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(auth): bind Portal sessions to the password and fail closed on rejection
  docs/ADRs/ADR-0017-portal-auth-fail-open-strategy.md
  services/platform/apps/api/users/views.py
  services/platform/apps/users/services.py
  services/platform/tests/users/test_membership_hash.py
  services/platform/tests/users/test_session_auth_hash_binding.py
  services/portal/apps/api_client/services.py
  services/portal/apps/users/middleware.py
  services/portal/apps/users/views.py
  services/portal/tests/api_client/test_authenticate_customer_contract.py
  services/portal/tests/users/test_session_revocation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): grant reverse charge only on VIES evidence for the invoiced VAT number
  docs/ADRs/ADR-0049-reverse-charge-requires-vies-evidence.md
  docs/ADRs/README.md
  services/platform/apps/api/customers/serializers.py
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/orders/views.py
  services/platform/apps/billing/config.py
  services/platform/apps/billing/management/commands/validate_vat_numbers.py
  services/platform/apps/billing/services.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/apps/billing/vies_evidence.py
  services/platform/apps/common/tax_service.py
  services/platform/apps/customers/forms.py
  services/platform/apps/customers/migrations/0022_clear_unverified_reverse_charge.py
  services/platform/apps/customers/signals.py
  services/platform/apps/orders/preflight.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/views.py
  services/platform/apps/settings/catalog.py
  services/platform/templates/customers/tax_profile_form.html
  services/platform/tests/api/test_customer_api.py
  services/platform/tests/billing/test_d390.py
  services/platform/tests/billing/test_metering_services.py
  services/platform/tests/billing/test_subscription_invoice_payments.py
  services/platform/tests/billing/test_tax_configuration.py
  services/platform/tests/billing/test_tax_evidence.py
  services/platform/tests/billing/test_vat_validation_task.py
  services/platform/tests/billing/test_vies_evidence.py
  services/platform/tests/billing/test_vies_gate_paths.py
  services/platform/tests/common/test_tax_service_scenarios.py
  services/platform/tests/orders/test_order_flow_hardening.py
  services/platform/tests/orders/test_order_security.py
  services/portal/apps/customers/views.py
  services/portal/templates/customers/tax_profile.html
  services/portal/tests/customers/test_customers_views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(deps): move to Django 5.2.17 and urllib3 2.8.0 and cap Portal request bodies
  Makefile
  deploy/caddy/Caddyfile
  deploy/caddy/Caddyfile.portal
  uv.lock
Due: none

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
