Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

ruff-new-violations:
  name: 'Ruff: Block New Violations Only'
  entry: uv run python
  args:
  - scripts/ruff_new_violations.py
  - --staged
  language: system
  pass_filenames: true
  require_serial: true

type-check-modified:
  name: Type Check Modified Files
  entry: uv run python
  args:
  - services/platform/scripts/check_types_modified.py
  - --staged
  language: system
  pass_filenames: false
  require_serial: false

prevent-type-ignore:
  name: Block New Type Ignore Comments
  entry: uv run python
  args:
  - services/platform/scripts/prevent_type_ignore.py
  - --staged-only
  language: system
  pass_filenames: true
  stages:
  - pre-commit

django-template-check:
  name: Django Template Syntax Check
  entry: uv run python
  args:
  - services/platform/scripts/fix_template_comparisons.py
  - --check
  language: system

portal-isolation-check:
  name: 'Security: Portal Isolation Check'
  entry: bash
  args:
  - -c
  ...

audit-coverage-check:
  name: 'Security: Audit Coverage Check'
  entry: uv run python
  args:
  - scripts/audit_coverage_scan.py
  - --min-severity=high
  - --exclude-tests
  - services/platform/apps
  language: system
  pass_filenames: false
  stages:
  - pre-commit

security-credentials-check:
  name: 'Security: Check for Hardcoded Credentials'
  entry: bash
  args:
  - -c
  - '# Use ruff to check for hardcoded credentials
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=S105,S106,S107,S108 --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

i18n-coverage-check:
  name: 'i18n: Check for Unwrapped Strings'
  entry: uv run python
  args:
  - scripts/lint_i18n_coverage.py
  - --fail-on
  - high
  - --allowlist
  - scripts/i18n_coverage_allowlist.txt
  language: system
  pass_filenames: true

performance-check:
  name: 'Performance: Check for Anti-patterns'
  entry: bash
  args:
  - -c
  - '# Check for performance issues in modified files
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=PERF,C90,PIE,SIM --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

docs: stop pointing at migrations the reset deleted
  docs/ADRs/ADR-0050-portal-infrastructure-tables.md
  docs/development/LOCALISATION.md
  docs/development/REGISTRAR_VALIDATION.md
  docs/domain/RECURRING_BILLING.md
  docs/domain/REFUND_SERVICE.md
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/issuers/tasks.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/domains/models.py
  services/platform/apps/domains/services.py
  services/platform/apps/infrastructure/MIGRATION_NOTES.md
  services/platform/config/settings/ci.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(adr): ADR-0052, all databases are disposable until one must be kept
  CHANGELOG.md
  docs/ADRs/ADR-0052-disposable-databases-and-migration-reset.md
  docs/ADRs/README.md
Due: none

fix(scripts): redact the comparator's DSN password with libpq's own parser
  scripts/compare_db_schema.py
  services/platform/tests/common/test_compare_db_schema_redaction.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(auth): share one typed login second-factor check and serialize the lockout counter
  services/platform/apps/api/users/views.py
  services/platform/apps/users/mfa.py
  services/platform/apps/users/models.py
  services/platform/tests/users/test_lockout_counter_concurrency.py
  services/platform/tests/users/test_login_second_factor_verifier.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(auth): ask enrolled staff for the second factor at web login
  services/platform/apps/users/mfa.py
  services/platform/apps/users/signals.py
  services/platform/apps/users/views.py
  services/platform/templates/users/mfa_verify.html
  services/platform/tests/users/test_authentication_views.py
  services/platform/tests/users/test_staff_login_second_factor.py
  services/platform/tests/users/test_staff_login_second_factor_concurrency.py
  tests/e2e/helpers/auth.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(auth): keep 2FA through a web password reset and gate its web changes on both factors
  services/platform/apps/users/mfa.py
  services/platform/apps/users/services.py
  services/platform/apps/users/views.py
  services/platform/templates/users/mfa_disable.html
  services/platform/templates/users/mfa_regenerate_backup_codes.html
  services/platform/tests/users/test_authentication_services.py
  services/platform/tests/users/test_authentication_views.py
  services/platform/tests/users/test_backup_code_regeneration_session.py
  services/platform/tests/users/test_session_auth_hash_binding.py
  services/platform/tests/users/test_session_management.py
  services/platform/tests/users/test_web_mfa_credential_changes.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(auth): make WebAuthn verification fail closed
  services/platform/apps/users/mfa.py
  services/platform/tests/users/test_2fa_models.py
  services/platform/tests/users/test_2fa_services.py
  services/platform/tests/users/test_webauthn_fail_closed.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs(auth): record the staff login second factor, reset and WebAuthn fixes
  CHANGELOG.md
  docs/ADRs/ADR-0031-api-token-authentication-strategy.md
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
Due: none

test(auth): a TOTP code spent on one login channel is refused on the other
  services/platform/tests/users/test_staff_login_second_factor.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(ui): drop the two invoke names the 2FA templates no longer use
  services/portal/tests/ui/test_registry_invoke_allowlist.py
  shared/ui/static/js/ui-actions.js
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, performance-check

fix(auth): decide staff and portal logins on the locked user row
  services/platform/apps/api/users/views.py
  services/platform/apps/users/views.py
  services/platform/tests/users/test_login_decision_under_lock.py
  services/platform/tests/users/test_staff_login_enrollment_race.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(auth): assert what the password-reset account securing actually does
  services/platform/tests/users/test_authentication_services.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(auth): keep a failing login audit write from undoing the login
  services/platform/apps/users/signals.py
  services/platform/tests/users/test_login_audit_failure_keeps_the_login.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

ci: run the login second-factor race tests on every pull request
  .github/workflows/integration.yml
  services/platform/tests/common/test_nightly_ci_workflow.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

test(billing): give the metering tests' currencies codes that cannot collide
  services/platform/tests/billing/test_metering_gateway_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(auth): an MFA audit failure can no longer reject a valid code or abort the login
  .github/workflows/integration.yml
  services/platform/apps/users/mfa.py
  services/platform/tests/common/test_nightly_ci_workflow.py
  services/platform/tests/users/test_mfa_audit_isolation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(auth): require the second factor at staff web login, keep it through a password reset, fail WebAuthn closed (#597)
  .github/workflows/integration.yml
  CHANGELOG.md
  docs/ADRs/ADR-0031-api-token-authentication-strategy.md
  services/platform/apps/api/users/views.py
  services/platform/apps/users/mfa.py
  services/platform/apps/users/models.py
  services/platform/apps/users/services.py
  services/platform/apps/users/signals.py
  services/platform/apps/users/views.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/templates/users/mfa_disable.html
  services/platform/templates/users/mfa_regenerate_backup_codes.html
  services/platform/templates/users/mfa_verify.html
  services/platform/tests/billing/test_metering_gateway_regressions.py
  services/platform/tests/common/test_nightly_ci_workflow.py
  services/platform/tests/users/test_2fa_models.py
  services/platform/tests/users/test_2fa_services.py
  services/platform/tests/users/test_authentication_services.py
  services/platform/tests/users/test_authentication_views.py
  services/platform/tests/users/test_backup_code_regeneration_session.py
  services/platform/tests/users/test_lockout_counter_concurrency.py
  services/platform/tests/users/test_login_audit_failure_keeps_the_login.py
  services/platform/tests/users/test_login_decision_under_lock.py
  services/platform/tests/users/test_login_second_factor_verifier.py
  services/platform/tests/users/test_mfa_audit_isolation.py
  services/platform/tests/users/test_session_auth_hash_binding.py
  services/platform/tests/users/test_session_management.py
  services/platform/tests/users/test_staff_login_enrollment_race.py
  services/platform/tests/users/test_staff_login_second_factor.py
  services/platform/tests/users/test_staff_login_second_factor_concurrency.py
  services/platform/tests/users/test_web_mfa_credential_changes.py
  services/platform/tests/users/test_webauthn_fail_closed.py
  services/portal/tests/ui/test_registry_invoke_allowlist.py
  shared/ui/static/js/ui-actions.js
  tests/e2e/helpers/auth.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(vat): pick the VAT rule in force on the Romanian calendar date
  services/platform/apps/billing/tax_models.py
  services/platform/apps/common/tax_service.py
  services/platform/tests/billing/test_billing_models_regressions.py
  services/platform/tests/common/test_tax_rate_local_date.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(vat): expire a cached rate with the date it was chosen for
  services/platform/apps/common/tax_service.py
  services/platform/tests/common/test_tax_rate_local_date.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(vat): pick the VAT rule in force on the Romanian calendar date (#598)
  services/platform/apps/billing/tax_models.py
  services/platform/apps/common/tax_service.py
  services/platform/tests/billing/test_billing_models_regressions.py
  services/platform/tests/common/test_tax_rate_local_date.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): add the FiscalCorrection obligation model
  services/platform/apps/billing/fiscal_correction_models.py
  services/platform/apps/billing/migrations/0005_fiscal_correction.py
  services/platform/apps/billing/models.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/signals.py
  services/platform/tests/billing/_fiscal_correction_helpers.py
  services/platform/tests/billing/test_fiscal_correction_model.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): record the fiscal correction a refund owes when it completes
  services/platform/apps/billing/fiscal_correction_service.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/signals.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_fiscal_correction_obligations.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): count order-path refunds before reversing a SmartBill invoice
  services/platform/apps/billing/issuers/service.py
  services/platform/tests/billing/test_provider_storno.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): settle the fiscal correction when a SmartBill storno is issued
  services/platform/apps/billing/fiscal_correction_service.py
  services/platform/apps/billing/issuers/service.py
  services/platform/tests/billing/test_fiscal_correction_obligations.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): sweep for fiscal corrections the completion hook missed
  services/platform/apps/billing/fiscal_correction_service.py
  services/platform/apps/billing/tasks.py
  services/platform/tests/billing/test_billing_ownership.py
  services/platform/tests/billing/test_fiscal_correction_obligations.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): never restore an invoice that an issued credit note reverses
  services/platform/apps/billing/refund_service.py
  services/platform/tests/billing/test_fiscal_correction_obligations.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): refuse a partial refund of an invoice with several VAT rates
  services/platform/apps/billing/refund_service.py
  services/platform/tests/billing/test_fiscal_correction_obligations.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(sample-data): record the fiscal correction of each settled sample refund
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/tests/common/test_sample_data_integrity.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing): prove fiscal correction recording on PostgreSQL in PR CI
  .github/workflows/integration.yml
  services/platform/tests/billing/test_fiscal_correction_concurrency.py
  services/platform/tests/common/test_nightly_ci_workflow.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

docs(changelog): note fiscal correction obligations and refund refusals
  CHANGELOG.md
Due: none

test(billing): cover an order-path storno whose payment carries the invoice
  services/platform/tests/billing/test_provider_storno.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(billing): settle invoices through the shared refund scope rule
  services/platform/apps/api/billing/serializers.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/views.py
  services/platform/tests/billing/_fiscal_correction_helpers.py
  services/platform/tests/billing/test_refund_scope_settlement.py
  services/platform/tests/billing/test_refund_service_regressions.py
  services/platform/tests/billing/test_revenue_nets_reversals.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing): pin the payment leg of the refund scope rule on its own
  services/platform/tests/billing/test_provider_storno.py
  services/platform/tests/billing/test_refund_scope_settlement.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

test(billing): make the fiscal correction negative tests discriminate
  services/platform/tests/billing/test_fiscal_correction_obligations.py
  services/platform/tests/common/test_sample_data_integrity.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(billing): count each refund against exactly one invoice
  services/platform/apps/api/billing/serializers.py
  services/platform/apps/billing/fiscal_correction_service.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_fiscal_correction_obligations.py
  services/platform/tests/billing/test_refund_scope_settlement.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): project refunds from net collected, not from refunds alone
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/refund_service.py
  services/platform/tests/billing/test_refund_scope_settlement.py
  services/platform/tests/promotions/test_promotion_release_on_refund.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): judge the multi-rate refusal on the refund actually reserved
  services/platform/apps/billing/refund_service.py
  services/platform/tests/billing/test_fiscal_correction_obligations.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): link a storno to the refund it reverses, found in the ledger
  services/platform/apps/billing/fiscal_correction_service.py
  services/platform/tests/billing/test_fiscal_correction_obligations.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): rotate the credit-note linking sweep past stuck notes
  services/platform/apps/billing/fiscal_correction_service.py
  services/platform/tests/billing/test_fiscal_correction_obligations.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
