Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

ruff-new-violations:
  name: 'Ruff: Block New Violations Only'
  entry: uv run python
  args:
  - scripts/ruff_new_violations.py
  - --staged
  language: system
  pass_filenames: true
  require_serial: true

type-check-modified:
  name: Type Check Modified Files
  entry: uv run python
  args:
  - services/platform/scripts/check_types_modified.py
  - --staged
  language: system
  pass_filenames: false
  require_serial: false

prevent-type-ignore:
  name: Block New Type Ignore Comments
  entry: uv run python
  args:
  - services/platform/scripts/prevent_type_ignore.py
  - --staged-only
  language: system
  pass_filenames: true
  stages:
  - pre-commit

django-template-check:
  name: Django Template Syntax Check
  entry: uv run python
  args:
  - services/platform/scripts/fix_template_comparisons.py
  - --check
  language: system

portal-isolation-check:
  name: 'Security: Portal Isolation Check'
  entry: bash
  args:
  - -c
  ...

audit-coverage-check:
  name: 'Security: Audit Coverage Check'
  entry: uv run python
  args:
  - scripts/audit_coverage_scan.py
  - --min-severity=high
  - --exclude-tests
  - services/platform/apps
  language: system
  pass_filenames: false
  stages:
  - pre-commit

security-credentials-check:
  name: 'Security: Check for Hardcoded Credentials'
  entry: bash
  args:
  - -c
  - '# Use ruff to check for hardcoded credentials
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=S105,S106,S107,S108 --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

i18n-coverage-check:
  name: 'i18n: Check for Unwrapped Strings'
  entry: uv run python
  args:
  - scripts/lint_i18n_coverage.py
  - --fail-on
  - high
  - --allowlist
  - scripts/i18n_coverage_allowlist.txt
  language: system
  pass_filenames: true

performance-check:
  name: 'Performance: Check for Anti-patterns'
  entry: bash
  args:
  - -c
  - '# Check for performance issues in modified files
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=PERF,C90,PIE,SIM --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

fix(fsm): apply medium and high-priority FSM remediation fixes (#109)
  docs/ADRs/ADR-0034-django-fsm2-state-machines.md
  pyproject.toml
  scripts/lint_fsm_guardrails.py
  services/platform/apps/billing/metering_tasks.py
  services/platform/apps/billing/migrations/0023_alter_billingcycle_status_and_more.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/subscription_service.py
  services/platform/apps/common/logging.py
  services/platform/apps/common/tax_service.py
  services/platform/apps/customers/migrations/0013_alter_customer_status_customer_customer_valid_status.py
  services/platform/apps/domains/models.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/tasks.py
  services/platform/apps/orders/views.py
  services/platform/apps/promotions/migrations/0002_alter_promotioncampaign_status_and_more.py
  services/platform/apps/provisioning/migrations/0023_alter_servicegroup_status_and_more.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/tests/billing/test_metering_tasks.py
  services/platform/tests/common/test_fsm_transitions.py
  services/platform/tests/helpers/fsm_helpers.py
  services/platform/tests/infrastructure/test_drift_scanner.py
  services/platform/tests/provisioning/test_cross_app_integration.py
  services/platform/tests/provisioning/test_provisioning_models.py
  services/portal/apps/common/outbound_http.py
  services/portal/apps/common/request_ip.py
  services/portal/apps/orders/services.py
  services/portal/apps/ui/templatetags/ui_components.py
  tests/e2e/platform/test_products.py
  tests/e2e/platform/test_staff_billing.py
  tests/e2e/portal/test_navigation.py
  tests/e2e/portal/test_rate_limit_ux.py
  tests/integration/test_security_hardening.py
  uv.lock
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(fsm): complete remaining FSM remediation — webhooks, views, lint, tests (#109)
  scripts/lint_fsm_guardrails.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/metering_models.py
  services/platform/apps/billing/metering_service.py
  services/platform/apps/billing/migrations/0023_alter_billingcycle_status_and_more.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/stripe_metering.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/financial_arithmetic.py
  services/platform/apps/domains/webhooks.py
  services/platform/apps/orders/signals_extended.py
  services/platform/apps/provisioning/service_models.py
  services/platform/apps/provisioning/service_views.py
  services/platform/apps/provisioning/webhooks.py
  services/platform/tests/billing/test_pdf_generators.py
  services/platform/tests/common/test_fsm_transitions.py
  services/platform/tests/orders/test_orders_models.py
  services/platform/tests/tickets/test_ticket_status_service.py
  tests/e2e/orm/test_provisioning_workflow.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

chore: add not-valid constraint remediation migrations
  services/platform/apps/billing/migrations/0025_fix_check_constraints_not_valid.py
  services/platform/apps/common/management/commands/validate_fsm_constraints.py
  services/platform/apps/customers/migrations/0014_fix_check_constraints_not_valid.py
  services/platform/apps/domains/migrations/0006_fix_check_constraints_not_valid.py
  services/platform/apps/orders/migrations/0012_fix_check_constraints_not_valid.py
  services/platform/apps/promotions/migrations/0003_fix_check_constraints_not_valid.py
  services/platform/apps/provisioning/migrations/0024_fix_check_constraints_not_valid.py
  services/platform/apps/tickets/migrations/0005_fix_check_constraints_not_valid.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix: harden fsm transition safety, billing constraints, and migration locking
  scripts/lint_fsm_guardrails.py
  services/platform/apps/api/tickets/views.py
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/migrations/0022_invoice_invoice_subtotal_non_negative_and_more.py
  services/platform/apps/billing/migrations/0023_alter_billingcycle_status_and_more.py
  services/platform/apps/billing/migrations/0024_alter_payment_amount_cents.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/subscription_service.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/views.py
  services/platform/apps/customers/migrations/0013_alter_customer_status_customer_customer_valid_status.py
  services/platform/apps/domains/migrations/0005_domain_domain_status_valid_values.py
  services/platform/apps/domains/webhooks.py
  services/platform/apps/orders/migrations/0011_order_order_status_valid_values_and_more.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/tasks.py
  services/platform/apps/orders/views.py
  services/platform/apps/promotions/migrations/0002_alter_promotioncampaign_status_and_more.py
  services/platform/apps/provisioning/migrations/0022_service_service_status_valid_values.py
  services/platform/apps/provisioning/provisioning_service.py
  services/platform/apps/provisioning/service_views.py
  services/platform/apps/provisioning/services.py
  services/platform/apps/provisioning/webhooks.py
  services/platform/apps/tickets/migrations/0004_ticket_ticket_status_valid_values.py
  services/platform/apps/tickets/services.py
  services/platform/tests/billing/efactura/test_service.py
  services/platform/tests/billing/test_billing_tasks.py
  services/platform/tests/billing/test_payments_models.py
  services/platform/tests/billing/test_usage_billing_redteam.py
  services/platform/tests/common/test_fsm_transitions.py
  services/platform/tests/common/test_lint_fsm_guardrails.py
  services/platform/tests/provisioning/test_provisioning_services.py
  services/platform/tests/tickets/test_ticket_status_service.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(platform): fully resolve #96 #105 #106 #89 with security and billing hardening
  services/platform/apps/api/orders/serializers.py
  services/platform/apps/api/secure_auth.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/proforma_models.py
  services/platform/apps/billing/services.py
  services/platform/apps/billing/subscription_service.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/tax_service.py
  services/platform/apps/common/types.py
  services/platform/apps/common/utils.py
  services/platform/apps/customers/credit_service.py
  services/platform/apps/customers/profile_service.py
  services/platform/apps/customers/services.py
  services/platform/apps/customers/tasks.py
  services/platform/tests/billing/test_billing_views_coverage.py
  services/platform/tests/billing/test_payment_service.py
  services/platform/tests/common/test_common_utils.py
  services/platform/tests/common/test_common_validators.py
  services/platform/tests/common/test_constants_consistency.py
  services/portal/apps/api_client/services.py
  services/portal/apps/billing/services.py
  services/portal/apps/orders/services.py
  services/portal/apps/orders/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

ci(workflows): overhaul CI pipelines — Makefile parity, zero-tolerance types, consolidated lint
  .github/workflows/integration.yml
  .github/workflows/platform.yml
  .github/workflows/portal.yml
  .github/workflows/type-coverage.yml
  Makefile
  pyproject.toml
  services/platform/apps/common/key_derivation.py
  services/platform/apps/common/management/commands/validate_fsm_constraints.py
  services/platform/apps/orders/price_sealing.py
  services/platform/scripts/add_types_to_file.py
  services/platform/scripts/backup.py
  services/platform/scripts/check_types_modified.py
  services/platform/scripts/deploy.py
  services/platform/scripts/prevent_type_ignore.py
  services/platform/scripts/setup_test_data.py
  services/platform/scripts/test_gradual_typing.py
  services/platform/scripts/type_coverage_report.py
  services/portal/apps/common/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ci): pin portal DJANGO_SETTINGS_MODULE to config.settings.dev
  Makefile
Due: none

fix(ci): integration-test job uses base settings with PostgreSQL + DatabaseCache
  .github/workflows/integration.yml
  Makefile
  services/platform/tests/billing/test_billing_27_todos.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(orders): fix quantity validation, preflight currency, null server guard (#97)
  services/platform/apps/api/orders/views.py
  services/portal/apps/orders/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(env): improve Python environment path handling for mypy checks
  services/platform/scripts/check_types_modified.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(migrations): update billing model constraints for consistency and clarity
  services/platform/apps/billing/migrations/0025_fix_check_constraints_not_valid.py
  services/portal/tests/orders/_order_security_basic_cases.py
  services/portal/tests/orders/test_order_core_functionality.py
  tests/integration/test_database_cache.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, performance-check

fix(migrations): update check constraint names for consistency across models
  services/platform/apps/customers/migrations/0014_fix_check_constraints_not_valid.py
  services/platform/apps/orders/migrations/0012_fix_check_constraints_not_valid.py
  services/platform/apps/promotions/migrations/0003_fix_check_constraints_not_valid.py
  services/platform/apps/provisioning/migrations/0024_fix_check_constraints_not_valid.py
  services/platform/apps/tickets/migrations/0005_fix_check_constraints_not_valid.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, performance-check

fix(tests): make cache assertions backend agnostic
  tests/integration/test_database_cache.py
  tests/integration/test_platform_portal_api.py
Due: ruff-new-violations, type-check-modified

fix(tests): align integration tests with current settings
  tests/integration/security/test_mfa_security.py
  tests/integration/test_platform_portal_api.py
  tests/integration/test_ruff_new_violations.py
Due: ruff-new-violations, type-check-modified

fix(cors): add CorsMiddleware to all settings with proper ordering (#67)
  services/platform/config/settings/base.py
  services/platform/config/settings/dev.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, i18n-coverage-check, performance-check

fix(billing): replace silent error swallowing with logger.exception (#63)
  services/platform/apps/billing/refund_service.py
  services/platform/tests/billing/test_refund_service_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(auth): replace blind state_version with membership_hash for session cache invalidation (#84)
  services/platform/apps/api/users/views.py
  services/portal/apps/users/middleware.py
  services/portal/conftest.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(auth): address PR #91 review — complete state_version cleanup, fix cache logic
  services/platform/apps/api/users/views.py
  services/portal/apps/api_client/services.py
  services/portal/apps/users/middleware.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(auth): add membership_hash tests for session validation (#84)
  services/platform/tests/users/test_membership_hash.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(orders): normalize currency code + guard Currency.DoesNotExist
  services/platform/apps/api/orders/views.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

build: reorganize cleanup make targets
  Makefile
Due: none

fix(billing): address 7 review findings on VIES VAT validation (#110)
  services/platform/apps/billing/gateways/vies_gateway.py
  services/platform/apps/billing/migrations/0020_add_format_check_validation_source.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/tax_models.py
  services/platform/apps/common/eu_vat_validator.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs: update ER diagram to use db_table names; add database-tables.mmd taxonomy
  docs/ADRs/ADR-0023-database-structure.md
  docs/architecture/diagrams/database-tables.mmd
  docs/architecture/diagrams/entity-relationships.mmd
Due: none

feat: add event storage partition tooling
  services/platform/apps/audit/compliance.py
  services/platform/apps/audit/migrations/0002_initial.py
  services/platform/apps/billing/migrations/0002_initial.py
  services/platform/apps/common/management/commands/manage_event_partitions.py
  services/platform/apps/common/partitioning.py
  services/platform/apps/integrations/migrations/0001_initial.py
  services/platform/tests/audit/test_partition_retention_status.py
  services/platform/tests/common/test_partitioning.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(tests): use UUID nonce in HMAC test helper to meet 32-char minimum
  services/platform/tests/helpers/hmac.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(tests): HMAC nonce length + CORS documentation test
  services/platform/tests/helpers/hmac.py
  services/platform/tests/ui/test_ui_security.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(tests): backend-agnostic cache tests + HMAC nonce length
  services/platform/tests/helpers/hmac.py
  tests/integration/test_database_cache.py
  tests/integration/test_platform_portal_api.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(tests): align tests with VIES refactor + merge migrations
  services/platform/apps/billing/migrations/0026_merge_20260312_1303.py
  services/platform/apps/customers/migrations/0015_merge_20260312_1303.py
  services/platform/tests/billing/test_billing_tasks.py
  services/platform/tests/billing/test_vies_gateway.py
  services/platform/tests/helpers/hmac.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, performance-check

fix(orders): address deferred security findings from order flow audit (#104)
  services/platform/apps/api/orders/views.py
  services/platform/apps/common/context_processors.py
  services/platform/apps/common/middleware.py
  services/platform/apps/orders/models.py
  services/platform/config/settings/base.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/tests/orders/test_order_flow_security.py
  services/portal/apps/common/context_processors.py
  services/portal/apps/common/middleware.py
  services/portal/config/settings/base.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): switch session backend to db; guard middleware/rate-limit/idempotency on user_id
  Makefile
  deploy/docker-compose.services.yml
  deploy/portal/entrypoint.sh
  docs/ADRs/ADR-0017-portal-auth-fail-open-strategy.md
  services/portal/STATELESS_ARCHITECTURE.md
  services/portal/apps/common/middleware.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/orders/views.py
  services/portal/config/settings/base.py
  services/portal/config/settings/dev.py
  services/portal/config/settings/prod.py
  services/portal/tests/common/test_session_backend.py
  services/portal/tests/orders/_order_rate_limit_and_security_cases.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(domains): implement HMAC-SHA256 webhook signature verification (#92)
  scripts/code_health_allowlist.txt
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_webhook_signature_verification.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): harden session backend — fail-closed middleware, deploy fixes, idempotency
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.single-server.yml
  deploy/portal/Dockerfile
  deploy/portal/entrypoint.sh
  services/portal/STATELESS_ARCHITECTURE.md
  services/portal/apps/common/middleware.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/orders/views.py
  services/portal/config/settings/base.py
  services/portal/tests/common/test_session_backend.py
  services/portal/tests/orders/_order_rate_limit_and_security_cases.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): remove redundant busy_timeout PRAGMA, ensure session DB directory exists
  deploy/portal/entrypoint.sh
  services/portal/config/settings/base.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, i18n-coverage-check, performance-check

docs(portal): fix stale "no database" and "stateless" comments
  deploy/docker-compose.services.yml
  services/portal/config/settings/dev.py
  services/portal/tests/orders/_order_rate_limit_and_security_cases.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

build: gitignore lint artifacts (test-layout-audit.json, .cache/)
  .gitignore
  test-layout-audit.json
Due: none

fix(portal): switch from signed-cookie to DB sessions — restore SecurityMiddleware (#118)
  .gitignore
  Makefile
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.services.yml
  deploy/docker-compose.single-server.yml
  deploy/portal/Dockerfile
  deploy/portal/entrypoint.sh
  docs/ADRs/ADR-0017-portal-auth-fail-open-strategy.md
  services/portal/STATELESS_ARCHITECTURE.md
  services/portal/apps/common/middleware.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/orders/views.py
  services/portal/config/settings/base.py
  services/portal/config/settings/dev.py
  services/portal/config/settings/prod.py
  services/portal/tests/common/test_session_backend.py
  services/portal/tests/orders/_order_rate_limit_and_security_cases.py
  test-layout-audit.json
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(tests): update stale table/constraint name in mock error string
  services/platform/tests/orders/_order_hardening_cases.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
