Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$

fix(portal): allowlist ?status= filter and pin service tab set against drift (#101)
  services/portal/apps/services/views.py
  services/portal/tests/services/test_service_status_tabs.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(customers): consume consent attribution on every save + richer audit-failure log (#185)
  services/platform/apps/customers/signals.py
  services/platform/tests/notifications/test_unsubscribe_tokens.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(tickets): complete server-side internal-note filtering on detail render path (#159)
  services/platform/templates/tickets/detail.html
  services/platform/templates/tickets/partials/status_and_comments.html
  services/platform/tests/tickets/test_tickets_comments.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, security-credentials-check, i18n-coverage-check, performance-check

test(common): register portal_hmac_create_user scope in startup-validation fixtures (#186)
  services/platform/tests/common/test_throttle_rate_validation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(notifications): dedupe marketing_consent audit, single canonical writer (#182) (#185) (#273)
  services/platform/apps/audit/compliance.py
  services/platform/apps/customers/signals.py
  services/platform/apps/notifications/services.py
  services/platform/tests/audit/test_audit_compliance.py
  services/platform/tests/customers/test_customers_security.py
  services/platform/tests/notifications/test_unsubscribe_tokens.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): distinguish search-empty from status-empty in services list (#101)
  services/portal/apps/services/views.py
  services/portal/templates/services/partials/services_table.html
  services/portal/tests/services/test_service_status_tabs.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(api): scope customer_users_create throttle to verified portal id (#181) (#186) (#274)
  services/platform/apps/api/customers/views.py
  services/platform/apps/common/apps.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_throttle_architecture_guardrails.py
  services/platform/tests/common/test_throttle_rate_validation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(tickets): filter internal notes server-side in reply HTMX swap (#159) (#187) (#276)
  services/platform/apps/tickets/views.py
  services/platform/templates/tickets/detail.html
  services/platform/templates/tickets/partials/status_and_comments.html
  services/platform/tests/tickets/test_tickets_comments.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(portal): cover all service statuses in My Services filter tabs (#101) (#193) (#275)
  services/portal/apps/services/views.py
  services/portal/templates/services/partials/services_table.html
  services/portal/tests/services/test_service_status_tabs.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): complete CSP nonce coverage in shared components + guardrail tests (#104 [M7])
  services/portal/tests/ui/test_csp_nonce_policy.py
  shared/ui/templates/components/input.html
  shared/ui/templates/components/list_page_filters.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

test(security): strengthen CSP cleanup regression guard (#104 [M7])
  services/platform/tests/common/test_common_security.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

test(common): lock CSP nonce rendering and header inertness (#104 [M7] step 1)
  services/platform/tests/common/test_csp_nonce.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(portal): render mini-cart open after successful cart mutation (#102)
  services/portal/apps/orders/views.py
  services/portal/templates/orders/partials/cart_updated.html
  services/portal/tests/orders/test_cart_ux_enhancements.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(platform): drop unused unpkg.com/cdn.tailwindcss.com from CSP — #104 [M7] step 3 (#201) (#281)
  services/platform/apps/common/middleware.py
  services/platform/tests/common/test_common_security.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): CSP nonce on inline script/style tags — #104 [M7] step 1 (#199) (#280)
  services/portal/templates/base.html
  services/portal/templates/billing/invoice_detail.html
  services/portal/templates/components/cookie_consent_banner.html
  services/portal/templates/components/customer_selector.html
  services/portal/templates/orders/cart_review.html
  services/portal/templates/orders/checkout.html
  services/portal/templates/orders/order_confirmation.html
  services/portal/templates/services/partials/usage_chart.html
  services/portal/templates/services/service_detail.html
  services/portal/templates/services/service_request_action.html
  services/portal/templates/services/service_usage.html
  services/portal/templates/tickets/ticket_create.html
  services/portal/templates/tickets/ticket_detail.html
  services/portal/templates/users/mfa_backup_codes.html
  services/portal/templates/users/mfa_setup_totp.html
  services/portal/tests/ui/test_csp_nonce_policy.py
  shared/ui/templates/components/input.html
  shared/ui/templates/components/list_page_filters.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(portal): consolidate toast notifications into one system (#102) (#194) (#283)
  services/portal/apps/orders/views.py
  services/portal/templates/base.html
  services/portal/templates/orders/partials/cart_updated.html
  services/portal/tests/orders/test_cart_ux_enhancements.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): e-Factura XML dates use Romanian local date, not UTC (#220)
  services/platform/apps/billing/efactura/settings.py
  services/platform/apps/billing/efactura/working_days.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/tests/billing/efactura/test_xml_builder.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): invoice PDF and emails show the Romanian date, not UTC (#286)
  services/platform/apps/billing/pdf_generators.py
  services/platform/apps/common/utils.py
  services/platform/apps/notifications/services.py
  services/platform/tests/billing/test_pdf_generators.py
  services/platform/tests/common/test_common_utils.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ui): render Romanian local dates across UI, exports and admin (#286)
  services/platform/apps/billing/invoice_service.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/views.py
  services/platform/apps/domains/views.py
  services/platform/apps/orders/views.py
  services/platform/apps/ui/table_helpers.py
  services/platform/apps/ui/templatetags/formatting.py
  services/platform/tests/billing/test_billing_models_regressions.py
  services/platform/tests/ui/test_formatting_romanian_date.py
  services/portal/apps/ui/templatetags/formatting.py
  services/portal/tests/ui/test_formatting_filters.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(ui): allow the duplicated romanian_date filter test names (#286)
  scripts/test_layout_allowlist.json
Due: none

fix(billing): name non-company customers on invoices (#211)
  services/platform/apps/billing/services.py
  services/platform/apps/billing/subscription_service.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/tests/billing/test_services.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): make money-state writes atomic and idempotent
  CHANGELOG.md
  services/platform/apps/billing/gateways/base.py
  services/platform/apps/billing/gateways/stripe_gateway.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/orders/services.py
  services/platform/tests/billing/test_metering_gateway_regressions.py
  services/platform/tests/billing/test_payment_intent_security.py
  services/platform/tests/billing/test_payment_service.py
  services/platform/tests/orders/test_orders_services.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): close money-state review gaps
  CHANGELOG.md
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/views.py
  services/platform/apps/integrations/webhooks/stripe.py
  services/platform/apps/orders/services.py
  services/platform/tests/billing/test_payment_intent_security.py
  services/platform/tests/billing/test_payment_service.py
  services/platform/tests/billing/test_webhooks.py
  services/platform/tests/orders/test_orders_services.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(platform): repair the defects hidden behind type:ignore comments (#295)
  services/platform/apps/customers/customer_models.py
  services/platform/apps/integrations/services.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/webhooks.py
  services/platform/tests/customers/test_customer_is_business.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing): annotate the new test methods (#211)
  services/platform/tests/billing/test_services.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(orders): make the nightly auto-renewal task actually run (#223)
  services/platform/apps/orders/tasks.py
  services/platform/tests/orders/test_recurring_orders_task.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): close the renewal double-billing hole and the resolver N+1 (#223)
  services/platform/apps/orders/tasks.py
  services/platform/tests/orders/test_recurring_orders_task.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): stop billing subscriptions 0 and past cancellation (#209)
  services/platform/apps/billing/subscription_service.py
  services/platform/tests/billing/_billing_service_task_cases.py
  services/platform/tests/billing/test_subscription_billing_defects.py
  services/platform/tests/billing/test_subscription_service.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(promotions): stop coupons and gift cards over-discounting orders (#231, #232)
  services/platform/apps/promotions/services.py
  services/platform/tests/promotions/test_promotions_money_defects.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): enforce mandatory B2B/B2C e-Factura (#221)
  CHANGELOG.md
  docs/domain/SIGNALS_ARCHITECTURE.md
  services/platform/apps/billing/config.py
  services/platform/apps/billing/efactura/b2c.py
  services/platform/apps/billing/efactura/client.py
  services/platform/apps/billing/efactura/eligibility.py
  services/platform/apps/billing/efactura/management/commands/setup_efactura_settings.py
  services/platform/apps/billing/efactura/metrics.py
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/efactura/settings.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/apps/billing/efactura_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/settings/management/commands/setup_default_settings.py
  services/platform/apps/settings/migrations/0002_remove_obsolete_efactura_compliance_settings.py
  services/platform/apps/settings/services.py
  services/platform/tests/billing/efactura/test_b2c.py
  services/platform/tests/billing/efactura/test_security.py
  services/platform/tests/billing/efactura/test_service.py
  services/platform/tests/billing/efactura/test_settings.py
  services/platform/tests/billing/efactura/test_xml_builder.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_efactura_service.py
  services/platform/tests/settings/test_settings_integration.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(audit): make tamper-detection actually detect tampering (#217)
  services/platform/apps/audit/services.py
  services/platform/apps/audit/signals.py
  services/platform/tests/audit/test_audit_integrity_hash.py
  services/platform/tests/audit/test_audit_services_regressions.py
  services/platform/tests/audit/test_uuid_serialization.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing): DST-discriminating regression guards for RO-local dates (#220)
  services/platform/tests/billing/efactura/test_settings.py
  services/platform/tests/billing/efactura/test_xml_builder.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(billing): e-Factura XML dates use Romanian local date, not UTC (#220) (#287)
  services/platform/apps/billing/efactura/settings.py
  services/platform/apps/billing/efactura/working_days.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/tests/billing/efactura/test_settings.py
  services/platform/tests/billing/efactura/test_xml_builder.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(notifications): invoice email issue date derives from issued_at (#286)
  services/platform/apps/common/utils.py
  services/platform/apps/notifications/services.py
  services/platform/tests/notifications/test_email_service.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): invoice PDF and emails show the Romanian date, not UTC (#286) (#288)
  services/platform/apps/billing/pdf_generators.py
  services/platform/apps/common/utils.py
  services/platform/apps/notifications/services.py
  services/platform/tests/billing/test_pdf_generators.py
  services/platform/tests/common/test_common_utils.py
  services/platform/tests/notifications/test_email_service.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): derive service-period dates from the Romanian calendar (#286)
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_period_dates_ro_local.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ui): billing table date guard tolerates plain dates again (#286)
  services/platform/apps/ui/table_helpers.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing,ui): pin BT-135 period_end coercion and table date guard (#286)
  services/platform/tests/billing/test_period_dates_ro_local.py
  services/platform/tests/ui/test_table_helpers.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check
