Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$

chore(billing): document best-effort audit in validate_vat_number
  services/platform/apps/billing/tasks.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(billing): address M1-M5 medium-priority VIES review findings
  services/platform/apps/billing/gateways/vies_gateway.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/tax_models.py
  services/platform/apps/customers/migrations/0013_add_vies_verification_fields.py
  services/platform/apps/customers/profile_models.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

refactor(billing): address L1-L4 low-priority VIES review findings
  services/platform/apps/billing/gateways/vies_gateway.py
  services/platform/apps/common/eu_vat_validator.py
  services/platform/apps/customers/migrations/0014_add_vies_status_index.py
  services/platform/apps/customers/profile_models.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ci): re-enable migrations in ci.py, run PG tests serially
  Makefile
  services/platform/config/settings/ci.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, i18n-coverage-check, performance-check

fix(orders): address deferred security findings from order flow audit (#104)
  services/platform/apps/api/orders/views.py
  services/platform/apps/common/context_processors.py
  services/platform/apps/common/middleware.py
  services/platform/apps/orders/models.py
  services/platform/config/settings/base.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/tests/orders/test_order_flow_security.py
  services/portal/apps/common/context_processors.py
  services/portal/apps/common/middleware.py
  services/portal/config/settings/base.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): address 3 Copilot review findings on H11 Stripe verification
  services/platform/apps/api/orders/views.py
  services/platform/tests/orders/test_order_flow_security.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

chore(settings): merge master CORS + design system additions into branch
  services/platform/apps/api/orders/views.py
  services/platform/config/settings/base.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/portal/config/settings/base.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(tests): fix 4 PostgreSQL-specific test failures, add CONN_MAX_AGE
  services/platform/config/settings/ci.py
  services/platform/tests/audit/test_audit_authentication.py
  services/platform/tests/audit/test_audit_categorization.py
  services/platform/tests/common/test_partitioning.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): fail-hard on refund aggregation error + typed DB exceptions (#119, #120)
  services/platform/apps/billing/refund_service.py
  services/platform/tests/billing/test_refund_service_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(tests): fix PostgreSQL test cascade — 2,901 errors eliminated
  services/platform/config/settings/ci.py
  services/platform/tests/billing/efactura/test_sandbox_integration.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, i18n-coverage-check, performance-check

fix(tests): fix 167 PostgreSQL-specific test failures across 11 files
  services/platform/apps/billing/payment_service.py
  services/platform/apps/common/security_decorators.py
  services/platform/apps/promotions/services.py
  services/platform/tests/billing/test_metering_gateway_regressions.py
  services/platform/tests/billing/test_metering_services.py
  services/platform/tests/billing/test_pdf_generators.py
  services/platform/tests/billing/test_pdf_generators_comprehensive.py
  services/platform/tests/billing/test_usage_billing_redteam.py
  services/platform/tests/infrastructure/test_audit_integration.py
  services/platform/tests/integrations/test_integrations_security.py
  services/platform/tests/orders/test_order_flow_preflight_and_server_guard.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): fail-hard on refund aggregation error + typed DB exceptions (#119, #120) (#122)
  services/platform/apps/billing/refund_service.py
  services/platform/tests/billing/test_refund_service_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): EU VIES VAT validation for cross-border reverse-charge #88 (#110)
  pyproject.toml
  services/platform/apps/billing/gateways/vies_gateway.py
  services/platform/apps/billing/migrations/0020_add_format_check_validation_source.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/tax_models.py
  services/platform/apps/common/eu_vat_validator.py
  services/platform/apps/customers/migrations/0013_add_vies_verification_fields.py
  services/platform/apps/customers/migrations/0014_add_vies_status_index.py
  services/platform/apps/customers/profile_models.py
  services/platform/tests/billing/test_billing_tasks.py
  services/platform/tests/billing/test_vat_validation_task.py
  services/platform/tests/billing/test_vies_gateway.py
  services/platform/tests/common/test_eu_vat_validator.py
  uv.lock
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ci): override DJANGO_SETTINGS_MODULE for portal tests in nightly workflow
  .github/workflows/nightly.yml
Due: none

test(orders): mock Stripe gateway in PI validation tests
  services/platform/tests/orders/test_confirm_order_pi_validation.py
  tests/integration/api/test_order_payment_methods.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

test(auth): add membership_hash tests for session validation (#84)
  services/platform/tests/users/test_membership_hash.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(auth): replace blind state_version with membership_hash for session cache invalidation (#84)
  services/platform/apps/api/users/views.py
  services/portal/apps/users/middleware.py
  services/portal/conftest.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(auth): address PR #91 review — complete state_version cleanup, fix cache logic
  services/platform/apps/api/users/views.py
  services/portal/apps/api_client/services.py
  services/portal/apps/users/middleware.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(auth): add Portal middleware tests for membership_hash invalidation
  services/portal/tests/users/test_membership_hash_middleware.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, performance-check

fix(auth): address Copilot review comments on membership_hash PR
  services/portal/apps/users/middleware.py
  services/portal/conftest.py
  services/portal/tests/users/test_membership_hash_middleware.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): deferred security findings — Stripe verification, order numbering, CSP nonce (#104) (#117)
  services/platform/apps/api/orders/views.py
  services/platform/apps/common/context_processors.py
  services/platform/apps/common/middleware.py
  services/platform/apps/orders/models.py
  services/platform/config/settings/base.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/tests/orders/test_confirm_order_pi_validation.py
  services/platform/tests/orders/test_order_flow_security.py
  services/portal/apps/common/context_processors.py
  services/portal/apps/common/middleware.py
  services/portal/config/settings/base.py
  tests/integration/api/test_order_payment_methods.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): post-merge review fixes — CSP nonce deferral, Stripe error handling, audit trail (#104)
  services/platform/apps/api/orders/views.py
  services/platform/apps/common/middleware.py
  services/platform/tests/orders/test_order_flow_security.py
  services/portal/apps/common/middleware.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(auth): replace state_version with membership_hash (#84) (#115)
  services/platform/apps/api/users/views.py
  services/platform/tests/users/test_membership_hash.py
  services/portal/apps/api_client/services.py
  services/portal/apps/users/middleware.py
  services/portal/conftest.py
  services/portal/tests/users/test_membership_hash_middleware.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(orders): add missing customer_id to portal→platform order API payloads
  services/portal/apps/orders/services.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ci): add PostgreSQL-safe test runner and CONN_MAX_AGE=None for CI
  services/platform/config/settings/ci.py
  services/platform/tests/runner.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, i18n-coverage-check, performance-check

build(deps): update @tailwindcss/cli to 4.2.2 and rebuild CSS
  package.json
  services/platform/static/css/tailwind.min.css
Due: none

feat(platform-orders): dashboard stats, formatting, slug display, responsive tables (#99)
  services/platform/apps/orders/views.py
  services/platform/apps/ui/templatetags/formatting.py
  services/platform/templates/dashboard.html
  services/platform/templates/orders/order_detail.html
  services/platform/templates/orders/order_list.html
  services/platform/templates/orders/partials/order_items_list.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(fixtures): i18n order notes + status history for seeded orders (#99)
  services/platform/apps/common/management/commands/generate_sample_data.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, i18n-coverage-check, performance-check

fix(billing): harden TESTING auth bypass — explicit False in prod/staging (#129)
  services/platform/apps/billing/views.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): 5 high-priority fixes — terminal statuses, locking, refund source, price seal, order items (#124, #125, #126, #127, #128)
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/orders/price_sealing.py
  services/platform/apps/orders/services.py
  services/platform/tests/billing/test_refund_service_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix: 5 medium-priority hardening fixes from v0.27.0 pre-release review (#130)
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/signals.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix: deferred hardening — circuit breaker, CSP check, webhook validation, refund alert, query optimization (#130)
  services/platform/apps/billing/refund_service.py
  services/platform/apps/common/checks.py
  services/platform/apps/domains/webhooks.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/views.py
  services/portal/apps/users/middleware.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

chore: bump version to v0.27.0 and update CHANGELOG
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/ADRs/README.md
  pyproject.toml
  services/platform/pyproject.toml
  services/platform/templates/base.html
  services/portal/pyproject.toml
  services/portal/templates/base.html
  uv.lock
Due: django-template-check, i18n-coverage-check

fix(billing,orders): 4 critical pre-release fixes — on_commit, FSM guards, refund updates
  docs/ADRs/ADR-0035-unified-design-system.md
  docs/ADRs/ADR-0036-tiered-ci-testing-strategy.md
  docs/ADRs/ADR-0037-psycopg-v3-migration.md
  docs/ADRs/README.md
  docs/development/test-suite-reconsolidation-plan.md
  docs/plans/2026-03-07-customers-todo-flush-design.md
  docs/testing-restructure-plan.md
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/orders/signals.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_payment_service.py
  services/platform/tests/billing/test_refund_service_regressions.py
  services/platform/tests/orders/test_orders_cancellation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(tests): update payment refund mock to use aggregate instead of list iteration
  services/platform/tests/billing/test_billing_signals_regressions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(tests): add cancelled/disputed to STATUS_CHOICES, update meta.refunds tests to use Refund model
  services/platform/apps/billing/payment_models.py
  services/platform/tests/billing/test_services.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ui): fix nav icons, add missing mobile menu items, section dividers
  services/platform/templates/components/mobile_header.html
  shared/ui/templates/components/mobile_nav_item.html
  shared/ui/templates/components/nav_dropdown.html
Due: django-template-check, i18n-coverage-check
