Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$

test(ui): approve the block-tag scan twin in each service
  scripts/test_layout_allowlist.json
Due: none

fix(ui): accept only the HTMX arguments each tag forwards; restore the email and SSL options
  scripts/test_layout_allowlist.json
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/templates/provisioning/virtualmin/restore_form.html
  services/platform/tests/provisioning/test_virtualmin_restore_page.py
  services/platform/tests/ui/test_tag_call_sites_pass_only_accepted_arguments.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/tests/ui/test_tag_call_sites_pass_only_accepted_arguments.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ui): fail loudly on unknown tag arguments, fix every template that passed one (#605)
  CHANGELOG.md
  scripts/test_layout_allowlist.json
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/templates/audit/partials/gdpr_export_requests_list.html
  services/platform/templates/customers/edit.html
  services/platform/templates/customers/partials/header_action.html
  services/platform/templates/orders/product_catalog.html
  services/platform/templates/provisioning/virtualmin/restore_form.html
  services/platform/tests/audit/test_audit_views_regressions.py
  services/platform/tests/billing/test_invoice_edit_line_controls.py
  services/platform/tests/provisioning/test_virtualmin_restore_page.py
  services/platform/tests/ui/test_tag_call_sites_pass_only_accepted_arguments.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/templates/services/partials/usage_chart.html
  services/portal/templates/services/service_usage.html
  services/portal/templates/styleguide/index.html
  services/portal/tests/ui/test_component_card.py
  services/portal/tests/ui/test_tag_call_sites_pass_only_accepted_arguments.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(i18n): edit .po catalogues in place and key review entries by context
  scripts/translate_po.py
  tests/integration/test_translate_po.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(i18n): find PO entries by their grammar, repair partial plurals, write atomically
  scripts/translate_po.py
  tests/integration/test_translate_po.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(tests): preserve PostgreSQL sequences across transaction tests
  services/platform/tests/api/test_api_token_concurrency.py
  services/platform/tests/api/test_token_second_factor_concurrency.py
  services/platform/tests/billing/efactura/test_submission_claims.py
  services/platform/tests/billing/test_builtin_storno_concurrency.py
  services/platform/tests/billing/test_fiscal_correction_concurrency.py
  services/platform/tests/billing/test_payment_intent_security.py
  services/platform/tests/common/test_transaction_test_isolation.py
  services/platform/tests/orders/test_order_totals_locking.py
  services/platform/tests/promotions/test_order_discount_concurrency.py
  services/platform/tests/users/test_lockout_counter_concurrency.py
  services/platform/tests/users/test_login_audit_failure_keeps_the_login.py
  services/platform/tests/users/test_mfa_audit_isolation.py
  services/platform/tests/users/test_staff_login_enrollment_race.py
  services/platform/tests/users/test_staff_login_second_factor_concurrency.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(tests): catch reset_sequences set outside the class body
  services/platform/tests/common/test_transaction_test_isolation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(i18n): keep translated plural forms in suggestions; resolve unique legacy entries
  scripts/translate_po.py
  tests/integration/test_translate_po.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(tests): preserve PostgreSQL sequences across transaction tests (#606)
  services/platform/tests/api/test_api_token_concurrency.py
  services/platform/tests/api/test_token_second_factor_concurrency.py
  services/platform/tests/billing/efactura/test_submission_claims.py
  services/platform/tests/billing/test_builtin_storno_concurrency.py
  services/platform/tests/billing/test_fiscal_correction_concurrency.py
  services/platform/tests/billing/test_payment_intent_security.py
  services/platform/tests/common/test_transaction_test_isolation.py
  services/platform/tests/orders/test_order_totals_locking.py
  services/platform/tests/promotions/test_order_discount_concurrency.py
  services/platform/tests/users/test_lockout_counter_concurrency.py
  services/platform/tests/users/test_login_audit_failure_keeps_the_login.py
  services/platform/tests/users/test_mfa_audit_isolation.py
  services/platform/tests/users/test_staff_login_enrollment_race.py
  services/platform/tests/users/test_staff_login_second_factor_concurrency.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(i18n): require overwrite before replacing a filled form of an incomplete plural
  scripts/translate_po.py
  tests/integration/test_translate_po.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(i18n): translate_po.py edits catalogues in place, keys entries by context, compiles from any directory (#607)
  scripts/translate_po.py
  tests/integration/test_translate_po.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(billing): never hide a database failure in required invoice signal work
  services/platform/apps/billing/signals.py
  services/platform/apps/common/transactions.py
  services/platform/tests/billing/test_invoice_signal_transaction_isolation.py
  services/platform/tests/common/test_transactions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): isolate optional invoice signal work in savepoints
  .github/workflows/integration.yml
  services/platform/apps/billing/signals.py
  services/platform/apps/common/transactions.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_invoice_signal_transaction_isolation.py
  services/platform/tests/common/test_transactions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): raise when a savepoint cannot restore a usable transaction
  CHANGELOG.md
  services/platform/apps/billing/signals.py
  services/platform/apps/common/transactions.py
  services/platform/tests/billing/test_invoice_signal_transaction_isolation.py
  services/platform/tests/common/test_transactions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

test(billing): give the audit guard tests a database
  services/platform/tests/billing/test_audit_signal_guard.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(billing): keep a status save atomic with its required signal work; never swallow a dead connection
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/common/transactions.py
  services/platform/tests/billing/test_invoice_signal_transaction_isolation.py
  services/platform/tests/common/test_transactions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): stop invoice signal handlers from silently rolling back the invoice (#608)
  .github/workflows/integration.yml
  CHANGELOG.md
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/signals.py
  services/platform/apps/common/transactions.py
  services/platform/tests/billing/test_audit_signal_guard.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_invoice_signal_transaction_isolation.py
  services/platform/tests/common/test_transactions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(tests): clear only in-process caches between CI tests
  services/platform/tests/common/test_ci_cache_isolation.py
  services/platform/tests/runner.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(settings): never cache uncommitted settings; isolate caches between CI tests
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/settings/services.py
  services/platform/tests/audit/test_audit_chain_ledger.py
  services/platform/tests/common/test_ci_cache_isolation.py
  services/platform/tests/common/test_sample_data_cnp.py
  services/platform/tests/runner.py
  services/platform/tests/settings/test_settings_cache_transactions.py
  services/platform/tests/settings/test_settings_service_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(settings): stop a slow cache miss from republishing a value a writer just replaced
  services/platform/apps/settings/services.py
  services/platform/tests/common/test_ci_cache_isolation.py
  services/platform/tests/runner.py
  services/platform/tests/settings/test_settings_cache_transactions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ci): track the Node lockfile the nightly browser suite installs from
  .gitignore
  CHANGELOG.md
  package-lock.json
  services/platform/tests/common/test_ci_node_lockfile.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

build(css): rebuild the Tailwind bundles against the current templates
  services/platform/static/css/tailwind.min.css
  services/portal/static/css/tailwind.min.css
Due: none

docs(qa): correct the nightly claim and re-verify cycle 2's open items
  QA/README.md
  QA/cycle-02-v0.30.0/findings.md
  QA/cycle-02-v0.30.0/phase-4-survey.md
  QA/plan.md
  docs/testing/manual-e2e.md
Due: none

docs: remove the one-shot QA records the current cycle superseded
  QA/README.md
  QA/cycle-01-v0.21.0/README.md
  QA/cycle-01-v0.21.0/action_log.md
  QA/cycle-01-v0.21.0/mobile_pass_plan.md
  QA/cycle-01-v0.21.0/qa_report.md
  QA/cycle-02-v0.30.0/findings.md
  QA/plan.md
  docs/PROMOTION_OPERATIONS.md
  docs/README.md
  docs/STAFF_PROMOTIONS_VERIFICATION_2026-09-28.md
  docs/deployment/PRODUCTION_QUALITY_CHECKLIST.md
  docs/development/ISSUE_212_REFUND_GATEWAY_INTEGRITY_PLAN.md
  docs/development/ISSUE_299_DIGITALOCEAN_DELETE_TEST_PLAN.md
  docs/development/ISSUE_308_POSTGRES_CONCURRENCY_CI_PLAN.md
  docs/screenshots/promotions/portal-checkout.png
  docs/screenshots/promotions/staff-dashboard.png
  docs/testing/e2e-audit.json
  docs/testing/manual-e2e.md
  tests/TESTING_STRATEGY.md
  tests/TEST_SUITE_SUMMARY.md
Due: none

docs(changelog): note that changed settings take effect consistently
  CHANGELOG.md
Due: none

fix(settings): discard stale cache publications after token eviction or clear
  services/platform/apps/settings/services.py
  services/platform/tests/settings/test_settings_cache_transactions.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, i18n-coverage-check, performance-check

fix(settings): never cache uncommitted or stale settings; make test-ci pass on PostgreSQL (#609)
  CHANGELOG.md
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/settings/services.py
  services/platform/tests/audit/test_audit_chain_ledger.py
  services/platform/tests/common/test_ci_cache_isolation.py
  services/platform/tests/common/test_sample_data_cnp.py
  services/platform/tests/runner.py
  services/platform/tests/settings/test_settings_cache_transactions.py
  services/platform/tests/settings/test_settings_service_hardening.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ci): run the lockfile guard when its inputs change, and resolve inherited directories
  .github/workflows/platform.yml
  services/platform/tests/common/test_ci_node_lockfile.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

docs(qa): judge a nightly by its jobs, not by the run's conclusion
  QA/README.md
  docs/testing/manual-e2e.md
Due: none

fix(ci): check the lockfile matches package.json, scan .yaml workflows, keep same-named steps
  services/platform/tests/common/test_ci_node_lockfile.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

docs(qa): describe what make dev seeds versus make fixtures
  QA/plan.md
Due: none

docs: correct the stale guides the QA audit found
  CONTRIBUTING.md
  docs/README.md
  docs/billing/D390_ACCOUNTANT_HANDOFF.md
  docs/billing/images/d390-exceptions.png
  docs/billing/images/d390-preview.png
  docs/deployment/HTTPS_DEPLOYMENT_CHECKLIST.md
  docs/development/LINTING_GUIDE.md
  docs/development/PRE_COMMIT_HOOKS_GUIDE.md
  tests/load/README.md
  tests/load/locustfile.py
Due: ruff-new-violations, type-check-modified

fix(ci): track the Node lockfile the nightly browser suite installs from, and correct the QA record (#610)
  .github/workflows/platform.yml
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  QA/README.md
  QA/cycle-01-v0.21.0/README.md
  QA/cycle-01-v0.21.0/action_log.md
  QA/cycle-01-v0.21.0/mobile_pass_plan.md
  QA/cycle-01-v0.21.0/qa_report.md
  QA/cycle-02-v0.30.0/findings.md
  QA/cycle-02-v0.30.0/phase-4-survey.md
  QA/plan.md
  docs/PROMOTION_OPERATIONS.md
  docs/README.md
  docs/STAFF_PROMOTIONS_VERIFICATION_2026-09-28.md
  docs/billing/D390_ACCOUNTANT_HANDOFF.md
  docs/billing/images/d390-exceptions.png
  docs/billing/images/d390-preview.png
  docs/deployment/HTTPS_DEPLOYMENT_CHECKLIST.md
  docs/deployment/PRODUCTION_QUALITY_CHECKLIST.md
  docs/development/ISSUE_212_REFUND_GATEWAY_INTEGRITY_PLAN.md
  docs/development/ISSUE_299_DIGITALOCEAN_DELETE_TEST_PLAN.md
  docs/development/ISSUE_308_POSTGRES_CONCURRENCY_CI_PLAN.md
  docs/development/LINTING_GUIDE.md
  docs/development/PRE_COMMIT_HOOKS_GUIDE.md
  docs/screenshots/promotions/portal-checkout.png
  docs/screenshots/promotions/staff-dashboard.png
  docs/testing/e2e-audit.json
  docs/testing/manual-e2e.md
  package-lock.json
  services/platform/static/css/tailwind.min.css
  services/platform/tests/common/test_ci_node_lockfile.py
  services/portal/static/css/tailwind.min.css
  tests/TESTING_STRATEGY.md
  tests/TEST_SUITE_SUMMARY.md
  tests/load/README.md
  tests/load/locustfile.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

docs: correct the ADR index and the native deploy guide's virtualenv path
  docs/ADRs/README.md
  docs/deployment/DEPLOYMENT.md
Due: none

refactor(platform): stop running an unused business context processor on every render
  services/platform/apps/common/context_processors.py
  services/platform/config/settings/base.py
  services/platform/tests/common/test_constants_consistency.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(billing): take the overdue flag from Platform, count dunning days in local time
  services/platform/apps/billing/tasks.py
  services/platform/tests/billing/test_dunning_local_dates.py
  services/portal/apps/billing/schemas.py
  services/portal/apps/billing/serializers.py
  services/portal/tests/billing/test_invoice_overdue.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(quality): make the template, accessibility and dark-mode detectors report real problems
  scripts/audit_accessibility.py
  scripts/audit_dark_mode.py
  scripts/lint_template_components.py
  tests/integration/test_quality_gates.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

feat(ui): render radio inputs through the shared input component
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/tests/ui/test_input_field_renders_every_template_attribute.py
  services/platform/tests/ui/test_radio_input.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/tests/ui/test_input_field_renders_every_template_attribute.py
  services/portal/tests/ui/test_radio_input.py
  shared/ui/templates/components/input.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): show an outage when Platform is unreachable, not empty lists
  services/portal/apps/api_client/services.py
  services/portal/apps/api_client/views.py
  services/portal/apps/billing/views.py
  services/portal/apps/common/rate_limit_feedback.py
  services/portal/apps/customers/views.py
  services/portal/apps/services/views.py
  services/portal/apps/tickets/views.py
  services/portal/apps/users/views.py
  services/portal/templates/common/platform_unavailable.html
  services/portal/templates/services/service_request_action.html
  services/portal/tests/api_client/test_platform_reachability.py
  services/portal/tests/common/test_platform_unreachable.py
  services/portal/tests/services/test_service_request_components.py
  services/portal/tests/services/test_service_requests.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(quality): close accessibility detector gaps, render aria-label on every input branch
  scripts/audit_accessibility.py
  shared/ui/templates/components/input.html
  tests/integration/test_quality_gates.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, security-credentials-check, i18n-coverage-check, performance-check
