Repository captainpragmatic/PRAHO: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

ruff-new-violations:
  name: 'Ruff: Block New Violations Only'
  entry: uv run python
  args:
  - scripts/ruff_new_violations.py
  - --staged
  language: system
  pass_filenames: true
  require_serial: true

type-check-modified:
  name: Type Check Modified Files
  entry: uv run python
  args:
  - services/platform/scripts/check_types_modified.py
  - --staged
  language: system
  pass_filenames: false
  require_serial: false

prevent-type-ignore:
  name: Block New Type Ignore Comments
  entry: uv run python
  args:
  - services/platform/scripts/prevent_type_ignore.py
  - --staged-only
  language: system
  pass_filenames: true
  stages:
  - pre-commit

django-template-check:
  name: Django Template Syntax Check
  entry: uv run python
  args:
  - services/platform/scripts/fix_template_comparisons.py
  - --check
  language: system

portal-isolation-check:
  name: 'Security: Portal Isolation Check'
  entry: bash
  args:
  - -c
  ...

audit-coverage-check:
  name: 'Security: Audit Coverage Check'
  entry: uv run python
  args:
  - scripts/audit_coverage_scan.py
  - --min-severity=high
  - --exclude-tests
  - services/platform/apps
  language: system
  pass_filenames: false
  stages:
  - pre-commit

security-credentials-check:
  name: 'Security: Check for Hardcoded Credentials'
  entry: bash
  args:
  - -c
  - '# Use ruff to check for hardcoded credentials
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=S105,S106,S107,S108 --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

i18n-coverage-check:
  name: 'i18n: Check for Unwrapped Strings'
  entry: uv run python
  args:
  - scripts/lint_i18n_coverage.py
  - --fail-on
  - high
  - --allowlist
  - scripts/i18n_coverage_allowlist.txt
  language: system
  pass_filenames: true

performance-check:
  name: 'Performance: Check for Anti-patterns'
  entry: bash
  args:
  - -c
  - '# Check for performance issues in modified files
  
    ${UV_PROJECT_ENVIRONMENT}/bin/ruff check --select=PERF,C90,PIE,SIM --output-format=concise --quiet $@ || true
  
    # Always pass - this is informational only
  
    exit 0
  
    '
  ...

fix(portal): show the dashboard's platform-down banner when Platform is unavailable
  services/portal/apps/dashboard/views.py
  services/portal/tests/dashboard/test_platform_unavailable_dashboard.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): keep the role check's authorisation boundary during a Platform outage
  services/portal/apps/common/decorators.py
  services/portal/templates/common/rate_limited.html
  services/portal/tests/common/test_role_decorator_outage.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(ci): let the nightly browser job survive coverage shutdown, dispatch a branch, and report failures
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
  QA/README.md
  docs/testing/manual-e2e.md
  scripts/e2e_stack.py
  services/platform/tests/common/test_e2e_stack.py
  services/platform/tests/common/test_nightly_ci_workflow.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(deploy): make HSTS follow the environment at the edge, and let the portal's settings apply
  .env.example.prod
  .env.example.staging
  CHANGELOG.md
  deploy/ansible/roles/praho-native/templates/Caddyfile.native.j2
  deploy/ansible/roles/praho/defaults/main.yml
  deploy/ansible/roles/praho/templates/Caddyfile.j2
  deploy/caddy/Caddyfile
  deploy/caddy/Caddyfile.platform
  deploy/caddy/Caddyfile.portal
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.single-server.yml
  deploy/nginx/nginx-ssl.conf
  docs/deployment/DEPLOYMENT.md
  docs/deployment/HTTPS_DEPLOYMENT_CHECKLIST.md
  docs/security/SECURITY_CONFIGURATION.md
  services/portal/apps/common/middleware.py
  services/portal/config/settings/prod.py
  services/portal/tests/common/test_hsts_header.py
  tests/deploy/test_caddy_routing.py
  tests/integration/test_hsts_edge_policy.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(test): make the load test log in, request real pages, and fail when it measures nothing
  services/platform/tests/common/test_load_test_scenarios.py
  tests/load/README.md
  tests/load/locustfile.py
  tests/load/scenarios.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

docs(qa): record what the first nightly run past Node setup showed
  QA/cycle-02-v0.30.0/findings.md
Due: none

docs(qa): cite the first green nightly-e2e job
  QA/cycle-02-v0.30.0/findings.md
Due: none

fix(quality): record every accessibility finding per element, accept filtered labels
  scripts/audit_accessibility.py
  tests/integration/test_quality_gates.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

test(billing): assert the plan list's own selling currency, not the removed processor's
  services/platform/tests/billing/test_staff_currency_summaries.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(portal): make outage notices visible to HTMX, keep forms and radio feedback intact
  services/platform/tests/ui/test_radio_input.py
  services/portal/apps/common/rate_limit_feedback.py
  services/portal/apps/services/views.py
  services/portal/apps/tickets/views.py
  services/portal/templates/components/maintenance_inline_alert.html
  services/portal/templates/services/service_request_action.html
  services/portal/templates/tickets/partials/status_and_comments.html
  services/portal/templates/users/login.html
  services/portal/tests/common/test_maintenance_feedback.py
  services/portal/tests/common/test_platform_unreachable.py
  services/portal/tests/common/test_role_decorator_outage.py
  services/portal/tests/services/test_service_requests.py
  services/portal/tests/ui/test_radio_input.py
  shared/ui/templates/components/input.html
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(i18n): give shared UI components their own catalog, ship shared/ in the Docker images
  Makefile
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.dev.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.services.yml
  deploy/docker-compose.single-server.yml
  deploy/platform/Dockerfile
  deploy/portal/Dockerfile
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/config/settings/base.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/tests/ui/test_shared_catalog.py
  services/platform/tests/ui/test_shared_translations.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/config/settings/base.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/tests/ui/test_shared_translations.py
  shared/ui/locale/ro/LC_MESSAGES/django.mo
  shared/ui/locale/ro/LC_MESSAGES/django.po
  shared/ui/templates/components/badge.html
  shared/ui/templates/components/form_actions.html
  tests/deploy/test_repository_layout.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(portal): handle role-check outages in views that look up roles directly
  services/portal/apps/common/decorators.py
  services/portal/apps/services/views.py
  services/portal/apps/tickets/views.py
  services/portal/tests/common/test_role_decorator_outage.py
  services/portal/tests/services/test_role_check_outage.py
  services/portal/tests/tickets/test_role_check_outage.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(quality): reject label filters that can erase an accessible name
  scripts/audit_accessibility.py
  tests/integration/test_a11y_filtered_names.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

perf(auth): stop the per-request audit write, read the credential version in the user query
  services/platform/apps/users/backends.py
  services/platform/apps/users/models.py
  services/platform/apps/users/services.py
  services/platform/config/settings/base.py
  services/platform/tests/users/test_credential_version_backend.py
  services/platform/tests/users/test_session_index.py
  services/platform/tests/users/test_session_index_write_skip.py
  services/platform/tests/users/test_session_management.py
  services/platform/tests/users/test_session_timeout_audit.py
  services/platform/tests/users/test_staff_login_second_factor.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(api): let a bare API token inspect and revoke itself
  docs/ADRs/ADR-0031-api-token-authentication-strategy.md
  services/platform/apps/api/AUTHENTICATION.md
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/users/views.py
  services/platform/tests/api/test_api_users_security.py
  services/platform/tests/api/test_public_endpoint_exemption.py
  services/platform/tests/api/test_token_auth_requires_hmac.py
  services/platform/tests/api/test_token_lifecycle_public.py
  services/platform/tests/users/test_session_auth_hash_binding.py
  tests/deploy/test_caddy_routing.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(provisioning): make the reconciler the single writer of a hosting account's enabled state
  docs/ADRs/ADR-0051-hosting-account-enabled-state-ownership.md
  docs/ADRs/README.md
  docs/deployment/VIRTUALMIN_PRODUCTION_OPTIMIZATIONS.md
  services/platform/apps/domains/signals.py
  services/platform/apps/provisioning/domain_veto.py
  services/platform/apps/provisioning/services.py
  services/platform/apps/provisioning/signals.py
  services/platform/apps/provisioning/virtualmin_forms.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/apps/settings/catalog.py
  services/platform/templates/provisioning/virtualmin/accounts_list.html
  services/platform/templates/provisioning/virtualmin/bulk_actions.html
  services/platform/tests/provisioning/test_cross_app_integration.py
  services/platform/tests/provisioning/test_hosting_account_staff_actions.py
  services/platform/tests/provisioning/test_hosting_enabled_single_writer.py
  services/platform/tests/provisioning/test_virtualmin_bulk_actions.py
  services/platform/tests/provisioning/test_virtualmin_domain_veto.py
  services/platform/tests/provisioning/test_virtualmin_task_retry_contract.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

docs: changelog and Romanian translations for #553, #566 and #569
  CHANGELOG.md
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
Due: none

fix(ci): refuse dispatched tags, and pin the artifact naming and shutdown budgets in tests
  .github/workflows/nightly.yml
  services/platform/tests/common/test_e2e_stack.py
  services/platform/tests/common/test_nightly_ci_workflow.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(deploy): let native staging fall back to one hour, accept quoted HSTS policies, and document the upgrade
  .env.example.prod
  CHANGELOG.md
  deploy/ansible/roles/praho-native/templates/Caddyfile.native.j2
  deploy/nginx/nginx-ssl.conf
  docs/deployment/HTTPS_DEPLOYMENT_CHECKLIST.md
  tests/deploy/test_caddy_routing.py
  tests/integration/test_hsts_edge_policy.py
Due: ruff-new-violations, type-check-modified

fix(portal): never re-offer a sent ticket reply, keep typed input through role-check outages
  services/portal/apps/common/decorators.py
  services/portal/apps/tickets/views.py
  services/portal/apps/users/views.py
  services/portal/static/js/csp-actions.js
  services/portal/templates/tickets/partials/status_and_comments.html
  services/portal/templates/tickets/ticket_detail.html
  services/portal/templates/users/login.html
  services/portal/tests/common/test_role_decorator_outage.py
  services/portal/tests/services/test_role_check_outage.py
  services/portal/tests/tickets/test_reply_draft_cleanup.py
  services/portal/tests/tickets/test_reply_refresh_outage.py
  services/portal/tests/users/test_login_outage_recovery.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(test): count a page only when the response is that page, and document the login rate limits
  services/platform/tests/common/test_load_test_scenarios.py
  tests/load/README.md
  tests/load/locustfile.py
  tests/load/scenarios.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(qa): make the settings sweep's login fail when it fails, and pass the second factor
  Makefile
  QA/README.md
  scripts/qa_settings_sweep.py
  scripts/qa_sweep_auth.py
  services/platform/tests/common/test_qa_sweep_auth.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(deploy): keep production compose files compatible with images built before the layout change
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.services.yml
  deploy/docker-compose.single-server.yml
  deploy/platform/Dockerfile
  deploy/portal/Dockerfile
  tests/deploy/test_repository_layout.py
Due: ruff-new-violations, type-check-modified

fix(ci): let the nightly browser job survive coverage shutdown, dispatch a branch, and report failures (#611)
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
  QA/README.md
  docs/testing/manual-e2e.md
  scripts/e2e_stack.py
  services/platform/tests/common/test_e2e_stack.py
  services/platform/tests/common/test_nightly_ci_workflow.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

docs: correct the ADR index and native venv path, and record the nightly runs (#612)
  QA/cycle-02-v0.30.0/findings.md
  docs/ADRs/README.md
  docs/deployment/DEPLOYMENT.md
Due: none

fix(portal): keep the chosen action when a service request hits a role-check outage
  services/portal/apps/services/views.py
  services/portal/tests/services/test_role_check_outage.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(security): stop writing submitted passwords and secrets back into forms
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/templates/domains/staff/registrar_form.html
  services/platform/tests/domains/test_registrar_secret_rendering.py
  services/platform/tests/ui/test_password_form_field.py
  services/platform/tests/users/test_login_password_rendering.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/apps/users/forms.py
  services/portal/apps/users/views.py
  services/portal/tests/ui/test_password_form_field.py
  services/portal/tests/users/test_login_secret_rendering.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(deploy): make HSTS follow the environment at the edge, and let the portal's settings apply (#613)
  .env.example.prod
  .env.example.staging
  CHANGELOG.md
  deploy/ansible/roles/praho-native/templates/Caddyfile.native.j2
  deploy/ansible/roles/praho/defaults/main.yml
  deploy/ansible/roles/praho/templates/Caddyfile.j2
  deploy/caddy/Caddyfile
  deploy/caddy/Caddyfile.platform
  deploy/caddy/Caddyfile.portal
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.single-server.yml
  deploy/nginx/nginx-ssl.conf
  docs/deployment/DEPLOYMENT.md
  docs/deployment/HTTPS_DEPLOYMENT_CHECKLIST.md
  docs/security/SECURITY_CONFIGURATION.md
  services/portal/apps/common/middleware.py
  services/portal/config/settings/prod.py
  services/portal/tests/common/test_hsts_header.py
  tests/deploy/test_caddy_routing.py
  tests/integration/test_hsts_edge_policy.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, security-credentials-check, i18n-coverage-check, performance-check

fix(deploy): keep the development portal's session database in the source mount
  deploy/docker-compose.dev.yml
  tests/deploy/test_repository_layout.py
Due: ruff-new-violations, type-check-modified

fix(quality): judge a filtered label by the text it renders
  scripts/audit_accessibility.py
  tests/integration/test_a11y_filtered_names.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(test): make the load test log in, request real pages, and fail when it measures nothing (#614)
  services/platform/tests/common/test_load_test_scenarios.py
  tests/load/README.md
  tests/load/locustfile.py
  tests/load/scenarios.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(domains): stop the registrar form erasing stored API credentials
  services/platform/apps/domains/forms.py
  services/platform/templates/domains/staff/registrar_form.html
  services/platform/tests/domains/test_registrar_secret_preservation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(qa): make the settings sweep's login fail when it fails, and pass the second factor (#615)
  Makefile
  QA/README.md
  scripts/qa_settings_sweep.py
  scripts/qa_sweep_auth.py
  services/platform/tests/common/test_qa_sweep_auth.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(security): stop echoing one-time codes on MFA and password-change forms
  services/platform/apps/users/forms.py
  services/platform/tests/users/test_one_time_code_forms.py
  services/portal/apps/users/forms.py
  services/portal/tests/users/test_mfa_code_rendering.py
  services/portal/tests/users/test_one_time_code_forms.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, portal-isolation-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(signals): isolate optional signal side effects outside billing so they cannot roll back their caller
  .github/workflows/integration.yml
  services/platform/apps/audit/signals.py
  services/platform/apps/common/transactions.py
  services/platform/apps/customers/signals.py
  services/platform/apps/domains/signals.py
  services/platform/apps/integrations/signals.py
  services/platform/apps/notifications/signals.py
  services/platform/apps/products/signals.py
  services/platform/apps/provisioning/signals.py
  services/platform/apps/provisioning/virtualmin_signals.py
  services/platform/apps/settings/signals.py
  services/platform/apps/tickets/signals.py
  services/platform/apps/users/signals.py
  services/platform/tests/audit/test_membership_signal_postgres_isolation.py
  services/platform/tests/audit/test_signal_transaction_isolation.py
  services/platform/tests/common/_signal_isolation.py
  services/platform/tests/customers/test_signal_transaction_isolation.py
  services/platform/tests/domains/test_signal_transaction_isolation.py
  services/platform/tests/integrations/test_signal_transaction_isolation.py
  services/platform/tests/notifications/test_signal_transaction_isolation.py
  services/platform/tests/products/test_signal_transaction_isolation.py
  services/platform/tests/provisioning/test_cross_app_integration.py
  services/platform/tests/provisioning/test_provisioning_signals.py
  services/platform/tests/provisioning/test_virtualmin_signal_transaction_isolation.py
  services/platform/tests/settings/test_signal_transaction_isolation.py
  services/platform/tests/tickets/test_signal_transaction_isolation.py
  services/platform/tests/users/test_signal_transaction_isolation.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

feat(billing): let staff edit draft invoices
  scripts/status_only_test_baseline.txt
  services/platform/apps/billing/invoice_service.py
  services/platform/apps/billing/views.py
  services/platform/templates/billing/invoice_detail.html
  services/platform/templates/billing/invoice_form.html
  services/platform/templates/billing/partials/invoice_edit_line.html
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/billing/test_invoice_edit.py
  services/platform/tests/billing/test_invoice_edit_line_controls.py
  services/platform/tests/billing/test_staff_currency_summaries.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, django-template-check, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

fix(quality): apply template autoescaping before judging a filtered label
  scripts/audit_accessibility.py
  tests/integration/test_a11y_filtered_names.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, security-credentials-check, performance-check

fix(test): capture translate_po's warning whatever settings module configured logging
  tests/integration/test_translate_po.py
Due: ruff-new-violations, type-check-modified

fix(deploy): run the staging Django settings in Docker staging deployments
  CHANGELOG.md
  deploy/ansible/roles/praho/defaults/main.yml
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.single-server.yml
  tests/integration/test_settings_module_selection.py
Due: ruff-new-violations, type-check-modified

fix(billing): keep payment settlement independent of its optional side effects
  .github/workflows/integration.yml
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/payment_convergence.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/e2e_fixtures.py
  services/platform/apps/promotions/gift_cards.py
  services/platform/tests/billing/test_audit_signal_guard.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_metering_services.py
  services/platform/tests/billing/test_payment_settlement_isolation.py
  services/platform/tests/billing/test_payment_settlement_postgres.py
Due: ruff-new-violations, type-check-modified, prevent-type-ignore, audit-coverage-check, security-credentials-check, i18n-coverage-check, performance-check

Path conditions:
  ruff-new-violations: any of: \.py$, but not: ^migrations/.*\.py$
  type-check-modified: any of: \.py$, but not: ^(migrations/.*\.py|services/platform/scripts/backup\.py|services/platform/scripts/deploy\.py)$
  prevent-type-ignore: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
  django-template-check: any of: \.html$, but not: ^(services/platform/static/|services/portal/static/|htmlcov/)
  portal-isolation-check: any of: ^services/portal/.*\.py$
  audit-coverage-check: any of: ^services/platform/apps/.*\.py$
  security-credentials-check: any of: \.py$, but not: ^(tests/.*\.py|.*/management/commands/.*\.py|.*settings.*\.py)$
  i18n-coverage-check: any of: \.(py|html)$, but not: (migrations/|/tests/|^tests/|^scripts/|/scripts/)
  performance-check: any of: \.py$, but not: ^(migrations/.*\.py|tests/.*\.py)$
