Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

codecov.yml:

# Codecov configuration for PRAHO two-service architecture
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 90%

flags:
  platform:
    paths:
      - services/platform/apps/
    carryforward: true
  portal:
    paths:
      - services/portal/apps/
    carryforward: true

ignore:
  - "*/migrations/*"
  - "*/tests/*"
  - "*/settings/*"
  - "manage.py"
  - "*/wsgi.py"
  - "*/asgi.py"
  - "scripts/*"
  - "docs/*"
  - "tests/*"

fix(settings): return saved localisation preferences immediately
  services/platform/apps/api/users/serializers.py
  services/platform/tests/settings/test_localisation_api.py
Due: platform

fix(settings): complete display and throttle boundaries
  services/platform/apps/api/localisation/views.py
  services/platform/templates/dashboard.html
  services/platform/tests/orders/test_order_flow_preflight_and_server_guard.py
  services/platform/tests/settings/test_localisation_api.py
  services/platform/tests/settings/test_localisation_boundaries.py
Due: platform

fix(settings): preserve form and operational date contracts
  docs/development/LOCALISATION.md
  services/platform/apps/api/customers/serializers.py
  services/platform/apps/api/users/serializers.py
  services/platform/apps/customers/forms.py
  services/platform/apps/orders/views.py
  services/platform/apps/users/views.py
  services/platform/templates/audit/partials/gdpr_export_requests_list.html
  services/platform/templates/domains/domain_detail.html
  services/platform/templates/domains/domain_renew.html
  services/platform/templates/settings/automation.html
  services/platform/tests/orders/test_order_security.py
  services/platform/tests/settings/test_localisation_api.py
  services/platform/tests/settings/test_localisation_consumers.py
  services/portal/templates/services/partials/services_table.html
  services/portal/templates/services/service_detail.html
Due: platform

fix(settings): preserve field metadata and valid country choices
  docs/development/LOCALISATION.md
  services/platform/apps/api/customers/serializers.py
  services/platform/apps/common/localisation.py
  services/platform/apps/users/forms.py
  services/platform/tests/common/test_localisation.py
  services/platform/tests/settings/test_localisation_api.py
  services/platform/tests/settings/test_localisation_boundaries.py
  services/platform/tests/settings/test_localisation_consumers.py
  services/portal/apps/common/localisation.py
  services/portal/tests/common/test_localisation.py
Due: platform, portal

fix(settings): localize country labels per request
  docs/development/LOCALISATION.md
  services/platform/apps/common/localisation.py
  services/platform/apps/common/localisation_middleware.py
  services/platform/apps/settings/catalog.py
  services/platform/tests/common/test_localisation.py
  services/platform/tests/settings/test_localisation_consumers.py
  services/portal/apps/common/localisation.py
  services/portal/apps/common/localisation_middleware.py
  services/portal/tests/common/test_localisation.py
Due: platform, portal

feat(billing): consume-if-frozen FX snapshot at issue(); freeze at conversion (#103)
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/services.py
  services/platform/tests/billing/test_invoice_exchange_rate_snapshot.py
Due: platform

feat: add services-only D390 accountant review exports
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/billing/D390_ACCOUNTANT_HANDOFF.md
  docs/billing/images/d390-exceptions.png
  docs/billing/images/d390-preview.png
  services/platform/apps/billing/d390.py
  services/platform/apps/billing/d390_schema/.gitattributes
  services/platform/apps/billing/d390_schema/README.md
  services/platform/apps/billing/d390_schema/d390_12022021.xsd
  services/platform/apps/billing/d390_schema/structura_D390_2020_300424.pdf
  services/platform/apps/billing/d390_views.py
  services/platform/apps/billing/ec_sales_service.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/apps/billing/forms.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/invoice_querysets.py
  services/platform/apps/billing/migrations/0046_invoice_vat_evidence_proformainvoice_vat_evidence.py
  services/platform/apps/billing/pdf_generators.py
  services/platform/apps/billing/proforma_models.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/recurring_billing.py
  services/platform/apps/billing/services.py
  services/platform/apps/billing/tax_evidence.py
  services/platform/apps/billing/urls.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/templates/billing/d390_report.html
  services/platform/templates/billing/reports.html
  services/platform/tests/billing/test_d390.py
  services/platform/tests/billing/test_metering_services.py
  services/platform/tests/billing/test_subscription_invoice_payments.py
  services/platform/tests/billing/test_tax_evidence.py
Due: platform

fix: allocate invoice numbers before freezing issuance
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/signals.py
  services/platform/tests/billing/test_tax_evidence.py
Due: platform

feat: add services-only D390 accountant review exports (#512)
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/billing/D390_ACCOUNTANT_HANDOFF.md
  docs/billing/images/d390-exceptions.png
  docs/billing/images/d390-preview.png
  services/platform/apps/billing/d390.py
  services/platform/apps/billing/d390_schema/.gitattributes
  services/platform/apps/billing/d390_schema/README.md
  services/platform/apps/billing/d390_schema/d390_12022021.xsd
  services/platform/apps/billing/d390_schema/structura_D390_2020_300424.pdf
  services/platform/apps/billing/d390_views.py
  services/platform/apps/billing/ec_sales_service.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/apps/billing/forms.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/invoice_querysets.py
  services/platform/apps/billing/migrations/0046_invoice_vat_evidence_proformainvoice_vat_evidence.py
  services/platform/apps/billing/pdf_generators.py
  services/platform/apps/billing/proforma_models.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/recurring_billing.py
  services/platform/apps/billing/services.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/tax_evidence.py
  services/platform/apps/billing/urls.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/templates/billing/d390_report.html
  services/platform/templates/billing/reports.html
  services/platform/tests/billing/test_d390.py
  services/platform/tests/billing/test_metering_services.py
  services/platform/tests/billing/test_subscription_invoice_payments.py
  services/platform/tests/billing/test_tax_evidence.py
Due: platform

refactor(billing): one declared default-currency source; drop dead orphans (#103)
  services/platform/config/settings/base.py
  services/platform/tests/billing/test_currency_admission_paths.py
Due: none

refactor(billing): extract shared record_fx_rate immutable writer (#103)
  services/platform/apps/billing/fx_rate_ingestion.py
  services/platform/apps/billing/management/commands/record_exchange_rate.py
  services/platform/tests/billing/test_fx_rate_ingestion.py
Due: platform

feat(billing): BNR daily exchange-rate gateway (SSRF-safe, batch-validated) (#103)
  services/platform/apps/billing/gateways/bnr_gateway.py
  services/platform/tests/billing/test_bnr_gateway.py
Due: platform

feat(billing): scheduled BNR fetch task + FX settings + independent scheduler (#103)
  services/platform/apps/billing/tasks.py
  services/platform/apps/common/management/commands/setup_scheduled_tasks.py
  services/platform/apps/settings/catalog.py
  services/platform/tests/billing/test_bnr_fetch_task.py
Due: platform

feat(billing): resolver-accurate FX freshness surface + staleness alert (#103)
  services/platform/apps/common/system_status.py
  services/platform/apps/common/tasks.py
  services/platform/apps/settings/catalog.py
  services/platform/tests/common/test_fx_freshness.py
Due: platform

docs(billing): ADR-0046 automated FX ingestion; reconcile as_of wording; E2E capstone (#103)
  CHANGELOG.md
  docs/ADRs/ADR-0041-foreign-currency-efactura-accounting.md
  docs/ADRs/ADR-0046-automated-fx-ingestion.md
  docs/ADRs/README.md
  services/platform/apps/billing/exchange_rate_service.py
  services/platform/tests/billing/test_currency_e2e.py
Due: platform

test(billing): fail-closed conversion + seed-migration idempotence (#103)
  services/platform/tests/billing/test_currency_e2e.py
Due: none

fix(billing): close FX ingestion + replay money-safety gaps (#103)
  docs/ADRs/ADR-0046-automated-fx-ingestion.md
  services/platform/apps/billing/management/commands/record_exchange_rate.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/common/system_status.py
  services/platform/tests/billing/test_bnr_fetch_task.py
  services/platform/tests/common/test_fx_freshness.py
Due: platform

fix(billing): harden FX failure signaling + freshness robustness (#103)
  docs/ADRs/ADR-0046-automated-fx-ingestion.md
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/common/system_status.py
  services/platform/tests/billing/test_bnr_fetch_task.py
  services/platform/tests/common/test_fx_freshness.py
Due: platform

feat(infrastructure): add read-only panel certificate preflight
  CHANGELOG.md
  docs/deployment/DEPLOYMENT.md
  pyproject.toml
  services/platform/apps/infrastructure/dns_gateway.py
  services/platform/apps/infrastructure/hcloud_service.py
  services/platform/apps/infrastructure/management/commands/panel_cert_preflight.py
  services/platform/apps/infrastructure/panel_cert_preflight.py
  services/platform/apps/infrastructure/panel_cert_probes.py
  services/platform/apps/infrastructure/provider_config.py
  services/platform/apps/infrastructure/tests/test_hcloud_service.py
  services/platform/apps/infrastructure/validation_service.py
  services/platform/infrastructure/ansible/playbooks/DRILL_EXECUTION_PLAN.md
  services/platform/infrastructure/ansible/playbooks/NODE_DEPLOY_DRILL.md
  services/platform/tests/infrastructure/test_panel_cert_preflight.py
  services/platform/tests/infrastructure/test_ssl_trust_reporting.py
  uv.lock
Due: platform

fix(billing): consume only complete FX snapshots; reject BNR header/Cube date mismatch (#103)
  docs/ADRs/ADR-0046-automated-fx-ingestion.md
  services/platform/apps/billing/gateways/bnr_gateway.py
  services/platform/apps/billing/invoice_models.py
  services/platform/config/settings/base.py
  services/platform/tests/billing/test_bnr_gateway.py
  services/platform/tests/billing/test_invoice_exchange_rate_snapshot.py
Due: platform

feat(infrastructure): add read-only panel certificate preflight (#514)
  CHANGELOG.md
  docs/deployment/DEPLOYMENT.md
  pyproject.toml
  services/platform/apps/infrastructure/dns_gateway.py
  services/platform/apps/infrastructure/hcloud_service.py
  services/platform/apps/infrastructure/management/commands/panel_cert_preflight.py
  services/platform/apps/infrastructure/panel_cert_preflight.py
  services/platform/apps/infrastructure/panel_cert_probes.py
  services/platform/apps/infrastructure/provider_config.py
  services/platform/apps/infrastructure/tests/test_hcloud_service.py
  services/platform/apps/infrastructure/validation_service.py
  services/platform/infrastructure/ansible/playbooks/DRILL_EXECUTION_PLAN.md
  services/platform/infrastructure/ansible/playbooks/NODE_DEPLOY_DRILL.md
  services/platform/tests/infrastructure/test_panel_cert_preflight.py
  services/platform/tests/infrastructure/test_ssl_trust_reporting.py
  uv.lock
Due: platform

fix(billing): preserve all proforma-create input on reject + totals in selected currency (#103)
  services/platform/apps/billing/views.py
  services/platform/templates/billing/proforma_form.html
  services/platform/tests/billing/test_proformas_views.py
Due: platform

feat(billing): foreign-currency billing infrastructure — admission, BNR ingestion, freshness (#103)
  CHANGELOG.md
  docs/ADRs/ADR-0003-comprehensive-type-safety-implementation.md
  docs/ADRs/ADR-0041-foreign-currency-efactura-accounting.md
  docs/ADRs/ADR-0046-automated-fx-ingestion.md
  docs/ADRs/README.md
  services/platform/apps/billing/apps.py
  services/platform/apps/billing/checks.py
  services/platform/apps/billing/currency_service.py
  services/platform/apps/billing/exchange_rate_service.py
  services/platform/apps/billing/fx_rate_ingestion.py
  services/platform/apps/billing/gateways/bnr_gateway.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/management/commands/record_exchange_rate.py
  services/platform/apps/billing/migrations/0047_seed_supported_currencies.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/recurring_billing.py
  services/platform/apps/billing/services.py
  services/platform/apps/billing/subscription_service.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/common/management/commands/setup_scheduled_tasks.py
  services/platform/apps/common/system_status.py
  services/platform/apps/common/tasks.py
  services/platform/apps/common/types.py
  services/platform/apps/settings/catalog.py
  services/platform/config/settings/base.py
  services/platform/templates/billing/proforma_form.html
  services/platform/tests/billing/test_bnr_fetch_task.py
  services/platform/tests/billing/test_bnr_gateway.py
  services/platform/tests/billing/test_currency_admission_paths.py
  services/platform/tests/billing/test_currency_e2e.py
  services/platform/tests/billing/test_fx_rate_ingestion.py
  services/platform/tests/billing/test_invoice_exchange_rate_snapshot.py
  services/platform/tests/billing/test_invoice_from_order.py
  services/platform/tests/billing/test_proformas_views.py
  services/platform/tests/common/test_currency.py
  services/platform/tests/common/test_fx_freshness.py
  services/platform/tests/orders/test_services_comprehensive.py
Due: platform

docs(compliance): add ADR-0047 fiscal-data boundary and deployer disclaimer
  NOTICE.md
  README.md
  docs/ADRs/ADR-0047-jurisdiction-tax-policy.md
  docs/ADRs/README.md
Due: none

docs(adr): reframe ADR-0017 session-backend addendum as forward guidance
  docs/ADRs/ADR-0017-portal-auth-fail-open-strategy.md
Due: none

docs(adr): correct stale index counts
  docs/ADRs/README.md
Due: none

docs(compliance): fiscal-data boundary ADR and deployer disclaimer (#515)
  NOTICE.md
  README.md
  docs/ADRs/ADR-0017-portal-auth-fail-open-strategy.md
  docs/ADRs/ADR-0047-jurisdiction-tax-policy.md
  docs/ADRs/README.md
Due: none

docs(adr): separate the deployment election from per-supply outcomes
  docs/ADRs/ADR-0017-portal-auth-fail-open-strategy.md
  docs/ADRs/ADR-0047-jurisdiction-tax-policy.md
Due: none

docs(adr): carry the election separation through the whole ADR
  docs/ADRs/ADR-0017-portal-auth-fail-open-strategy.md
  docs/ADRs/ADR-0047-jurisdiction-tax-policy.md
Due: none

docs(adr): make product classification a place-of-supply rule, not a boolean
  docs/ADRs/ADR-0047-jurisdiction-tax-policy.md
Due: none

docs(adr): apply the product rule before deriving reverse charge
  docs/ADRs/ADR-0047-jurisdiction-tax-policy.md
Due: none

docs(adr): separate the deployment election from per-supply outcomes (#516)
  docs/ADRs/ADR-0017-portal-auth-fail-open-strategy.md
  docs/ADRs/ADR-0047-jurisdiction-tax-policy.md
Due: none

docs(billing): repoint the D390 handoff at the reverse-charge evidence issue
  docs/billing/D390_ACCOUNTANT_HANDOFF.md
Due: none

docs(billing): repoint the D390 handoff at the reverse-charge evidence issue (#524)
  docs/billing/D390_ACCOUNTANT_HANDOFF.md
Due: none

docs(billing): restore the D390 handoff pointer to #389
  docs/billing/D390_ACCOUNTANT_HANDOFF.md
Due: none

docs(billing): restore the D390 handoff pointer to #389 (#525)
  docs/billing/D390_ACCOUNTANT_HANDOFF.md
Due: none

fix(billing): large-refund alert recipient is deployment configuration
  services/platform/apps/billing/signals.py
  services/platform/apps/settings/catalog.py
  services/platform/tests/billing/test_billing_signals_regressions.py
Due: platform

fix(audit): gate jurisdiction-specific retention policies on the operator country
  docs/ADRs/ADR-0043-audit-integrity-v2-retention-and-standalone-siem.md
  services/platform/apps/audit/management/commands/setup_audit_retention_policies.py
  services/platform/apps/common/localisation.py
  services/platform/config/settings/base.py
  services/platform/tests/audit/test_audit_retention_infrastructure.py
Due: platform

fix(billing): out-of-scope documents omit the VAT rate and party VAT identifiers
  services/platform/apps/billing/efactura/validator.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/tests/billing/efactura/test_xml_builder.py
Due: platform
