Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

fix(csp): restore CSP test coverage and drop the dead Google Fonts allowlist
  services/platform/apps/common/middleware.py
  services/platform/config/settings/test.py
  services/platform/tests/common/test_common_security.py
  services/platform/tests/common/test_csp_header.py
Due: platform

fix(billing): make the large-refund notification threshold runtime-configurable
  services/platform/apps/billing/config.py
  services/platform/apps/billing/signals.py
  services/platform/apps/settings/catalog.py
  services/platform/tests/settings/test_billing_terms.py
Due: platform

feat(infrastructure): drill-gated fatality control for Let's Encrypt panel cert (#436)
  docs/deployment/DEPLOYMENT.md
  services/platform/infrastructure/ansible/playbooks/virtualmin.yml
Due: none

test(csp): freeze the platform inline-handler debt so it can only shrink
  services/platform/tests/ui/test_csp_handler_inventory_guardrail.py
Due: none

fix(registration): unusable-password + rejected-default-company-type + masked-error bugs (#501)
  services/platform/apps/api/customers/serializers.py
  services/platform/apps/users/services.py
  services/platform/tests/api/test_registration_serializer.py
  services/platform/tests/security/test_enhanced_validation.py
  services/portal/apps/users/forms.py
  services/portal/tests/users/test_registration_customer_type_mapping.py
Due: platform, portal

test(e2e): repair the 7 standing portal-suite failures (#499)
  tests/e2e/portal/test_customer_company.py
  tests/e2e/portal/test_customer_users.py
  tests/e2e/portal/test_portal_tickets.py
  tests/e2e/portal/test_signup_order_flow.py
Due: none

fix(portal): render the VAT rate without trailing zeros
  services/portal/templates/orders/partials/cart_totals.html
Due: none

fix(dev): seed a checksum-valid CUI in sample data
  services/platform/apps/common/management/commands/generate_sample_data.py
Due: platform

fix(billing): make the large-refund notification threshold runtime-configurable (#503)
  services/platform/apps/billing/config.py
  services/platform/apps/billing/signals.py
  services/platform/apps/settings/catalog.py
  services/platform/tests/settings/test_billing_terms.py
Due: platform

fix(csp): restore CSP test coverage, drop dead Google Fonts, freeze platform inline-handler debt (#504)
  services/platform/apps/common/middleware.py
  services/platform/config/settings/test.py
  services/platform/tests/common/test_common_security.py
  services/platform/tests/common/test_csp_header.py
  services/platform/tests/ui/test_csp_handler_inventory_guardrail.py
Due: platform

feat(infrastructure): drill-gated fatality control for Let's Encrypt panel cert (#505)
  docs/deployment/DEPLOYMENT.md
  services/platform/infrastructure/ansible/playbooks/virtualmin.yml
Due: none

test(e2e): repair the 7 standing portal-suite failures (#502)
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/portal/templates/orders/partials/cart_totals.html
  tests/e2e/portal/test_customer_company.py
  tests/e2e/portal/test_customer_users.py
  tests/e2e/portal/test_portal_tickets.py
  tests/e2e/portal/test_signup_order_flow.py
Due: platform

feat(csp): platform delegated-action dispatcher + migrate 33 inline handlers (#284 W0+A)
  services/platform/static/js/platform-actions.js
  services/platform/templates/audit/gdpr_dashboard.html
  services/platform/templates/base.html
  services/platform/templates/billing/efactura_dashboard.html
  services/platform/templates/billing/proforma_detail.html
  services/platform/templates/components/table_enhanced.html
  services/platform/templates/customers/detail.html
  services/platform/templates/customers/partials/customer_table.html
  services/platform/templates/orders/order_detail.html
  services/platform/templates/provisioning/partials/services_list.html
  services/platform/templates/provisioning/virtualmin/account_detail.html
  services/platform/templates/tickets/partials/tickets_table.html
  services/platform/tests/ui/test_csp_handler_inventory_guardrail.py
  services/platform/tests/ui/test_ui_security.py
  tests/e2e/platform/test_staff_customers.py
Due: none

feat(csp): platform delegated-action dispatcher + first handler-migration wave (#506)
  services/platform/static/js/platform-actions.js
  services/platform/templates/audit/gdpr_dashboard.html
  services/platform/templates/base.html
  services/platform/templates/billing/efactura_dashboard.html
  services/platform/templates/billing/proforma_detail.html
  services/platform/templates/components/table_enhanced.html
  services/platform/templates/customers/detail.html
  services/platform/templates/customers/partials/customer_table.html
  services/platform/templates/orders/order_detail.html
  services/platform/templates/provisioning/partials/services_list.html
  services/platform/templates/provisioning/virtualmin/account_detail.html
  services/platform/templates/tickets/partials/tickets_table.html
  services/platform/tests/ui/test_csp_handler_inventory_guardrail.py
  services/platform/tests/ui/test_ui_security.py
  tests/e2e/platform/test_staff_customers.py
Due: none

feat(csp): migrate confirm-guards + dangerous-action handlers (#284 W-B)
  services/platform/static/js/platform-actions.js
  services/platform/templates/customers/detail.html
  services/platform/templates/infrastructure/deployment_detail.html
  services/platform/templates/infrastructure/drift/deployment_detail.html
  services/platform/templates/provisioning/virtualmin/migration_status.html
  services/platform/templates/provisioning/virtualmin/partials/job_status.html
  services/platform/templates/settings/api_tokens.html
Due: none

feat(csp): migrate all remaining inline handlers to delegated data-action (#284 W-C)
  services/platform/static/js/platform-actions.js
  services/platform/templates/audit/partials/gdpr_export_detail.html
  services/platform/templates/audit/partials/gdpr_export_requests_list.html
  services/platform/templates/audit/partials/logs_list.html
  services/platform/templates/base.html
  services/platform/templates/billing/invoice_detail.html
  services/platform/templates/billing/partials/billing_list.html
  services/platform/templates/billing/proforma_detail.html
  services/platform/templates/components/mobile_header.html
  services/platform/templates/customers/list.html
  services/platform/templates/legal/cookie_policy.html
  services/platform/templates/notifications/template_detail.html
  services/platform/templates/orders/order_detail.html
  services/platform/templates/orders/order_item_form.html
  services/platform/templates/orders/partials/order_item_inline_form.html
  services/platform/templates/orders/partials/order_items_list.html
  services/platform/templates/provisioning/partials/services_list.html
  services/platform/templates/provisioning/virtualmin/account_detail.html
  services/platform/templates/provisioning/virtualmin/server_detail.html
  services/platform/templates/tickets/detail.html
  services/platform/templates/tickets/partials/status_and_comments.html
  services/platform/templates/users/mfa_backup_codes.html
  services/platform/templates/users/mfa_setup.html
  services/platform/templates/users/mfa_verify.html
  services/platform/tests/provisioning/test_provisioning_security.py
  services/platform/tests/settings/test_api_token_management.py
  services/platform/tests/ui/test_csp_handler_inventory_guardrail.py
  services/portal/tests/ui/test_registry_invoke_allowlist.py
  shared/ui/static/js/ui-actions.js
Due: none

feat(csp): relocate swapped-fragment scripts to static modules (#284 W-Frag)
  services/platform/static/js/audit-fragments.js
  services/platform/static/js/orders-items.js
  services/platform/static/js/platform-actions.js
  services/platform/templates/audit/gdpr_management_dashboard.html
  services/platform/templates/audit/logs.html
  services/platform/templates/audit/partials/event_detail.html
  services/platform/templates/audit/partials/gdpr_export_detail.html
  services/platform/templates/audit/partials/gdpr_export_requests_list.html
  services/platform/templates/audit/partials/logs_list.html
  services/platform/templates/audit/partials/search_suggestions.html
  services/platform/templates/billing/partials/billing_list.html
  services/platform/templates/orders/order_detail.html
  services/platform/templates/orders/order_form.html
  services/platform/templates/orders/order_item_form.html
  services/platform/templates/orders/partials/_order_items_js.html
  services/platform/templates/orders/partials/order_items_list.html
  services/platform/templates/orders/partials/preflight_results.html
  services/platform/templates/provisioning/partials/services_list.html
  services/platform/tests/provisioning/test_provisioning_security.py
  services/portal/tests/ui/test_registry_invoke_allowlist.py
  shared/ui/static/js/ui-actions.js
Due: none

feat(csp): remove script 'unsafe-inline' — nonce + script-src-attr 'none' (#284 W-D)
  services/platform/apps/common/middleware.py
  services/platform/config/settings/base.py
  services/platform/tests/common/test_common_security.py
  services/platform/tests/common/test_csp_header.py
  services/platform/tests/common/test_csp_nonce.py
  services/platform/tests/orders/test_order_flow_security.py
Due: platform

test(e2e): match delegated data-action on ticket-list rows (#284)
  tests/e2e/platform/test_platform_tickets.py
Due: none

fix(csp): address review — copySecret element reuse + orders-items comment (#284)
  services/platform/static/js/orders-items.js
  services/platform/templates/users/mfa_setup.html
Due: none

chore(csp): tighten platform img-src to 'self' data: (#284 finding #11)
  services/platform/apps/common/middleware.py
Due: platform

refactor(csp): remove the non-Alpine eval dependencies (#284 unsafe-eval wave 1)
  services/platform/templates/base.html
  services/platform/templates/components/table_enhanced.html
  services/platform/templates/tickets/detail.html
  services/platform/templates/tickets/partials/status_and_comments.html
  services/platform/tests/ui/test_csp_handler_inventory_guardrail.py
Due: none

refactor(csp): migrate platform Alpine to the @alpinejs/csp build (#284 unsafe-eval wave 2)
  services/platform/static/js/alpine-components.js
  services/platform/static/js/alpine-csp.min.js
  services/platform/static/js/alpine.min.js
  services/platform/templates/base.html
  services/platform/templates/infrastructure/deployment_create.html
  services/platform/templates/provisioning/virtualmin/partials/quick_actions.html
  services/platform/templates/settings/api_tokens.html
  services/platform/templates/settings/group.html
  services/platform/templates/settings/partials/_form_js.html
  services/platform/templates/settings/partials/_sidebar.html
  services/platform/templates/settings/partials/secret_row.html
  services/portal/tests/ui/test_alpine_csp_build.py
Due: none

feat(csp): drop script 'unsafe-eval' from the platform CSP (#284 unsafe-eval wave 3)
  services/platform/apps/common/middleware.py
  services/platform/tests/common/test_common_security.py
  services/platform/tests/common/test_csp_header.py
  services/platform/tests/common/test_csp_nonce.py
  services/platform/tests/orders/test_order_flow_security.py
  services/platform/tests/settings/test_api_token_management.py
Due: platform

fix(settings): null-safe CSP-build bindings for integration-test result
  services/platform/static/js/alpine-components.js
  services/platform/templates/base.html
  services/platform/templates/settings/group.html
  services/platform/tests/settings/test_settings_ui.py
Due: none

test(csp): guard that every named x-data resolves to an Alpine.data() registration
  services/platform/tests/ui/test_csp_handler_inventory_guardrail.py
Due: none

fix(csp): escape x-html modal interpolations and fix reply-form after-swap id
  services/platform/static/js/alpine-components.js
  services/platform/templates/tickets/detail.html
  services/platform/tests/ui/test_csp_handler_inventory_guardrail.py
Due: none

feat(csp): remove script 'unsafe-eval' from the platform CSP (#284)
  services/platform/apps/common/middleware.py
  services/platform/static/js/alpine-components.js
  services/platform/static/js/alpine-csp.min.js
  services/platform/static/js/alpine.min.js
  services/platform/templates/base.html
  services/platform/templates/components/table_enhanced.html
  services/platform/templates/infrastructure/deployment_create.html
  services/platform/templates/provisioning/virtualmin/partials/quick_actions.html
  services/platform/templates/settings/api_tokens.html
  services/platform/templates/settings/group.html
  services/platform/templates/settings/partials/_form_js.html
  services/platform/templates/settings/partials/_sidebar.html
  services/platform/templates/settings/partials/secret_row.html
  services/platform/templates/tickets/detail.html
  services/platform/templates/tickets/partials/status_and_comments.html
  services/platform/tests/common/test_common_security.py
  services/platform/tests/common/test_csp_header.py
  services/platform/tests/common/test_csp_nonce.py
  services/platform/tests/orders/test_order_flow_security.py
  services/platform/tests/settings/test_api_token_management.py
  services/platform/tests/settings/test_settings_ui.py
  services/platform/tests/ui/test_csp_handler_inventory_guardrail.py
  services/portal/tests/ui/test_alpine_csp_build.py
Due: platform

chore(csp): tighten platform img-src to 'self' data: (#284)
  services/platform/apps/common/middleware.py
Due: platform

feat(domains): implement documented registrar contracts and durable intents
  .github/workflows/integration.yml
  CHANGELOG.md
  docs/development/REGISTRAR_VALIDATION.md
  services/platform/apps/common/outbound_http.py
  services/platform/apps/domains/gateways/base.py
  services/platform/apps/domains/gateways/contracts.py
  services/platform/apps/domains/gateways/errors.py
  services/platform/apps/domains/gateways/gandi.py
  services/platform/apps/domains/gateways/rotld.py
  services/platform/apps/domains/migrations/0009_domainoperation_durable_intent.py
  services/platform/apps/domains/models.py
  services/platform/apps/domains/operation_services.py
  services/platform/apps/domains/services.py
  services/platform/apps/domains/webhooks.py
  services/platform/tests/common/test_nightly_ci_workflow.py
  services/platform/tests/domains/fixtures/registrar_contracts.json
  services/platform/tests/domains/test_domain_service_logic.py
  services/platform/tests/domains/test_domains_security.py
  services/platform/tests/domains/test_durable_operations.py
  services/platform/tests/domains/test_gateway_phase2.py
  services/platform/tests/domains/test_gateway_registration_wiring.py
  services/platform/tests/domains/test_reconciliation.py
  services/platform/tests/domains/test_registrar_contracts.py
  services/platform/tests/domains/test_registrar_gateways.py
  services/platform/tests/domains/test_renewal_idempotency_token.py
Due: platform

fix(domains): distinguish contact rejection from uncertain outcomes
  services/platform/apps/domains/operation_services.py
  services/platform/tests/domains/test_durable_operations.py
Due: platform

fix(domains): resume safe preflight and ignore duplicate renewal webhooks
  docs/development/REGISTRAR_VALIDATION.md
  services/platform/apps/domains/operation_services.py
  services/platform/apps/domains/services.py
  services/platform/apps/domains/webhooks.py
  services/platform/tests/domains/test_durable_operations.py
Due: platform

fix(domains): count paid renewals only after confirmation
  docs/development/REGISTRAR_VALIDATION.md
  services/platform/apps/domains/gateways/gandi.py
  services/platform/apps/domains/operation_services.py
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_domain_service_logic.py
  services/platform/tests/domains/test_registrar_contracts.py
Due: platform

feat(domains): align registrar contracts and persist operation intents (#510)
  .github/workflows/integration.yml
  CHANGELOG.md
  docs/development/REGISTRAR_VALIDATION.md
  services/platform/apps/common/outbound_http.py
  services/platform/apps/domains/gateways/base.py
  services/platform/apps/domains/gateways/contracts.py
  services/platform/apps/domains/gateways/errors.py
  services/platform/apps/domains/gateways/gandi.py
  services/platform/apps/domains/gateways/rotld.py
  services/platform/apps/domains/migrations/0009_domainoperation_durable_intent.py
  services/platform/apps/domains/models.py
  services/platform/apps/domains/operation_services.py
  services/platform/apps/domains/services.py
  services/platform/apps/domains/webhooks.py
  services/platform/tests/common/test_nightly_ci_workflow.py
  services/platform/tests/domains/fixtures/registrar_contracts.json
  services/platform/tests/domains/test_domain_service_logic.py
  services/platform/tests/domains/test_domains_security.py
  services/platform/tests/domains/test_durable_operations.py
  services/platform/tests/domains/test_gateway_phase2.py
  services/platform/tests/domains/test_gateway_registration_wiring.py
  services/platform/tests/domains/test_reconciliation.py
  services/platform/tests/domains/test_registrar_contracts.py
  services/platform/tests/domains/test_registrar_gateways.py
  services/platform/tests/domains/test_renewal_idempotency_token.py
Due: platform

fix(billing): honor + fail-closed-guard staff proforma currency; seed RON/EUR/USD
  services/platform/apps/billing/currency_service.py
  services/platform/apps/billing/migrations/0046_seed_supported_currencies.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/templates/billing/proforma_form.html
  services/platform/tests/billing/test_invoice_from_order.py
  services/platform/tests/billing/test_proformas_views.py
  services/platform/tests/orders/test_services_comprehensive.py
Due: platform

refactor(common): remove the dead Money value object (#103)
  docs/ADRs/ADR-0003-comprehensive-type-safety-implementation.md
  services/platform/apps/common/types.py
  services/platform/tests/common/test_currency.py
Due: platform

fix(billing): fail-closed currency admission across all foreign-currency money paths (#103)
  CHANGELOG.md
  services/platform/apps/billing/apps.py
  services/platform/apps/billing/checks.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/recurring_billing.py
  services/platform/apps/billing/subscription_service.py
  services/platform/tests/billing/test_currency_admission_paths.py
Due: platform

fix(settings): preserve localisation boundaries across deployments
  .github/workflows/full-test.yml
  Makefile
  docs/development/LOCALISATION.md
  services/platform/apps/api/orders/views.py
  services/platform/apps/audit/services.py
  services/platform/apps/customers/contact_service.py
  services/platform/apps/customers/signals.py
  services/platform/apps/orders/preflight.py
  services/platform/apps/orders/services.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/templates/billing/efactura_document_detail.html
  services/platform/templates/billing/invoice_detail.html
  services/platform/templates/billing/partials/billing_list.html
  services/platform/templates/billing/partials/efactura_document_list.html
  services/platform/templates/billing/payment_list.html
  services/platform/templates/billing/proforma_convert.html
  services/platform/templates/billing/proforma_detail.html
  services/platform/templates/billing/vat_report.html
  services/platform/templates/customers/detail.html
  services/platform/tests/orders/test_calculate_cart.py
  services/platform/tests/orders/test_order_flow_preflight_and_server_guard.py
  services/platform/tests/settings/test_localisation_boundaries.py
  services/portal/templates/billing/invoice_detail.html
  services/portal/templates/billing/partials/invoices_table.html
  services/portal/templates/billing/proforma_detail.html
  services/portal/templates/dashboard/dashboard.html
Due: platform

Path conditions:
  platform: any of: services/platform/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
  portal: any of: services/portal/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
