Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

codecov.yml:

# Codecov configuration for PRAHO two-service architecture
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 90%

flags:
  platform:
    paths:
      - services/platform/apps/
    carryforward: true
  portal:
    paths:
      - services/portal/apps/
    carryforward: true

ignore:
  - "*/migrations/*"
  - "*/tests/*"
  - "*/settings/*"
  - "manage.py"
  - "*/wsgi.py"
  - "*/asgi.py"
  - "scripts/*"
  - "docs/*"
  - "tests/*"

fix(deploy): remove partial dumps a killed backup left behind
  CHANGELOG.md
  deploy/ansible/roles/praho-native/templates/backup-native.sh.j2
  deploy/scripts/backup.sh
  docs/deployment/DEPLOYMENT.md
  tests/deploy/test_native_deploy_consistency.py
  tests/integration/test_deploy_scripts.py
Due: none

fix(deploy): remove abandoned partial dumps before each backup starts
  CHANGELOG.md
  deploy/ansible/roles/praho-native/templates/backup-native.sh.j2
  deploy/scripts/backup.sh
  docs/deployment/DEPLOYMENT.md
  tests/deploy/test_native_deploy_consistency.py
  tests/integration/test_deploy_scripts.py
Due: none

fix(deploy): route ansible-single-server through the deploy targets, harden backup and restore (#635)
  CHANGELOG.md
  Makefile
  deploy/ansible/roles/praho-native/templates/backup-native.sh.j2
  deploy/scripts/backup.sh
  deploy/scripts/restore.sh
  docs/deployment/DEPLOYMENT.md
  tests/deploy/test_native_deploy_consistency.py
  tests/integration/test_deploy_scripts.py
Due: none

fix(ui): keep the shared card's header and footer readable in dark mode
  services/platform/static/css/tailwind.min.css
  services/platform/tests/orders/test_orders_models.py
  services/portal/static/css/tailwind.min.css
  shared/ui/templates/components/card.html
  tests/integration/test_shared_template_audits.py
Due: none

test(security): replace HMAC timing tests that measured mocks with deterministic checks
  services/platform/tests/api/test_hmac_middleware.py
  services/portal/conftest.py
  services/portal/tests/api_client/test_authenticate_customer_padding.py
  services/portal/tests/security/test_hmac_timing_attacks.py
Due: none

test(security): make the HMAC rejection tests catch three more regressions
  services/platform/tests/api/test_hmac_middleware.py
Due: none

test(security): remove the remaining padded timing tests and the fixtures behind them
  services/platform/tests/api/test_hmac_middleware.py
  services/portal/conftest.py
  services/portal/tests/api_client/test_legacy_canonical_retry.py
  services/portal/tests/security/test_hmac_production_security.py
  services/portal/tests/security/test_hmac_timing_attacks.py
Due: none

fix(provisioning): never generate a Virtualmin password the API validator rejects
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/tests/provisioning/test_virtualmin_password_generation.py
Due: platform

docs(changelog): record the provisioning password fix
  CHANGELOG.md
Due: none

fix(provisioning): reject unusable passwords without raising security alerts
  services/platform/apps/common/validators.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/tests/provisioning/test_virtualmin_password_generation.py
Due: platform

test(portal): drop the legacy canonical retry tests
  services/portal/tests/api_client/test_legacy_canonical_retry.py
Due: none

test(security): replace HMAC timing tests that measured mocks with deterministic checks (#638)
  services/platform/tests/api/test_hmac_middleware.py
  services/portal/conftest.py
  services/portal/tests/api_client/test_authenticate_customer_padding.py
  services/portal/tests/security/test_hmac_production_security.py
  services/portal/tests/security/test_hmac_timing_attacks.py
Due: none

fix(provisioning): never generate a Virtualmin password the API validator rejects (#639)
  CHANGELOG.md
  services/platform/apps/common/validators.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/tests/provisioning/test_virtualmin_password_generation.py
Due: platform

fix(portal): sign requests the way Platform verifies them
  CHANGELOG.md
  services/platform/apps/api/AUTHENTICATION.md
  services/portal/apps/api_client/services.py
  services/portal/tests/api_client/test_platform_reachability.py
  services/portal/tests/api_client/test_platform_signature_rejection.py
  services/portal/tests/integration/test_cross_service_hmac.py
  services/portal/tests/security/test_hmac_concurrent_attacks.py
  services/portal/tests/users/test_api_client_hmac.py
  services/portal/tests/users/test_session_revocation.py
  tests/integration/test_cross_service_parity.py
  tests/integration/test_portal_signature_verifies_on_platform.py
Due: platform, portal

fix(portal): sign the request as sent and keep document numbers in one segment
  CHANGELOG.md
  services/platform/apps/api/AUTHENTICATION.md
  services/portal/apps/api_client/services.py
  services/portal/apps/billing/services.py
  services/portal/apps/services/views.py
  services/portal/apps/users/views.py
  services/portal/tests/api_client/test_quote_path_segment.py
  services/portal/tests/services/test_service_requests.py
  services/portal/tests/users/test_mfa_reauth_outage.py
  tests/integration/test_portal_signature_verifies_on_platform.py
Due: platform, portal

fix(portal): refuse requests Platform would reject before they read as an outage
  services/platform/apps/common/constants.py
  services/platform/apps/common/middleware.py
  services/portal/apps/api_client/services.py
  services/portal/tests/api_client/test_platform_signature_rejection.py
  tests/integration/test_cross_service_parity.py
Due: platform, portal

fix(portal): sign requests the way Platform verifies them (#640)
  CHANGELOG.md
  services/platform/apps/api/AUTHENTICATION.md
  services/platform/apps/common/constants.py
  services/platform/apps/common/middleware.py
  services/portal/apps/api_client/services.py
  services/portal/apps/billing/services.py
  services/portal/apps/services/views.py
  services/portal/apps/users/views.py
  services/portal/tests/api_client/test_platform_reachability.py
  services/portal/tests/api_client/test_platform_signature_rejection.py
  services/portal/tests/api_client/test_quote_path_segment.py
  services/portal/tests/integration/test_cross_service_hmac.py
  services/portal/tests/security/test_hmac_concurrent_attacks.py
  services/portal/tests/services/test_service_requests.py
  services/portal/tests/users/test_api_client_hmac.py
  services/portal/tests/users/test_mfa_reauth_outage.py
  services/portal/tests/users/test_session_revocation.py
  tests/integration/test_cross_service_parity.py
  tests/integration/test_portal_signature_verifies_on_platform.py
Due: platform, portal

fix(billing): make staff refunds refund what the operator typed
  services/platform/apps/orders/views.py
  services/platform/templates/billing/invoice_detail.html
  services/platform/templates/orders/order_detail.html
  services/platform/tests/api/test_service_domains.py
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/billing/test_refund_gateway_integrity.py
  services/platform/tests/orders/test_orders_refund.py
  services/platform/tests/promotions/test_tender_refunds.py
Due: platform

fix(billing)!: remove customer self-service refunds; refunds are staff-only
  CHANGELOG.md
  docs/domain/REFUND_SERVICE.md
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/urls.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/middleware.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/tests/api/test_hmac_billing_staff_bypass.py
  services/platform/tests/billing/_billing_service_task_cases.py
  services/platform/tests/billing/test_billing_tasks.py
  services/platform/tests/billing/test_billing_type_suppression_inventory.py
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/billing/test_customer_refund_path_removed.py
  services/platform/tests/billing/test_refund_authorization_guardrail.py
  services/platform/tests/billing/test_refund_reason_vocabulary.py
  services/portal/apps/api_client/services.py
  services/portal/apps/billing/services.py
  services/portal/apps/billing/urls.py
  services/portal/apps/billing/views.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/static/js/csp-actions.js
  services/portal/templates/billing/invoice_detail.html
  services/portal/tests/billing/test_billing_services.py
  services/portal/tests/billing/test_invoice_detail_refund_modal.py
  services/portal/tests/billing/test_invoice_refund_removed.py
  services/portal/tests/billing/test_invoices_list_status_filter.py
  services/portal/tests/billing/test_rate_limit_services.py
  services/portal/tests/billing/test_request_refund_view.py
  services/portal/tests/common/test_platform_unreachable.py
  tests/e2e/portal/test_customer_billing.py
Due: platform, portal

fix(billing): refund the exact typed amount or refuse it
  CHANGELOG.md
  docs/domain/REFUND_SERVICE.md
  services/platform/apps/billing/views.py
  services/platform/apps/common/financial_arithmetic.py
  services/platform/apps/orders/views.py
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/billing/test_refund_authorization_guardrail.py
  services/platform/tests/billing/test_refund_gateway_integrity.py
  services/platform/tests/common/test_financial_arithmetic.py
  services/portal/apps/billing/urls.py
Due: platform, portal

fix(billing): serve the portal's payment endpoints under /api/billing/
  CHANGELOG.md
  docs/security/portal-hmac-registry.md
  services/platform/apps/api/billing/urls.py
  services/platform/apps/billing/urls.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/middleware.py
  services/platform/tests/api/test_customer_role_enforcement.py
  services/platform/tests/api/test_hmac_billing_staff_bypass.py
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/billing/test_security.py
  services/platform/tests/billing/test_selling_currency_policy.py
  services/platform/tests/helpers/hmac.py
  services/portal/apps/api_client/services.py
  services/portal/tests/api_client/test_billing_endpoints.py
  tests/integration/test_portal_signature_verifies_on_platform.py
Due: platform, portal

fix(portal): reach the payment endpoints from any base URL shape
  CHANGELOG.md
  services/platform/apps/api/billing/urls.py
  services/platform/tests/api/test_hmac_billing_staff_bypass.py
  services/portal/apps/api_client/services.py
  services/portal/tests/api_client/test_billing_endpoints.py
  tests/integration/test_portal_signature_verifies_on_platform.py
Due: platform, portal

fix(billing)!: serve the portal's payment endpoints under /api/billing/ (#642)
  CHANGELOG.md
  docs/security/portal-hmac-registry.md
  services/platform/apps/api/billing/urls.py
  services/platform/apps/billing/urls.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/middleware.py
  services/platform/tests/api/test_customer_role_enforcement.py
  services/platform/tests/api/test_hmac_billing_staff_bypass.py
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/billing/test_security.py
  services/platform/tests/billing/test_selling_currency_policy.py
  services/platform/tests/helpers/hmac.py
  services/portal/apps/api_client/services.py
  services/portal/tests/api_client/test_billing_endpoints.py
  tests/integration/test_portal_signature_verifies_on_platform.py
Due: platform, portal

test(billing): the refund guardrail covers every staff money path
  docs/domain/REFUND_SERVICE.md
  services/platform/tests/billing/test_refund_authorization_guardrail.py
Due: none

test(billing): count only real guards, and every payout and resume path
  docs/domain/REFUND_SERVICE.md
  services/platform/tests/billing/test_refund_authorization_guardrail.py
Due: none

docs(billing): state what the refund guardrail does not catch
  docs/domain/REFUND_SERVICE.md
  services/platform/tests/billing/test_refund_authorization_guardrail.py
Due: none

test(billing): a written-out guard must deny, and must run first
  services/platform/tests/billing/test_refund_authorization_guardrail.py
Due: none

test(billing): order refund calls by source, and require the deny branch to end in raise
  services/platform/tests/billing/test_refund_authorization_guardrail.py
Due: none

test(billing): the refund guardrail covers every staff and system money path (#643)
  docs/domain/REFUND_SERVICE.md
  services/platform/tests/billing/test_refund_authorization_guardrail.py
Due: none

test(portal): fake Platform through one seam that every thread sees
  services/portal/apps/common/outbound_http.py
  services/portal/conftest.py
  services/portal/gunicorn.conf.py
  services/portal/tests/api_client/test_outbound_http.py
  services/portal/tests/api_client/test_platform_reachability.py
  services/portal/tests/common/test_platform_unreachable.py
  services/portal/tests/common/test_role_decorator_outage.py
  services/portal/tests/dashboard/test_platform_unavailable_dashboard.py
  services/portal/tests/integration/test_cross_service_hmac.py
  services/portal/tests/security/test_hmac_concurrent_attacks.py
  services/portal/tests/security/test_hmac_malformed_headers.py
  services/portal/tests/security/test_hmac_production_security.py
  services/portal/tests/services/test_role_check_outage.py
  services/portal/tests/tickets/test_role_check_outage.py
  services/portal/tests/users/test_api_client_hmac.py
  services/portal/tests/users/test_registration_rate_limit_response.py
Due: portal

test(portal): check what reaches requests itself, below the _send seam
  services/portal/tests/api_client/test_outbound_http.py
Due: none

test(portal): fake Platform through one seam that every thread sees (#644)
  services/portal/apps/common/outbound_http.py
  services/portal/conftest.py
  services/portal/gunicorn.conf.py
  services/portal/tests/api_client/test_outbound_http.py
  services/portal/tests/api_client/test_platform_reachability.py
  services/portal/tests/common/test_platform_unreachable.py
  services/portal/tests/common/test_role_decorator_outage.py
  services/portal/tests/dashboard/test_platform_unavailable_dashboard.py
  services/portal/tests/integration/test_cross_service_hmac.py
  services/portal/tests/security/test_hmac_concurrent_attacks.py
  services/portal/tests/security/test_hmac_malformed_headers.py
  services/portal/tests/security/test_hmac_production_security.py
  services/portal/tests/services/test_role_check_outage.py
  services/portal/tests/tickets/test_role_check_outage.py
  services/portal/tests/users/test_api_client_hmac.py
  services/portal/tests/users/test_registration_rate_limit_response.py
Due: portal

ci(deploy): pull the Caddy validation image from the Official Images mirror
  tests/deploy/test_caddy_routing.py
Due: none

ci: pull the CI Postgres service images from the Official Images mirror
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
  tests/deploy/test_caddy_routing.py
Due: none

ci: retry a throttled image pull, and pin the workflow tests to the mirror
  services/platform/tests/common/test_nightly_ci_workflow.py
  tests/deploy/test_caddy_routing.py
Due: none

ci(deploy): pull the Caddy validation image from the Official Images mirror (#647)
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
  services/platform/tests/common/test_nightly_ci_workflow.py
  tests/deploy/test_caddy_routing.py
Due: none

fix(portal): each Platform call uses its thread's own session, which never holds a cookie
  services/portal/apps/api_client/services.py
  services/portal/apps/common/outbound_http.py
  services/portal/gunicorn.conf.py
  services/portal/tests/api_client/test_outbound_http.py
  services/portal/tests/api_client/test_thread_safety.py
  services/portal/tests/common/test_outbound_isolation.py
Due: portal

fix(portal): an outbound session never holds a cookie, however one is offered
  services/portal/apps/common/outbound_http.py
  services/portal/conftest.py
  services/portal/tests/api_client/test_outbound_http.py
  services/portal/tests/api_client/test_thread_safety.py
  services/portal/tests/common/test_outbound_isolation.py
Due: portal
