Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

feat(infrastructure): replace Terraform with hcloud Python SDK for Hetzner provisioning (ADR-0027)
  CHANGELOG.md
  Makefile
  docs/ADRs/ADR-0027-hcloud-sdk-infrastructure-provisioning.md
  pyproject.toml
  services/platform/apps/infrastructure/apps.py
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/hcloud_service.py
  services/platform/apps/infrastructure/management/__init__.py
  services/platform/apps/infrastructure/management/commands/__init__.py
  services/platform/apps/infrastructure/management/commands/sync_providers.py
  services/platform/apps/infrastructure/migrations/0003_remove_terraform_fields_add_max_domains.py
  services/platform/apps/infrastructure/models.py
  services/platform/apps/infrastructure/provider_config.py
  services/platform/apps/infrastructure/provider_sync.py
  services/platform/apps/infrastructure/tasks.py
  services/platform/apps/infrastructure/terraform_service.py
  services/platform/apps/infrastructure/tests/test_hcloud_service.py
  services/platform/apps/infrastructure/tests/test_integration.py
  services/platform/apps/infrastructure/tests/test_models_infrastructure.py
  services/platform/apps/infrastructure/tests/test_provider_config.py
  services/platform/apps/infrastructure/tests/test_provider_sync.py
  services/platform/apps/infrastructure/urls.py
  services/platform/apps/infrastructure/views.py
  services/platform/templates/infrastructure/provider_list.html
  uv.lock
Due: platform

feat(platform): credential vault, state machine hardening, security fixes, and audit trail
  .env.example
  CHANGELOG.md
  Makefile
  services/platform/apps/common/credential_vault.py
  services/platform/apps/common/migrations/0003_alter_encryptedcredential_service_type.py
  services/platform/apps/customers/customer_views.py
  services/platform/apps/customers/user_management_views.py
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/management/commands/sync_providers.py
  services/platform/apps/infrastructure/models.py
  services/platform/apps/infrastructure/provider_config.py
  services/platform/apps/infrastructure/provider_sync.py
  services/platform/apps/infrastructure/tasks.py
  services/platform/apps/infrastructure/urls.py
  services/platform/apps/infrastructure/views.py
  services/platform/apps/products/views.py
  services/platform/config/settings/dev.py
  services/platform/config/settings/test.py
  services/platform/manage.py
  services/platform/static/css/tailwind.min.css
  services/platform/templates/customers/address_form.html
  services/platform/templates/customers/billing_profile_form.html
  services/platform/templates/customers/form.html
  services/platform/templates/customers/list.html
  services/platform/templates/customers/note_form.html
  services/platform/templates/customers/tax_profile_form.html
  services/platform/templates/infrastructure/partials/deployment_status.html
  services/platform/templates/products/partials/product_table.html
  services/platform/templates/products/product_detail.html
  services/platform/tests/customers/test_user_management_views.py
  services/platform/tests/infrastructure/test_audit_integration.py
  services/platform/tests/infrastructure/test_credential_vault_integration.py
  services/platform/tests/infrastructure/test_deployment_state_machine.py
  services/platform/tests/infrastructure/test_env_loading.py
  services/platform/tests/infrastructure/test_infrastructure_urls.py
  services/platform/tests/infrastructure/test_provider_sync.py
  services/platform/tests/infrastructure/test_provider_views.py
  services/platform/tests/products/test_product_price_auth.py
  services/portal/config/settings/dev.py
  services/portal/static/css/tailwind.min.css
Due: platform

fix(e2e): update selectors for SVG icon system and form field renames
  tests/e2e/platform/test_products.py
  tests/e2e/platform/test_staff_billing.py
  tests/e2e/platform/test_staff_customers.py
  tests/e2e/platform/test_staff_provisioning.py
  tests/e2e/portal/test_customer_tickets.py
  tests/e2e/portal/test_portal_tickets.py
Due: none

chore: bump version to v0.21.0 and update CHANGELOG
  CHANGELOG.md
  README.md
  docs/ADRs/README.md
  docs/architecture/CODEBASE_ARCHAEOLOGY.md
  docs/architecture/DEPENDENCY_ANALYSIS.md
  pyproject.toml
  services/platform/pyproject.toml
  services/platform/templates/base.html
  services/portal/pyproject.toml
  services/portal/templates/base.html
  uv.lock
Due: none

refactor(e2e): comprehensive test suite cleanup — DRY, logic fixes, structure
  services/portal/apps/services/services.py
  services/portal/apps/users/views.py
  tests/e2e/MIGRATION_GUIDE_TestUserManager.md
  tests/e2e/conftest.py
  tests/e2e/helpers/__init__.py
  tests/e2e/helpers/constants.py
  tests/e2e/helpers/monitoring.py
  tests/e2e/infra/example_test_user_manager_usage.py
  tests/e2e/infra/test_user_manager_verification.py
  tests/e2e/platform/conftest.py
  tests/e2e/platform/test_platform_tickets.py
  tests/e2e/platform/test_products.py
  tests/e2e/platform/test_staff_billing.py
  tests/e2e/platform/test_staff_customers.py
  tests/e2e/platform/test_staff_infrastructure.py
  tests/e2e/platform/test_staff_invoices.py
  tests/e2e/platform/test_staff_provisioning.py
  tests/e2e/platform/test_staff_tickets.py
  tests/e2e/platform/test_staff_tickets_mixed.py
  tests/e2e/platform/test_staff_users.py
  tests/e2e/portal/conftest.py
  tests/e2e/portal/test_cookie_consent.py
  tests/e2e/portal/test_customer_billing.py
  tests/e2e/portal/test_customer_invoices.py
  tests/e2e/portal/test_customer_provisioning.py
  tests/e2e/portal/test_customer_services.py
  tests/e2e/portal/test_customer_tickets.py
  tests/e2e/portal/test_customer_tickets_mixed.py
  tests/e2e/portal/test_customer_users.py
  tests/e2e/portal/test_dashboard.py
  tests/e2e/portal/test_navigation.py
  tests/e2e/portal/test_portal_tickets.py
  tests/e2e/portal/test_signup_order_flow.py
Due: portal

fix(platform,portal): hardening fixes for auth, audit, and test stability
  CHANGELOG.md
  services/platform/apps/api/users/views.py
  services/platform/apps/audit/services.py
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/scripts/setup_test_data.py
  services/platform/tests/audit/test_audit_services_coverage.py
  services/platform/tests/settings/test_logging_configuration.py
  services/portal/apps/api_client/services.py
Due: platform, portal

fix(platform): audit hardening — 50 findings across infrastructure and provisioning
  docs/ADRs/ADR-0029-config-drift-detection.md
  scripts/audit_model_allowlist.txt
  services/platform/apps/infrastructure/apps.py
  services/platform/apps/infrastructure/audit_service.py
  services/platform/apps/infrastructure/aws_service.py
  services/platform/apps/infrastructure/cloud_gateway.py
  services/platform/apps/infrastructure/deployment_service.py
  services/platform/apps/infrastructure/digitalocean_service.py
  services/platform/apps/infrastructure/drift_remediation.py
  services/platform/apps/infrastructure/drift_scanner.py
  services/platform/apps/infrastructure/hcloud_service.py
  services/platform/apps/infrastructure/management/commands/cleanup_deployments.py
  services/platform/apps/infrastructure/management/commands/deploy_node.py
  services/platform/apps/infrastructure/management/commands/drift_scan.py
  services/platform/apps/infrastructure/management/commands/manage_node.py
  services/platform/apps/infrastructure/management/commands/store_credentials.py
  services/platform/apps/infrastructure/migrations/0004_drift_detection_models.py
  services/platform/apps/infrastructure/models.py
  services/platform/apps/infrastructure/provider_config.py
  services/platform/apps/infrastructure/provider_sync.py
  services/platform/apps/infrastructure/tasks.py
  services/platform/apps/infrastructure/terraform_service.py
  services/platform/apps/infrastructure/urls.py
  services/platform/apps/infrastructure/views.py
  services/platform/apps/infrastructure/vultr_service.py
  services/platform/apps/provisioning/virtualmin_auth_manager.py
  services/platform/apps/provisioning/virtualmin_disaster_recovery.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/templates/infrastructure/drift/dashboard.html
  services/platform/templates/infrastructure/drift/deployment_detail.html
  services/platform/templates/infrastructure/drift/partials/drift_history.html
  services/platform/templates/infrastructure/drift/partials/drift_summary_card.html
  services/platform/templates/infrastructure/drift/remediation_list.html
  services/platform/templates/infrastructure/partials/deployment_status.html
Due: platform

test(platform): 221 tests for audit hardening — 90%+ coverage on changed code
  services/platform/apps/infrastructure/tests/test_hcloud_service.py
  services/platform/apps/infrastructure/tests/test_integration.py
  services/platform/apps/infrastructure/tests/test_provider_config.py
  services/platform/apps/infrastructure/tests/test_provider_sync.py
  services/platform/tests/billing/test_pdf_generators.py
  services/platform/tests/infrastructure/test_aws_service.py
  services/platform/tests/infrastructure/test_cloud_gateway.py
  services/platform/tests/infrastructure/test_deployment_service_pipeline.py
  services/platform/tests/infrastructure/test_deployment_state_machine.py
  services/platform/tests/infrastructure/test_digitalocean_service.py
  services/platform/tests/infrastructure/test_drift_remediation.py
  services/platform/tests/infrastructure/test_drift_scanner.py
  services/platform/tests/infrastructure/test_management_commands.py
  services/platform/tests/infrastructure/test_multi_provider_integration.py
  services/platform/tests/infrastructure/test_provider_sync.py
  services/platform/tests/infrastructure/test_provider_views.py
  services/platform/tests/infrastructure/test_tasks_infrastructure.py
  services/platform/tests/infrastructure/test_vultr_service.py
  services/platform/tests/provisioning/test_auth_manager_fixes.py
  services/platform/tests/provisioning/test_disaster_recovery_fixes.py
  services/portal/tests/integration/test_cross_service_hmac.py
  services/portal/tests/users/test_api_client_hmac.py
Due: platform

fix(portal): E2E fixes — ticket 500s, URL name mismatches, cart HTMX errors, outbound HTTP
  services/portal/apps/api_client/services.py
  services/portal/apps/common/api_utils.py
  services/portal/apps/common/decorators.py
  services/portal/apps/common/outbound_http.py
  services/portal/apps/dashboard/views.py
  services/portal/apps/orders/views.py
  services/portal/apps/tickets/views.py
  services/portal/apps/users/views.py
  services/portal/static/css/tailwind.min.css
  services/portal/templates/billing/partials/invoices_table.html
  services/portal/templates/orders/partials/cart_empty.html
  services/portal/templates/orders/product_detail.html
  services/portal/templates/services/partials/services_table.html
  services/portal/templates/services/plans_list.html
  services/portal/templates/tickets/partials/tickets_table.html
  services/portal/tests/api_client/__init__.py
  services/portal/tests/api_client/test_outbound_http.py
  services/portal/tests/orders/test_cart_service.py
  services/portal/tests/orders/test_views.py
  services/portal/tests/security/test_hmac_timing_attacks.py
Due: portal

fix(e2e): test fixtures and assertions — superuser login, pricing, ticket isolation
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/scripts/setup_test_data.py
  tests/e2e/platform/test_products.py
  tests/e2e/platform/test_staff_billing.py
  tests/e2e/portal/test_portal_tickets.py
Due: platform

docs: update CHANGELOG with audit hardening, portal E2E fixes, and test stabilization
  CHANGELOG.md
Due: none

chore: bump version to v0.22.0 and update CHANGELOG
  CHANGELOG.md
  README.md
  docs/ADRs/README.md
  docs/architecture/CODEBASE_ARCHAEOLOGY.md
  docs/architecture/DEPENDENCY_ANALYSIS.md
  pyproject.toml
  services/platform/pyproject.toml
  services/platform/templates/base.html
  services/portal/pyproject.toml
  services/portal/templates/base.html
  uv.lock
Due: none

fix(orders): accept product_slug as fallback identifier in cart and order API
  services/platform/apps/api/orders/serializers.py
  services/platform/apps/api/orders/views.py
  services/platform/tests/orders/test_cart_item_input_serializer.py
  services/platform/tests/orders/test_create_order_identifier_fallback.py
  services/platform/tests/orders/test_preflight_identifier_fallback.py
  services/portal/apps/orders/services.py
  services/portal/tests/orders/test_cart_service.py
  services/portal/tests/orders/test_order_payload_contract.py
  tests/e2e/portal/test_customer_services.py
  tests/e2e/portal/test_dashboard.py
  tests/e2e/portal/test_signup_order_flow.py
Due: platform, portal

fix(orders,security): fail-closed validation and consistent product filtering
  services/platform/apps/api/orders/views.py
  services/platform/apps/common/outbound_http.py
  services/platform/config/settings/base.py
  services/platform/tests/common/test_outbound_http.py
  services/platform/tests/orders/test_calculate_cart.py
  services/platform/tests/orders/test_create_order_identifier_fallback.py
  services/platform/tests/orders/test_preflight_identifier_fallback.py
Due: platform

docs: add native deployment option, dev env example, and README improvements
  .env.example.dev
  README.md
  docs/deployment/DEPLOYMENT.md
Due: none

chore: remove .vscode from repo and add to .gitignore
  .gitignore
  .vscode/python.code-snippets
  .vscode/settings.json
  .vscode/tasks.json
Due: none

fix(deploy,security): env-driven host config, split domains, and native deployment hardening
  deploy/ansible/group_vars/all.yml
  deploy/ansible/group_vars/dev.yml
  deploy/ansible/group_vars/prod.yml
  deploy/ansible/group_vars/staging.yml
  deploy/ansible/inventory/prod.yml
  deploy/ansible/inventory/staging.yml
  deploy/ansible/inventory/two-servers.yml
  deploy/ansible/playbooks/native-single-server.yml
  deploy/ansible/playbooks/single-server.yml
  deploy/ansible/playbooks/two-servers.yml
  deploy/ansible/roles/common/tasks/main.yml
  deploy/ansible/roles/praho-native/defaults/main.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/Caddyfile.native.j2
  deploy/ansible/roles/praho-native/templates/env.native.j2
  deploy/ansible/roles/praho-native/templates/praho-platform.service.j2
  deploy/ansible/roles/praho-native/templates/praho-portal.service.j2
  deploy/ansible/roles/praho/tasks/main.yml
  deploy/ansible/roles/praho/templates/Caddyfile.j2
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  docs/deployment/DEPLOYMENT.md
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
Due: none

feat(deploy): unified setup_initial_data command and deployment bootstrap
  .env.example.dev
  .gitignore
  Makefile
  deploy/.env.staging.example
  deploy/ansible/group_vars/all.yml
  deploy/ansible/inventory/dev.yml
  deploy/ansible/inventory/group_vars
  deploy/ansible/inventory/staging-single-server.yml
  deploy/ansible/playbooks/single-server.yml
  deploy/ansible/playbooks/two-servers.yml
  deploy/ansible/roles/common/tasks/main.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/env.native.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/platform/Dockerfile
  deploy/platform/entrypoint.sh
  deploy/scripts/deploy.sh
  docs/plans/2026-03-05-setup-initial-data.md
  services/platform/apps/common/management/commands/ensure_superuser.py
  services/platform/apps/common/management/commands/setup_initial_data.py
  services/platform/apps/settings/management/commands/setup_settings_categories.py
  services/platform/tests/common/test_ensure_superuser.py
  services/platform/tests/common/test_setup_initial_data.py
Due: platform

fix(deploy): address Codex review findings — fail on errors, race safety, configurable env
  deploy/ansible/group_vars/all.yml
  deploy/ansible/playbooks/single-server.yml
  deploy/ansible/playbooks/two-servers.yml
  deploy/ansible/roles/praho-native/templates/env.native.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/scripts/deploy.sh
  services/platform/apps/common/management/commands/ensure_superuser.py
  services/platform/apps/common/management/commands/setup_initial_data.py
  services/platform/tests/common/test_setup_initial_data.py
  services/platform/tests/orders/test_create_order_identifier_fallback.py
Due: platform

fix(deploy): staging deployment fixes — portal static collection, env-driven paths, systemd permissions
  deploy/ansible/inventory/staging-single-server.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/praho-portal.service.j2
  deploy/ansible/roles/praho-native/templates/praho-qcluster.service.j2
  deploy/ansible/roles/praho/templates/env.j2
  services/platform/config/settings/staging.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
Due: none

fix(deploy): API redirect exemption, robots.txt, portal staging HTTP config, and test env fixes
  deploy/ansible/roles/praho-native/templates/praho-portal.service.j2
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/portal/apps/users/middleware.py
  services/portal/config/settings/staging.py
  services/portal/config/urls.py
  services/portal/tests/settings/test_logging_configuration.py
Due: portal

fix(portal,deploy): i18n source strings, security headers, rate limiting UX, and deployment cleanup
  deploy/ansible/roles/praho-native/tasks/main.yml
  pyproject.toml
  services/platform/config/settings/prod.py
  services/portal/apps/common/decorators.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/orders/security.py
  services/portal/apps/orders/services.py
  services/portal/apps/orders/validators.py
  services/portal/apps/orders/views.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/tests/orders/test_views.py
  uv.lock
Due: portal

refactor(deploy): consolidate Ansible inventory and group_vars into single native-single-server layout
  Makefile
  deploy/.env.staging.example
  deploy/ansible/group_vars/all.yml
  deploy/ansible/group_vars/dev.yml
  deploy/ansible/group_vars/prod.yml
  deploy/ansible/group_vars/staging.yml
  deploy/ansible/inventory/native-single-server.yml
  deploy/ansible/inventory/prod.yml
  deploy/ansible/inventory/single-server.yml
  deploy/ansible/inventory/staging.yml
  deploy/ansible/playbooks/backup.yml
  deploy/ansible/playbooks/native-single-server.yml
  deploy/ansible/playbooks/rollback.yml
  deploy/ansible/roles/praho-native/defaults/main.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/praho-portal.service.j2
  docs/deployment/DEPLOYMENT.md
  services/platform/config/settings/staging.py
  services/portal/config/settings/staging.py
Due: none

fix(deploy): rename environment → praho_env to avoid Ansible reserved keyword collision
  .gitignore
  Makefile
  deploy/ansible/.env.deploy.example
  deploy/ansible/group_vars/all.yml
  deploy/ansible/inventory/dev.yml
  deploy/ansible/inventory/native-single-server.yml
  deploy/ansible/playbooks/native-single-server.yml
  deploy/ansible/roles/praho-native/defaults/main.yml
  deploy/ansible/roles/praho-native/templates/env.native.j2
  docs/deployment/DEPLOYMENT.md
  services/platform/config/settings/staging.py
  services/portal/config/settings/staging.py
Due: none

docs(deploy): clarify env file roles, add post-deploy integration guide
  .env.example
  deploy/ansible/.env.deploy.example
  docs/deployment/DEPLOYMENT.md
Due: none

refactor(deploy): .env as single source of truth, system status dashboard
  .env.example
  .env.example.dev
  .env.example.prod
  .env.example.staging
  .gitignore
  Makefile
  deploy/ansible/.env.deploy.example
  deploy/ansible/group_vars/all.yml
  deploy/ansible/inventory/native-single-server.yml
  deploy/ansible/playbooks/native-single-server.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/Caddyfile.native.j2
  deploy/ansible/roles/praho-native/templates/backup-native.sh.j2
  deploy/ansible/roles/praho-native/templates/env.native.j2
  deploy/ansible/roles/praho-native/templates/restore-native.sh.j2
  docs/deployment/DEPLOYMENT.md
  services/platform/apps/common/management/commands/setup_scheduled_tasks.py
  services/platform/apps/common/system_status.py
  services/platform/apps/common/tasks.py
  services/platform/apps/common/views.py
  services/platform/config/urls.py
  services/platform/templates/dashboard.html
  services/platform/templates/dashboard_partials/system_status.html
Due: platform

fix(deploy): quote env values with spaces, tighten gitignore, fix rsync exclusions
  .env.example.prod
  .env.example.staging
  .gitignore
  deploy/ansible/roles/praho-native/tasks/main.yml
  services/platform/apps/audit/logging_formatters.py
Due: platform

feat(deploy): git tag deploys for prod, configurable git/rsync for staging
  .env.example.prod
  .env.example.staging
  Makefile
  deploy/ansible/group_vars/all.yml
  deploy/ansible/playbooks/native-single-server.yml
  deploy/ansible/roles/praho-native/defaults/main.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  docs/deployment/DEPLOYMENT.md
Due: none

fix(test): add missing required env vars to logging configuration test
  services/platform/tests/settings/test_logging_configuration.py
Due: none

chore: bump version to v0.23.0 and update CHANGELOG
  CHANGELOG.md
  README.md
  docs/ADRs/README.md
  docs/architecture/CODEBASE_ARCHAEOLOGY.md
  docs/architecture/DEPENDENCY_ANALYSIS.md
  pyproject.toml
  services/platform/pyproject.toml
  services/platform/templates/base.html
  services/portal/pyproject.toml
  services/portal/templates/base.html
  uv.lock
Due: none

fix(deploy): validate deploy_method value, empty stale PRAHO_VERSION default
  .env.example.prod
  deploy/ansible/playbooks/native-single-server.yml
Due: none

chore(docs): remove completed/stale plan and audit docs
  docs/architecture/ui-ux/portal-ui-ux-backlog.md
  docs/audits/2026-03-03-8-agent-consolidated-audit.md
  docs/audits/phase-b1-pattern-audit.md
  docs/plans/2026-03-05-setup-initial-data.md
  docs/plans/orders.md
Due: none

docs(changelog): add unreleased entries for design system epic and deploy fix
  CHANGELOG.md
Due: none

chore: bump version to v0.24.0 and update CHANGELOG
  CHANGELOG.md
  README.md
  docs/ADRs/README.md
  docs/architecture/CODEBASE_ARCHAEOLOGY.md
  docs/architecture/DEPENDENCY_ANALYSIS.md
  pyproject.toml
  services/platform/pyproject.toml
  services/platform/templates/base.html
  services/portal/pyproject.toml
  services/portal/templates/base.html
  uv.lock
Due: none

fix(security): harden 9 real vulnerabilities from security audit
  deploy/terraform/variables.tf
  scripts/security_scanner.py
  services/platform/apps/api/orders/views.py
  services/platform/apps/api/users/views.py
  services/platform/apps/billing/migrations/0017_payment_gateway_txn_id_unique.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/common/middleware.py
  services/platform/config/settings/dev.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/config/settings/test.py
  services/platform/infrastructure/terraform/modules/digitalocean/variables.tf
  services/platform/infrastructure/terraform/modules/hetzner/variables.tf
  services/platform/infrastructure/terraform/modules/linode/variables.tf
  services/platform/infrastructure/terraform/modules/vultr/variables.tf
  services/platform/tests/api/test_api_users_security.py
  services/portal/apps/common/middleware.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/common/request_ip.py
  services/portal/apps/orders/services.py
  services/portal/apps/orders/views.py
  services/portal/config/settings/base.py
  services/portal/config/settings/dev.py
  services/portal/config/settings/prod.py
  services/portal/tests/test_portal_security.py
  tests/integration/test_security_hardening.py
Due: platform, portal

Path conditions:
  platform: any of: services/platform/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
  portal: any of: services/portal/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
