Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

codecov.yml:

# Codecov configuration for PRAHO two-service architecture
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 90%

flags:
  platform:
    paths:
      - services/platform/apps/
    carryforward: true
  portal:
    paths:
      - services/portal/apps/
    carryforward: true

ignore:
  - "*/migrations/*"
  - "*/tests/*"
  - "*/settings/*"
  - "manage.py"
  - "*/wsgi.py"
  - "*/asgi.py"
  - "scripts/*"
  - "docs/*"
  - "tests/*"

fix(portal): fetch billing address from addresses API, not billing_profile
  services/portal/apps/users/views.py
Due: portal

fix(billing): gate TESTING auth bypass on DEBUG=True to prevent prod exposure (#129)
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_security.py
Due: platform

fix(billing): replace DEBUG+TESTING guard with explicit PORTAL_HMAC_BYPASS flag (#129)
  services/platform/apps/billing/views.py
  services/platform/config/settings/base.py
  services/platform/config/settings/e2e.py
  services/platform/config/settings/test.py
  services/platform/tests/billing/test_security.py
Due: platform

fix(api): add IntegrityError handler to customer_users_create + missing tests
  services/platform/apps/api/customers/views.py
  services/platform/tests/api/test_customer_api.py
  services/portal/tests/customers/test_customers_views.py
Due: platform

fix(api,portal): add missing tax profile serializer fields, fix rate limit test role
  services/portal/tests/common/test_rate_limit_views.py
Due: none

fix(billing): use TESTING flag as tripwire discriminator for PORTAL_HMAC_BYPASS (#129)
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_security.py
Due: platform

fix(billing): add cancelled, canceled, disputed to TERMINAL_PAYMENT_STATUSES (#128)
  services/platform/apps/billing/payment_models.py
  services/platform/tests/billing/test_billing_refund_and_efactura_regressions.py
Due: platform

fix(portal): resolve MyPy type errors in profile and company views
  services/portal/apps/users/views.py
Due: portal

fix(orders): fail order creation when any item is missing product_id (#127)
  services/platform/apps/orders/services.py
  services/platform/tests/orders/test_orders_services.py
Due: platform

fix(ci): use config.settings.ci for nightly integration and cache tests
  .github/workflows/nightly.yml
Due: none

fix(billing): replace string matching with ObjectDoesNotExist in refund lookups (#120) (#131)
  services/platform/apps/billing/refund_service.py
  services/platform/tests/billing/_billing_services_basic_cases.py
  services/platform/tests/billing/_billing_services_focused_cases.py
  services/platform/tests/billing/test_refund_service_regressions.py
Due: platform

feat(platform-orders): dashboard stats, formatting, slug display, responsive tables (#99) (#132)
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/orders/views.py
  services/platform/apps/ui/templatetags/formatting.py
  services/platform/templates/dashboard.html
  services/platform/templates/orders/order_detail.html
  services/platform/templates/orders/order_list.html
  services/platform/templates/orders/partials/order_items_list.html
Due: platform

fix(orders,ui): address PR #132 review findings — aggregate query, billing address, Tailwind, fixtures
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/orders/views.py
  services/platform/static/css/tailwind.min.css
  services/platform/templates/orders/order_detail.html
  services/platform/templates/orders/order_list.html
  services/platform/templates/orders/partials/order_items_list.html
  services/platform/tests/orders/test_order_list_dashboard.py
  services/platform/tests/ui/test_formatting_humanize.py
  services/portal/static/css/tailwind.min.css
Due: platform

fix(orders,billing): harden edge cases from adversarial review
  CLAUDE.md
  services/platform/apps/api/orders/views.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/tasks.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/common/test_fsm_transitions.py
  services/platform/tests/orders/test_order_cancellation_cleanup.py
  services/platform/tests/orders/test_orders_services.py
  services/platform/tests/orders/test_review_gate.py
  services/portal/apps/orders/views.py
  services/portal/apps/ui/templatetags/ui_components.py
Due: platform, portal

fix(tests): update tests for stricter payment validation guards
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/orders/_order_hardening_cases.py
Due: none

chore: untrack CLAUDE.md (already in .gitignore)
  CLAUDE.md
Due: none

fix(orders): add type narrowing assert for proforma in cancellation handler
  services/platform/apps/orders/signals.py
Due: platform

fix(orders,billing): harden confirm_order idempotency, fail-closed amount check, and field editability
  services/platform/apps/api/orders/views.py
  services/platform/apps/billing/gateways/base.py
  services/platform/apps/billing/gateways/stripe_gateway.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/views.py
  services/platform/tests/billing/test_card_proforma_lifecycle.py
  services/platform/tests/orders/_order_hardening_cases.py
  services/platform/tests/orders/test_confirm_order_pi_validation.py
  services/platform/tests/orders/test_order_flow_security.py
  services/platform/tests/orders/test_order_state_rename.py
  services/platform/tests/orders/test_review_gate.py
  tests/integration/api/test_order_payment_methods.py
Due: platform

fix(billing,orders): fix discount overwrite and template substring checks
  services/platform/apps/billing/proforma_service.py
  services/platform/templates/orders/partials/order_items_list.html
Due: platform

fix(orders,billing,portal): add missing fields, cross-links, and alignment fixes
  services/platform/apps/api/orders/views.py
  services/platform/scripts/setup_test_data.py
  services/platform/templates/billing/proforma_detail.html
  services/platform/templates/orders/order_detail.html
  services/portal/apps/billing/schemas.py
  services/portal/apps/billing/serializers.py
Due: platform, portal

fix(orders,billing): link proforma/invoice on order detail, link order on proforma, remove duplicate status
  services/platform/templates/billing/proforma_detail.html
  services/platform/templates/orders/partials/financial_summary.html
Due: none

fix(orders): fix effective_price_cents and audit service provisioning event
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/views.py
Due: platform

fix(orders,billing): harden confirm_order with amount verification, TOCTOU lock, and review role guard
  services/platform/apps/api/orders/views.py
  services/platform/apps/billing/gateways/base.py
  services/platform/apps/billing/gateways/stripe_gateway.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/views.py
  services/platform/tests/orders/_order_hardening_cases.py
  services/platform/tests/orders/test_confirm_order_pi_validation.py
  services/platform/tests/orders/test_review_gate.py
Due: platform

feat(billing): add Record Payment button and modal to proforma detail page
  services/platform/templates/billing/proforma_detail.html
Due: none

fix(orders,billing): address Codex review edge cases and harden tests
  services/platform/apps/api/orders/views.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/integrations/webhooks/stripe.py
  services/platform/apps/orders/migrations/0005_rename_order_status_values.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/tasks.py
  services/platform/templates/orders/order_detail.html
  services/platform/templates/orders/partials/order_list.html
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_proforma_order_lifecycle.py
  services/platform/tests/billing/test_refund_service_regressions.py
  services/platform/tests/integrations/test_stripe_proforma_webhook.py
  services/platform/tests/orders/test_review_gate.py
  services/portal/apps/orders/views.py
  services/portal/templates/orders/order_confirmation.html
  services/portal/tests/orders/_order_flow_cases.py
  services/portal/tests/orders/_order_rate_limit_and_security_cases.py
  services/portal/tests/orders/test_dos_hardening.py
  tests/integration/api/test_order_payment_methods.py
Due: platform, portal

fix(orders,billing): QA fixes — order edit 500, proforma VAT%, disable Django admin
  services/platform/apps/orders/views.py
  services/platform/config/urls.py
  services/platform/templates/billing/proforma_detail.html
Due: platform

fix(orders): close blank payment_method bypass and implement migration rollback
  services/platform/apps/api/orders/views.py
  services/platform/apps/orders/migrations/0005_rename_order_status_values.py
Due: platform

fix(orders,templates): fix template substring checks and add discount test
  services/platform/templates/orders/order_detail.html
  services/platform/templates/orders/order_list.html
  services/platform/templates/orders/partials/order_items_list.html
  services/platform/tests/billing/test_proforma_order_lifecycle.py
Due: none

feat(billing,orders): route card payments through proforma lifecycle
  docs/ADRs/ADR-0034-django-fsm2-state-machines.md
  docs/ADRs/ADR-0038-proforma-payment-convergence.md
  docs/domain/ORDER_LIFECYCLE.md
  docs/domain/REFUND_SERVICE.md
  services/platform/apps/api/orders/views.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/orders/tasks.py
  services/platform/tests/billing/test_card_proforma_lifecycle.py
  services/platform/tests/orders/_order_hardening_cases.py
  services/platform/tests/orders/test_review_gate.py
Due: platform

fix(orders,billing): fix 24 review findings from adversarial pass 4 + Codex
  docs/domain/SIGNALS_ARCHITECTURE.md
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/views.py
  services/platform/apps/integrations/webhooks/stripe.py
  services/platform/apps/orders/migrations/0005_rename_order_status_values.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/tasks.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/billing/test_invoices_views.py
  services/platform/tests/billing/test_proforma_order_lifecycle.py
  services/platform/tests/integrations/test_stripe_proforma_webhook.py
  services/platform/tests/orders/test_order_cancellation_cleanup.py
  services/platform/tests/orders/test_orders_services.py
  services/platform/tests/orders/test_review_gate.py
Due: platform

fix(billing,orders): close card bypass, remove dead code, harden allowlists
  services/platform/apps/api/orders/views.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/views.py
Due: platform

fix(orders,ui): fix order edit FSM error, button attrs sanitizer, fixture address
  services/platform/apps/orders/views.py
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/scripts/setup_test_data.py
  services/platform/templates/orders/order_form.html
Due: platform

fix(orders): validate only changed fields in order edit, add tests
  services/platform/apps/orders/views.py
  services/platform/tests/orders/test_orders_edit.py
  services/portal/tests/billing/test_proforma_schema.py
Due: platform

fix(orders): remove Mark as Paid bypass for orders with proformas
  services/platform/templates/orders/order_detail.html
Due: none

fix(billing): fix payment method and reference display on invoice detail
  services/platform/templates/billing/invoice_detail.html
Due: none

fix(portal): extract invoice bill_to from nested API dict
  services/portal/apps/billing/serializers.py
Due: portal

fix(billing,portal): fix Portal invoice/proforma display, cross-links, refund modal, and paid_at timestamp
  services/platform/apps/api/billing/serializers.py
  services/platform/templates/billing/proforma_detail.html
  services/portal/apps/billing/schemas.py
  services/portal/apps/billing/serializers.py
  services/portal/templates/billing/invoice_detail.html
  services/portal/templates/billing/partials/invoices_table.html
  services/portal/templates/billing/proforma_detail.html
Due: platform, portal

fix(billing): show disabled Payment Recorded button on converted proformas
  services/platform/templates/billing/proforma_detail.html
Due: none
