Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

codecov.yml:

# Codecov configuration for PRAHO two-service architecture
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 90%

flags:
  platform:
    paths:
      - services/platform/apps/
    carryforward: true
  portal:
    paths:
      - services/portal/apps/
    carryforward: true

ignore:
  - "*/migrations/*"
  - "*/tests/*"
  - "*/settings/*"
  - "manage.py"
  - "*/wsgi.py"
  - "*/asgi.py"
  - "scripts/*"
  - "docs/*"
  - "tests/*"

fix(customers): close PR #149 review findings + tracking issue #173 (#184)
  services/platform/apps/api/customers/views.py
  services/platform/apps/customers/urls.py
  services/platform/apps/customers/user_management_views.py
  services/platform/apps/customers/views.py
  services/platform/apps/users/services.py
  services/platform/templates/customers/emails/welcome_email.html
  services/platform/templates/customers/emails/welcome_email.txt
  services/platform/tests/api/test_customer_api.py
  services/platform/tests/customers/test_user_management_views.py
Due: platform

fix(users,api): address PR #181 review — throttle, welcome email, iexact dedupe
  services/platform/apps/api/customers/views.py
  services/platform/apps/customers/user_management_views.py
  services/platform/apps/users/services.py
  services/platform/tests/api/test_customer_api.py
Due: platform

refactor(common): retriability tri-state + backfill transient producers
  docs/ADRs/ADR-0003-comprehensive-type-safety-implementation.md
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/stripe_metering.py
  services/platform/apps/common/types.py
  services/platform/apps/infrastructure/provider_config.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/tests/common/test_result_types.py
Due: platform

fix(notifications): dedupe marketing_consent audit (#182)
  services/platform/apps/customers/signals.py
  services/platform/apps/notifications/services.py
  services/platform/tests/notifications/test_unsubscribe_tokens.py
Due: platform

fix(api): scope customer_users_create throttle to verified portal id
  services/platform/apps/api/customers/views.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_throttle_architecture_guardrails.py
Due: platform

fix(tickets): revert max-h-150 comment-container tweak (#159 review)
  services/platform/templates/tickets/partials/status_and_comments.html
  services/portal/templates/tickets/partials/status_and_comments.html
Due: none

test(billing): regression guards for EN16931 tax-category fixes (#160)
  services/platform/tests/billing/efactura/test_xml_builder.py
Due: none

fix(tickets): filter internal notes server-side in reply HTMX swap
  services/platform/apps/tickets/views.py
  services/platform/tests/tickets/test_tickets_comments.py
Due: platform

fix(tickets,templates): standardize staff permission checks to is_staff_user (#151)
  services/platform/templates/components/mobile_header.html
  services/platform/templates/tickets/detail.html
  services/platform/templates/tickets/list.html
  services/platform/templates/tickets/partials/comments_list.html
  services/platform/templates/tickets/partials/status_and_comments.html
  services/platform/templates/tickets/partials/tickets_table.html
Due: none

refactor(templates): migrate user.is_staff to user.is_staff_user in non-ticket templates (#176)
  services/platform/templates/base.html
  services/platform/templates/billing/partials/billing_list.html
  services/platform/templates/billing/partials/billing_list_component.html
  services/platform/templates/billing/proforma_detail.html
  services/platform/templates/customers/partials/header_action.html
  services/platform/templates/dashboard.html
  services/platform/templates/users/profile.html
Due: none

fix(users,billing,ui): complete is_staff_user follow-ups (#159/#180 review)
  CHANGELOG.md
  services/platform/apps/users/migrations/0003_staff_role_check_constraint.py
  services/platform/apps/users/models.py
  services/platform/templates/billing/invoice_detail.html
  services/platform/tests/billing/test_invoices_views.py
  services/platform/tests/orders/test_orders_security.py
  services/platform/tests/tickets/test_tickets_comments.py
  services/platform/tests/ui/test_mobile_nav_item.py
  services/platform/tests/users/test_authentication_models_enhanced.py
  services/platform/tests/users/test_staff_role_classification.py
  shared/ui/templates/components/mobile_nav_item.html
Due: platform

refactor(tickets): migrate platform ticket list to shared components (#152)
  services/platform/apps/tickets/views.py
  services/platform/templates/tickets/list.html
  services/platform/templates/tickets/partials/header_action.html
  services/platform/templates/tickets/partials/tickets_table.html
  services/portal/templates/tickets/partials/tickets_table.html
Due: platform

fix(types): remove explicit type annotation on TICKET_STATUS_TABS
  services/platform/apps/tickets/views.py
Due: platform

chore: bump version to v0.28.0 and update CHANGELOG
  CHANGELOG.md
  README.md
  docs/ADRs/README.md
  pyproject.toml
  services/platform/pyproject.toml
  services/platform/templates/base.html
  services/portal/pyproject.toml
  services/portal/templates/base.html
  uv.lock
Due: none

fix(billing): EN16931/CIUS-RO e-Factura XML compliance (completes #160)
  CHANGELOG.md
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/tests/billing/efactura/test_xml_builder.py
Due: platform

fix(billing): EN16931 critical compliance gaps in UBL XML builder (#177)
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/tests/billing/efactura/test_xml_builder.py
Due: platform

feat(auth): custom APIToken model with hashed storage, multi-token, expiry (#77)
  docs/ADRs/ADR-0031-api-token-authentication-strategy.md
  services/platform/apps/api/users/authentication.py
  services/platform/apps/api/users/views.py
  services/platform/apps/users/management/__init__.py
  services/platform/apps/users/management/commands/__init__.py
  services/platform/apps/users/management/commands/purge_expired_tokens.py
  services/platform/apps/users/migrations/0002_create_apitoken.py
  services/platform/apps/users/migrations/0003_migrate_drf_tokens.py
  services/platform/apps/users/models.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_api_token_auth.py
  services/platform/tests/api/test_api_users_security.py
Due: platform

fix(types): suppress mypy misc error on BaseAuthentication subclass
  services/platform/apps/api/users/authentication.py
Due: platform

fix(audit): add APIToken to audit model allowlist
  scripts/audit_model_allowlist.txt
Due: none

fix(tests): deterministic dates in cost tracking tests
  services/platform/tests/infrastructure/test_infrastructure_services.py
Due: none

fix(api): close PR #165 review findings — token expiry, migration, TOCTOU
  services/platform/apps/api/users/views.py
  services/platform/apps/users/migrations/0002_create_apitoken.py
  services/platform/apps/users/models.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_api_token_auth.py
Due: platform

fix(users): renumber APIToken migrations to resolve leaf-node conflict
  services/platform/apps/users/migrations/0004_create_apitoken.py
  services/platform/apps/users/migrations/0005_migrate_drf_tokens.py
Due: platform

fix(domains): wire up registrar gateway so it runs in production (#169 C1/C2)
  services/platform/apps/domains/gateways/__init__.py
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_gateway_registration_wiring.py
Due: platform

fix(domains): close PR #169 MEDIUM findings — homograph, date, price
  services/platform/apps/domains/gateways/gandi.py
  services/platform/apps/domains/gateways/rotld.py
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_domains_security.py
  services/platform/tests/domains/test_registrar_gateways.py
Due: platform

feat(domains): implement registrar gateway layer with Gandi + ROTLD (#93)
  services/platform/apps/domains/gateways/__init__.py
  services/platform/apps/domains/gateways/base.py
  services/platform/apps/domains/gateways/errors.py
  services/platform/apps/domains/gateways/gandi.py
  services/platform/apps/domains/gateways/rotld.py
  services/platform/apps/domains/services.py
  services/platform/apps/domains/views.py
  services/platform/tests/domains/test_domains_security.py
  services/platform/tests/domains/test_registrar_gateways.py
Due: platform

fix(domains): close PR #169 HIGH findings — idempotency, breaker, webhook
  services/platform/apps/domains/gateways/base.py
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_registrar_gateways.py
  services/platform/tests/domains/test_webhook_signature_verification.py
Due: platform

feat(common): add retriability signal to Result pattern Err type (#121)
  services/platform/apps/common/types.py
  services/platform/tests/common/test_result_types.py
Due: platform

feat(billing): EN16931 + Romanian law compliance for PDF invoices (#153)
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/migrations/0025_add_bill_to_registration_number.py
  services/platform/apps/billing/pdf_generators.py
  services/platform/apps/billing/proforma_models.py
  services/platform/config/settings/base.py
  services/platform/tests/billing/test_pdf_generators.py
Due: platform

fix(billing): close PR #166 review findings — VAT truncation + PDF overflow
  services/platform/apps/billing/pdf_generators.py
  services/platform/tests/billing/test_pdf_generators.py
  services/platform/tests/billing/test_pdf_generators_comprehensive.py
Due: platform

fix(tests): update comprehensive PDF tests for Romanian disclaimers
  services/platform/tests/billing/test_pdf_generators_comprehensive.py
Due: none

fix(security): use get_encryption_key() in encrypt path for patch compatibility
  services/platform/apps/common/encryption.py
Due: platform

feat(security): encryption key versioning + AAD binding for EncryptedJSONField (#87)
  services/platform/apps/common/encryption.py
  services/platform/apps/common/fields.py
  services/platform/apps/common/management/commands/reencrypt_with_aad.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/test.py
  services/platform/tests/common/test_encrypted_json_field.py
  services/platform/tests/common/test_encryption.py
Due: platform

fix(common): add require_v2 enforcement to EncryptedJSONField (#171 H1)
  services/platform/apps/common/fields.py
  services/platform/apps/customers/contact_models.py
  services/platform/tests/common/test_encrypted_json_field.py
Due: platform

fix(billing): subtract completed refunds from invoice remaining balance (#189)
  services/platform/apps/billing/invoice_models.py
  services/platform/tests/billing/test_invoices_models.py
Due: platform

fix(billing): net line discount into taxable base + VAT (#188)
  services/platform/apps/billing/efactura_service.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/proforma_models.py
  services/platform/tests/billing/test_line_discount_netting.py
Due: platform

fix(billing): represent e-Factura setup fees + document discounts (#188)
  CHANGELOG.md
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/apps/billing/efactura_service.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/invoice_service.py
  services/platform/apps/billing/migrations/0025_add_document_discount_cents.py
  services/platform/apps/billing/proforma_models.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/services.py
  services/platform/apps/billing/views.py
  services/platform/tests/billing/efactura/test_xml_builder.py
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/billing/test_efactura_service.py
  services/platform/tests/billing/test_invoice_service.py
  services/platform/tests/billing/test_invoices_models.py
  services/platform/tests/billing/test_proforma_order_lifecycle.py
Due: platform

fix(domains): close PR #169 MEDIUM findings — error label, response size
  services/platform/apps/domains/gateways/base.py
  services/platform/apps/domains/gateways/gandi.py
  services/platform/apps/domains/gateways/rotld.py
  services/platform/tests/domains/test_registrar_gateways.py
Due: platform

fix(billing): repair InvoiceService.create_from_order crash (#191)
  services/platform/apps/billing/services.py
  services/platform/tests/billing/test_invoice_from_order.py
Due: platform

fix(billing): subtract prepaid payments from e-Factura PayableAmount (#177)
  CHANGELOG.md
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/tests/billing/efactura/test_xml_builder.py
Due: platform

feat(portal): cover all service statuses in My Services filter tabs (#101)
  services/portal/apps/services/views.py
  services/portal/templates/services/partials/services_table.html
  services/portal/tests/services/test_service_status_tabs.py
Due: portal
