Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

codecov.yml:

# Codecov configuration for PRAHO two-service architecture
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 90%

flags:
  platform:
    paths:
      - services/platform/apps/
    carryforward: true
  portal:
    paths:
      - services/portal/apps/
    carryforward: true

ignore:
  - "*/migrations/*"
  - "*/tests/*"
  - "*/settings/*"
  - "manage.py"
  - "*/wsgi.py"
  - "*/asgi.py"
  - "scripts/*"
  - "docs/*"
  - "tests/*"

fix(efactura): upload and poll each document in the environment it was created for
  services/platform/apps/billing/efactura/client.py
  services/platform/apps/billing/efactura/service.py
  services/platform/tests/billing/efactura/test_environment_consistency.py
  services/platform/tests/billing/efactura/test_service.py
Due: platform

fix(orders): cancel a voided invoice's orders after the void commits
  services/platform/apps/billing/signals.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/tasks.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/orders/test_order_payment_recovery_isolation.py
Due: platform

test: make the status-only tests check what their requests changed; fix two audit views they exposed
  scripts/audit_test_assertion_quality.py
  scripts/status_only_test_baseline.txt
  services/platform/apps/audit/services.py
  services/platform/templates/audit/partials/event_detail.html
  services/platform/tests/api/test_api_token_auth.py
  services/platform/tests/audit/test_audit_management.py
  services/platform/tests/audit/test_audit_views_regressions.py
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/integrations/test_integrations_security.py
  services/platform/tests/users/test_authentication_views.py
  tests/integration/test_assertion_quality_closeout.py
Due: platform

test(signals): fail the build when a signal handler swallows an error around unisolated database work
  scripts/signal_isolation_baseline.txt
  services/platform/apps/billing/signals.py
  services/platform/apps/common/transactions.py
  services/platform/apps/orders/signals.py
  tests/integration/test_signal_handler_isolation.py
Due: platform

feat(settings): detect every real settings reader, and activate changed defaults once
  scripts/audit_model_allowlist.txt
  scripts/lint_settings_coverage.py
  scripts/settings_effect_baseline.txt
  scripts/settings_reader_baseline.txt
  services/platform/apps/settings/management/commands/setup_default_settings.py
  services/platform/apps/settings/migrations/0003_setting_activation.py
  services/platform/apps/settings/models.py
  services/platform/tests/common/test_settings_lint_detectors.py
  services/platform/tests/settings/test_settings_activation.py
Due: platform

test: register this branch's cross-service twin tests with the layout audit
  scripts/test_layout_allowlist.json
Due: none

fix(efactura): keep a valid token when the document's environment is unchanged
  services/platform/apps/billing/efactura/service.py
  services/platform/tests/billing/efactura/test_environment_consistency.py
Due: platform

fix(identity): show the support address on real 500 pages, escape legal names once, keep the sender on retries
  services/platform/apps/notifications/tasks.py
  services/platform/templates/legal/privacy_policy.html
  services/platform/templates/legal/terms_of_service.html
  services/platform/tests/common/test_legal_identity_escaping.py
  services/platform/tests/notifications/test_recovery_sender.py
  services/portal/apps/common/error_views.py
  services/portal/config/urls.py
  services/portal/tests/common/test_server_error_identity.py
Due: platform, portal

fix(audit): translate alert labels on the event page; prove each technical filter separately
  services/platform/apps/audit/models.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/tests/audit/test_audit_views_regressions.py
Due: platform

fix(signals): isolate each provisioning job, and close five gaps in the isolation guard
  services/platform/apps/billing/signals.py
  services/platform/apps/orders/signals.py
  services/platform/tests/billing/test_provisioning_queue_isolation.py
  services/platform/tests/common/_provisioning_queue_isolation.py
  services/platform/tests/orders/test_provisioning_queue_isolation.py
  tests/integration/test_signal_handler_isolation.py
Due: platform

feat(settings): retire 14 settings that no code ever enforced
  QA/cycle-02-v0.30.0/findings.md
  scripts/settings_drift_baseline.txt
  scripts/settings_inert_baseline.txt
  scripts/settings_reader_baseline.txt
  services/platform/apps/billing/config.py
  services/platform/apps/billing/subscription_models.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/common/credential_vault.py
  services/platform/apps/common/performance/cache.py
  services/platform/apps/notifications/services.py
  services/platform/apps/orders/tasks.py
  services/platform/apps/provisioning/signals.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/apps/settings/catalog.py
  services/platform/apps/settings/management/commands/setup_default_settings.py
  services/platform/tests/billing/test_billing_tasks.py
  services/platform/tests/billing/test_subscription_models_regressions.py
  services/platform/tests/common/test_settings_lint_detectors.py
  services/platform/tests/settings/test_settings_retirement.py
Due: platform

feat(settings): make the eight audit settings take effect
  services/platform/apps/audit/compliance.py
  services/platform/apps/audit/management/commands/audit_compliance.py
  services/platform/apps/audit/services.py
  services/platform/apps/audit/tasks.py
  services/platform/apps/settings/management/commands/setup_default_settings.py
  services/platform/tests/audit/test_audit_notification_integration.py
  services/platform/tests/audit/test_audit_settings_effects.py
Due: platform

feat(settings): make the common performance and display settings take effect
  services/platform/apps/common/flow_analysis/hybrid_analyzer.py
  services/platform/apps/common/logging.py
  services/platform/apps/common/mixins.py
  services/platform/apps/common/performance/cache.py
  services/platform/apps/common/performance/query_optimization.py
  services/platform/apps/common/trace_middleware.py
  services/platform/apps/settings/management/commands/setup_default_settings.py
  services/platform/tests/common/test_common_settings_effects.py
Due: platform

feat(settings): make the meter grace, metering task timeout and subscription grace settings take effect
  services/platform/apps/billing/metering_models.py
  services/platform/apps/billing/metering_tasks.py
  services/platform/apps/billing/migrations/0009_runtime_grace_defaults.py
  services/platform/apps/billing/subscription_models.py
  services/platform/apps/settings/management/commands/setup_default_settings.py
  services/platform/tests/billing/test_billing_settings_effects.py
Due: platform

fix(signals): let savepoint-entry failures propagate from provisioning, follow queryset truthiness
  services/platform/apps/billing/signals.py
  services/platform/apps/orders/signals.py
  services/platform/tests/billing/test_provisioning_queue_isolation.py
  services/platform/tests/orders/test_provisioning_queue_isolation.py
  tests/integration/test_signal_handler_isolation.py
Due: platform

fix(settings): make setting activation deadlock-safe and complete, credit readers per callable
  scripts/lint_settings_coverage.py
  scripts/settings_reader_baseline.txt
  services/platform/apps/settings/management/commands/setup_default_settings.py
  services/platform/tests/common/test_settings_lint_detectors.py
  services/platform/tests/settings/test_settings_activation.py
Due: platform

feat(settings): make the notification, product and promotion limits take effect
  services/platform/apps/notifications/models.py
  services/platform/apps/products/models.py
  services/platform/apps/promotions/models.py
  services/platform/apps/promotions/services.py
  services/platform/apps/settings/catalog.py
  services/platform/apps/settings/management/commands/setup_default_settings.py
  services/platform/tests/notifications/test_notifications_settings_effects.py
  services/platform/tests/products/test_products_settings_effects.py
  services/platform/tests/promotions/test_promotions_settings_effects.py
  services/platform/tests/settings/test_commercial_settings_activation.py
Due: platform

feat(settings): make the order limits and the registration rate limit take effect
  scripts/lint_settings_coverage.py
  services/platform/apps/common/security_decorators.py
  services/platform/apps/common/validators.py
  services/platform/apps/orders/tasks.py
  services/platform/apps/orders/views.py
  services/platform/apps/settings/catalog.py
  services/platform/apps/settings/management/commands/setup_default_settings.py
  services/platform/tests/common/test_settings_lint_detectors.py
  services/platform/tests/orders/test_orders_settings_effects.py
  services/platform/tests/users/test_users_settings_effects.py
Due: platform

fix(portal): refresh the cart totals after a removal, and close the e2e races
  CHANGELOG.md
  services/portal/static/js/csp-actions.js
  services/portal/tests/orders/test_cart_flow_htmx_targets.py
  tests/e2e/helpers/auth.py
  tests/e2e/platform/test_platform_tickets.py
  tests/e2e/portal/test_cart_flow_regression.py
  tests/e2e/portal/test_order_flow_compliance.py
  tests/e2e/portal/test_order_flow_ux.py
  tests/integration/test_e2e_visibility_checks.py
Due: none

test: stop task-queue patches leaking into lazily imported modules
  services/platform/tests/audit/test_membership_signal_postgres_isolation.py
  services/platform/tests/billing/test_efactura_enqueue_durability.py
  services/platform/tests/billing/test_invoice_signal_transaction_isolation.py
  services/platform/tests/billing/test_issuer_settlement_durability.py
  services/platform/tests/billing/test_payment_settlement_isolation.py
  services/platform/tests/billing/test_vies_gate_paths.py
  services/platform/tests/common/_signal_isolation.py
  services/platform/tests/common/test_quiet_task_queue.py
  services/platform/tests/helpers/task_queue.py
  services/platform/tests/orders/test_order_payment_recovery_isolation.py
  services/platform/tests/promotions/test_gift_staff_actions.py
Due: none

fix(settings): close common and billing wiring gaps
  services/platform/apps/billing/config.py
  services/platform/apps/billing/metering_service.py
  services/platform/apps/billing/metering_tasks.py
  services/platform/apps/billing/subscription_models.py
  services/platform/apps/common/logging.py
  services/platform/apps/common/performance/cache.py
  services/platform/apps/common/performance/query_optimization.py
  services/platform/apps/settings/catalog.py
  services/platform/apps/settings/management/commands/setup_default_settings.py
  services/platform/tests/billing/test_billing_settings_effects.py
  services/platform/tests/billing/test_metering_gateway_regressions.py
  services/platform/tests/billing/test_metering_tasks.py
  services/platform/tests/common/test_common_settings_effects.py
  services/platform/tests/common/test_method_tracer_without_database.py
Due: platform

fix(settings): credit setting readers only through code a test really runs
  scripts/lint_settings_coverage.py
  services/platform/tests/common/test_settings_lint_detectors.py
Due: none

fix(settings): enforce the notification, coupon, registration and order task limits everywhere
  services/platform/apps/api/customers/serializers.py
  services/platform/apps/notifications/models.py
  services/platform/apps/notifications/services.py
  services/platform/apps/orders/apps.py
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/tasks.py
  services/platform/apps/promotions/models.py
  services/platform/apps/promotions/views.py
  services/platform/apps/users/services.py
  services/platform/tests/api/customers/__init__.py
  services/platform/tests/api/customers/test_registration_counter_rollback.py
  services/platform/tests/notifications/test_subject_limit_delivery.py
  services/platform/tests/orders/test_task_budget_closeout.py
  services/platform/tests/promotions/test_coupon_generation_closeout.py
Due: platform

fix(cache): fall back to the constant timeout in every cache consumer
  services/platform/apps/common/performance/cache.py
  services/platform/tests/common/test_common_settings_effects.py
Due: platform

fix(settings): keep a test method's own instances out of the class bindings
  scripts/lint_settings_coverage.py
  services/platform/tests/common/test_settings_lint_detectors.py
Due: none

feat(settings): make the provisioning operation limits take effect
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/apps/settings/catalog.py
  services/platform/apps/settings/management/commands/setup_default_settings.py
  services/platform/tests/provisioning/test_provisioning_settings_effects.py
Due: platform

feat(settings): make the provisioning transport timeouts and task budgets take effect
  services/platform/apps/provisioning/virtualmin_auth_manager.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/apps/settings/catalog.py
  services/platform/apps/settings/management/commands/setup_default_settings.py
  services/platform/tests/provisioning/test_provisioning_transport_settings_effects.py
Due: platform

fix(provisioning): confirm bulk suspend and activate with Virtualmin; reject invalid email retries
  services/platform/apps/notifications/services.py
  services/platform/apps/notifications/tasks.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/apps/settings/catalog.py
  services/platform/apps/settings/management/commands/setup_default_settings.py
  services/platform/tests/notifications/test_async_email_attachments.py
  services/platform/tests/notifications/test_subject_recovery.py
  services/platform/tests/provisioning/test_bulk_lifecycle.py
  services/platform/tests/provisioning/test_provisioning_settings_effects.py
Due: platform

fix(efactura): build the supplier party from the e-Factura company settings
  scripts/settings_effect_baseline.txt
  services/platform/apps/billing/bank_transfer.py
  services/platform/apps/billing/efactura/settings.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/tests/billing/efactura/test_efactura_identity_settings_effects.py
Due: platform

fix(efactura): honour the stored OAuth and validation settings
  services/platform/apps/billing/efactura/client.py
  services/platform/apps/billing/efactura/validator.py
  services/platform/tests/billing/efactura/test_efactura_connection_settings_effects.py
Due: platform

test(e2e): catch an is_visible timeout split across lines
  tests/integration/test_e2e_visibility_checks.py
Due: none

fix(provisioning): make the Virtualmin request, retry and rate-limit settings take effect
  scripts/settings_effect_baseline.txt
  services/platform/apps/provisioning/virtualmin_auth_manager.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/tests/provisioning/test_virtualmin_connection_settings_effects.py
  services/platform/tests/provisioning/test_virtualmin_retriability.py
  services/platform/tests/provisioning/test_virtualmin_retry_contract.py
Due: platform

fix(portal): refresh the cart totals after a removal, and close the e2e races (#624)
  CHANGELOG.md
  services/portal/static/js/csp-actions.js
  services/portal/tests/orders/test_cart_flow_htmx_targets.py
  tests/e2e/helpers/auth.py
  tests/e2e/platform/test_platform_tickets.py
  tests/e2e/portal/test_cart_flow_regression.py
  tests/e2e/portal/test_order_flow_compliance.py
  tests/e2e/portal/test_order_flow_ux.py
  tests/integration/test_e2e_visibility_checks.py
Due: none

fix(provisioning): apply the default Virtualmin disk and bandwidth quotas
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/tests/provisioning/test_virtualmin_services_settings_effects.py
Due: platform

fix(deploy): make the Docker production images and Compose files start
  .env.example.prod
  CHANGELOG.md
  deploy/ansible/playbooks/native-single-server.yml
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.single-server.yml
  deploy/platform/Dockerfile
  deploy/portal/Dockerfile
  docs/deployment/DEPLOYMENT.md
  tests/integration/test_docker_production_secrets.py
Due: none

fix(provisioning): respect each job's task budget in recovery and payment-triggered provisioning
  services/platform/apps/billing/signals.py
  services/platform/apps/provisioning/virtualmin_models.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/tests/billing/test_payment_provisioning_budgets.py
  services/platform/tests/provisioning/test_virtualmin_recovery_budgets.py
Due: platform

fix(deploy): make the Ansible Docker role render and start
  CHANGELOG.md
  deploy/ansible/roles/praho/defaults/main.yml
  deploy/ansible/roles/praho/tasks/main.yml
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/ansible/roles/praho/templates/rollback.sh.j2
  docs/deployment/DEPLOYMENT.md
  tests/integration/test_docker_ansible_role.py
Due: none

fix(settings): let the dev settings run in a container
  services/platform/config/dotenv_path.py
  services/platform/config/settings/dev.py
  services/platform/tests/infrastructure/test_env_loading.py
  services/portal/config/dotenv_path.py
  services/portal/config/settings/dev.py
  services/portal/tests/settings/test_dev_settings_in_containers.py
Due: none

fix(deploy): pass production's keys to the native migrate step
  deploy/ansible/playbooks/native-single-server.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.single-server.yml
  docs/deployment/DEPLOYMENT.md
  tests/integration/test_docker_production_secrets.py
Due: none

fix(deploy): wait out the platform's start period without logging its environment
  deploy/ansible/roles/praho/tasks/main.yml
  deploy/ansible/roles/praho/templates/rollback.sh.j2
  tests/integration/test_docker_ansible_role.py
Due: none
