Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

codecov.yml:

# Codecov configuration for PRAHO two-service architecture
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 90%

flags:
  platform:
    paths:
      - services/platform/apps/
    carryforward: true
  portal:
    paths:
      - services/portal/apps/
    carryforward: true

ignore:
  - "*/migrations/*"
  - "*/tests/*"
  - "*/settings/*"
  - "manage.py"
  - "*/wsgi.py"
  - "*/asgi.py"
  - "scripts/*"
  - "docs/*"
  - "tests/*"

fix(billing): VAT decisions resolve the supplier country instead of a literal
  services/platform/apps/billing/config.py
  services/platform/apps/common/tax_service.py
  services/platform/tests/common/test_tax_service_scenarios.py
Due: platform

docs(changelog): record the single-operator defect fixes
  CHANGELOG.md
Due: none

test(billing): cover the credit-note path for out-of-scope documents
  services/platform/tests/billing/efactura/test_xml_builder.py
Due: none

fix(billing): close the resolution-order gaps the parameterisation opened
  services/platform/apps/audit/management/commands/setup_audit_retention_policies.py
  services/platform/apps/billing/config.py
  services/platform/apps/billing/efactura/validator.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/apps/common/localisation.py
  services/platform/apps/common/operator.py
  services/platform/apps/common/tax_service.py
  services/platform/apps/notifications/management/commands/setup_email_templates.py
  services/platform/config/settings/base.py
  services/platform/tests/billing/efactura/test_validator.py
  services/platform/tests/common/test_tax_service_scenarios.py
Due: platform

fix(audit): retire foreign retention policies on upgrade, not just refuse new ones
  services/platform/apps/audit/management/commands/setup_audit_retention_policies.py
  services/platform/apps/billing/efactura/validator.py
  services/platform/apps/common/tax_service.py
  services/platform/apps/notifications/management/commands/setup_email_templates.py
  services/platform/tests/audit/test_audit_retention_infrastructure.py
  services/platform/tests/common/test_tax_service_scenarios.py
Due: platform

fix(audit): skip a foreign retention policy instead of aborting the whole seed
  services/platform/apps/audit/management/commands/setup_audit_retention_policies.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/tests/audit/test_audit_retention_infrastructure.py
  services/platform/tests/billing/efactura/test_xml_builder.py
Due: platform

fix: resolve four single-operator defects across VAT, audit retention, alerts and e-invoicing (#526)
  CHANGELOG.md
  docs/ADRs/ADR-0043-audit-integrity-v2-retention-and-standalone-siem.md
  services/platform/apps/audit/management/commands/setup_audit_retention_policies.py
  services/platform/apps/billing/config.py
  services/platform/apps/billing/efactura/validator.py
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/apps/billing/signals.py
  services/platform/apps/common/operator.py
  services/platform/apps/common/tax_service.py
  services/platform/apps/notifications/management/commands/setup_email_templates.py
  services/platform/apps/settings/catalog.py
  services/platform/config/settings/base.py
  services/platform/tests/audit/test_audit_retention_infrastructure.py
  services/platform/tests/billing/efactura/test_validator.py
  services/platform/tests/billing/efactura/test_xml_builder.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/common/test_tax_service_scenarios.py
Due: platform

test: fingerprint committed source in manual E2E evidence
  Makefile
  scripts/e2e_stack.py
  services/platform/tests/common/test_e2e_stack.py
Due: none

docs: correct rate-limit audit replacement nodes
  docs/testing/e2e-audit.json
Due: none

test: check accessible service tabs at the active breakpoint
  docs/testing/e2e-audit.json
  tests/e2e/portal/test_customer_services.py
Due: none

test: validate saved staff sessions on the protected dashboard
  docs/testing/manual-e2e.md
  tests/e2e/helpers/auth.py
  tests/e2e/platform/conftest.py
  tests/e2e/platform/test_staff_session_validation.py
Due: none

fix: bind E2E runs to server source and preserve customer contracts
  CHANGELOG.md
  docs/testing/e2e-audit.json
  docs/testing/manual-e2e.md
  scripts/e2e_stack.py
  services/platform/apps/orders/services.py
  services/platform/apps/users/services.py
  services/platform/tests/api/test_purchase_identity_contracts.py
  services/platform/tests/common/test_e2e_stack.py
  services/platform/tests/orders/test_orders_services.py
  services/portal/apps/billing/services.py
  services/portal/apps/services/services.py
  services/portal/apps/users/forms.py
  services/portal/templates/services/partials/services_table.html
  services/portal/templates/services/service_detail.html
  services/portal/tests/billing/test_sync_complete.py
  services/portal/tests/services/test_live_api_contracts.py
  services/portal/tests/users/test_phone_forms.py
  tests/e2e/portal/test_customer_services.py
Due: platform, portal

fix: accept valid Romanian phone numbers in profile updates
  docs/testing/e2e-audit.json
  services/platform/apps/api/users/serializers.py
  services/platform/tests/api/test_account_security_workflows.py
  services/platform/tests/settings/test_localisation_api.py
  tests/e2e/portal/test_customer_users.py
Due: platform

fix(seed): link auto-renew sample services to owning subscriptions
  services/platform/apps/common/management/commands/generate_sample_data.py
Due: platform

fix(billing): require financial authority to issue a refund (#104)
  services/platform/apps/billing/views.py
  services/platform/apps/common/decorators.py
  services/platform/apps/orders/views.py
  services/platform/apps/users/models.py
  services/platform/templates/billing/invoice_detail.html
  services/platform/templates/orders/order_detail.html
  services/platform/tests/billing/_billing_service_task_cases.py
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/billing/test_invoices_views.py
  services/platform/tests/billing/test_refund_authorization_guardrail.py
  services/platform/tests/orders/test_order_refund_authorization.py
Due: platform

fix(orders): surface database distress instead of degrading the row lock (#104)
  services/platform/apps/orders/models.py
  services/platform/tests/orders/test_order_locking_error_propagation.py
Due: platform

docs(changelog): record the refund authorization and order lock fixes (#104)
  CHANGELOG.md
Due: none

fix(billing): deny a malformed refund actor id instead of raising (#104)
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/billing/test_refund_authorization_guardrail.py
Due: platform

fix(billing): put the refund denial reason where the clients read it (#104)
  services/platform/apps/common/decorators.py
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/orders/test_order_refund_authorization.py
Due: platform

fix(orders): keep the broad lock fallback where its caller swallows errors (#104)
  services/platform/apps/billing/views.py
  services/platform/apps/orders/models.py
  services/platform/templates/billing/invoice_detail.html
  services/platform/templates/orders/order_detail.html
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/billing/test_refund_authorization_guardrail.py
  services/platform/tests/orders/test_order_locking_error_propagation.py
Due: platform

docs(changelog): correct the order-lock entry to match what shipped (#104)
  CHANGELOG.md
Due: none

fix(billing): require financial authority to issue a refund (#528)
  CHANGELOG.md
  services/platform/apps/billing/views.py
  services/platform/apps/common/decorators.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/views.py
  services/platform/apps/users/models.py
  services/platform/templates/billing/invoice_detail.html
  services/platform/templates/orders/order_detail.html
  services/platform/tests/billing/_billing_service_task_cases.py
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/billing/test_invoices_views.py
  services/platform/tests/billing/test_refund_authorization_guardrail.py
  services/platform/tests/orders/test_order_locking_error_propagation.py
  services/platform/tests/orders/test_order_refund_authorization.py
Due: platform

fix(billing): record who issued a refund and stop suppressing the errors that hid it
  CHANGELOG.md
  services/platform/apps/billing/efactura/audit.py
  services/platform/apps/billing/migrations/0048_alter_refund_reason.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/views.py
  services/platform/apps/orders/views.py
  services/platform/templates/billing/invoice_detail.html
  services/platform/templates/orders/order_detail.html
  services/platform/tests/billing/_billing_service_task_cases.py
  services/platform/tests/billing/_billing_services_basic_cases.py
  services/platform/tests/billing/_billing_services_focused_cases.py
  services/platform/tests/billing/test_billing_audit_and_workflow_regressions.py
  services/platform/tests/billing/test_billing_type_suppression_inventory.py
  services/platform/tests/billing/test_payments_refunds.py
  services/platform/tests/billing/test_refund_authorization_guardrail.py
  services/platform/tests/billing/test_refund_reason_vocabulary.py
  services/platform/tests/billing/test_refund_service_regressions.py
  services/platform/tests/billing/test_services.py
  services/portal/templates/billing/invoice_detail.html
Due: platform

fix(billing): honour the refund reason the staff order form actually posts
  services/platform/apps/billing/refund_service.py
  services/platform/apps/orders/views.py
  services/platform/tests/billing/test_refund_service_regressions.py
  services/platform/tests/orders/test_order_refund_authorization.py
Due: platform

fix(billing): record who issued a refund and stop suppressing the errors that hid it (#529)
  CHANGELOG.md
  services/platform/apps/billing/efactura/audit.py
  services/platform/apps/billing/migrations/0048_alter_refund_reason.py
  services/platform/apps/billing/refund_models.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/views.py
  services/platform/apps/orders/views.py
  services/platform/templates/billing/invoice_detail.html
  services/platform/templates/orders/order_detail.html
  services/platform/tests/billing/_billing_service_task_cases.py
  services/platform/tests/billing/_billing_services_basic_cases.py
  services/platform/tests/billing/_billing_services_focused_cases.py
  services/platform/tests/billing/test_billing_audit_and_workflow_regressions.py
  services/platform/tests/billing/test_billing_type_suppression_inventory.py
  services/platform/tests/billing/test_payments_refunds.py
  services/platform/tests/billing/test_refund_authorization_guardrail.py
  services/platform/tests/billing/test_refund_reason_vocabulary.py
  services/platform/tests/billing/test_refund_service_regressions.py
  services/platform/tests/billing/test_services.py
  services/platform/tests/orders/test_order_refund_authorization.py
  services/portal/templates/billing/invoice_detail.html
Due: platform

fix(portal): track the payment-brand icons the checkout page renders
  .gitignore
  CHANGELOG.md
  services/platform/tests/common/test_static_asset_references.py
  services/portal/static/images/mastercard.svg
  services/portal/static/images/visa.svg
Due: none

test(portal): resolve static assets per service, not against a merged tree
  services/platform/tests/common/test_static_asset_references.py
Due: none

fix(portal): track the payment-brand icons the checkout page renders (#530)
  .gitignore
  CHANGELOG.md
  services/platform/tests/common/test_static_asset_references.py
  services/portal/static/images/mastercard.svg
  services/portal/static/images/visa.svg
Due: none

chore: bump version to v0.29.0 and update CHANGELOG
  CHANGELOG.md
  README.md
  docs/ADRs/README.md
  pyproject.toml
  services/platform/apps/common/views.py
  services/platform/pyproject.toml
  services/platform/templates/base.html
  services/portal/pyproject.toml
  services/portal/templates/base.html
  uv.lock
Due: platform

feat(billing): stamp issuer provenance and allow unnumbered invoices
  services/platform/apps/api/billing/views.py
  services/platform/apps/billing/ec_sales_service.py
  services/platform/apps/billing/efactura/audit.py
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/migrations/0049_remove_invoice_invoice_subtotal_non_negative_and_more.py
  services/platform/apps/billing/signals.py
  services/platform/apps/common/utils.py
  services/platform/templates/billing/efactura_dashboard.html
  services/platform/templates/billing/efactura_document_detail.html
  services/platform/templates/billing/invoice_detail.html
  services/platform/templates/billing/invoice_form.html
  services/platform/templates/billing/partials/efactura_document_list.html
  services/platform/templates/billing/vat_report.html
  services/platform/templates/customers/detail.html
  services/platform/templates/orders/partials/financial_summary.html
  services/platform/tests/billing/test_invoice_number_placeholder_migration.py
  services/platform/tests/billing/test_invoice_provenance.py
  services/platform/tests/common/test_common_utils.py
Due: platform

feat(billing): refuse e-Factura submission for externally issued documents
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/issuers/__init__.py
  services/platform/apps/billing/issuers/policy.py
  services/platform/apps/billing/signals.py
  services/platform/tests/billing/_billing_service_task_cases.py
  services/platform/tests/billing/efactura/test_service.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_efactura_provider_exclusion.py
Due: platform

feat(billing): add the invoice issuer gateway and route the numbering safety-net
  services/platform/apps/billing/apps.py
  services/platform/apps/billing/issuers/base.py
  services/platform/apps/billing/issuers/builtin.py
  services/platform/apps/billing/issuers/policy.py
  services/platform/apps/billing/signals.py
  services/platform/tests/billing/test_invoice_issuer_gateway.py
Due: platform

feat(billing): add SmartBill transport, response classification and pacing
  scripts/audit_model_allowlist.txt
  services/platform/apps/billing/issuers/models.py
  services/platform/apps/billing/issuers/smartbill/__init__.py
  services/platform/apps/billing/issuers/smartbill/client.py
  services/platform/apps/billing/issuers/smartbill/responses.py
  services/platform/apps/billing/migrations/0050_smartbillrategate.py
  services/platform/apps/billing/models.py
  services/platform/tests/billing/test_smartbill_client.py
  services/platform/tests/billing/test_smartbill_rate_gate.py
  services/platform/tests/billing/test_smartbill_responses.py
Due: platform

feat(billing): map PRAHO invoices to SmartBill, or refuse to
  services/platform/apps/billing/issuers/smartbill/mapper.py
  services/platform/tests/billing/test_smartbill_mapper.py
Due: platform

feat(billing): issue invoices through an external provider, safely
  services/platform/apps/billing/apps.py
  services/platform/apps/billing/issuers/base.py
  services/platform/apps/billing/issuers/builtin.py
  services/platform/apps/billing/issuers/models.py
  services/platform/apps/billing/issuers/policy.py
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/issuers/smartbill/issuer.py
  services/platform/apps/billing/issuers/tasks.py
  services/platform/apps/billing/migrations/0051_providerissuance.py
  services/platform/apps/billing/models.py
  services/platform/apps/billing/services.py
  services/platform/apps/billing/signals.py
  services/platform/tests/billing/test_invoice_issuer_gateway.py
  services/platform/tests/billing/test_provider_issuance.py
Due: platform

feat(billing): serve the provider's own document, not a copy of it
  services/platform/apps/api/billing/views.py
  services/platform/apps/billing/invoice_service.py
  services/platform/apps/billing/issuers/documents.py
  services/platform/apps/billing/issuers/smartbill/client.py
  services/platform/apps/billing/issuers/smartbill/issuer.py
  services/platform/tests/billing/test_invoice_document_source.py
Due: platform

feat(billing): reverse provider-issued invoices when a refund completes
  services/platform/apps/billing/issuers/base.py
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/issuers/smartbill/issuer.py
  services/platform/apps/billing/issuers/tasks.py
  services/platform/apps/billing/signals.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/notifications/tasks.py
  services/platform/tests/billing/test_provider_storno.py
Due: platform

feat(settings): put the invoice issuer behind an operator control
  services/platform/apps/billing/issuers/policy.py
  services/platform/apps/billing/issuers/smartbill/issuer.py
  services/platform/apps/settings/catalog.py
  services/platform/apps/settings/views.py
  services/platform/tests/billing/test_issuer_switch_preflight.py
Due: platform
