Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

fix(security): address PR #76 Copilot review findings
  services/platform/apps/billing/migrations/0017_payment_gateway_txn_id_unique.py
  services/platform/apps/integrations/webhooks/stripe.py
  services/platform/config/settings/base.py
  services/platform/config/settings/dev.py
  services/platform/config/settings/e2e.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/config/settings/test.py
Due: platform

test(security): add missing regression tests for token revocation (#60)
  services/platform/tests/api/test_api_users_security.py
Due: none

docs(api): update AUTHENTICATION.md to reflect current auth architecture
  services/platform/apps/api/AUTHENTICATION.md
Due: platform

feat(api): add token_info endpoint and ADR-0030 for token auth strategy
  docs/ADRs/ADR-0030-api-token-authentication-strategy.md
  services/platform/apps/api/users/urls.py
  services/platform/apps/api/users/views.py
  services/platform/tests/api/test_api_users_security.py
Due: platform

fix(security): harden HMAC webhook auth with int timestamps and replay dedup
  .env.example.prod
  .env.example.staging
  docs/ADRs/ADR-0030-api-token-authentication-strategy.md
  docs/architecture/ARCHITECTURE.md
  docs/architecture/diagrams/data-flow.mmd
  docs/deployment/DEPLOYMENT.md
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/apps/api/AUTHENTICATION.md
  services/platform/apps/api/secure_auth.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/middleware.py
  services/platform/apps/integrations/webhooks/stripe.py
  services/platform/config/settings/prod.py
  services/platform/tests/api/test_api_users_security.py
  services/platform/tests/api/test_customer_details_api.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/helpers/hmac.py
  services/platform/tests/settings/test_logging_configuration.py
  services/portal/apps/api_client/services.py
  services/portal/apps/orders/views.py
  services/portal/config/settings/prod.py
  services/portal/tests/security/test_hmac_malformed_headers.py
  services/portal/tests/security/test_hmac_timing_attacks.py
  services/portal/tests/settings/test_logging_configuration.py
  services/portal/tests/test_portal_security.py
  services/portal/tests/users/test_api_client_hmac.py
  tests/integration/test_security_hardening.py
Due: platform, portal

docs(security): update CHANGELOG and compliance assessment for portal_login_api lockout
  CHANGELOG.md
  docs/security/SECURITY_COMPLIANCE_ASSESSMENT.md
Due: none

docs(security): update CHANGELOG with all fix/security-hardening-batch entries
  CHANGELOG.md
Due: none

fix(security): normalize HMAC exempt paths and fix portal XFF rightmost-hop
  services/platform/apps/common/middleware.py
  services/portal/apps/common/request_ip.py
Due: platform, portal

fix(security): atomic lockout counter, timing/rate-limit comments, and test coverage
  services/platform/apps/api/users/views.py
  services/platform/apps/users/models.py
  services/platform/tests/api/test_api_users_security.py
Due: platform

docs: update CHANGELOG with atomic counter fix and Codex review findings
  CHANGELOG.md
Due: none

fix(security): harden HMAC middleware, throttle, IP extraction, and scanner
  CHANGELOG.md
  deploy/terraform/terraform.tfvars.example
  deploy/terraform/variables.tf
  scripts/security_scanner.py
  services/platform/apps/api/customers/serializers.py
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/users/views.py
  services/platform/apps/audit/signals.py
  services/platform/apps/billing/migrations/0017_payment_gateway_txn_id_unique.py
  services/platform/apps/common/decorators.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/request_ip.py
  services/platform/config/settings/base.py
  services/platform/infrastructure/terraform/modules/digitalocean/variables.tf
  services/platform/infrastructure/terraform/modules/hetzner/variables.tf
  services/platform/infrastructure/terraform/modules/linode/variables.tf
  services/platform/infrastructure/terraform/modules/vultr/variables.tf
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/common/test_common_request.py
  services/platform/tests/tickets/test_tickets_security.py
  services/portal/apps/common/decorators.py
  services/portal/config/settings/staging.py
  services/portal/tests/test_portal_security.py
Due: platform, portal

fix(security): address Codex CLI review findings on security hardening
  services/platform/apps/api/users/views.py
  services/platform/apps/common/constants.py
  services/platform/apps/common/middleware.py
  services/platform/config/settings/base.py
  services/portal/apps/common/request_ip.py
  services/portal/tests/test_portal_security.py
  tests/integration/test_security_hardening.py
Due: platform, portal

fix(security): implement full security hardening batch (7 workstreams, 35 tasks)
  CHANGELOG.md
  scripts/security_scanner.py
  services/platform/apps/api/orders/views.py
  services/platform/apps/api/secure_auth.py
  services/platform/apps/billing/migrations/0018_payment_updated_at.py
  services/platform/apps/billing/payment_models.py
  services/platform/apps/billing/payment_service.py
  services/platform/apps/integrations/webhooks/stripe.py
  services/platform/apps/users/models.py
  services/platform/config/settings/dev.py
  services/platform/config/settings/e2e.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/tests/billing/test_billing_27_todos.py
  services/platform/tests/billing/test_payment_service.py
  services/portal/apps/api_client/services.py
  services/portal/apps/common/apps.py
  services/portal/apps/common/checks.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/orders/views.py
  services/portal/config/settings/base.py
Due: platform, portal

fix(security): resolve all 11 Semgrep findings across codebase
  deploy/nginx/nginx.conf
  services/platform/apps/api/users/views.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/orders/views.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/static/js/components/toast.js
  services/portal/templates/billing/proforma_detail.html
Due: platform, portal

fix(security): nginx-ssl.conf header inheritance + stale nosemgrep comment
  deploy/nginx/nginx-ssl.conf
  services/portal/apps/common/rate_limiting.py
Due: portal

fix: harden rate-limit handling and dedupe portal feedback
  services/platform/apps/api/exception_handlers.py
  services/platform/apps/common/apps.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/apps/common/retry_after.py
  services/platform/tests/common/test_throttle_rate_validation.py
  services/portal/apps/api_client/services.py
  services/portal/apps/billing/views.py
  services/portal/apps/common/context_processors.py
  services/portal/apps/common/rate_limit_feedback.py
  services/portal/apps/common/retry_after.py
  services/portal/apps/dashboard/views.py
  services/portal/apps/services/views.py
  services/portal/apps/tickets/views.py
  services/portal/templates/billing/partials/invoices_table.html
  services/portal/templates/components/rate_limit_inline_alert.html
  services/portal/templates/services/partials/services_table.html
  services/portal/templates/tickets/partials/tickets_table.html
  services/portal/tests/api_client/test_rate_limit_retry.py
  services/portal/tests/common/test_context_processors.py
  services/portal/tests/common/test_rate_limit_feedback.py
  services/portal/tests/common/test_rate_limit_views.py
  services/portal/tests/ui/test_rate_limit_templates.py
Due: platform, portal

feat: improve rate-limit UX, 5x auth/internal limits, and idempotent retries
  services/platform/apps/api/exception_handlers.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/api/test_throttle_exception_handler.py
  services/portal/apps/api_client/services.py
  services/portal/apps/billing/services.py
  services/portal/apps/billing/views.py
  services/portal/apps/common/context_processors.py
  services/portal/apps/common/rate_limit_feedback.py
  services/portal/apps/dashboard/views.py
  services/portal/apps/services/services.py
  services/portal/apps/services/views.py
  services/portal/apps/tickets/services.py
  services/portal/apps/tickets/views.py
  services/portal/templates/base.html
  services/portal/templates/billing/partials/invoices_table.html
  services/portal/templates/dashboard/dashboard.html
  services/portal/templates/services/partials/services_table.html
  services/portal/templates/tickets/partials/tickets_table.html
  services/portal/tests/api_client/test_rate_limit_retry.py
  services/portal/tests/billing/test_billing_services.py
  services/portal/tests/common/test_context_processors.py
  services/portal/tests/common/test_rate_limit_feedback.py
  services/portal/tests/common/test_rate_limit_views.py
  services/portal/tests/integration/test_cross_service_hmac.py
  services/portal/tests/services/__init__.py
  services/portal/tests/services/test_services_api.py
  services/portal/tests/tickets/__init__.py
  services/portal/tests/tickets/test_tickets_api.py
  services/portal/tests/ui/test_rate_limit_templates.py
Due: platform, portal

docs(architecture): add ADR-0032 for dual HMAC inter-service authentication
  docs/ADRs/ADR-0032-dual-hmac-inter-service-authentication.md
Due: none

refactor: consolidate throttling architecture and add guardrails
  docs/ADRs/ADR-0030-rate-limiting-architecture.md
  docs/ADRs/README.md
  docs/architecture/ARCHITECTURE.md
  docs/architecture/diagrams/rate-limiting.mmd
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/apps/api/core/throttling.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/apps.py
  services/platform/apps/common/performance/__init__.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_throttle_architecture_guardrails.py
  services/platform/tests/api/test_throttle_exception_handler.py
  services/platform/tests/common/test_throttle_rate_validation.py
Due: platform

fix(portal): resolve 6 rate-limit follow-ups from dual AI review
  CHANGELOG.md
  services/portal/apps/api_client/services.py
  services/portal/apps/orders/services.py
  services/portal/apps/orders/views.py
  services/portal/apps/services/services.py
  services/portal/apps/tickets/services.py
  services/portal/apps/users/views.py
  services/portal/templates/base.html
  services/portal/tests/api_client/test_rate_limit_retry.py
  services/portal/tests/api_client/test_thread_safety.py
  services/portal/tests/common/test_context_processors.py
  services/portal/tests/integration/test_rate_limit_flows.py
  services/portal/tests/orders/test_rate_limit_views.py
  services/portal/tests/security/test_hmac_concurrent_attacks.py
  services/portal/tests/ui/test_rate_limit_templates.py
  services/portal/tests/users/test_login_errors.py
  tests/e2e/portal/test_rate_limit_ux.py
  tests/test_cross_service_parity.py
Due: portal

fix(portal): resolve 6 rate-limit follow-ups from dual AI review
  CHANGELOG.md
  services/platform/apps/common/retry_after.py
  services/platform/tests/common/test_retry_after.py
  services/portal/apps/api_client/services.py
  services/portal/apps/billing/services.py
  services/portal/apps/billing/views.py
  services/portal/apps/common/rate_limit_feedback.py
  services/portal/apps/common/retry_after.py
  services/portal/apps/dashboard/views.py
  services/portal/apps/services/services.py
  services/portal/apps/services/views.py
  services/portal/apps/tickets/services.py
  services/portal/apps/tickets/views.py
  services/portal/templates/components/rate_limit_inline_alert.html
  services/portal/templates/dashboard/dashboard.html
  services/portal/tests/api_client/test_rate_limit_retry.py
  services/portal/tests/billing/test_rate_limit_services.py
  services/portal/tests/common/test_rate_limit_feedback.py
  services/portal/tests/common/test_rate_limit_views.py
  services/portal/tests/common/test_retry_after.py
  services/portal/tests/dashboard/__init__.py
  services/portal/tests/dashboard/test_rate_limit_dashboard.py
  services/portal/tests/ui/test_rate_limit_templates.py
Due: platform, portal

fix(portal): close 16 silent rate-limit swallowing gaps in views
  scripts/security_scanner.py
  services/portal/apps/services/views.py
  services/portal/apps/tickets/views.py
  services/portal/apps/users/views.py
Due: portal

fix(portal): eliminate all silent rate-limit swallowing across codebase
  services/portal/apps/api_client/services.py
  services/portal/apps/common/auth.py
  services/portal/apps/common/decorators.py
  services/portal/apps/common/views.py
  services/portal/apps/dashboard/views.py
  services/portal/apps/services/services.py
  services/portal/apps/users/forms.py
  services/portal/apps/users/middleware.py
  services/portal/apps/users/views.py
Due: portal

refactor(platform): consolidate throttling middleware and rate-limit guardrails
  services/platform/apps/common/apps.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/api/test_throttle_architecture_guardrails.py
  services/platform/tests/common/test_throttle_rate_validation.py
Due: platform

fix(platform): remove unused import and redefinition in HMAC test
  services/platform/tests/api/test_hmac_middleware.py
Due: none

fix(docker): resolve 6 critical container startup failures
  deploy/ansible/playbooks/rollback.yml
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.dev.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.services.yml
  deploy/docker-compose.single-server.yml
  deploy/platform/Dockerfile
  deploy/portal/Dockerfile
  services/platform/config/settings/base.py
  services/platform/config/settings/dev.py
  services/portal/config/import_isolation_guard.py
  services/portal/config/settings/base.py
  services/portal/config/settings/dev.py
Due: none

docs: update CHANGELOG with Docker fixes, rename ADR-0030 to ADR-0031
  CHANGELOG.md
  docs/ADRs/ADR-0031-api-token-authentication-strategy.md
  docs/ADRs/ADR-0032-dual-hmac-inter-service-authentication.md
  docs/ADRs/README.md
  services/platform/tests/api/test_api_users_security.py
Due: none

refactor(portal): remove orphaned config/settings.py flat file
  services/portal/config/settings.py
Due: none

fix(deploy): harden 8 deploy infrastructure bugs (#16 #17 #18 #36 #37 #45 #46 #47)
  .dockerignore
  deploy/ansible/roles/docker/tasks/main.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/caddy/Caddyfile
  deploy/caddy/Caddyfile.platform
  deploy/caddy/Caddyfile.portal
  deploy/platform/Dockerfile
  deploy/portal/Dockerfile
  deploy/scripts/restore.sh
  deploy/scripts/rollback.sh
Due: none

fix(docker): address Codex code review findings
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.single-server.yml
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/portal/config/asgi.py
  services/portal/config/settings/prod.py
Due: none

fix(deploy): address code review findings from PR red-team
  .dockerignore
  deploy/ansible/roles/praho-native/templates/Caddyfile.native.j2
  deploy/ansible/roles/praho/templates/Caddyfile.j2
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/platform/Dockerfile
  deploy/portal/Dockerfile
  deploy/scripts/restore.sh
  deploy/scripts/rollback.sh
Due: none

fix(docker): multi-stage builds, portal entrypoint, fail-secure defaults, and review hardening
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.services.yml
  deploy/docker-compose.single-server.yml
  deploy/platform/Dockerfile
  deploy/portal/Dockerfile
  deploy/portal/entrypoint.sh
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/portal/config/asgi.py
  services/portal/config/settings/base.py
  services/portal/config/settings/prod.py
  services/portal/config/wsgi.py
Due: none

fix(docker): address Chaos Monkey review — 6 findings fixed
  Makefile
  deploy/docker-compose.services.yml
  deploy/platform/entrypoint.sh
  deploy/portal/entrypoint.sh
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
Due: none

fix(docker): resolve critical container startup failures and harden deployment config (#78)
  CHANGELOG.md
  Makefile
  deploy/ansible/playbooks/rollback.yml
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.dev.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.services.yml
  deploy/docker-compose.single-server.yml
  deploy/platform/Dockerfile
  deploy/portal/Dockerfile
  deploy/portal/entrypoint.sh
  docs/ADRs/ADR-0031-api-token-authentication-strategy.md
  docs/ADRs/ADR-0032-dual-hmac-inter-service-authentication.md
  docs/ADRs/README.md
  services/platform/config/settings/base.py
  services/platform/config/settings/dev.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/tests/api/test_api_users_security.py
  services/portal/config/asgi.py
  services/portal/config/import_isolation_guard.py
  services/portal/config/settings.py
  services/portal/config/settings/base.py
  services/portal/config/settings/dev.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
  services/portal/config/wsgi.py
Due: none

fix(security): harden DecryptionError propagation in provisioning gateways
  services/platform/apps/provisioning/secure_gateway.py
  services/platform/apps/provisioning/virtualmin_models.py
  services/platform/tests/notifications/test_unsubscribe_tokens.py
Due: platform

fix(security): address adversarial review findings from encryption consolidation
  scripts/audit_model_allowlist.txt
  services/platform/apps/audit/siem.py
  services/platform/apps/common/encryption.py
  services/platform/apps/common/key_derivation.py
  services/platform/apps/domains/api_client.py
  services/platform/apps/domains/services.py
  services/platform/apps/notifications/models.py
  services/platform/apps/notifications/services.py
  services/platform/apps/notifications/urls.py
  services/platform/apps/provisioning/secure_gateway.py
  services/platform/apps/provisioning/virtualmin_gateway.py
  services/platform/tests/common/test_encryption.py
  services/platform/tests/common/test_key_derivation.py
  services/platform/tests/notifications/test_unsubscribe_tokens.py
  services/platform/tests/provisioning/test_virtualmin_credentials.py
  services/platform/tests/settings/test_settings_security.py
  services/platform/tests/users/test_2fa_models.py
Due: platform

fix(tests): add UnsubscribeToken to audit allowlist, add DJANGO_ENCRYPTION_KEY to logging test env
  scripts/audit_model_allowlist.txt
  services/platform/tests/settings/test_logging_configuration.py
Due: none

Path conditions:
  platform: any of: services/platform/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
  portal: any of: services/portal/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
