Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

feat(portal): migrate remove-file + form-submit handlers to data-action (UNIT 2a)
  services/portal/static/js/csp-actions.js
  services/portal/templates/components/mobile_header.html
  services/portal/templates/tickets/ticket_detail.html
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
Due: none

feat(portal): migrate print/regenerate/reply-reset handlers to data-action (UNIT 2a)
  services/portal/static/js/csp-actions.js
  services/portal/templates/tickets/partials/status_and_comments.html
  services/portal/templates/users/mfa_backup_codes.html
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
Due: none

feat(portal): migrate toggle + customer-switch handlers to data-action (UNIT 2a)
  services/portal/static/js/csp-actions.js
  services/portal/templates/components/customer_selector.html
  services/portal/templates/components/mobile_header.html
  services/portal/templates/users/profile.html
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
Due: none

feat(ui): add shared delegated data-action registry for design-system components (UNIT 2a-ii)
  services/platform/templates/base.html
  services/portal/templates/base.html
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
  shared/ui/static/js/ui-actions.js
  shared/ui/templates/components/badge.html
  shared/ui/templates/components/step_progress.html
Due: none

fix(orders): surface cart errors via target-independent toast; guard cartUpdated on failure
  services/portal/apps/orders/views.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/templates/base.html
  services/portal/templates/orders/partials/cart_items.html
  services/portal/templates/orders/partials/mini_cart_content.html
  services/portal/tests/orders/test_cart_flow_fixes.py
  services/portal/tests/orders/test_cart_ux_enhancements.py
  services/portal/tests/orders/test_views.py
Due: portal

test(orders): rename cart-flow test file to avoid banned 'fix' name token
  services/portal/tests/orders/test_cart_flow_htmx_targets.py
Due: none

fix(orders): correct cart-review HTMX response/target mismatches (#459)
  CHANGELOG.md
  services/portal/apps/orders/views.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/templates/base.html
  services/portal/templates/orders/cart_review.html
  services/portal/templates/orders/partials/cart_error_notification.html
  services/portal/templates/orders/partials/cart_item_updated.html
  services/portal/templates/orders/partials/cart_items.html
  services/portal/templates/orders/partials/cart_updated.html
  services/portal/templates/orders/partials/error_message.html
  services/portal/templates/orders/partials/mini_cart_content.html
  services/portal/templates/orders/product_catalog.html
  services/portal/tests/orders/_order_regression_cases.py
  services/portal/tests/orders/test_cart_flow_htmx_targets.py
  services/portal/tests/orders/test_cart_ux_enhancements.py
  services/portal/tests/orders/test_views.py
  tests/e2e/portal/test_cart_flow_regression.py
Due: portal

feat(ui): migrate shared/ui component handlers + button caller-API to data-action (UNIT 2a-ii)
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/templates/audit/gdpr_dashboard.html
  services/platform/templates/audit/gdpr_management_dashboard.html
  services/platform/templates/audit/logs.html
  services/platform/templates/audit/partials/event_detail.html
  services/platform/templates/billing/invoice_detail.html
  services/platform/templates/domains/staff/registrar_list.html
  services/platform/templates/infrastructure/drift/remediation_list.html
  services/platform/templates/orders/order_detail.html
  services/platform/templates/users/mfa_disable.html
  services/platform/templates/users/mfa_method_selection.html
  services/platform/templates/users/mfa_regenerate_backup_codes.html
  services/platform/tests/tickets/test_ticket_list_rendering.py
  services/platform/tests/ui/test_ui_security.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/static/js/csp-actions.js
  services/portal/templates/404.html
  services/portal/templates/500.html
  services/portal/templates/styleguide/index.html
  services/portal/tests/services/test_service_status_tabs.py
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
  shared/ui/static/js/ui-actions.js
  shared/ui/templates/components/alert.html
  shared/ui/templates/components/button.html
  shared/ui/templates/components/input.html
  shared/ui/templates/components/list_page_filters.html
  shared/ui/templates/components/modal.html
  shared/ui/templates/components/table.html
Due: platform, portal

test(csp): update hx-on guardrail baseline after #459 merge (11 -> 9)
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
Due: none

feat(portal): enforce phase2-target CSP by default (UNIT 2b)
  services/portal/config/settings/base.py
  services/portal/static/js/components/toast.js
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
  services/portal/tests/ui/test_csp_nonce_policy.py
  services/portal/tests/ui/test_csp_policy_profiles.py
  shared/ui/static/js/components/toast.js
Due: none

test(csp): harden enforce-flip guardrails per review
  services/portal/config/settings/base.py
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
  services/portal/tests/ui/test_csp_nonce_policy.py
  services/portal/tests/ui/test_csp_policy_profiles.py
Due: none

test(csp): close guardrail case gaps + fix data-on* over-strip (review)
  services/platform/apps/ui/templatetags/ui_components.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
Due: platform, portal

fix(portal): clear CI lint + DB-isolation gate on CSP e2e files
  services/portal/config/settings/e2e.py
  services/portal/tests/ui/test_csp_e2e_control.py
Due: none

fix(portal): resolve CSP/handler regressions from async PR review
  services/platform/apps/ui/templatetags/ui_components.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/templates/services/partials/usage_chart.html
  services/portal/templates/services/service_usage.html
Due: platform, portal

fix(portal): avoid literal <script in usage_chart comment (nonce scan)
  services/portal/templates/services/partials/usage_chart.html
Due: none

feat(ui): UNIT 3a foundation + Cluster 1 — Alpine.data auto-dismiss primitives
  services/platform/templates/base.html
  services/portal/static/js/alpine-components.js
  services/portal/templates/base.html
  services/portal/tests/ui/test_component_toast.py
  shared/ui/static/js/alpine-shared-components.js
  shared/ui/templates/components/alert.html
  shared/ui/templates/components/section_card.html
  shared/ui/templates/components/toast.html
Due: none

feat(ui): UNIT 3a clusters 2-7 — Alpine.data conversion (6 clusters)
  services/portal/static/js/alpine-components.js
  services/portal/templates/components/cookie_consent_banner.html
  services/portal/templates/orders/checkout.html
  services/portal/templates/orders/order_confirmation.html
  services/portal/templates/orders/partials/cart_updated.html
  services/portal/templates/orders/partials/error_message.html
  services/portal/templates/orders/partials/mini_cart_content.html
  services/portal/templates/orders/product_catalog.html
  services/portal/templates/services/service_detail.html
  services/portal/tests/orders/_order_flow_cases.py
  services/portal/tests/orders/test_cart_ux_enhancements.py
  shared/ui/static/js/alpine-shared-components.js
  shared/ui/templates/components/dangerous_action_modal.html
  shared/ui/templates/components/nav_dropdown.html
Due: none

feat(portal): eval-free runtime — @alpinejs/csp build + delegated htmx handlers (UNIT 3b+3c)
  services/portal/static/js/alpine-csp.min.js
  services/portal/static/js/alpine.min.js
  services/portal/static/js/csp-actions.js
  services/portal/templates/base.html
  services/portal/templates/billing/partials/header_action.html
  services/portal/templates/orders/cart_review.html
  services/portal/templates/orders/partials/cart_items.html
  services/portal/templates/orders/partials/cart_updated.html
  services/portal/templates/orders/partials/mini_cart_content.html
  services/portal/templates/orders/product_catalog.html
  services/portal/templates/orders/product_detail.html
  services/portal/templates/tickets/partials/status_and_comments.html
  services/portal/tests/orders/_order_regression_cases.py
  services/portal/tests/orders/test_cart_flow_htmx_targets.py
  services/portal/tests/ui/test_alpine_csp_build.py
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
Due: none

feat(portal): enforce phase3-target CSP by default (UNIT 3d)
  services/portal/config/settings/base.py
  services/portal/tests/ui/test_csp_policy_profiles.py
Due: none

feat(portal): remove unsafe-eval — Alpine CSP build, delegated HTMX handlers, enforce phase3-target (#461)
  services/platform/templates/base.html
  services/portal/config/settings/base.py
  services/portal/static/js/alpine-components.js
  services/portal/static/js/alpine-csp.min.js
  services/portal/static/js/alpine.min.js
  services/portal/static/js/csp-actions.js
  services/portal/templates/base.html
  services/portal/templates/billing/partials/header_action.html
  services/portal/templates/components/cookie_consent_banner.html
  services/portal/templates/orders/cart_review.html
  services/portal/templates/orders/checkout.html
  services/portal/templates/orders/order_confirmation.html
  services/portal/templates/orders/partials/cart_items.html
  services/portal/templates/orders/partials/cart_updated.html
  services/portal/templates/orders/partials/error_message.html
  services/portal/templates/orders/partials/mini_cart_content.html
  services/portal/templates/orders/product_catalog.html
  services/portal/templates/orders/product_detail.html
  services/portal/templates/services/service_detail.html
  services/portal/templates/tickets/partials/status_and_comments.html
  services/portal/tests/orders/_order_flow_cases.py
  services/portal/tests/orders/_order_regression_cases.py
  services/portal/tests/orders/test_cart_flow_htmx_targets.py
  services/portal/tests/orders/test_cart_ux_enhancements.py
  services/portal/tests/ui/test_alpine_csp_build.py
  services/portal/tests/ui/test_component_toast.py
  services/portal/tests/ui/test_csp_handler_inventory_guardrail.py
  services/portal/tests/ui/test_csp_policy_profiles.py
  shared/ui/static/js/alpine-shared-components.js
  shared/ui/templates/components/alert.html
  shared/ui/templates/components/dangerous_action_modal.html
  shared/ui/templates/components/nav_dropdown.html
  shared/ui/templates/components/section_card.html
  shared/ui/templates/components/toast.html
Due: none

fix(ui): harden delegated action registry dispatch
  services/portal/static/js/csp-actions.js
  services/portal/tests/ui/test_registry_invoke_allowlist.py
  shared/ui/static/js/ui-actions.js
Due: none

test(ui): whitespace-tolerant fail-closed assertion
  services/portal/tests/ui/test_registry_invoke_allowlist.py
Due: none

fix(ui): harden delegated action registry dispatch (#463)
  services/portal/static/js/csp-actions.js
  services/portal/tests/ui/test_registry_invoke_allowlist.py
  shared/ui/static/js/ui-actions.js
Due: none

test(migrations): restore the current leaf, not a hardcoded one (#445) (#446)
  services/platform/tests/billing/test_billing_operator_controls_migration.py
  services/platform/tests/billing/test_efactura_submission_integrity_migration.py
  services/platform/tests/billing/test_fxrate_migration.py
  services/platform/tests/customers/test_payment_method_encryption_migration.py
  services/platform/tests/customers/test_vat_rate_override_migration.py
  services/platform/tests/helpers/migrations.py
Due: none

fix(build): stop the pre-commit fallback from pruning the venv
  CHANGELOG.md
  Makefile
  docs/development/GRADUAL_TYPING_CONFIGURATION.md
  docs/security/MFA-SETUP-AND-KEY-MANAGEMENT.md
Due: none

build(css): raise Tailwind CLI floor to 4.3.3 and rebuild the stale bundles
  package.json
  services/platform/static/css/tailwind.min.css
  services/portal/static/css/tailwind.min.css
Due: none

fix(domains): process domain-order renew items and log unhandled actions (#435)
  CHANGELOG.md
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_domain_service_logic.py
Due: platform

feat(build): fail fast when the venv is missing the platform group
  CHANGELOG.md
  Makefile
Due: none

fix(ui): reconnect the Tailwind design system to the build
  CHANGELOG.md
  Makefile
  assets/css/input.css
  assets/css/platform.css
  assets/css/portal.css
  docs/ADRs/ADR-0035-unified-design-system.md
  docs/architecture/ARCHITECTURE.md
  docs/architecture/ui-ux/design-system.md
  package.json
  services/platform/assets/tailwind.config.js
  services/platform/static/css/tailwind.min.css
  services/platform/tailwind.config.js
  services/portal/static/css/tailwind.min.css
  services/portal/tailwind.config.js
  shared/README.md
  shared/tailwind.preset.js
Due: none

feat(domains): durable idempotency token for domain renewal (#259)
  CHANGELOG.md
  services/platform/apps/domains/gateways/base.py
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_domain_service_logic.py
  services/platform/tests/domains/test_renewal_idempotency_token.py
Due: platform

feat(domains): durable idempotency token for domain renewal (#458)
  CHANGELOG.md
  services/platform/apps/domains/gateways/base.py
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_domain_service_logic.py
  services/platform/tests/domains/test_renewal_idempotency_token.py
Due: platform

fix(domains): stop releasing the idempotency claim on ambiguous registrar outcomes
  services/platform/apps/domains/gateways/base.py
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_domain_service_logic.py
  services/platform/tests/domains/test_gateway_phase2.py
  services/platform/tests/domains/test_registrar_gateways.py
  services/platform/tests/domains/test_renewal_idempotency_token.py
Due: platform

fix(domains): harden circuit-breaker bookkeeping and correct a test's error type
  services/platform/apps/domains/gateways/base.py
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_registrar_gateways.py
Due: platform

fix(domains): stop releasing the idempotency claim on ambiguous registrar outcomes (#464)
  services/platform/apps/domains/gateways/base.py
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_domain_service_logic.py
  services/platform/tests/domains/test_gateway_phase2.py
  services/platform/tests/domains/test_registrar_gateways.py
  services/platform/tests/domains/test_renewal_idempotency_token.py
Due: platform

perf(users): index the two APIToken expiry access patterns (#246)
  CHANGELOG.md
  services/platform/apps/users/migrations/0005_apitoken_apitoken_expires_at_idx_and_more.py
  services/platform/apps/users/models.py
  services/platform/tests/users/test_apitoken_expiry_indexes.py
Due: platform

fix(infrastructure): report whether the panel certificate is CA-trusted (#436)
  CHANGELOG.md
  services/platform/apps/infrastructure/validation_service.py
  services/platform/tests/infrastructure/test_ssl_trust_reporting.py
Due: platform

fix(infrastructure): give stranded Virtualmin nodes a pin remediation path (#337)
  CHANGELOG.md
  docs/deployment/DEPLOYMENT.md
  services/platform/apps/infrastructure/management/commands/pin_virtualmin_certificates.py
  services/platform/tests/infrastructure/test_registration_tls_pin.py
Due: platform

fix(provisioning): make account-scoped backup listing return backups (#431)
  CHANGELOG.md
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/tests/provisioning/test_backup_list_filtering.py
Due: platform

fix(domains): canonicalize Domain.name on save (#442)
  CHANGELOG.md
  services/platform/apps/domains/migrations/0006_canonicalize_domain_name.py
  services/platform/apps/domains/models.py
  services/platform/tests/domains/test_domain_name_canonicalization.py
Due: platform

Path conditions:
  platform: any of: services/platform/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
  portal: any of: services/portal/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
