Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

refactor(tickets): unify comment visibility on is_public across web + API (#278)
  CHANGELOG.md
  services/platform/apps/api/tickets/serializers.py
  services/platform/apps/api/tickets/views.py
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/tickets/models.py
  services/platform/apps/tickets/views.py
  services/platform/templates/tickets/partials/comments_list.html
  services/platform/tests/tickets/test_tickets_comments.py
Due: platform

fix(promotions): make redemption reversal a compare-and-swap (#421)
  CHANGELOG.md
  services/platform/apps/promotions/models.py
  services/platform/apps/promotions/services.py
  services/platform/tests/promotions/test_services_advanced.py
Due: platform

fix(audit): let sanctioned deletions remove reviewed events (#400)
  CHANGELOG.md
  services/platform/apps/audit/migrations/0009_auditeventreview.py
  services/platform/apps/audit/models.py
  services/platform/apps/audit/views.py
  services/platform/templates/audit/management_dashboard.html
  services/platform/templates/audit/review_queue.html
  services/platform/tests/audit/test_audit_review_queue.py
Due: platform

docs(encryption): state what "0 rekeyed" does not prove (#270)
  CHANGELOG.md
  services/platform/apps/common/encryption.py
  services/platform/apps/common/management/commands/reencrypt_with_aad.py
  services/platform/tests/common/test_reencrypt_with_aad.py
Due: platform

test(encryption): cover reencrypt_with_aad against PostgreSQL jsonb (#270) (#447)
  services/platform/apps/common/management/commands/reencrypt_with_aad.py
  tests/integration/test_reencrypt_with_aad_postgres.py
Due: platform

feat(encryption): add --rekey so key rotation can actually complete (#270) (#455)
  CHANGELOG.md
  services/platform/apps/common/encryption.py
  services/platform/apps/common/management/commands/reencrypt_with_aad.py
  services/platform/tests/common/test_reencrypt_with_aad.py
Due: platform

feat(audit): review queue for flagged events (#400) (#448)
  CHANGELOG.md
  scripts/audit_model_allowlist.txt
  services/platform/apps/audit/migrations/0009_auditeventreview.py
  services/platform/apps/audit/models.py
  services/platform/apps/audit/urls.py
  services/platform/apps/audit/views.py
  services/platform/templates/audit/management_dashboard.html
  services/platform/templates/audit/review_queue.html
  services/platform/tests/audit/test_audit_review_queue.py
Due: platform

security(api): portal-key the billing-address throttle and sweep same-pattern sites (#277) (#443)
  CHANGELOG.md
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/orders/views.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/tests/api/test_throttle_architecture_guardrails.py
Due: platform

security(api): throttle the unsigned path on HMAC endpoints (#277)
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/gdpr/views.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/tests/api/test_throttle_architecture_guardrails.py
Due: platform

test(api): make the unsigned-traffic sweep catch explicit empty throttle overrides
  services/platform/tests/api/test_throttle_architecture_guardrails.py
Due: none

security(api): throttle the unsigned path on HMAC endpoints (#277) (#468)
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/gdpr/views.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/tests/api/test_throttle_architecture_guardrails.py
Due: platform

security(api): per-portal HMAC credential registry (#277)
  docs/security/portal-hmac-registry.md
  services/platform/apps/common/apps.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/portal_hmac.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_portal_registry_hmac.py
  services/portal/apps/api_client/services.py
  services/portal/config/settings/base.py
  services/portal/tests/api_client/test_portal_signing_secret.py
Due: platform, portal

fix(portal): satisfy strict portal mypy in _resolve_portal_signing_secret
  services/portal/apps/api_client/services.py
Due: portal

fix(deploy): forward per-portal HMAC vars into containers; sharpen audit warnings (#277)
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.dev.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.services.yml
  deploy/docker-compose.single-server.yml
  docs/security/portal-hmac-registry.md
  services/platform/apps/common/middleware.py
  services/platform/apps/common/portal_hmac.py
  services/platform/tests/api/test_portal_registry_hmac.py
  services/portal/config/settings/base.py
Due: platform

security(api): per-portal HMAC credential registry (#469)
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.dev.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.services.yml
  deploy/docker-compose.single-server.yml
  docs/security/portal-hmac-registry.md
  services/platform/apps/common/apps.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/portal_hmac.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_portal_registry_hmac.py
  services/portal/apps/api_client/services.py
  services/portal/config/settings/base.py
  services/portal/tests/api_client/test_portal_signing_secret.py
Due: platform, portal

fix(tickets): close the API attachment-download visibility bypass (#278)
  services/platform/apps/api/tickets/serializers.py
  services/platform/apps/api/tickets/views.py
  services/platform/apps/tickets/models.py
  services/platform/tests/tickets/test_ticket_attachment_visibility.py
Due: platform

test(tickets): close two review-found blind spots in visibility coverage (#278)
  services/platform/tests/tickets/test_ticket_attachment_visibility.py
Due: none

fix(tickets): annotate only the serialized page; accurate download guard text (#278)
  services/platform/apps/api/tickets/views.py
  services/platform/apps/tickets/views.py
Due: platform

fix(tickets): per-class media root kills a fork-parallel test race (#278)
  services/platform/apps/api/tickets/serializers.py
  services/platform/apps/tickets/models.py
  services/platform/tests/tickets/test_ticket_attachment_visibility.py
Due: platform

refactor(tickets): unify comment visibility on is_public across web + API (#470)
  CHANGELOG.md
  services/platform/apps/api/tickets/serializers.py
  services/platform/apps/api/tickets/views.py
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/tickets/models.py
  services/platform/apps/tickets/views.py
  services/platform/templates/tickets/partials/comments_list.html
  services/platform/tests/tickets/test_ticket_attachment_visibility.py
  services/platform/tests/tickets/test_tickets_comments.py
Due: platform

fix(domains): canonicalize Domain.name on save (#442)
  CHANGELOG.md
  services/platform/apps/domains/migrations/0006_canonicalize_domain_name.py
  services/platform/apps/domains/models.py
  services/platform/tests/domains/test_domain_name_canonicalization.py
Due: platform

fix(domains): detect every canonicalization collision up front (#442)
  services/platform/apps/domains/migrations/0006_canonicalize_domain_name.py
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_domain_name_canonicalization.py
Due: platform

fix(domains): one canonical form for every writer AND reader (#442)
  CHANGELOG.md
  services/platform/apps/domains/domain_names.py
  services/platform/apps/domains/management/commands/create_sample_domains.py
  services/platform/apps/domains/management/commands/domain_sync.py
  services/platform/apps/domains/migrations/0006_canonicalize_domain_name.py
  services/platform/apps/domains/models.py
  services/platform/apps/domains/services.py
  services/platform/apps/domains/webhooks.py
  services/platform/tests/domains/test_domain_name_canonicalization.py
Due: platform

fix(domains): canonicalize Domain.name on save (#472)
  CHANGELOG.md
  services/platform/apps/domains/domain_names.py
  services/platform/apps/domains/management/commands/create_sample_domains.py
  services/platform/apps/domains/management/commands/domain_sync.py
  services/platform/apps/domains/migrations/0006_canonicalize_domain_name.py
  services/platform/apps/domains/models.py
  services/platform/apps/domains/services.py
  services/platform/apps/domains/webhooks.py
  services/platform/tests/domains/test_domain_name_canonicalization.py
Due: platform

perf(users): index the two APIToken expiry access patterns (#246)
  CHANGELOG.md
  services/platform/apps/users/migrations/0005_apitoken_apitoken_expires_at_idx_and_more.py
  services/platform/apps/users/models.py
  services/platform/tests/users/test_apitoken_expiry_indexes.py
Due: platform

perf(users): drop the composite expiry index the real query never uses (#246)
  CHANGELOG.md
  services/platform/apps/users/migrations/0005_apitoken_apitoken_expires_at_idx_and_more.py
  services/platform/apps/users/models.py
  services/platform/tests/users/test_apitoken_expiry_indexes.py
Due: platform

test(users): enforce the no-seq-scan invariant on PostgreSQL too (#246)
  services/platform/tests/users/test_apitoken_expiry_indexes.py
Due: none

perf(users): correct the composite-drop rationale; plan the exact statements (#246)
  CHANGELOG.md
  services/platform/apps/users/migrations/0005_apitoken_apitoken_expires_at_idx_and_more.py
  services/platform/apps/users/migrations/0005_apitoken_expires_at_idx.py
  services/platform/apps/users/models.py
  services/platform/tests/users/test_apitoken_expiry_indexes.py
Due: platform

perf(users): index the APIToken expiry purge (#474)
  CHANGELOG.md
  services/platform/apps/users/migrations/0005_apitoken_expires_at_idx.py
  services/platform/apps/users/models.py
  services/platform/tests/users/test_apitoken_expiry_indexes.py
Due: platform

fix(provisioning): make account-scoped backup listing return backups (#431)
  CHANGELOG.md
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/tests/provisioning/test_backup_list_filtering.py
Due: platform

fix(provisioning): account identity for backups is the stable service id (#431)
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/tests/provisioning/test_backup_list_filtering.py
Due: platform

fix(provisioning): make account-scoped backup listing return backups (#475)
  CHANGELOG.md
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/tests/provisioning/test_backup_list_filtering.py
Due: platform

chore(orders): stop sending the dead payment_status field (#104 H11)
  services/platform/tests/orders/test_order_flow_security.py
  services/portal/apps/orders/views.py
Due: portal

test(orders): guard the change that was actually made (#104 H11)
  services/platform/tests/orders/test_order_flow_security.py
  services/portal/tests/orders/test_confirm_payment_user_id.py
Due: none

chore(orders): stop sending the dead payment_status field (#476)
  services/platform/tests/orders/test_order_flow_security.py
  services/portal/apps/orders/views.py
  services/portal/tests/orders/test_confirm_payment_user_id.py
Due: portal

security(audit): keyed hash-chain ledger with external anchoring (#313)
  scripts/audit_model_allowlist.txt
  services/platform/apps/audit/management/commands/anchor_audit_chain.py
  services/platform/apps/audit/management/commands/backfill_audit_chain.py
  services/platform/apps/audit/management/commands/run_integrity_check.py
  services/platform/apps/audit/migrations/0010_auditchainhead_auditchainlink.py
  services/platform/apps/audit/migrations/0011_auditchainanchor.py
  services/platform/apps/audit/migrations/0012_alter_auditevent_timestamp.py
  services/platform/apps/audit/models.py
  services/platform/apps/audit/services.py
  services/platform/apps/audit/signals.py
  services/platform/apps/common/key_derivation.py
  services/platform/config/settings/base.py
  services/platform/tests/audit/test_audit_chain_ledger.py
  services/platform/tests/audit/test_audit_integrity_hash.py
  services/platform/tests/audit/test_audit_management.py
  services/platform/tests/audit/test_audit_services_regressions.py
Due: platform

docs(security): rollout runbook for the audit chain ledger (#313)
  docs/security/audit-chain-ledger.md
Due: none

security(audit): close the review findings on the chain ledger (#313)
  docs/security/audit-chain-ledger.md
  services/platform/apps/audit/management/commands/backfill_audit_chain.py
  services/platform/apps/audit/services.py
  services/platform/apps/audit/tasks.py
  services/platform/tests/audit/test_audit_chain_ledger.py
Due: platform

security(audit): keyed hash-chain ledger with external anchoring (#477)
  docs/security/audit-chain-ledger.md
  scripts/audit_model_allowlist.txt
  services/platform/apps/audit/management/commands/anchor_audit_chain.py
  services/platform/apps/audit/management/commands/backfill_audit_chain.py
  services/platform/apps/audit/management/commands/run_integrity_check.py
  services/platform/apps/audit/migrations/0010_auditchainhead_auditchainlink.py
  services/platform/apps/audit/migrations/0011_auditchainanchor.py
  services/platform/apps/audit/migrations/0012_alter_auditevent_timestamp.py
  services/platform/apps/audit/models.py
  services/platform/apps/audit/services.py
  services/platform/apps/audit/signals.py
  services/platform/apps/audit/tasks.py
  services/platform/apps/common/key_derivation.py
  services/platform/config/settings/base.py
  services/platform/tests/audit/test_audit_chain_ledger.py
  services/platform/tests/audit/test_audit_integrity_hash.py
  services/platform/tests/audit/test_audit_management.py
  services/platform/tests/audit/test_audit_services_regressions.py
Due: platform

Path conditions:
  platform: any of: services/platform/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
  portal: any of: services/portal/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
