Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

codecov.yml:

# Codecov configuration for PRAHO two-service architecture
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 90%

flags:
  platform:
    paths:
      - services/platform/apps/
    carryforward: true
  portal:
    paths:
      - services/portal/apps/
    carryforward: true

ignore:
  - "*/migrations/*"
  - "*/tests/*"
  - "*/settings/*"
  - "manage.py"
  - "*/wsgi.py"
  - "*/asgi.py"
  - "scripts/*"
  - "docs/*"
  - "tests/*"

test: allow the body-guard tests to be identical in both services
  scripts/test_layout_allowlist.json
Due: none

feat(deploy): portal logs survive several processes, and Caddy buffers slow clients
  CHANGELOG.md
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/Caddyfile.native.j2
  deploy/ansible/roles/praho-native/templates/praho-portal.logrotate.j2
  deploy/caddy/Caddyfile
  deploy/caddy/Caddyfile.portal
  deploy/portal/Dockerfile
  docs/deployment/DEPLOYMENT.md
  services/portal/config/server_settings.py
  services/portal/config/settings/logging_config.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
  services/portal/tests/common/test_logging_config.py
  tests/deploy/test_caddy_routing.py
Due: none

fix: refuse a request body cut off by the proxy, instead of saving a partial request
  CHANGELOG.md
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/Caddyfile.native.j2
  deploy/ansible/roles/praho-native/templates/praho-portal.logrotate.j2
  deploy/ansible/roles/praho-native/templates/praho-portal.service.j2
  deploy/caddy/Caddyfile
  deploy/caddy/Caddyfile.portal
  docs/deployment/DEPLOYMENT.md
  services/platform/apps/common/complete_body.py
  services/platform/config/wsgi.py
  services/platform/tests/common/test_complete_body.py
  services/portal/apps/common/complete_body.py
  services/portal/config/wsgi.py
  services/portal/tests/common/test_complete_body.py
  services/portal/tests/settings/test_logging_configuration.py
  tests/deploy/test_caddy_routing.py
  tests/integration/test_cross_service_parity.py
Due: platform, portal

feat(deploy): portal logs survive several processes, and slow or cut-off uploads never reach a thread (#654)
  CHANGELOG.md
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/Caddyfile.native.j2
  deploy/ansible/roles/praho-native/templates/praho-portal.logrotate.j2
  deploy/ansible/roles/praho-native/templates/praho-portal.service.j2
  deploy/caddy/Caddyfile
  deploy/caddy/Caddyfile.portal
  deploy/portal/Dockerfile
  docs/deployment/DEPLOYMENT.md
  docs/deployment/HTTPS_DEPLOYMENT_CHECKLIST.md
  scripts/test_layout_allowlist.json
  services/platform/apps/common/complete_body.py
  services/platform/config/wsgi.py
  services/platform/tests/common/test_complete_body.py
  services/portal/apps/common/complete_body.py
  services/portal/config/server_settings.py
  services/portal/config/settings/logging_config.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
  services/portal/config/wsgi.py
  services/portal/tests/common/test_complete_body.py
  services/portal/tests/common/test_logging_config.py
  services/portal/tests/settings/test_logging_configuration.py
  tests/deploy/test_caddy_routing.py
  tests/integration/test_cross_service_parity.py
Due: platform, portal

feat(deploy): the portal serves requests on threads
  .github/workflows/portal.yml
  CHANGELOG.md
  Makefile
  deploy/ansible/roles/praho-native/defaults/main.yml
  docs/ADRs/ADR-0056-portal-serves-requests-on-threads.md
  docs/ADRs/README.md
  docs/deployment/DEPLOYMENT.md
  services/portal/config/server_settings.py
  services/portal/pytest.ini
  services/portal/tests/common/test_server_settings.py
  services/portal/tests/server/__init__.py
  services/portal/tests/server/harness.py
  services/portal/tests/server/test_threaded_workers.py
Due: none

test(portal): sessions, counters and claims stay exact across threads
  services/portal/tests/common/test_sqlite_under_threads.py
Due: none

docs: the CHANGELOG's server-settings entry points at the threaded default
  CHANGELOG.md
Due: none

fix(portal): every per-record session map merges per record, and the server tests cannot pass by timeout
  Makefile
  docs/ADRs/ADR-0056-portal-serves-requests-on-threads.md
  services/portal/apps/common/session_store.py
  services/portal/tests/common/test_session_store.py
  services/portal/tests/server/conftest.py
  services/portal/tests/server/harness.py
  services/portal/tests/server/test_threaded_workers.py
Due: portal

feat(deploy): the portal serves requests on threads (#655)
  .github/workflows/portal.yml
  CHANGELOG.md
  Makefile
  deploy/ansible/roles/praho-native/defaults/main.yml
  docs/ADRs/ADR-0056-portal-serves-requests-on-threads.md
  docs/ADRs/README.md
  docs/deployment/DEPLOYMENT.md
  services/portal/apps/common/session_store.py
  services/portal/config/server_settings.py
  services/portal/pytest.ini
  services/portal/tests/common/test_server_settings.py
  services/portal/tests/common/test_session_store.py
  services/portal/tests/common/test_sqlite_under_threads.py
  services/portal/tests/server/__init__.py
  services/portal/tests/server/conftest.py
  services/portal/tests/server/harness.py
  services/portal/tests/server/test_threaded_workers.py
Due: portal

fix(users): a failed login gives no sign that the email exists
  services/platform/apps/api/users/views.py
  services/platform/apps/users/views.py
  services/platform/tests/users/test_authentication_views.py
  services/platform/tests/users/test_login_reveals_no_account.py
  services/platform/tests/users/test_security_lockout.py
Due: platform

fix(portal): every login takes at least one second, so time reveals no account
  CHANGELOG.md
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.single-server.yml
  docs/deployment/DEPLOYMENT.md
  services/portal/apps/api_client/services.py
  services/portal/config/settings/base.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
  services/portal/tests/api_client/test_authenticate_customer_padding.py
  services/portal/tests/api_client/test_login_floor_setting.py
  services/portal/tests/users/test_login_page_reveals_no_account.py
Due: portal

fix(users): every login refusal leaves the same trace, and a lock cannot be extended
  CHANGELOG.md
  docs/deployment/DEPLOYMENT.md
  services/platform/apps/api/users/views.py
  services/platform/apps/users/views.py
  services/platform/tests/users/test_login_reveals_no_account.py
  services/portal/config/settings/base.py
  services/portal/tests/api_client/test_login_floor_setting.py
Due: platform

fix(users): a lock in force is never counted against or extended, even by failures already in flight
  services/platform/apps/users/models.py
  services/platform/tests/users/test_authentication_models_enhanced.py
  services/platform/tests/users/test_lock_not_extended_by_stale_callers.py
  services/platform/tests/users/test_login_second_factor_verifier.py
Due: platform

test(users): the lockout ladder's next step follows the previous lock's expiry
  services/platform/tests/api/test_login_client_ip_limits.py
Due: none

fix(users): a failed login gives no sign that the email exists (#657)
  CHANGELOG.md
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.single-server.yml
  docs/deployment/DEPLOYMENT.md
  services/platform/apps/api/users/views.py
  services/platform/apps/users/models.py
  services/platform/apps/users/views.py
  services/platform/tests/api/test_login_client_ip_limits.py
  services/platform/tests/users/test_authentication_models_enhanced.py
  services/platform/tests/users/test_authentication_views.py
  services/platform/tests/users/test_lock_not_extended_by_stale_callers.py
  services/platform/tests/users/test_login_reveals_no_account.py
  services/platform/tests/users/test_login_second_factor_verifier.py
  services/platform/tests/users/test_security_lockout.py
  services/portal/apps/api_client/services.py
  services/portal/config/settings/base.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
  services/portal/tests/api_client/test_authenticate_customer_padding.py
  services/portal/tests/api_client/test_login_floor_setting.py
  services/portal/tests/users/test_login_page_reveals_no_account.py
Due: platform, portal

fix(portal): access denied is authoritative too, and the load error is announced as an alert
  services/portal/apps/billing/services.py
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/templates/billing/invoice_not_found.html
  services/portal/templates/billing/proforma_not_found.html
  services/portal/tests/billing/test_document_not_found_vs_unavailable.py
  services/portal/tests/common/test_platform_unreachable.py
Due: portal

fix(portal): an invoice or proforma is "not found" only when Platform says so
  CHANGELOG.md
  services/portal/apps/billing/services.py
  services/portal/apps/billing/views.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/templates/billing/invoice_not_found.html
  services/portal/templates/billing/proforma_not_found.html
  services/portal/tests/billing/test_document_not_found_vs_unavailable.py
  services/portal/tests/billing/test_rate_limit_services.py
Due: portal

fix(portal): an invoice or proforma is "not found" only when Platform says so (#658)
  CHANGELOG.md
  services/portal/apps/billing/services.py
  services/portal/apps/billing/views.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/templates/billing/invoice_not_found.html
  services/portal/templates/billing/proforma_not_found.html
  services/portal/tests/billing/test_document_not_found_vs_unavailable.py
  services/portal/tests/billing/test_rate_limit_services.py
  services/portal/tests/common/test_platform_unreachable.py
Due: portal

fix(deploy): hand log backups over only after every writer restarted, and keep media servable
  CHANGELOG.md
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/praho-platform.logrotate.j2
  deploy/ansible/roles/praho-native/templates/praho-platform.service.j2
  deploy/ansible/roles/praho-native/templates/praho-qcluster.service.j2
Due: none

fix(deploy): hand the old log backups over to logrotate on upgrade
  CHANGELOG.md
  deploy/ansible/roles/praho-native/tasks/main.yml
  docs/deployment/DEPLOYMENT.md
Due: none

fix(deploy): hand log backups over as the service user, not root
  deploy/ansible/roles/praho-native/tasks/main.yml
Due: none

fix(deploy): keep logrotate idle while its policies and the backup handover change
  deploy/ansible/roles/praho-native/tasks/main.yml
Due: none

fix(deploy): switch on log rotation only after every writer restarted
  deploy/ansible/roles/praho-native/tasks/main.yml
Due: none

fix(deploy): the backup handover never fails on an existing .gz, and rollback says what to remove
  deploy/ansible/roles/praho-native/tasks/main.yml
  docs/deployment/DEPLOYMENT.md
Due: none

fix(platform): log files no longer lose lines when several processes write them
  CHANGELOG.md
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/praho-platform.logrotate.j2
  deploy/ansible/roles/praho-native/templates/praho-platform.service.j2
  deploy/ansible/roles/praho-native/templates/praho-qcluster.service.j2
  deploy/platform/Dockerfile
  docs/deployment/DEPLOYMENT.md
  docs/deployment/HTTPS_DEPLOYMENT_CHECKLIST.md
  services/platform/config/settings/log_files.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/tests/settings/test_log_files.py
  services/platform/tests/settings/test_logging_configuration.py
Due: none

fix(platform): log files no longer lose lines when several processes write them (#656)
  CHANGELOG.md
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/praho-platform.logrotate.j2
  deploy/platform/Dockerfile
  docs/deployment/DEPLOYMENT.md
  docs/deployment/HTTPS_DEPLOYMENT_CHECKLIST.md
  services/platform/config/settings/log_files.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/tests/settings/test_log_files.py
  services/platform/tests/settings/test_logging_configuration.py
Due: none

fix(api): a password-reset request takes the same time whatever the email
  CHANGELOG.md
  services/platform/apps/api/users/serializers.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/management/commands/run_e2e_tasks.py
  services/platform/apps/users/services.py
  services/platform/apps/users/tasks.py
  services/platform/tests/api/test_password_recovery.py
  services/platform/tests/common/test_e2e_seed_contracts.py
  tests/e2e/conftest.py
  tests/e2e/portal/test_password_recovery_workflow.py
Due: platform

fix(deploy): run the task worker on Docker, and never send a late reset mail
  CHANGELOG.md
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.single-server.yml
  docs/deployment/DEPLOYMENT.md
  docs/domain/CUSTOMER_RECOVERY_AND_SERVICE_REQUESTS.md
  scripts/settings_reader_baseline.txt
  services/platform/apps/api/users/serializers.py
  services/platform/apps/common/management/commands/run_e2e_tasks.py
  services/platform/apps/users/tasks.py
  services/platform/tests/api/test_password_recovery.py
  services/platform/tests/api/test_password_reset_api.py
  services/platform/tests/api/users/test_email_sender.py
  services/platform/tests/common/test_e2e_seed_contracts.py
  services/platform/tests/helpers/task_queue.py
  tests/deploy/test_compose_task_worker.py
Due: platform

fix(api): a password-reset request takes the same time whatever the email (#659)
  CHANGELOG.md
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.single-server.yml
  docs/deployment/DEPLOYMENT.md
  docs/domain/CUSTOMER_RECOVERY_AND_SERVICE_REQUESTS.md
  scripts/settings_reader_baseline.txt
  services/platform/apps/api/users/serializers.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/management/commands/run_e2e_tasks.py
  services/platform/apps/users/services.py
  services/platform/apps/users/tasks.py
  services/platform/tests/api/test_password_recovery.py
  services/platform/tests/api/test_password_reset_api.py
  services/platform/tests/api/users/test_email_sender.py
  services/platform/tests/common/test_e2e_seed_contracts.py
  services/platform/tests/helpers/task_queue.py
  tests/deploy/test_compose_task_worker.py
  tests/e2e/conftest.py
  tests/e2e/portal/test_password_recovery_workflow.py
Due: platform

feat(users): pending registrations confirmed by the mailbox holder
  scripts/audit_model_allowlist.txt
  services/platform/apps/api/users/serializers.py
  services/platform/apps/api/users/urls.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/apps/users/apps.py
  services/platform/apps/users/migrations/0002_pending_registration.py
  services/platform/apps/users/pending_registration.py
  services/platform/apps/users/registration_confirmation.py
  services/platform/apps/users/services.py
  services/platform/apps/users/tasks.py
  services/platform/config/settings/base.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/templates/users/emails/registration_confirm.html
  services/platform/templates/users/emails/registration_confirm.txt
  services/platform/templates/users/emails/registration_existing_account.html
  services/platform/templates/users/emails/registration_existing_account.txt
  services/platform/tests/api/test_throttle_architecture_guardrails.py
  services/platform/tests/common/test_throttle_rate_validation.py
  services/platform/tests/users/test_pending_registration.py
Due: platform

fix(users): pin consent, mark a link sent before it leaves, and cap mails per address
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/apps/api/users/views.py
  services/platform/apps/common/apps.py
  services/platform/apps/users/migrations/0002_pending_registration.py
  services/platform/apps/users/pending_registration.py
  services/platform/apps/users/registration_confirmation.py
  services/platform/apps/users/services.py
  services/platform/apps/users/tasks.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/api/test_throttle_architecture_guardrails.py
  services/platform/tests/users/test_pending_registration.py
Due: platform

feat(users): pending registrations confirmed by the mailbox holder (#660)
  docs/security/SECURITY_CONFIGURATION.md
  scripts/audit_model_allowlist.txt
  services/platform/apps/api/users/serializers.py
  services/platform/apps/api/users/urls.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/apps.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/apps/users/apps.py
  services/platform/apps/users/migrations/0002_pending_registration.py
  services/platform/apps/users/pending_registration.py
  services/platform/apps/users/registration_confirmation.py
  services/platform/apps/users/services.py
  services/platform/apps/users/tasks.py
  services/platform/config/settings/base.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/templates/users/emails/registration_confirm.html
  services/platform/templates/users/emails/registration_confirm.txt
  services/platform/templates/users/emails/registration_existing_account.html
  services/platform/templates/users/emails/registration_existing_account.txt
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/api/test_throttle_architecture_guardrails.py
  services/platform/tests/common/test_throttle_rate_validation.py
  services/platform/tests/users/test_pending_registration.py
Due: platform

feat(portal): confirm a registration from its emailed link
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/apps/api/users/serializers.py
  services/platform/apps/api/users/urls.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/middleware.py
  services/platform/apps/users/registration_confirmation.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/users/test_pending_registration.py
  services/portal/apps/api_client/services.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/users/constants.py
  services/portal/apps/users/forms.py
  services/portal/apps/users/urls.py
  services/portal/apps/users/views.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/templates/users/register_confirm.html
  services/portal/tests/users/test_registration_confirm.py
Due: platform, portal

feat(portal): confirm a registration from its emailed link (#661)
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/apps/api/users/serializers.py
  services/platform/apps/api/users/urls.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/middleware.py
  services/platform/apps/users/registration_confirmation.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/users/test_pending_registration.py
  services/portal/apps/api_client/services.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/users/constants.py
  services/portal/apps/users/forms.py
  services/portal/apps/users/urls.py
  services/portal/apps/users/views.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/templates/users/register_confirm.html
  services/portal/tests/users/test_registration_confirm.py
Due: platform, portal

fix(api)!: registration always says "check your email"
  CHANGELOG.md
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/apps/api/customers/serializers.py
  services/platform/apps/api/customers/views.py
  services/platform/apps/common/apps.py
  services/platform/apps/common/management/commands/run_e2e_tasks.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/apps/users/services.py
  services/platform/config/settings/base.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/tests/api/customers/test_registration_counter_rollback.py
  services/platform/tests/api/customers/test_registration_rate_limit_response.py
  services/platform/tests/api/customers/test_registration_uniform_answer.py
  services/platform/tests/api/test_api_users_security.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/api/test_public_endpoint_exemption.py
  services/platform/tests/api/test_purchase_identity_contracts.py
  services/platform/tests/api/test_registration_serializer.py
  services/platform/tests/api/test_throttle_architecture_guardrails.py
  services/platform/tests/common/test_throttle_rate_validation.py
  services/portal/apps/api_client/services.py
  services/portal/apps/users/forms.py
  services/portal/apps/users/views.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/templates/users/register.html
  services/portal/tests/users/test_password_recovery.py
  services/portal/tests/users/test_registration_rate_limit_response.py
  services/portal/tests/users/test_registration_terms.py
  services/portal/tests/users/test_registration_uniform_answer.py
  tests/deploy/test_caddy_routing.py
  tests/e2e/orm/test_signup_workflow.py
  tests/e2e/portal/test_registration_workflow.py
  tests/integration/api/test_api_customers.py
Due: platform, portal

test: hold the counter cleanup still in query comparisons; cover a failed confirmation and the language
  CHANGELOG.md
  services/platform/tests/api/customers/test_registration_uniform_answer.py
  services/platform/tests/api/test_password_recovery.py
  services/platform/tests/users/test_pending_registration.py
  services/portal/tests/users/test_registration_uniform_answer.py
Due: none

fix(api)!: registration always says "check your email" (#662)
  CHANGELOG.md
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/apps/api/customers/serializers.py
  services/platform/apps/api/customers/views.py
  services/platform/apps/common/apps.py
  services/platform/apps/common/management/commands/run_e2e_tasks.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/apps/users/services.py
  services/platform/config/settings/base.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/tests/api/customers/test_registration_counter_rollback.py
  services/platform/tests/api/customers/test_registration_rate_limit_response.py
  services/platform/tests/api/customers/test_registration_uniform_answer.py
  services/platform/tests/api/test_api_users_security.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/api/test_password_recovery.py
  services/platform/tests/api/test_public_endpoint_exemption.py
  services/platform/tests/api/test_purchase_identity_contracts.py
  services/platform/tests/api/test_registration_serializer.py
  services/platform/tests/api/test_throttle_architecture_guardrails.py
  services/platform/tests/common/test_throttle_rate_validation.py
  services/platform/tests/users/test_pending_registration.py
  services/portal/apps/api_client/services.py
  services/portal/apps/users/forms.py
  services/portal/apps/users/views.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/templates/users/register.html
  services/portal/tests/users/test_password_recovery.py
  services/portal/tests/users/test_registration_rate_limit_response.py
  services/portal/tests/users/test_registration_terms.py
  services/portal/tests/users/test_registration_uniform_answer.py
  tests/deploy/test_caddy_routing.py
  tests/e2e/orm/test_signup_workflow.py
  tests/e2e/portal/test_registration_workflow.py
  tests/integration/api/test_api_customers.py
Due: platform, portal
