Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

docs(changelog): restore a dropped verb in the loopback ports entry
  CHANGELOG.md
Due: none

chore(deploy): retire the Ansible Docker role
  CHANGELOG.md
  Makefile
  deploy/ansible/group_vars/all.yml
  deploy/ansible/inventory/two-servers.yml
  deploy/ansible/playbooks/rollback.yml
  deploy/ansible/playbooks/single-server.yml
  deploy/ansible/playbooks/two-servers.yml
  deploy/ansible/requirements.yml
  deploy/ansible/roles/docker/handlers/main.yml
  deploy/ansible/roles/docker/tasks/main.yml
  deploy/ansible/roles/docker/templates/daemon.json.j2
  deploy/ansible/roles/praho/defaults/main.yml
  deploy/ansible/roles/praho/tasks/main.yml
  deploy/ansible/roles/praho/templates/Caddyfile.j2
  deploy/ansible/roles/praho/templates/backup.sh.j2
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/ansible/roles/praho/templates/restore.sh.j2
  deploy/ansible/roles/praho/templates/rollback.sh.j2
  docs/architecture/ARCHITECTURE.md
  docs/deployment/DEPLOYMENT.md
  docs/deployment/HTTPS_DEPLOYMENT_CHECKLIST.md
  docs/security/SECURITY_COMPLIANCE_ASSESSMENT.md
  docs/security/SECURITY_CONFIGURATION.md
  docs/security/portal-hmac-registry.md
  tests/deploy/test_caddy_routing.py
  tests/integration/test_docker_ansible_role.py
  tests/integration/test_docker_production_secrets.py
  tests/integration/test_hsts_edge_policy.py
  tests/integration/test_settings_module_selection.py
Due: none

docs(adr): name the dev env file and scope the dev-file refusal to deploy.sh
  docs/ADRs/ADR-0054-supported-deployment-paths.md
Due: none

fix(settings): show the value consumers really inherit, audit cleared overrides, keep fallbacks transaction-safe
  services/platform/apps/common/flow_analysis/hybrid_analyzer.py
  services/platform/apps/common/performance/cache.py
  services/platform/apps/common/performance/query_optimization.py
  services/platform/apps/common/trace_middleware.py
  services/platform/apps/settings/catalog.py
  services/platform/apps/settings/services.py
  services/platform/apps/settings/views.py
  services/platform/static/js/alpine-components.js
  services/platform/templates/settings/partials/secret_row.html
  services/platform/tests/common/test_common_settings_effects.py
  services/platform/tests/common/test_settings_fallback_postgres.py
  services/platform/tests/provisioning/test_cov_virtualmin_tasks_provisioning.py
  services/platform/tests/settings/test_review_followups.py
Due: platform

fix(deploy): keep the platform's secrets off a separate portal host
  .env.example.prod
  .env.example.staging
  CHANGELOG.md
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.single-server.yml
  deploy/scripts/deploy.sh
  deploy/scripts/lib/compose.sh
  deploy/scripts/portal-env.sh
  docs/deployment/DEPLOYMENT.md
  tests/integration/test_deploy_scripts.py
  tests/integration/test_docker_production_secrets.py
Due: none

fix(deploy): publish the split stacks' app ports on loopback only (#631)
  CHANGELOG.md
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  docs/deployment/DEPLOYMENT.md
  tests/integration/test_split_stack_ports.py
Due: none

feat(ui): accept marker placement on the flagged line and HTMX payload arguments on components
  scripts/audit_accessibility.py
  scripts/audit_dark_mode.py
  scripts/lint_template_components.py
  services/platform/apps/ui/templatetags/ui_components.py
  services/platform/tests/ui/test_htmx_payload_attributes.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/tests/ui/test_htmx_payload_attributes.py
  shared/ui/templates/components/button.html
  shared/ui/templates/components/input.html
  tests/integration/test_lint_template_components.py
  tests/integration/test_quality_gates.py
Due: platform, portal

fix(deploy): keep the platform's secrets off a separate portal host (#630)
  .env.example.prod
  .env.example.staging
  CHANGELOG.md
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.single-server.yml
  deploy/scripts/deploy.sh
  deploy/scripts/lib/compose.sh
  deploy/scripts/portal-env.sh
  docs/deployment/DEPLOYMENT.md
  tests/integration/test_deploy_scripts.py
  tests/integration/test_docker_production_secrets.py
Due: none

fix(ui): fix accessibility and dark-mode findings in billing, provisioning and audit templates
  services/platform/templates/audit/alerts_dashboard.html
  services/platform/templates/audit/gdpr_dashboard.html
  services/platform/templates/audit/gdpr_management_dashboard.html
  services/platform/templates/audit/integrity_dashboard.html
  services/platform/templates/audit/logs.html
  services/platform/templates/audit/partials/gdpr_export_detail.html
  services/platform/templates/audit/partials/search_suggestions.html
  services/platform/templates/audit/retention_dashboard.html
  services/platform/templates/audit/review_queue.html
  services/platform/templates/billing/billing_list.html
  services/platform/templates/billing/efactura_dashboard.html
  services/platform/templates/billing/invoice_detail.html
  services/platform/templates/billing/invoice_form.html
  services/platform/templates/billing/proforma_form.html
  services/platform/templates/provisioning/partials/services_list.html
  services/platform/templates/provisioning/plan_list.html
  services/platform/templates/provisioning/service_detail.html
  services/platform/templates/provisioning/service_form.html
  services/platform/templates/provisioning/virtualmin/account_detail.html
  services/platform/templates/provisioning/virtualmin/accounts_list.html
  services/platform/templates/provisioning/virtualmin/migration_status.html
  services/platform/templates/provisioning/virtualmin/partials/job_status.html
  services/platform/tests/audit/test_wp16_template_bucket.py
  services/platform/tests/billing/test_wp16_template_bucket.py
  services/platform/tests/provisioning/test_wp16_template_bucket.py
Due: none

docs(adr): record the two supported deployment paths (#632)
  docs/ADRs/ADR-0054-supported-deployment-paths.md
  docs/ADRs/README.md
Due: none

ci: enforce coverage floors on every pull request
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
  .github/workflows/platform.yml
  .github/workflows/portal.yml
  Makefile
  services/platform/tests/common/test_ci_node_lockfile.py
  services/platform/tests/common/test_nightly_ci_workflow.py
Due: none

fix(deploy): pin the portal-only network so its proxy range is known
  .env.example.prod
  .env.example.staging
  deploy/docker-compose.portal-only.yml
  docs/deployment/DEPLOYMENT.md
  tests/integration/test_docker_production_secrets.py
Due: none

docs(changelog): note the pinned portal-only network
  CHANGELOG.md
Due: none

fix(deploy): require a one-time stop when the portal network gets its subnet
  CHANGELOG.md
  docs/deployment/DEPLOYMENT.md
  tests/integration/test_deploy_scripts.py
Due: none

chore(deploy): retire the Ansible Docker role (#633)
  .env.example.prod
  .env.example.staging
  CHANGELOG.md
  Makefile
  deploy/ansible/group_vars/all.yml
  deploy/ansible/inventory/two-servers.yml
  deploy/ansible/playbooks/rollback.yml
  deploy/ansible/playbooks/single-server.yml
  deploy/ansible/playbooks/two-servers.yml
  deploy/ansible/requirements.yml
  deploy/ansible/roles/docker/handlers/main.yml
  deploy/ansible/roles/docker/tasks/main.yml
  deploy/ansible/roles/docker/templates/daemon.json.j2
  deploy/ansible/roles/praho/defaults/main.yml
  deploy/ansible/roles/praho/tasks/main.yml
  deploy/ansible/roles/praho/templates/Caddyfile.j2
  deploy/ansible/roles/praho/templates/backup.sh.j2
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/ansible/roles/praho/templates/restore.sh.j2
  deploy/ansible/roles/praho/templates/rollback.sh.j2
  deploy/docker-compose.portal-only.yml
  docs/architecture/ARCHITECTURE.md
  docs/deployment/DEPLOYMENT.md
  docs/deployment/HTTPS_DEPLOYMENT_CHECKLIST.md
  docs/security/SECURITY_COMPLIANCE_ASSESSMENT.md
  docs/security/SECURITY_CONFIGURATION.md
  docs/security/portal-hmac-registry.md
  tests/deploy/test_caddy_routing.py
  tests/integration/test_deploy_scripts.py
  tests/integration/test_docker_ansible_role.py
  tests/integration/test_docker_production_secrets.py
  tests/integration/test_hsts_edge_policy.py
  tests/integration/test_settings_module_selection.py
Due: none

fix(ui): fix template, accessibility and dark-mode findings in portal account and ordering pages
  services/platform/tests/ui/test_shared_catalog.py
  services/portal/static/js/customer-selector.js
  services/portal/templates/components/cookie_consent_banner.html
  services/portal/templates/components/customer_selector.html
  services/portal/templates/dashboard/account_overview.html
  services/portal/templates/dashboard/dashboard.html
  services/portal/templates/orders/checkout.html
  services/portal/templates/orders/order_confirmation.html
  services/portal/templates/orders/partials/cart_empty.html
  services/portal/templates/orders/partials/cart_items.html
  services/portal/templates/orders/partials/cart_totals.html
  services/portal/templates/orders/partials/cart_updated.html
  services/portal/templates/orders/partials/error_message.html
  services/portal/templates/orders/partials/mini_cart_content.html
  services/portal/templates/orders/partials/trust_signals.html
  services/portal/templates/orders/product_catalog.html
  services/portal/templates/orders/product_detail.html
  services/portal/templates/users/change_password.html
  services/portal/templates/users/company_profile.html
  services/portal/templates/users/company_profile_edit.html
  services/portal/templates/users/consent_history.html
  services/portal/templates/users/create_company.html
  services/portal/templates/users/data_export.html
  services/portal/templates/users/login.html
  services/portal/templates/users/mfa_backup_codes.html
  services/portal/templates/users/mfa_management.html
  services/portal/templates/users/mfa_setup_totp.html
  services/portal/templates/users/password_reset.html
  services/portal/templates/users/password_reset_confirm.html
  services/portal/templates/users/privacy_dashboard.html
  services/portal/templates/users/profile.html
  services/portal/templates/users/register.html
  services/portal/tests/dashboard/test_platform_unavailable_dashboard.py
  services/portal/tests/ui/test_wp16_account_orders.py
  shared/ui/locale/ro/LC_MESSAGES/django.mo
  shared/ui/locale/ro/LC_MESSAGES/django.po
  shared/ui/templates/components/dangerous_action_modal.html
  shared/ui/templates/components/nav_dropdown.html
Due: none

fix(provisioning): verify newformat backup archives, price imported services in their currency
  services/platform/apps/common/security_decorators.py
  services/platform/apps/provisioning/provisioning_service.py
  services/platform/apps/provisioning/virtualmin_backup_service.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/templates/notifications/email_log_list.html
  services/platform/templates/notifications/template_list.html
  services/platform/templates/provisioning/virtualmin/backups_list.html
  services/platform/templates/provisioning/virtualmin/job_status.html
  services/platform/tests/common/test_registration_limit_fallback.py
  services/platform/tests/notifications/test_header_contrast.py
  services/platform/tests/provisioning/test_cov_provisioning_support_models.py
  services/platform/tests/provisioning/test_cov_provisioning_support_signals.py
  services/platform/tests/provisioning/test_cov_virtualmin_views_backups.py
  services/platform/tests/provisioning/test_review_round4.py
  services/platform/tests/provisioning/test_virtualmin_deep_review.py
Due: platform

fix: let gift delivery bugs surface, audit webhook signature hashes, test the invoice editor in a browser
  services/platform/apps/audit/services.py
  services/platform/apps/integrations/signals.py
  services/platform/apps/promotions/gift_delivery.py
  services/platform/templates/billing/invoice_form.html
  services/platform/tests/audit/test_audit_services_regressions.py
  services/platform/tests/audit/test_webhook_signature_audit.py
  services/platform/tests/integrations/test_webhook_security_indicators.py
  services/platform/tests/promotions/test_gift_delivery.py
  tests/e2e/platform/test_invoice_editor.py
Due: platform

fix(settings): keep pending edits on credential save; isolate summary reads; register the clear action
  scripts/lint_template_components.py
  services/platform/apps/audit/migrations/0004_alter_auditevent_action.py
  services/platform/apps/audit/models.py
  services/platform/apps/common/logging.py
  services/platform/apps/settings/views.py
  services/platform/static/js/alpine-components.js
  services/platform/templates/billing/proforma_form.html
  services/platform/tests/audit/test_setting_override_action.py
  services/platform/tests/billing/test_wp16_template_bucket.py
  services/platform/tests/common/test_settings_fallback_postgres.py
  services/platform/tests/settings/test_review_followups.py
  tests/integration/test_lint_template_components.py
Due: platform

fix(ui): fix template, accessibility and dark-mode findings in portal billing, support and services pages
  services/portal/templates/base.html
  services/portal/templates/billing/invoice_detail.html
  services/portal/templates/billing/invoice_not_found.html
  services/portal/templates/billing/invoices_list.html
  services/portal/templates/billing/partials/invoice_extra_filters.html
  services/portal/templates/billing/partials/invoices_table.html
  services/portal/templates/billing/proforma_detail.html
  services/portal/templates/billing/proforma_not_found.html
  services/portal/templates/billing/recurring_payments.html
  services/portal/templates/customers/address_form.html
  services/portal/templates/customers/addresses.html
  services/portal/templates/customers/tax_profile.html
  services/portal/templates/customers/team.html
  services/portal/templates/customers/team_invite.html
  services/portal/templates/e2e/csp_violation_positive_control.html
  services/portal/templates/legal/cookie_policy.html
  services/portal/templates/services/partials/dashboard_widget.html
  services/portal/templates/services/partials/services_table.html
  services/portal/templates/services/partials/usage_chart.html
  services/portal/templates/services/plans_list.html
  services/portal/templates/services/service_detail.html
  services/portal/templates/services/service_list.html
  services/portal/templates/services/service_request_action.html
  services/portal/templates/styleguide/index.html
  services/portal/templates/tickets/partials/dashboard_widget.html
  services/portal/templates/tickets/partials/replies_list.html
  services/portal/templates/tickets/partials/status_and_comments.html
  services/portal/templates/tickets/ticket_create.html
  services/portal/templates/tickets/ticket_detail.html
  services/portal/templates/tickets/ticket_list.html
  services/portal/tests/tickets/test_reply_draft_cleanup.py
  services/portal/tests/ui/test_wp16_support_billing.py
Due: none

fix(ui): translate the dangerous-action modal defaults; keep the trust badge hidden on mobile
  services/platform/templates/provisioning/virtualmin/account_detail.html
  services/platform/tests/provisioning/test_account_detail_confirmations.py
  services/platform/tests/provisioning/test_cov_virtualmin_views_backups.py
  services/platform/tests/ui/test_dangerous_action_modal.py
  services/portal/templates/orders/partials/trust_signals.html
  services/portal/tests/orders/test_trust_signals.py
  shared/ui/static/js/alpine-shared-components.js
  shared/ui/templates/components/dangerous_action_modal.html
Due: none

test: name the new tests after the behaviour they cover
  scripts/test_layout_allowlist.json
  services/platform/tests/audit/test_audit_template_accessibility.py
  services/platform/tests/billing/efactura/test_efactura_quota_deferral.py
  services/platform/tests/billing/efactura/test_efactura_submission_identity.py
  services/platform/tests/billing/test_billing_template_accessibility.py
  services/platform/tests/orders/test_order_task_budgets.py
  services/platform/tests/promotions/test_coupon_generation_budget.py
  services/platform/tests/provisioning/test_backup_archive_and_import_pricing.py
  services/platform/tests/provisioning/test_provisioning_template_accessibility.py
  services/platform/tests/provisioning/test_virtualmin_budgets_and_deadlines.py
  services/platform/tests/provisioning/test_virtualmin_restore_admission.py
  services/platform/tests/provisioning/test_virtualmin_staff_pages.py
  services/platform/tests/settings/test_settings_inherited_values.py
  services/portal/tests/ui/test_account_orders_templates.py
  services/portal/tests/ui/test_support_billing_templates.py
Due: none

ci: make the template, accessibility and dark-mode gates blocking
  .github/workflows/integration.yml
  .pre-commit-config.yaml
  Makefile
Due: none

build(ui): regenerate the Tailwind bundles for the new dark-mode classes
  services/platform/static/css/tailwind.min.css
  services/portal/static/css/tailwind.min.css
Due: none

fix(deploy): make the backup download work, list ansible.posix, provision Ubuntu 24.04
  .gitignore
  CHANGELOG.md
  README.md
  deploy/ansible/playbooks/backup.yml
  deploy/ansible/requirements.yml
  deploy/ansible/roles/common/tasks/main.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/terraform/terraform.tfvars.example
  deploy/terraform/variables.tf
  docs/deployment/DEPLOYMENT.md
  tests/deploy/test_native_deploy_consistency.py
Due: none

fix(deploy): let make ansible-backup request the download
  CHANGELOG.md
  Makefile
  docs/deployment/DEPLOYMENT.md
  tests/deploy/test_native_deploy_consistency.py
Due: none

fix(ui): keep mobile sign-out working and translate account confirmations
  scripts/audit_dark_mode.py
  scripts/lint_template_components.py
  services/platform/static/js/alpine-components.js
  services/platform/templates/provisioning/virtualmin/partials/quick_actions.html
  services/platform/tests/provisioning/test_account_detail_confirmations.py
  services/platform/tests/ui/node_harness.py
  services/platform/tests/ui/test_dangerous_action_modal.py
  services/portal/templates/tickets/ticket_create.html
  services/portal/tests/orders/test_trust_signals.py
  services/portal/tests/tickets/test_create_validation.py
  shared/ui/templates/components/card.html
  tests/integration/test_lint_template_components.py
  tests/integration/test_shared_template_audits.py
Due: none

fix(quality): flag scripts whose type attribute is conditional
  scripts/lint_template_components.py
  tests/integration/test_lint_template_components.py
Due: none

test(e2e): read the mini-cart remove payload the way HTMX does
  tests/e2e/portal/test_signup_order_flow.py
Due: none

fix(i18n): complete the Romanian catalogs and correct wrong translations
  scripts/translate_po.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/tests/provisioning/test_cov_virtualmin_views_backups.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/tests/ui/test_shared_translations.py
  shared/ui/locale/ro/LC_MESSAGES/django.mo
  shared/ui/locale/ro/LC_MESSAGES/django.po
Due: none

build(ui): regenerate the Tailwind bundles for the final templates
  services/platform/static/css/tailwind.min.css
  services/portal/static/css/tailwind.min.css
Due: none

docs(changelog): record the QA close-out fixes
  CHANGELOG.md
Due: none

fix(i18n): extract every marked string, translate the invoice PDF
  services/platform/apps/billing/pdf_generators.py
  services/platform/apps/billing/proforma_service.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/tests/billing/test_builtin_storno_delivery.py
  services/platform/tests/billing/test_pdf_generators.py
  services/portal/apps/orders/views.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/tests/orders/test_order_steps_translation.py
  tests/integration/test_gettext_aliases_extractable.py
Due: platform, portal

fix(users): answer a rate-limited registration with 429, not a server error
  services/platform/apps/api/customers/serializers.py
  services/platform/apps/api/customers/views.py
  services/platform/apps/common/e2e_fixtures.py
  services/platform/apps/common/security_decorators.py
  services/platform/apps/common/security_errors.py
  services/platform/tests/api/customers/test_registration_rate_limit_response.py
  services/platform/tests/common/test_e2e_seed_contracts.py
  services/platform/tests/common/test_service_rate_limit_results.py
  services/portal/apps/users/views.py
  services/portal/tests/users/test_registration_rate_limit_response.py
Due: platform, portal

fix(i18n): translate the registration rate-limit messages
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
Due: none

fix: explain unavailable signups, keep typed refusals picklable, word protection toggles honestly
  services/platform/apps/common/security_errors.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/static/js/alpine-components.js
  services/platform/templates/provisioning/virtualmin/account_detail.html
  services/platform/templates/provisioning/virtualmin/partials/quick_actions.html
  services/platform/tests/common/test_security_errors_copyable.py
  services/platform/tests/provisioning/test_account_detail_confirmations.py
  services/portal/apps/users/forms.py
  services/portal/apps/users/views.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/tests/users/test_registration_rate_limit_response.py
  tests/integration/test_gettext_aliases_extractable.py
Due: platform, portal

ci: raise the portal union coverage floor to the measured 81%
  CHANGELOG.md
  Makefile
Due: none

fix(deploy): load the env file for ansible-backup, give each dump its own name
  CHANGELOG.md
  Makefile
  deploy/ansible/playbooks/backup.yml
  deploy/ansible/roles/praho-native/templates/backup-native.sh.j2
  docs/deployment/DEPLOYMENT.md
  tests/deploy/test_native_deploy_consistency.py
Due: none

fix(deploy): make the backup download work, list ansible.posix, provision Ubuntu 24.04 (#634)
  .gitignore
  CHANGELOG.md
  Makefile
  README.md
  deploy/ansible/playbooks/backup.yml
  deploy/ansible/requirements.yml
  deploy/ansible/roles/common/tasks/main.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/backup-native.sh.j2
  deploy/terraform/terraform.tfvars.example
  deploy/terraform/variables.tf
  docs/deployment/DEPLOYMENT.md
  tests/deploy/test_native_deploy_consistency.py
Due: none

fix(deploy): route ansible-single-server through the deploy targets, harden backup and restore
  CHANGELOG.md
  Makefile
  deploy/ansible/roles/praho-native/templates/backup-native.sh.j2
  deploy/scripts/backup.sh
  deploy/scripts/restore.sh
  docs/deployment/DEPLOYMENT.md
  tests/deploy/test_native_deploy_consistency.py
  tests/integration/test_deploy_scripts.py
Due: none

Path conditions:
  platform: any of: services/platform/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
  portal: any of: services/portal/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
