Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

codecov.yml:

# Codecov configuration for PRAHO two-service architecture
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 90%

flags:
  platform:
    paths:
      - services/platform/apps/
    carryforward: true
  portal:
    paths:
      - services/portal/apps/
    carryforward: true

ignore:
  - "*/migrations/*"
  - "*/tests/*"
  - "*/settings/*"
  - "manage.py"
  - "*/wsgi.py"
  - "*/asgi.py"
  - "scripts/*"
  - "docs/*"
  - "tests/*"

fix(test): capture translate_po's warning whatever settings module configured logging (#616)
  tests/integration/test_translate_po.py
Due: none

fix(deploy): keep the Docker dev deployment on settings its images can run
  CHANGELOG.md
  deploy/ansible/roles/praho/defaults/main.yml
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  tests/integration/test_settings_module_selection.py
Due: none

fix(provisioning): recheck the domain hold after an unsuspend retry, lock the customer on staff activate
  .github/workflows/integration.yml
  services/platform/apps/provisioning/services.py
  services/platform/apps/provisioning/virtualmin_service.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/tests/provisioning/test_hosting_account_staff_actions.py
  services/platform/tests/provisioning/test_hosting_account_staff_actions_concurrency.py
  services/platform/tests/provisioning/test_hosting_enabled_single_writer.py
Due: platform

docs(api): use placeholders for the example API token
  services/platform/apps/api/AUTHENTICATION.md
Due: platform

fix(deploy): give staging platform containers a static root they can write
  CHANGELOG.md
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.single-server.yml
  tests/integration/test_settings_module_selection.py
Due: none

fix(signals): build optional audit payloads inside their savepoint
  services/platform/apps/audit/signals.py
  services/platform/apps/customers/signals.py
  services/platform/apps/domains/signals.py
  services/platform/apps/notifications/signals.py
  services/platform/apps/settings/signals.py
  services/platform/apps/users/signals.py
  services/platform/tests/audit/test_deferred_payload_isolation.py
  services/platform/tests/common/_deferred_audit_reads.py
  services/platform/tests/customers/test_deferred_payload_isolation.py
  services/platform/tests/domains/test_deferred_payload_isolation.py
  services/platform/tests/notifications/test_deferred_payload_isolation.py
  services/platform/tests/settings/test_deferred_payload_isolation.py
  services/platform/tests/users/test_deferred_payload_isolation.py
Due: platform

fix(deploy): run the staging Django settings in Docker staging deployments (#617)
  CHANGELOG.md
  deploy/ansible/roles/praho/defaults/main.yml
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.single-server.yml
  tests/integration/test_settings_module_selection.py
Due: none

fix(billing): keep VAT evidence in step with edited draft totals, refuse empty drafts
  services/platform/apps/billing/invoice_service.py
  services/platform/apps/billing/tax_evidence.py
  services/platform/templates/billing/invoice_form.html
  services/platform/tests/billing/test_invoice_edit.py
  services/platform/tests/billing/test_invoice_edit_line_controls.py
Due: platform

fix(quality): escape filtered labels only where autoescaping is on
  scripts/audit_accessibility.py
  services/platform/tests/common/test_a11y_autoescape.py
Due: none

fix(provisioning): honour the migration lock and owner changes in staff actions, read the health-check limit
  services/platform/apps/provisioning/services.py
  services/platform/apps/provisioning/virtualmin_tasks.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/tests/provisioning/test_hosting_account_staff_actions.py
  services/platform/tests/provisioning/test_hosting_enabled_single_writer.py
  services/platform/tests/provisioning/test_virtualmin_bulk_actions.py
Due: platform

fix(orders): never cancel a paid order, and let the bank-transfer timeout set the deadline
  .github/workflows/integration.yml
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/tasks.py
  services/platform/tests/orders/test_order_payment_recovery_isolation.py
  services/platform/tests/orders/test_order_settings_effects.py
  services/platform/tests/orders/test_order_timeout.py
  services/platform/tests/orders/test_orders_models.py
Due: platform

chore(deploy): remove the legacy nginx edge and the local nginx stack
  CHANGELOG.md
  Makefile
  deploy/docker-compose.services.yml
  deploy/nginx/nginx-ssl.conf
  deploy/nginx/nginx.conf
  deploy/ssl/certbot-init.sh
  deploy/ssl/certbot-renew.sh
  deploy/ssl/docker-compose.ssl.yml
  deploy/ssl/systemd/certbot-renew.service
  deploy/ssl/systemd/certbot-renew.timer
  docs/architecture/ARCHITECTURE.md
  docs/architecture/README.md
  docs/architecture/diagrams/deployment.mmd
  docs/architecture/diagrams/system-overview.mmd
  docs/deployment/DEPLOYMENT.md
  docs/security/SECURITY_CONFIGURATION.md
  tests/integration/test_docker_services.py
  tests/integration/test_hsts_edge_policy.py
  tests/integration/test_security_hardening.py
Due: none

fix(portal): end sessions safely when the session store fails, drop a per-worker membership cache
  services/portal/apps/api_client/services.py
  services/portal/apps/common/middleware.py
  services/portal/apps/common/store_unavailable.py
  services/portal/apps/users/middleware.py
  services/portal/apps/users/views.py
  services/portal/config/settings/base.py
  services/portal/templates/common/session_unavailable.html
  services/portal/tests/common/test_session_termination_unavailable.py
  services/portal/tests/orders/test_idempotency_cache_clear.py
  services/portal/tests/users/test_fresh_customer_memberships.py
Due: portal

fix(provisioning): reconcile when a migration ends, cap the bulk page's listing
  services/platform/apps/provisioning/virtualmin_migration_service.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/locale/ro/LC_MESSAGES/django.mo
  services/platform/locale/ro/LC_MESSAGES/django.po
  services/platform/templates/provisioning/virtualmin/bulk_actions.html
  services/platform/tests/provisioning/test_virtualmin_bulk_actions.py
  services/platform/tests/provisioning/test_virtualmin_migration_service.py
Due: platform

fix: catch unusable database connections in the new session and draft-edit handlers
  services/platform/apps/billing/invoice_service.py
  services/portal/apps/common/store_unavailable.py
Due: platform, portal

fix(services): add the service domains endpoint the portal has always called
  services/platform/apps/api/services/serializers.py
  services/platform/apps/api/services/urls.py
  services/platform/apps/api/services/views.py
  services/platform/tests/api/test_service_domains.py
  services/platform/tests/helpers/service_domains.py
  services/portal/apps/services/services.py
  services/portal/apps/services/views.py
  services/portal/tests/common/test_maintenance_feedback.py
  services/portal/tests/services/test_service_requests.py
  tests/integration/test_service_domains.py
Due: platform, portal

fix(deploy): stop native deployments reading a .env comment as part of a value
  .env.example.dev
  .env.example.prod
  .env.example.staging
  CHANGELOG.md
  deploy/ansible/playbooks/native-single-server.yml
  deploy/ansible/roles/praho-native/files/check_env_inline_comments.py
  deploy/ansible/roles/praho-native/tasks/env_preflight.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  docs/security/MFA-SETUP-AND-KEY-MANAGEMENT.md
  tests/deploy/test_native_env_inline_comments.py
Due: none

docs(architecture): show which platform paths Caddy serves publicly
  docs/architecture/ARCHITECTURE.md
  docs/architecture/diagrams/deployment.mmd
  docs/architecture/diagrams/system-overview.mmd
Due: none

fix(deploy): refuse continued .env lines and check keys with spaces
  CHANGELOG.md
  deploy/ansible/roles/praho-native/files/check_env_inline_comments.py
  tests/deploy/test_native_env_inline_comments.py
Due: none

fix(efactura): record the submission intent with the invoice, sweep up anything missed
  .github/workflows/integration.yml
  services/platform/apps/billing/apps.py
  services/platform/apps/billing/efactura/intents.py
  services/platform/apps/billing/efactura/models.py
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/efactura/settings.py
  services/platform/apps/billing/efactura/tasks.py
  services/platform/apps/billing/signals.py
  services/platform/apps/common/management/commands/setup_scheduled_tasks.py
  services/platform/tests/billing/efactura/test_response_archive.py
  services/platform/tests/billing/efactura/test_service.py
  services/platform/tests/billing/efactura/test_startup_scheduling.py
  services/platform/tests/billing/efactura/test_submission_claims.py
  services/platform/tests/billing/efactura/test_tasks.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_builtin_storno_delivery.py
  services/platform/tests/billing/test_efactura_enqueue_durability.py
  services/platform/tests/billing/test_invoice_signal_transaction_isolation.py
Due: platform

chore(deploy): remove the legacy nginx edge and the local nginx stack (#620)
  CHANGELOG.md
  Makefile
  deploy/docker-compose.services.yml
  deploy/nginx/nginx-ssl.conf
  deploy/nginx/nginx.conf
  deploy/ssl/certbot-init.sh
  deploy/ssl/certbot-renew.sh
  deploy/ssl/docker-compose.ssl.yml
  deploy/ssl/systemd/certbot-renew.service
  deploy/ssl/systemd/certbot-renew.timer
  docs/architecture/ARCHITECTURE.md
  docs/architecture/README.md
  docs/architecture/diagrams/deployment.mmd
  docs/architecture/diagrams/system-overview.mmd
  docs/deployment/DEPLOYMENT.md
  docs/security/SECURITY_CONFIGURATION.md
  tests/integration/test_docker_services.py
  tests/integration/test_hsts_edge_policy.py
  tests/integration/test_security_hardening.py
Due: none

fix(billing): never let a refused settlement undo a confirmed provider issuance
  services/platform/apps/billing/issuers/service.py
  services/platform/tests/billing/test_issuer_settlement_durability.py
  services/platform/tests/billing/test_metering_services.py
Due: platform

fix(orders): re-check payment under lock before a timeout cancels an order
  services/platform/apps/orders/tasks.py
  services/platform/tests/orders/test_order_payment_recovery_isolation.py
Due: platform

fix(quality): read templates with Django's lexer in the accessibility detector
  scripts/audit_accessibility.py
  services/platform/tests/common/test_a11y_autoescape.py
Due: none

fix(deploy): stop native deployments reading a .env comment as part of a value (#619)
  .env.example.dev
  .env.example.prod
  .env.example.staging
  CHANGELOG.md
  deploy/ansible/playbooks/native-single-server.yml
  deploy/ansible/roles/praho-native/files/check_env_inline_comments.py
  deploy/ansible/roles/praho-native/tasks/env_preflight.yml
  deploy/ansible/roles/praho-native/tasks/main.yml
  docs/security/MFA-SETUP-AND-KEY-MANAGEMENT.md
  tests/deploy/test_native_env_inline_comments.py
Due: none

fix(portal): make ticket search pages line up
  services/platform/tests/api/test_ticket_search_contract.py
  services/portal/apps/tickets/services.py
  services/portal/apps/tickets/views.py
  services/portal/templates/tickets/partials/tickets_table.html
  services/portal/tests/tickets/test_ticket_search_contract.py
Due: portal

fix(portal): send signed-in customers straight from / to their dashboard
  QA/plan.md
  services/portal/apps/common/context_processors.py
  services/portal/config/urls.py
  services/portal/tests/common/test_root_redirect.py
  services/portal/tests/users/test_login_errors.py
  tests/e2e/portal/test_navigation.py
Due: portal

fix(portal): stop the debug toolbar redirecting to login, wrap long service names on mobile
  services/portal/apps/services/views.py
  services/portal/apps/users/middleware.py
  services/portal/templates/components/service_detail_tabs.html
  services/portal/templates/services/service_detail.html
  services/portal/tests/services/test_service_request_components.py
  services/portal/tests/users/test_debug_toolbar_public_urls.py
  tests/e2e/portal/test_service_detail_mobile.py
Due: portal

fix(ui): encode the filters carried by pagination links in both services
  services/platform/apps/audit/views.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/mixins.py
  services/platform/apps/common/pagination.py
  services/platform/apps/customers/customer_views.py
  services/platform/apps/domains/views.py
  services/platform/apps/orders/views.py
  services/platform/apps/promotions/presentation.py
  services/platform/apps/tickets/views.py
  services/platform/static/css/tailwind.min.css
  services/platform/templates/audit/partials/gdpr_export_requests_list.html
  services/platform/templates/audit/partials/logs_list.html
  services/platform/templates/orders/order_list.html
  services/platform/tests/audit/test_pagination_query.py
  services/platform/tests/billing/test_pagination_query.py
  services/platform/tests/common/pagination_assertions.py
  services/platform/tests/common/test_pagination_builders.py
  services/platform/tests/common/test_pagination_query.py
  services/platform/tests/customers/test_pagination_query.py
  services/platform/tests/domains/test_pagination_query.py
  services/platform/tests/orders/test_pagination_query.py
  services/platform/tests/promotions/test_pagination_query.py
  services/platform/tests/tickets/test_pagination_query.py
  services/portal/apps/billing/views.py
  services/portal/apps/common/pagination.py
  services/portal/apps/services/views.py
  services/portal/apps/tickets/views.py
  services/portal/static/css/tailwind.min.css
  services/portal/tests/billing/test_pagination_query.py
  services/portal/tests/common/pagination_assertions.py
  services/portal/tests/common/test_pagination_query.py
  services/portal/tests/services/test_pagination_query.py
  services/portal/tests/tickets/test_pagination_query.py
Due: platform, portal

fix(efactura): use one environment for the document and its upload
  services/platform/apps/billing/efactura/client.py
  services/platform/apps/billing/efactura/intents.py
  services/platform/apps/billing/efactura/service.py
  services/platform/apps/billing/efactura/settings.py
  services/platform/tests/billing/efactura/test_environment_consistency.py
Due: platform

fix(billing): recover external invoices whose settlement never ran, settle zero totals fully
  services/platform/apps/billing/issuers/service.py
  services/platform/apps/billing/issuers/tasks.py
  services/platform/apps/billing/payment_convergence.py
  services/platform/apps/common/management/commands/setup_scheduled_tasks.py
  services/platform/tests/billing/test_issuer_settlement_durability.py
Due: platform

fix(orders): treat a succeeded invoice payment as paid, keep one lock order for cancellation
  services/platform/apps/orders/services.py
  services/platform/apps/orders/tasks.py
  services/platform/tests/orders/test_order_payment_recovery_isolation.py
Due: platform

fix(test): make the e2e HTMX wait wait for the swap
  tests/e2e/helpers/filter_tabs.py
  tests/e2e/helpers/htmx.py
  tests/e2e/platform/test_platform_tickets.py
Due: none

fix(test): make the e2e HTMX wait wait for the swap (#623)
  tests/e2e/helpers/filter_tabs.py
  tests/e2e/helpers/htmx.py
  tests/e2e/platform/test_platform_tickets.py
Due: none

fix(quality): narrow optional token line numbers in the accessibility detector
  scripts/audit_accessibility.py
  services/platform/tests/common/test_a11y_token_lines.py
Due: none

fix(ui): push the full-page URL when HTMX pagination swaps a list partial
  services/platform/tests/ui/test_pagination_push_url.py
  services/portal/templates/tickets/partials/tickets_table.html
  services/portal/tests/tickets/test_ticket_search_contract.py
  services/portal/tests/ui/test_pagination_push_url.py
  shared/ui/templates/components/pagination.html
Due: none

docs(qa): reconcile cycle 2's coverage totals with the QA plan
  QA/cycle-02-v0.30.0/findings.md
Due: none

fix(ui): keep filters when paging the domain and deployment lists
  services/platform/apps/domains/views.py
  services/platform/apps/infrastructure/views.py
  services/platform/templates/domains/domain_list.html
  services/platform/templates/infrastructure/deployment_list.html
  services/platform/tests/common/pagination_assertions.py
  services/platform/tests/domains/test_list_pagination.py
  services/platform/tests/infrastructure/test_pagination_query.py
Due: platform
