Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

codecov.yml:

# Codecov configuration for PRAHO two-service architecture
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 90%

flags:
  platform:
    paths:
      - services/platform/apps/
    carryforward: true
  portal:
    paths:
      - services/portal/apps/
    carryforward: true

ignore:
  - "*/migrations/*"
  - "*/tests/*"
  - "*/settings/*"
  - "manage.py"
  - "*/wsgi.py"
  - "*/asgi.py"
  - "scripts/*"
  - "docs/*"
  - "tests/*"

fix(portal): keep the method check ahead of the billing role guard on order views
  services/portal/apps/orders/views.py
Due: portal

fix(tickets): scope related services to the customer and turn service action requests into tickets
  services/platform/apps/api/services/urls.py
  services/platform/apps/api/services/views.py
  services/platform/apps/api/tickets/helpers.py
  services/platform/apps/api/tickets/serializers.py
  services/platform/apps/api/tickets/views.py
  services/platform/apps/billing/views.py
  services/platform/apps/orders/views.py
  services/platform/apps/tickets/migrations/0005_unlink_foreign_services.py
  services/platform/apps/tickets/signals.py
  services/platform/tests/api/test_service_action_requests.py
  services/platform/tests/tickets/test_ticket_related_service_scoping.py
  services/portal/apps/services/services.py
  services/portal/apps/services/views.py
  services/portal/tests/services/test_service_request_action.py
  services/portal/tests/tickets/test_ticket_detail_view.py
Due: platform, portal

fix(users): make Portal password reset work end to end
  services/platform/apps/api/users/serializers.py
  services/platform/apps/api/users/views.py
  services/platform/apps/settings/catalog.py
  services/platform/templates/users/emails/password_reset.html
  services/platform/templates/users/emails/password_reset.txt
  services/platform/tests/api/test_password_reset_api.py
  services/portal/apps/api_client/services.py
  services/portal/apps/users/forms.py
  services/portal/apps/users/urls.py
  services/portal/apps/users/views.py
  services/portal/templates/users/password_reset_confirm.html
  services/portal/tests/users/test_password_reset_views.py
Due: platform, portal

fix(auth): make the login limiters hold up in production topologies
  .env.example.dev
  .env.example.prod
  .env.example.staging
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/ansible/roles/praho/templates/env.j2
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.dev.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.services.yml
  deploy/docker-compose.single-server.yml
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/apps/api/secure_auth.py
  services/platform/apps/api/users/views.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/apps/users/models.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/api/test_login_client_ip_limits.py
  services/platform/tests/common/test_forwarded_client_ip.py
  services/platform/tests/common/test_window_rollover_database_cache.py
  services/portal/apps/api_client/services.py
  services/portal/apps/common/checks.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/users/views.py
  services/portal/config/settings/base.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
  services/portal/tests/common/test_auth_rate_limiting.py
  services/portal/tests/common/test_proxy_trust.py
  services/portal/tests/integration/test_cross_service_hmac.py
  services/portal/tests/security/test_hmac_production_security.py
  services/portal/tests/settings/test_logging_configuration.py
  services/portal/tests/users/test_api_client_hmac.py
Due: platform, portal

docs: record the security review fixes and the new operator prerequisites
  CHANGELOG.md
  docs/security/SECURITY_CONFIGURATION.md
Due: none

fix(auth): end a session only on the Platform's explicit rejection and bind VAT evidence to the country
  CHANGELOG.md
  docs/ADRs/ADR-0049-reverse-charge-requires-vies-evidence.md
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/secure_auth.py
  services/platform/apps/api/users/views.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/vies_evidence.py
  services/platform/apps/common/tax_service.py
  services/platform/apps/customers/profile_service.py
  services/platform/apps/orders/preflight.py
  services/platform/apps/users/services.py
  services/platform/tests/api/test_api_auth_regressions.py
  services/platform/tests/api/test_customer_api.py
  services/platform/tests/api/test_customer_role_enforcement.py
  services/platform/tests/billing/test_vat_validation_task.py
  services/platform/tests/billing/test_vies_evidence.py
  services/platform/tests/common/test_tax_service_scenarios.py
  services/platform/tests/customers/test_profile_service.py
  services/platform/tests/orders/test_order_flow_hardening.py
  services/portal/apps/customers/views.py
  services/portal/apps/users/middleware.py
  services/portal/tests/billing/test_role_guards.py
  services/portal/tests/users/test_session_revocation.py
Due: platform, portal

test(e2e): assert recovery against something that needs the platform, and identity not a count
  tests/e2e/portal/test_maintenance_window.py
Due: none

fix(portal): the login alert had a wrong heading and no body at all
  services/portal/apps/users/views.py
  services/portal/tests/common/test_maintenance_feedback.py
Due: portal

fix(billing): resolve a VAT number against the billing country when queueing VIES
  services/platform/apps/billing/management/commands/validate_vat_numbers.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/vies_evidence.py
  services/platform/apps/customers/signals.py
  services/platform/tests/billing/test_vat_validation_task.py
  services/platform/tests/billing/test_vies_gate_paths.py
  services/portal/apps/users/forms.py
  services/portal/tests/users/test_password_reset_views.py
Due: platform, portal

test(integration): the cross-service parity guards were collected by nothing
  tests/integration/test_cross_service_parity.py
Due: none

test(portal): two assertions that could not fail, from a review of the fixes
  services/portal/tests/common/test_maintenance_feedback.py
  tests/e2e/portal/test_maintenance_window.py
Due: none

fix(ci): the coverage gates could not fail in the ways they claimed to
  Makefile
  scripts/e2e_stack.py
  services/platform/tests/common/test_e2e_stack.py
Due: none

fix(portal): the widening skipped the services app, where the bug was reported
  services/portal/apps/services/services.py
  services/portal/apps/services/views.py
  services/portal/templates/services/partials/usage_chart.html
  services/portal/tests/common/test_maintenance_feedback.py
Due: portal

ci(nightly): keep the number the portal floor is gated on
  .github/workflows/nightly.yml
Due: none

feat(common): add an atomic fixed-window counter and claim store to both services
  Makefile
  scripts/test_layout_allowlist.json
  services/platform/apps/common/counters.py
  services/platform/apps/common/migrations/0003_counter.py
  services/platform/apps/common/models.py
  services/platform/tests/common/test_counters.py
  services/portal/apps/common/counters.py
  services/portal/apps/common/migrations/0001_initial.py
  services/portal/apps/common/migrations/__init__.py
  services/portal/apps/common/models.py
  services/portal/tests/common/test_counters.py
  tests/test_cross_service_parity.py
Due: platform, portal

fix(api): remove the HMAC bypass and the unsigned registration duplicate, uniform 403 bodies
  docs/security/SECURITY_CONFIGURATION.md
  docs/security/portal-hmac-registry.md
  scripts/audit_test_layout.py
  services/platform/apps/api/billing/views.py
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/users/urls.py
  services/platform/apps/api/users/views.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/middleware.py
  services/platform/config/settings/base.py
  services/platform/config/settings/e2e.py
  services/platform/config/settings/test.py
  services/platform/tests/api/test_api_users_security.py
  services/platform/tests/api/test_customer_role_enforcement.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/api/test_portal_registry_hmac.py
  services/platform/tests/billing/test_billing_views_regressions.py
  services/platform/tests/billing/test_security.py
  services/platform/tests/common/test_audit_test_layout.py
  services/platform/tests/common/test_fixed_window_database_cache.py
  services/portal/apps/users/middleware.py
  services/portal/tests/users/test_session_revocation.py
Due: platform, portal

fix(billing): default the VAT report period to the local calendar date
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_billing_report_screens.py
Due: platform

fix(users): index sessions per user in the session store and revoke by index
  services/platform/apps/users/management/commands/reconcile_session_index.py
  services/platform/apps/users/migrations/0007_usersession.py
  services/platform/apps/users/models.py
  services/platform/apps/users/services.py
  services/platform/apps/users/session_backend.py
  services/platform/apps/users/tasks.py
  services/platform/config/settings/base.py
  services/platform/config/settings/dev.py
  services/platform/tests/users/test_authentication_services.py
  services/platform/tests/users/test_session_auth_hash_binding.py
  services/platform/tests/users/test_session_index.py
  services/platform/tests/users/test_session_management.py
Due: platform

fix(common): move the Platform counters to the shared store
  services/platform/apps/billing/efactura/quota.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/apps/common/rate_limiting.py
  services/platform/apps/domains/gateways/base.py
  services/platform/apps/notifications/services.py
  services/platform/apps/users/services.py
  services/platform/config/settings/base.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/staging.py
  services/platform/tests/api/test_login_client_ip_limits.py
  services/platform/tests/billing/efactura/test_quota.py
  services/platform/tests/common/test_fixed_window_database_cache.py
  services/platform/tests/common/test_forwarded_client_ip.py
  services/platform/tests/common/test_hmac_rate_limiter_failclosed.py
  services/platform/tests/common/test_platform_counter_sites.py
  services/platform/tests/common/test_rate_limit_fail_closed.py
  services/platform/tests/common/test_rate_limiting_decorator.py
  services/platform/tests/customers/test_user_management_views.py
  services/platform/tests/domains/test_gateway_phase2.py
  services/platform/tests/domains/test_registrar_gateways.py
  services/platform/tests/helpers/counter_concurrency.py
  services/platform/tests/notifications/test_security_regressions.py
Due: platform

fix(deploy): serve the Platform on its own hostname behind an allowlist and route webhooks correctly
  .env.example.dev
  .env.example.prod
  .env.example.staging
  Makefile
  deploy/ansible/group_vars/all.yml
  deploy/ansible/roles/praho-native/defaults/main.yml
  deploy/ansible/roles/praho-native/templates/Caddyfile.native.j2
  deploy/ansible/roles/praho/defaults/main.yml
  deploy/ansible/roles/praho/templates/Caddyfile.j2
  deploy/ansible/roles/praho/templates/docker-compose.yml.j2
  deploy/caddy/Caddyfile
  deploy/caddy/Caddyfile.platform
  deploy/caddy/Caddyfile.portal
  deploy/docker-compose.platform-only.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.single-server.yml
  docs/security/SECURITY_CONFIGURATION.md
  tests/deploy/test_caddy_routing.py
Due: none

fix(billing): require fresh, referenced and name-matched VIES evidence before reverse charge
  docs/ADRs/ADR-0049-reverse-charge-requires-vies-evidence.md
  docs/billing/D390_ACCOUNTANT_HANDOFF.md
  services/platform/apps/api/orders/views.py
  services/platform/apps/billing/config.py
  services/platform/apps/billing/ec_sales_service.py
  services/platform/apps/billing/management/commands/validate_vat_numbers.py
  services/platform/apps/billing/services.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/tax_evidence.py
  services/platform/apps/billing/usage_invoice_service.py
  services/platform/apps/billing/vies_evidence.py
  services/platform/apps/common/tax_service.py
  services/platform/apps/customers/forms.py
  services/platform/apps/customers/migrations/0023_vies_evidence_and_exemption_reason.py
  services/platform/apps/customers/profile_models.py
  services/platform/apps/customers/signals.py
  services/platform/apps/orders/preflight.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/views.py
  services/platform/apps/settings/catalog.py
  services/platform/templates/customers/detail.html
  services/platform/templates/customers/edit.html
  services/platform/templates/customers/tax_profile_form.html
  services/platform/tests/billing/test_d390.py
  services/platform/tests/billing/test_invoice_from_order.py
  services/platform/tests/billing/test_metering_services.py
  services/platform/tests/billing/test_subscription_invoice_payments.py
  services/platform/tests/billing/test_tax_evidence.py
  services/platform/tests/billing/test_vat_validation_task.py
  services/platform/tests/billing/test_vies_evidence.py
  services/platform/tests/billing/test_vies_gate_paths.py
  services/platform/tests/customers/test_vat_evidence_forms.py
  services/platform/tests/settings/test_vies_policy.py
Due: platform

fix(users): bind sessions to a monotonic MFA credential version
  services/platform/apps/api/users/serializers.py
  services/platform/apps/api/users/views.py
  services/platform/apps/audit/services.py
  services/platform/apps/users/mfa.py
  services/platform/apps/users/migrations/0008_usercredentialversion.py
  services/platform/apps/users/models.py
  services/platform/apps/users/services.py
  services/platform/apps/users/views.py
  services/platform/tests/api/test_account_security_workflows.py
  services/platform/tests/users/test_session_auth_hash_binding.py
  services/portal/apps/api_client/services.py
  services/portal/apps/users/views.py
  services/portal/tests/users/test_mfa_session_binding.py
Due: platform, portal

fix(portal): move the Portal counters and claims to the shared store and gate startup on its table
  Makefile
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/praho-portal.service.j2
  deploy/portal/entrypoint.sh
  docs/ADRs/ADR-0050-portal-infrastructure-tables.md
  docs/ADRs/README.md
  services/portal/apps/common/checks.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/orders/services.py
  services/portal/apps/orders/views.py
  services/portal/apps/users/middleware.py
  services/portal/tests/common/test_auth_rate_limiting.py
  services/portal/tests/common/test_cookie_consent.py
  services/portal/tests/common/test_portal_counter_sites.py
  services/portal/tests/common/test_proxy_trust.py
  services/portal/tests/common/test_rate_limit_views.py
  services/portal/tests/customers/test_customers_views.py
  services/portal/tests/orders/_order_flow_cases.py
  services/portal/tests/orders/_order_rate_limit_and_security_cases.py
  services/portal/tests/orders/_order_security_basic_cases.py
  services/portal/tests/orders/test_cart_flow_htmx_targets.py
  services/portal/tests/orders/test_cart_ux_enhancements.py
  services/portal/tests/orders/test_confirm_payment_user_id.py
  services/portal/tests/orders/test_dos_hardening.py
  services/portal/tests/orders/test_order_core_functionality.py
  services/portal/tests/orders/test_rate_limit_views.py
  services/portal/tests/orders/test_security.py
  services/portal/tests/orders/test_shared_checkout_claims.py
  services/portal/tests/orders/test_views.py
  services/portal/tests/test_portal_security.py
  services/portal/tests/users/test_login_errors.py
  services/portal/tests/users/test_membership_hash_middleware.py
  services/portal/tests/users/test_session_revocation.py
  tests/deploy/test_portal_startup.py
Due: portal

feat(common): add a bounded sweep for expired counters to both services
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/portal/entrypoint.sh
  services/platform/apps/common/counters.py
  services/platform/apps/common/management/commands/cull_counters.py
  services/platform/apps/common/tasks.py
  services/platform/tests/common/test_counter_cull_schedule.py
  services/platform/tests/common/test_counters.py
  services/portal/apps/common/counters.py
  services/portal/apps/common/management/__init__.py
  services/portal/apps/common/management/commands/__init__.py
  services/portal/apps/common/management/commands/cull_counters.py
  services/portal/tests/common/test_counters.py
  tests/test_cross_service_parity.py
Due: platform, portal

fix(common): close the review findings on the counter store, its call sites and the Caddy routes
  deploy/ansible/roles/praho-native/templates/Caddyfile.native.j2
  deploy/ansible/roles/praho/templates/Caddyfile.j2
  deploy/caddy/Caddyfile
  deploy/caddy/Caddyfile.platform
  docs/ADRs/ADR-0050-portal-infrastructure-tables.md
  docs/security/SECURITY_CONFIGURATION.md
  scripts/audit_model_allowlist.txt
  services/platform/apps/billing/efactura/quota.py
  services/platform/apps/common/checks.py
  services/platform/apps/common/counters.py
  services/platform/apps/notifications/services.py
  services/platform/tests/billing/efactura/test_security.py
  services/platform/tests/common/test_counter_table_check.py
  services/platform/tests/common/test_counters.py
  services/platform/tests/common/test_platform_counter_sites.py
  services/platform/tests/domains/test_registrar_contracts.py
  services/portal/apps/common/counters.py
  services/portal/apps/common/rate_limiting.py
  services/portal/apps/orders/views.py
  services/portal/apps/users/middleware.py
  services/portal/tests/common/test_counters.py
  services/portal/tests/orders/_order_rate_limit_and_security_cases.py
  services/portal/tests/orders/test_shared_checkout_claims.py
  tests/deploy/test_caddy_routing.py
Due: platform, portal

fix(billing): close the review findings on the VIES evidence gate
  services/platform/apps/billing/ec_sales_service.py
  services/platform/apps/billing/management/commands/validate_vat_numbers.py
  services/platform/apps/billing/tasks.py
  services/platform/apps/billing/tax_evidence.py
  services/platform/apps/billing/vies_evidence.py
  services/platform/apps/customers/profile_models.py
  services/platform/tests/billing/test_vies_evidence.py
  services/platform/tests/orders/test_order_security.py
Due: platform

fix(users): close the review findings on the session index and the MFA binding
  scripts/audit_test_layout.py
  services/platform/apps/users/mfa.py
  services/platform/apps/users/migrations/0008_usercredentialversion.py
  services/platform/apps/users/services.py
  services/platform/apps/users/session_backend.py
  services/platform/apps/users/tasks.py
  services/platform/tests/common/test_audit_test_layout.py
  services/platform/tests/users/test_session_auth_hash_binding.py
  services/platform/tests/users/test_session_index.py
  services/portal/apps/users/middleware.py
  services/portal/apps/users/views.py
  services/portal/tests/users/test_mfa_session_binding.py
Due: platform, portal

docs: record the second round of security review fixes
  CHANGELOG.md
Due: none

test(integration): admit the counter store in the Portal isolation check
  tests/integration/test_security_hardening.py
Due: none

fix(portal): a dashboard of zeros and an empty chart both claimed to be data
  services/portal/apps/dashboard/views.py
  services/portal/apps/services/services.py
  services/portal/templates/dashboard/dashboard.html
  services/portal/tests/common/test_maintenance_feedback.py
  services/portal/tests/dashboard/test_maintenance_dashboard.py
Due: portal

fix(ci): measure coverage correctly, gate it per package, and make the browser suite count (#543)
  .github/workflows/nightly.yml
  .github/workflows/platform.yml
  .gitignore
  Makefile
  pyproject.toml
  scripts/e2e_stack.py
  services/platform/apps/billing/views.py
  services/platform/tests/billing/test_billing_report_screens.py
  services/platform/tests/common/test_e2e_stack.py
Due: platform

fix(portal): tell the customer it is maintenance, not that their data is gone (#544)
  Makefile
  services/platform/apps/common/middleware.py
  services/platform/tests/common/test_maintenance_gate.py
  services/portal/apps/api_client/services.py
  services/portal/apps/billing/services.py
  services/portal/apps/billing/views.py
  services/portal/apps/common/auth.py
  services/portal/apps/common/rate_limit_feedback.py
  services/portal/apps/dashboard/views.py
  services/portal/apps/services/services.py
  services/portal/apps/services/views.py
  services/portal/apps/tickets/services.py
  services/portal/apps/users/views.py
  services/portal/templates/billing/partials/invoices_table.html
  services/portal/templates/components/maintenance_inline_alert.html
  services/portal/templates/dashboard/dashboard.html
  services/portal/templates/services/partials/services_table.html
  services/portal/templates/services/partials/usage_chart.html
  services/portal/templates/tickets/partials/tickets_table.html
  services/portal/templates/users/login.html
  services/portal/tests/common/test_maintenance_feedback.py
  services/portal/tests/common/test_maintenance_not_a_server_error.py
  services/portal/tests/dashboard/test_maintenance_dashboard.py
  services/portal/tests/security/test_hmac_production_security.py
  tests/e2e/portal/test_maintenance_window.py
  tests/integration/test_cross_service_parity.py
  tests/test_cross_service_parity.py
Due: platform, portal

feat(settings): gate whether a setting has any effect — 56 of 262 turn out to have none (#545)
  QA/README.md
  QA/cycle-01-v0.21.0/README.md
  QA/cycle-01-v0.21.0/action_log.md
  QA/cycle-01-v0.21.0/mobile_pass_plan.md
  QA/cycle-01-v0.21.0/qa_report.md
  QA/cycle-02-v0.30.0/findings.md
  QA/plan.md
  scripts/lint_settings_coverage.py
  scripts/settings_drift_baseline.txt
  scripts/settings_effect_baseline.txt
  scripts/settings_inert_baseline.txt
  services/platform/tests/billing/test_efactura_deadline_settings_effects.py
  services/platform/tests/common/test_settings_lint_detectors.py
  services/platform/tests/customers/test_credit_settings_effects.py
  services/platform/tests/orders/test_order_settings_effects.py
  services/platform/tests/settings/test_company_identity_effects.py
  services/platform/tests/settings/test_smartbill_settings_effects.py
  services/platform/tests/tickets/test_ticket_settings_effects.py
  services/platform/tests/users/test_session_settings_effects.py
Due: none

fix(quality): stop swallowing five failures, and measure which tests assert nothing (#547)
  Makefile
  QA/cycle-02-v0.30.0/phase-4-survey.md
  scripts/audit_test_assertion_quality.py
  scripts/status_only_test_baseline.txt
  services/platform/apps/common/middleware.py
  services/platform/apps/infrastructure/registration_service.py
  services/platform/apps/orders/views.py
  services/platform/tests/common/test_session_security_failclosed.py
  services/platform/tests/infrastructure/test_verify_and_activate_refresh.py
  services/platform/tests/orders/test_vat_rate_lookup_error_paths.py
  services/portal/tests/orders/test_confirm_payment_user_id.py
Due: platform

chore: bump version to v0.30.0 and update CHANGELOG
  CHANGELOG.md
  README.md
  docs/ADRs/README.md
  pyproject.toml
  services/platform/apps/common/views.py
  services/platform/pyproject.toml
  services/platform/templates/base.html
  services/portal/pyproject.toml
  services/portal/templates/base.html
  uv.lock
Due: platform

chore: bump version to v0.30.0 and update CHANGELOG (#559)
  CHANGELOG.md
  README.md
  docs/ADRs/README.md
  pyproject.toml
  services/platform/apps/common/views.py
  services/platform/pyproject.toml
  services/platform/templates/base.html
  services/portal/pyproject.toml
  services/portal/templates/base.html
  uv.lock
Due: platform

fix: close six verified defects from the consistency audit
  CHANGELOG.md
  services/platform/apps/api/billing/views.py
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/orders/views.py
  services/platform/apps/api/secure_auth.py
  services/platform/apps/api/services/views.py
  services/platform/apps/api/tickets/views.py
  services/platform/apps/api/users/views.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/common/middleware.py
  services/platform/apps/customers/signals.py
  services/platform/apps/domains/signals.py
  services/platform/apps/provisioning/services.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/tests/api/test_api_users_security.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/api/test_public_endpoint_exemption.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_proforma_rollback_on_error.py
  services/platform/tests/customers/test_customer_suspension_cascade.py
  services/platform/tests/domains/test_virtualmin_sync_commit_boundary.py
  services/platform/tests/provisioning/test_cross_app_integration.py
  services/platform/tests/provisioning/test_virtualmin_destructive_permissions.py
  services/portal/apps/orders/platform_messages.py
  services/portal/apps/orders/views.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/templates/orders/checkout.html
  services/portal/tests/orders/test_order_error_localisation.py
  tests/deploy/test_caddy_routing.py
  tests/integration/test_platform_error_localisation.py
Due: platform, portal

fix(customers): do not resume a service whose subscription stopped paying
  docs/ADRs/ADR-0032-dual-hmac-inter-service-authentication.md
  services/platform/apps/customers/signals.py
  services/platform/tests/customers/test_customer_suspension_cascade.py
  services/portal/apps/orders/platform_messages.py
Due: platform, portal

fix: close six verified defects from the consistency audit (#560)
  CHANGELOG.md
  docs/ADRs/ADR-0032-dual-hmac-inter-service-authentication.md
  services/platform/apps/api/billing/views.py
  services/platform/apps/api/customers/views.py
  services/platform/apps/api/orders/views.py
  services/platform/apps/api/secure_auth.py
  services/platform/apps/api/services/views.py
  services/platform/apps/api/tickets/views.py
  services/platform/apps/api/users/views.py
  services/platform/apps/billing/proforma_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/common/middleware.py
  services/platform/apps/customers/signals.py
  services/platform/apps/domains/signals.py
  services/platform/apps/provisioning/services.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/tests/api/test_api_users_security.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/api/test_public_endpoint_exemption.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/billing/test_proforma_rollback_on_error.py
  services/platform/tests/customers/test_customer_suspension_cascade.py
  services/platform/tests/domains/test_virtualmin_sync_commit_boundary.py
  services/platform/tests/provisioning/test_cross_app_integration.py
  services/platform/tests/provisioning/test_virtualmin_destructive_permissions.py
  services/portal/apps/orders/platform_messages.py
  services/portal/apps/orders/views.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/templates/orders/checkout.html
  services/portal/tests/orders/test_order_error_localisation.py
  tests/deploy/test_caddy_routing.py
  tests/integration/test_platform_error_localisation.py
Due: platform, portal
