Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

fix(ui): input_field silently drops constraint attributes and falsy-zero values
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/tests/ui/test_component_input.py
  shared/ui/templates/components/input.html
Due: portal

fix(ui): close review findings on the input_field passthrough fix
  services/platform/apps/ui/attributes.py
  services/portal/apps/ui/attributes.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/tests/ui/test_component_input.py
  shared/ui/templates/components/input.html
Due: platform, portal

docs(scripts): correct and document the restart requirement's real cause
  scripts/screenshot_diff.py
Due: none

fix(scripts): five real defects in the screenshot harness, found by review
  scripts/screenshot_diff.py
  tests/integration/test_screenshot_diff.py
Due: none

feat(ui): add hx_sync and hx_indicator to input_field
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/tests/ui/test_component_input.py
  shared/ui/templates/components/input.html
Due: portal

fix(ui): button's icon= kwarg has rendered nothing since the SVG migration
  services/portal/tests/ui/test_component_button.py
  shared/ui/templates/components/button.html
Due: none

test(ui): strengthen the unknown-icon-name test to discriminate implementations
  services/portal/tests/ui/test_component_button.py
Due: none

fix(templates): swap billing invoice_detail and status filter to components
  services/portal/apps/billing/views.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/templates/billing/invoice_detail.html
  services/portal/templates/billing/partials/invoice_extra_filters.html
  services/portal/tests/billing/test_invoice_detail_refund_modal.py
Due: portal

fix(e2e): configure the RON bank account platform's e2e settings never set
  services/platform/config/settings/e2e.py
  services/platform/tests/billing/test_e2e_settings_bank_transfer.py
  tests/e2e/portal/test_customer_users.py
Due: none

test(billing): assert exact hx-* values on the status filter select
  services/portal/tests/billing/test_invoice_detail_refund_modal.py
Due: none

fix(ui): button_id and file-input accept/aria-label/multiple were silently dropped
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/tests/ui/test_component_button.py
  services/portal/tests/ui/test_component_input.py
  shared/ui/templates/components/input.html
Due: portal

feat(lint): add a per-line tmpl-allow exemption marker for TMPL001-004
  scripts/lint_template_components.py
  tests/integration/test_lint_template_components.py
Due: none

fix(lint): close three review findings on the tmpl-allow marker
  Makefile
  scripts/lint_template_components.py
  tests/integration/test_lint_template_components.py
Due: none

fix(templates): swap tickets area to shared components
  services/portal/apps/tickets/views.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/templates/tickets/partials/status_and_comments.html
  services/portal/templates/tickets/ticket_create.html
  services/portal/tests/tickets/test_ticket_create_view.py
  services/portal/tests/ui/test_component_input.py
Due: portal

fix(tickets): normalize unrecognized priority values on error re-render
  services/portal/apps/tickets/views.py
  services/portal/tests/tickets/test_ticket_create_view.py
Due: portal

fix(lint): close two bot review findings on the tmpl-allow marker
  scripts/lint_template_components.py
  tests/integration/test_lint_template_components.py
Due: none

feat(lint): wire the status-only test assertion ratchet into make lint (#570)
  Makefile
  docs/testing/manual-e2e.md
  scripts/audit_test_assertion_quality.py
  scripts/status_only_test_baseline.txt
  services/platform/tests/common/test_assertion_quality_detector.py
Due: none

fix(portal): dashboard widgets 500 on every request (#571)
  services/portal/templates/services/partials/dashboard_widget.html
  services/portal/templates/tickets/partials/dashboard_widget.html
  services/portal/tests/services/test_dashboard_widget_route.py
  services/portal/tests/tickets/test_dashboard_widget_route.py
Due: none

test: content-assertion tests for untested billing and infrastructure routes (#572)
  services/platform/tests/infrastructure/test_provider_size_region_list_routes.py
  services/portal/tests/billing/test_pdf_export_views.py
  services/portal/tests/billing/test_recurring_authorization_management.py
  services/portal/tests/billing/test_request_refund_view.py
Due: none

fix(lint): stop the template gate from measuring or reporting the wrong thing (#573)
  .github/workflows/integration.yml
  .pre-commit-config.yaml
  scripts/lint_template_components.py
  tests/integration/test_lint_template_components.py
Due: none

fix(portal): usage chart no longer leaks its own dev comment to customers (#574)
  services/portal/templates/services/partials/usage_chart.html
  services/portal/tests/services/test_service_usage_view.py
Due: none

feat(scripts): visual-regression harness for Phase 4 template-fix verification (#575)
  .gitignore
  scripts/screenshot_diff.py
  tests/integration/test_screenshot_diff.py
Due: none

fix(ui): input_field silently drops constraint attributes and falsy-zero values (#576)
  services/platform/apps/ui/attributes.py
  services/portal/apps/ui/attributes.py
  services/portal/apps/ui/templatetags/ui_components.py
  services/portal/tests/ui/test_component_input.py
  shared/ui/templates/components/input.html
Due: platform, portal

fix(ui): button icon= has rendered nothing since the SVG migration (#577)
  services/portal/tests/ui/test_component_button.py
  shared/ui/templates/components/button.html
Due: none

feat(lint): add a per-line tmpl-allow exemption marker for TMPL001-004 (#585)
  Makefile
  scripts/lint_template_components.py
  tests/integration/test_lint_template_components.py
Due: none

fix(deploy): cap request bodies on the Platform's public Caddy handles
  deploy/ansible/roles/praho-native/templates/Caddyfile.native.j2
  deploy/ansible/roles/praho/templates/Caddyfile.j2
  deploy/caddy/Caddyfile
  deploy/caddy/Caddyfile.platform
  tests/deploy/test_caddy_routing.py
Due: none

fix(dashboard): count this month's revenue from the local 1st, not "now on the 1st" (#582)
  services/platform/apps/common/views.py
  services/platform/tests/billing/test_staff_currency_summaries.py
Due: platform

test(billing): expect the reports' monthly series in the local calendar month
  services/platform/tests/billing/test_billing_report_screens.py
Due: none

fix(efactura): key the ANAF daily quota on the Romanian date (#550)
  services/platform/apps/billing/efactura/quota.py
  services/platform/tests/billing/efactura/test_quota.py
Due: platform

Path conditions:
  platform: any of: services/platform/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
  portal: any of: services/portal/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
