Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

codecov.yml:

# Codecov configuration for PRAHO two-service architecture
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 90%

flags:
  platform:
    paths:
      - services/platform/apps/
    carryforward: true
  portal:
    paths:
      - services/portal/apps/
    carryforward: true

ignore:
  - "*/migrations/*"
  - "*/tests/*"
  - "*/settings/*"
  - "manage.py"
  - "*/wsgi.py"
  - "*/asgi.py"
  - "scripts/*"
  - "docs/*"
  - "tests/*"

test(portal): pin the timeout redirect and the banner cache's TTL
  services/portal/tests/common/test_account_health.py
  services/portal/tests/common/test_session_activity_writes.py
Due: none

test(portal): seed the banner cache in the new shape, and keep DEBUG off
  services/portal/tests/billing/test_pagination_query.py
  services/portal/tests/common/test_session_activity_writes.py
  services/portal/tests/services/test_pagination_query.py
  services/portal/tests/tickets/test_pagination_query.py
Due: none

fix(portal): a request that changes nothing does not rewrite the session
  docs/ADRs/ADR-0050-portal-infrastructure-tables.md
  services/portal/apps/common/account_health.py
  services/portal/apps/common/middleware.py
  services/portal/apps/dashboard/views.py
  services/portal/tests/common/test_account_health.py
  services/portal/tests/common/test_session_activity_writes.py
  services/portal/tests/dashboard/test_rate_limit_dashboard.py
Due: portal

fix(portal): each Platform call uses its thread's own session, which never holds a cookie (#645)
  services/portal/apps/api_client/services.py
  services/portal/apps/common/outbound_http.py
  services/portal/conftest.py
  services/portal/gunicorn.conf.py
  services/portal/tests/api_client/test_outbound_http.py
  services/portal/tests/api_client/test_thread_safety.py
  services/portal/tests/common/test_outbound_isolation.py
Due: portal

fix(portal): a request that changes nothing does not rewrite the session (#646)
  docs/ADRs/ADR-0050-portal-infrastructure-tables.md
  services/portal/apps/common/account_health.py
  services/portal/apps/common/middleware.py
  services/portal/apps/dashboard/views.py
  services/portal/tests/billing/test_pagination_query.py
  services/portal/tests/common/test_account_health.py
  services/portal/tests/common/test_session_activity_writes.py
  services/portal/tests/dashboard/test_rate_limit_dashboard.py
  services/portal/tests/services/test_pagination_query.py
  services/portal/tests/tickets/test_pagination_query.py
Due: portal

build(deps): upgrade gunicorn to 26.2.0 for both services
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

build(deploy): start gunicorn without its control socket
  CHANGELOG.md
  deploy/ansible/roles/praho-native/templates/praho-platform.service.j2
  deploy/ansible/roles/praho-native/templates/praho-portal.service.j2
  deploy/platform/entrypoint.sh
  deploy/portal/entrypoint.sh
Due: none

build(deps): upgrade gunicorn to 26.2.0 for both services (#648)
  CHANGELOG.md
  deploy/ansible/roles/praho-native/templates/praho-platform.service.j2
  deploy/ansible/roles/praho-native/templates/praho-portal.service.j2
  deploy/platform/entrypoint.sh
  deploy/portal/entrypoint.sh
  pyproject.toml
  uv.lock
Due: none

fix(api): the HMAC validator tells a store outage from a forged request
  CHANGELOG.md
  services/platform/apps/common/middleware.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/common/test_hmac_rate_limiter_failclosed.py
Due: platform

test(api): run nonce-claiming HMAC tests with a database
  services/platform/tests/api/test_login_client_ip_limits.py
  services/platform/tests/api/test_portal_registry_hmac.py
  tests/integration/test_portal_signature_verifies_on_platform.py
Due: none

fix(api): a store outage asks the portal to retry within its cap
  CHANGELOG.md
  docs/ADRs/ADR-0032-dual-hmac-inter-service-authentication.md
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/apps/common/middleware.py
  services/platform/tests/common/test_hmac_rate_limiter_failclosed.py
  tests/integration/test_portal_signature_verifies_on_platform.py
Due: platform

fix(api): counter claims cull expired rows too
  services/platform/apps/common/counters.py
  services/platform/tests/common/test_counters.py
Due: platform

fix(portal): keep the counter store identical to Platform's
  services/portal/apps/common/counters.py
  services/portal/tests/common/test_counters.py
Due: portal

fix(portal): the Platform call budget also bounds the response body
  CHANGELOG.md
  services/portal/apps/api_client/services.py
  services/portal/apps/users/middleware.py
  services/portal/config/settings/base.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
  services/portal/tests/api_client/test_platform_call_budget.py
  services/portal/tests/users/test_session_revocation.py
Due: portal

fix(portal): a Platform call has a total time budget, retries included
  services/portal/apps/api_client/services.py
  services/portal/apps/tickets/services.py
  services/portal/apps/users/middleware.py
  services/portal/config/settings/base.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
  services/portal/tests/api_client/test_platform_call_budget.py
Due: portal

docs(portal): drop a wrong ADR reference from the body deadline note
  services/portal/apps/api_client/services.py
Due: portal

docs(portal): state the Platform body deadline's real bound
  CHANGELOG.md
  services/portal/apps/api_client/services.py
  services/portal/apps/users/middleware.py
  services/portal/tests/api_client/test_platform_call_budget.py
Due: portal

fix(api): the HMAC validator tells a store outage from a forged request (#649)
  CHANGELOG.md
  docs/ADRs/ADR-0032-dual-hmac-inter-service-authentication.md
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/apps/common/counters.py
  services/platform/apps/common/middleware.py
  services/platform/tests/api/test_hmac_middleware.py
  services/platform/tests/api/test_login_client_ip_limits.py
  services/platform/tests/api/test_portal_registry_hmac.py
  services/platform/tests/common/test_counters.py
  services/platform/tests/common/test_hmac_rate_limiter_failclosed.py
  services/portal/apps/common/counters.py
  services/portal/tests/common/test_counters.py
  tests/integration/test_portal_signature_verifies_on_platform.py
Due: platform, portal

fix(portal): a Platform call has a total time budget, retries included (#650)
  CHANGELOG.md
  services/portal/apps/api_client/services.py
  services/portal/apps/tickets/services.py
  services/portal/apps/users/middleware.py
  services/portal/config/settings/base.py
  services/portal/config/settings/prod.py
  services/portal/config/settings/staging.py
  services/portal/tests/api_client/test_platform_call_budget.py
  services/portal/tests/users/test_session_revocation.py
Due: portal

fix(api): one customer cannot use up the Platform budget every customer shares
  CHANGELOG.md
  docs/ADRs/ADR-0030-rate-limiting-architecture.md
  services/platform/apps/common/apps.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/apps/common/portal_hmac.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_hmac_principal_limits.py
Due: platform

feat(deploy): one owner for the portal's server settings
  CHANGELOG.md
  deploy/ansible/roles/praho-native/defaults/main.yml
  deploy/ansible/roles/praho-native/templates/praho-portal.service.j2
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.single-server.yml
  deploy/portal/entrypoint.sh
  docs/deployment/DEPLOYMENT.md
  services/portal/config/server_settings.py
  services/portal/gunicorn.conf.py
  services/portal/tests/common/test_server_settings.py
Due: none

fix(api): give anonymous logins their own budget, and send the user on catalog calls
  CHANGELOG.md
  docs/ADRs/ADR-0030-rate-limiting-architecture.md
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/apps/common/apps.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/portal_hmac.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_hmac_principal_limits.py
  services/portal/apps/billing/services.py
  services/portal/apps/orders/services.py
  services/portal/apps/orders/views.py
  services/portal/apps/services/services.py
  services/portal/apps/services/views.py
  services/portal/tests/orders/test_cart_session_mocked.py
  services/portal/tests/orders/test_views.py
  services/portal/tests/services/test_service_usage_view.py
Due: platform, portal

fix(api): per-customer limits ignore IPv6 scope text; catalog calls stay anonymous
  CHANGELOG.md
  services/platform/apps/common/portal_hmac.py
  services/platform/tests/api/test_hmac_principal_limits.py
  services/portal/apps/orders/services.py
  services/portal/apps/orders/views.py
  services/portal/apps/services/services.py
  services/portal/apps/services/views.py
  services/portal/tests/billing/test_stripe_config_identity.py
  services/portal/tests/orders/test_cart_session_mocked.py
  services/portal/tests/orders/test_views.py
  services/portal/tests/services/test_service_usage_view.py
Due: platform, portal

fix(deploy): prove gunicorn applies the portal's settings, and log access everywhere
  CHANGELOG.md
  deploy/ansible/roles/praho-native/templates/praho-portal.service.j2
  deploy/portal/entrypoint.sh
  docs/deployment/DEPLOYMENT.md
  services/portal/config/server_settings.py
  services/portal/gunicorn.conf.py
  services/portal/tests/common/test_outbound_isolation.py
  services/portal/tests/common/test_server_settings.py
  tests/deploy/test_portal_startup.py
Due: none

docs(deploy): under threads, nothing bounds a slow client until the proxy buffers
  docs/deployment/DEPLOYMENT.md
  services/portal/config/server_settings.py
Due: none

fix(api): one customer cannot use up the Platform budget every customer shares (#652)
  CHANGELOG.md
  docs/ADRs/ADR-0030-rate-limiting-architecture.md
  docs/security/SECURITY_CONFIGURATION.md
  services/platform/apps/common/apps.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/performance/rate_limiting.py
  services/platform/apps/common/portal_hmac.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_hmac_principal_limits.py
  services/portal/apps/billing/services.py
  services/portal/apps/orders/services.py
  services/portal/apps/orders/views.py
  services/portal/tests/billing/test_stripe_config_identity.py
Due: platform, portal

feat(deploy): one owner for the portal's server settings (#653)
  CHANGELOG.md
  deploy/ansible/roles/praho-native/defaults/main.yml
  deploy/ansible/roles/praho-native/templates/praho-portal.service.j2
  deploy/docker-compose.container-service.yml
  deploy/docker-compose.portal-only.yml
  deploy/docker-compose.single-server.yml
  deploy/portal/entrypoint.sh
  docs/deployment/DEPLOYMENT.md
  services/portal/config/server_settings.py
  services/portal/gunicorn.conf.py
  services/portal/tests/common/test_outbound_isolation.py
  services/portal/tests/common/test_server_settings.py
  tests/deploy/test_portal_startup.py
Due: none

fix(portal): concurrent requests on one session no longer undo each other's writes
  CHANGELOG.md
  docs/ADRs/ADR-0055-portal-sessions-merge-concurrent-writes.md
  docs/ADRs/README.md
  services/portal/apps/common/session_store.py
  services/portal/config/settings/base.py
  services/portal/config/settings/dev.py
  services/portal/config/settings/prod.py
  services/portal/tests/common/test_session_backend.py
  services/portal/tests/common/test_session_store.py
Due: portal

fix(portal): session merges keep purchases, rotate safely and report contention honestly
  services/portal/apps/common/session_store.py
  services/portal/tests/common/test_session_store.py
Due: portal

fix(portal): checkout and sign-in let a contended session save reach the 503
  services/portal/apps/orders/views.py
  services/portal/apps/users/views.py
  services/portal/tests/orders/test_checkout_session_contention.py
  services/portal/tests/users/test_contended_key_rotation.py
Due: portal

fix(portal): a contended session save inside a view is a 503 too
  services/portal/apps/common/session_store.py
  services/portal/tests/common/test_session_contention_response.py
Due: portal

fix(portal): a failed session key rotation fails closed, and contention answers 503
  services/portal/apps/common/session_store.py
  services/portal/apps/orders/views.py
  services/portal/config/settings/base.py
  services/portal/tests/common/test_session_store.py
Due: portal

fix(portal): the failed-rotation cleanup catches ordinary errors only
  services/portal/apps/common/session_store.py
Due: portal

fix(portal): a contended session's 503 keeps every security header
  services/portal/apps/common/session_store.py
  services/portal/tests/common/test_session_contention_response.py
Due: portal

fix(portal): a fallback company no longer erases a concurrent company switch
  docs/ADRs/ADR-0055-portal-sessions-merge-concurrent-writes.md
  services/portal/apps/common/session_store.py
  services/portal/tests/common/test_session_store.py
Due: portal

fix(portal): company details filled in by one request never revert a concurrent switch
  docs/ADRs/ADR-0055-portal-sessions-merge-concurrent-writes.md
  services/portal/apps/common/session_store.py
  services/portal/tests/common/test_session_store.py
Due: portal

fix(portal): a partial change to a session group never reverts a concurrent one
  docs/ADRs/ADR-0055-portal-sessions-merge-concurrent-writes.md
  services/portal/apps/common/session_store.py
  services/portal/tests/common/test_session_store.py
Due: portal

fix(portal): concurrent requests on one session no longer undo each other's writes (#651)
  CHANGELOG.md
  docs/ADRs/ADR-0055-portal-sessions-merge-concurrent-writes.md
  docs/ADRs/README.md
  services/portal/apps/common/session_store.py
  services/portal/apps/orders/views.py
  services/portal/apps/users/views.py
  services/portal/config/settings/base.py
  services/portal/config/settings/dev.py
  services/portal/config/settings/prod.py
  services/portal/tests/common/test_session_backend.py
  services/portal/tests/common/test_session_contention_response.py
  services/portal/tests/common/test_session_store.py
  services/portal/tests/orders/test_checkout_session_contention.py
  services/portal/tests/users/test_contended_key_rotation.py
Due: portal

fix(deploy): bound how long a buffered upload may take, and rotate logs within the hour
  CHANGELOG.md
  deploy/ansible/roles/praho-native/tasks/main.yml
  deploy/ansible/roles/praho-native/templates/Caddyfile.native.j2
  deploy/caddy/Caddyfile
  deploy/caddy/Caddyfile.portal
  deploy/portal/Dockerfile
  docs/deployment/DEPLOYMENT.md
  docs/deployment/HTTPS_DEPLOYMENT_CHECKLIST.md
  services/portal/config/settings/logging_config.py
  tests/deploy/test_caddy_routing.py
Due: none

test(portal): log retention is logrotate's, in staging and prod alike
  services/portal/tests/settings/test_logging_configuration.py
Due: none
