Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

fix(domains): restore expires_at guard and add epp_code validation in webhook handlers
  services/platform/apps/domains/webhooks.py
Due: platform

fix(orders,common): on_commit lambda capture, OrderItem.save guard, CSP presence check
  services/platform/apps/common/checks.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/signals.py
Due: platform

fix(tests): fix concurrency test auth/mock, tighten preflight assertion, add H9 fixture items
  services/platform/tests/orders/test_confirm_order_concurrency.py
  services/platform/tests/orders/test_order_flow_hardening.py
Due: none

fix(domains): move expires_at guard before field mutation, harden validation
  services/platform/apps/domains/webhooks.py
Due: platform

fix: address Copilot review — reword CSP check, align test names with assertions
  services/platform/apps/common/checks.py
  services/platform/tests/orders/test_confirm_order_concurrency.py
  services/platform/tests/orders/test_order_flow_hardening.py
Due: platform

fix: post-merge review fixes for PR #137 — webhook regression, code quality, test quality (#172)
  services/platform/apps/common/checks.py
  services/platform/apps/domains/webhooks.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/signals.py
  services/platform/tests/orders/test_confirm_order_concurrency.py
  services/platform/tests/orders/test_order_flow_hardening.py
Due: platform

fix(users,tickets): staff role classification — is_staff_user, validation, data migration (#150) (#154)
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/customers/customer_views.py
  services/platform/apps/tickets/models.py
  services/platform/apps/tickets/views.py
  services/platform/apps/users/migrations/0002_fix_staff_role_data.py
  services/platform/apps/users/models.py
  services/platform/apps/users/views.py
  services/platform/tests/users/test_staff_role_classification.py
Due: platform

fix(users,tickets): complete is_staff_user migration — 5 missed callsites
  services/platform/apps/tickets/views.py
  services/platform/apps/users/models.py
  services/platform/apps/users/views.py
Due: platform

fix(users): make staff role migration reverse fail loudly
  services/platform/apps/users/migrations/0002_fix_staff_role_data.py
Due: platform

refactor(users): migrate all is_staff/staff_role checks to is_staff_user
  services/platform/apps/api/tickets/serializers.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/context_processors.py
  services/platform/apps/common/decorators.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/views.py
  services/platform/apps/customers/customer_service.py
  services/platform/apps/domains/views.py
  services/platform/apps/infrastructure/permissions.py
  services/platform/apps/integrations/views.py
  services/platform/apps/notifications/views.py
  services/platform/apps/orders/views.py
  services/platform/apps/promotions/views.py
  services/platform/apps/provisioning/service_views.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/apps/settings/views.py
  services/platform/apps/users/views.py
  services/platform/tests/orders/test_orders_security.py
Due: platform

fix: address CI mypy failure and Copilot review feedback
  services/platform/apps/integrations/views.py
  services/platform/apps/users/migrations/0002_fix_staff_role_data.py
Due: platform

refactor(users): complete is_staff_user migration — codebase-wide consolidation (#175)
  services/platform/apps/api/tickets/serializers.py
  services/platform/apps/billing/views.py
  services/platform/apps/common/context_processors.py
  services/platform/apps/common/decorators.py
  services/platform/apps/common/middleware.py
  services/platform/apps/common/views.py
  services/platform/apps/customers/customer_service.py
  services/platform/apps/domains/views.py
  services/platform/apps/infrastructure/permissions.py
  services/platform/apps/integrations/views.py
  services/platform/apps/notifications/views.py
  services/platform/apps/orders/views.py
  services/platform/apps/promotions/views.py
  services/platform/apps/provisioning/service_views.py
  services/platform/apps/provisioning/virtualmin_views.py
  services/platform/apps/settings/views.py
  services/platform/apps/tickets/views.py
  services/platform/apps/users/migrations/0002_fix_staff_role_data.py
  services/platform/apps/users/models.py
  services/platform/apps/users/views.py
  services/platform/tests/orders/test_orders_security.py
Due: platform

perf(orders): batch-fetch products and prices in calculate_cart_totals (#100) (#161)
  services/platform/apps/api/orders/views.py
  services/portal/apps/orders/views.py
Due: platform, portal

fix(tickets,templates): standardize staff permission checks to is_staff_user (#151)
  services/platform/templates/components/mobile_header.html
  services/platform/templates/tickets/detail.html
  services/platform/templates/tickets/list.html
  services/platform/templates/tickets/partials/comments_list.html
  services/platform/templates/tickets/partials/status_and_comments.html
  services/platform/templates/tickets/partials/tickets_table.html
  services/portal/templates/tickets/partials/status_and_comments.html
Due: none

fix(billing): EN16931 tax category percent clamp, ordering, and Decimal precision
  services/platform/apps/billing/efactura/xml_builder.py
Due: platform

fix(customers): transaction atomicity, email validation, and branding for invite flow
  services/platform/apps/api/customers/views.py
  services/platform/apps/customers/user_management_views.py
  services/platform/templates/customers/emails/welcome_email.html
  services/platform/templates/customers/emails/welcome_email.txt
Due: platform

fix(notifications): audit resilience, preference precedence, and unsubscribe test coverage
  services/platform/apps/notifications/services.py
  services/platform/tests/notifications/test_unsubscribe_tokens.py
Due: platform

fix(billing): EN16931 critical compliance gaps in UBL XML builder (#177)
  services/platform/apps/billing/efactura/xml_builder.py
  services/platform/tests/billing/efactura/test_xml_builder.py
Due: platform

refactor(users): migrate remaining Python is_staff checks to is_staff_user (#174)
  services/platform/apps/common/context_processors.py
  services/platform/apps/common/decorators.py
  services/platform/apps/infrastructure/permissions.py
  services/platform/apps/orders/views.py
  services/platform/tests/orders/test_orders_security.py
Due: platform

refactor(templates): migrate user.is_staff to user.is_staff_user in non-ticket templates (#176)
  services/platform/templates/base.html
  services/platform/templates/billing/partials/billing_list.html
  services/platform/templates/billing/partials/billing_list_component.html
  services/platform/templates/billing/proforma_detail.html
  services/platform/templates/components/mobile_header.html
  services/platform/templates/customers/partials/header_action.html
  services/platform/templates/dashboard.html
  services/platform/templates/users/profile.html
Due: none

chore(users): invite email hardening — throttle, dedupe, lowercase (#173)
  services/platform/apps/api/customers/views.py
  services/platform/apps/customers/user_management_views.py
  services/platform/apps/users/services.py
Due: platform

fix(notifications): atomicity, audit trail, and TOCTOU fixes for consent ops (#94) (#162)
  services/platform/apps/notifications/models.py
  services/platform/apps/notifications/services.py
  services/platform/tests/notifications/test_unsubscribe_tokens.py
Due: platform

fix(notifications): post-merge review fixes for PR #162
  services/platform/apps/notifications/models.py
  services/platform/apps/notifications/services.py
  services/platform/tests/notifications/test_email_service.py
  services/platform/tests/notifications/test_unsubscribe_tokens.py
Due: platform

fix(customers): wrap marketing_consent signal audit in savepoint
  services/platform/apps/customers/signals.py
  services/platform/tests/notifications/test_unsubscribe_tokens.py
Due: platform

fix(customers): savepoint-wrap all 6 remaining audit calls in signals.py
  services/platform/apps/customers/signals.py
Due: platform

fix(notifications): post-merge review fixes for PR #162 (#183)
  services/platform/apps/customers/signals.py
  services/platform/apps/notifications/models.py
  services/platform/apps/notifications/services.py
  services/platform/tests/notifications/test_email_service.py
  services/platform/tests/notifications/test_unsubscribe_tokens.py
Due: platform

fix(orders): status change AJAX feedback and destructive action confirmation (#98) (#163)
  services/platform/templates/orders/order_detail.html
Due: none

fix(orders): close PR #163 review follow-ups on status-change modal
  services/platform/templates/orders/order_detail.html
Due: none

fix(orders): handle 302→login redirect and harden modal review nits
  services/platform/templates/orders/order_detail.html
Due: none

perf(portal): reduce auth log noise and enable HTTP connection reuse (#83) (#164)
  services/platform/apps/api/secure_auth.py
  services/portal/apps/common/outbound_http.py
  services/portal/apps/dashboard/views.py
  services/portal/tests/api_client/test_outbound_http.py
  services/portal/tests/dashboard/test_rate_limit_dashboard.py
  services/portal/tests/integration/test_cross_service_hmac.py
  services/portal/tests/security/test_hmac_concurrent_attacks.py
  services/portal/tests/security/test_hmac_malformed_headers.py
  services/portal/tests/security/test_hmac_production_security.py
  services/portal/tests/security/test_hmac_timing_attacks.py
  services/portal/tests/users/test_api_client_hmac.py
Due: platform, portal

fix(api,portal): close 17 review findings from PR #164
  services/platform/apps/api/secure_auth.py
  services/platform/apps/api/tickets/views.py
  services/platform/tests/api/test_secure_auth.py
  services/platform/tests/tickets/test_tickets_api_stats.py
  services/portal/apps/common/account_health.py
  services/portal/apps/common/outbound_http.py
  services/portal/apps/dashboard/views.py
  services/portal/apps/services/services.py
  services/portal/apps/tickets/services.py
  services/portal/apps/users/views.py
  services/portal/conftest.py
  services/portal/gunicorn.conf.py
  services/portal/tests/api_client/test_outbound_http.py
  services/portal/tests/common/test_account_health.py
  services/portal/tests/dashboard/test_rate_limit_dashboard.py
  services/portal/tests/security/test_hmac_timing_attacks.py
  services/portal/tests/services/test_services_api.py
  services/portal/tests/tickets/test_tickets_api.py
  services/portal/tests/users/test_customer_switch_invalidation.py
Due: platform, portal

fix(api): send invite email when creating Portal user (#145) (#149)
  services/platform/apps/api/customers/views.py
  services/platform/apps/customers/user_management_views.py
  services/platform/templates/customers/emails/welcome_email.html
  services/platform/templates/customers/emails/welcome_email.txt
  services/platform/tests/api/test_customer_api.py
  services/platform/tests/customers/test_user_management_views.py
Due: platform

fix(customers): harden invite flow — throttle, timing-safe validator, cross-tenant enumeration guard
  services/platform/apps/api/customers/views.py
  services/platform/apps/customers/user_management_views.py
  services/platform/apps/users/services.py
Due: platform

feat(customers): add staff resend-invite endpoint for failed welcome emails
  services/platform/apps/customers/urls.py
  services/platform/apps/customers/views.py
Due: platform

fix(customers): clean up i18n in welcome_email templates
  services/platform/templates/customers/emails/welcome_email.html
  services/platform/templates/customers/emails/welcome_email.txt
Due: none

test(customers): cover invite-flow hardening — enumeration, rollback, rate limit, resend
  services/platform/tests/api/test_customer_api.py
  services/platform/tests/customers/test_user_management_views.py
Due: none

test(customers): integration test for welcome email rendering (closes #173 item 5)
  services/platform/tests/customers/test_user_management_views.py
Due: none

refactor(customers): consolidate welcome-email helper, dynamic expiry, display-name fallback (closes #173 items 2/3/6)
  services/platform/apps/users/services.py
  services/platform/templates/customers/emails/welcome_email.html
  services/platform/templates/customers/emails/welcome_email.txt
  services/platform/tests/customers/test_user_management_views.py
Due: platform

fix(customers): resend-invite link must POST, not GET (codex P1 on PR #184)
  services/platform/apps/customers/user_management_views.py
  services/platform/tests/customers/test_user_management_views.py
Due: platform

fix(customers): atomic rate-limit counter for welcome invite (Copilot #3 on PR #184)
  services/platform/apps/users/services.py
  services/platform/tests/customers/test_user_management_views.py
Due: platform

Path conditions:
  platform: any of: services/platform/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
  portal: any of: services/portal/apps/, but not: */migrations/*, */tests/*, */settings/*, manage.py, */wsgi.py, */asgi.py, scripts/*, docs/*, tests/*
