Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

codecov.yml:

# Codecov configuration for PRAHO two-service architecture
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 90%

flags:
  platform:
    paths:
      - services/platform/apps/
    carryforward: true
  portal:
    paths:
      - services/portal/apps/
    carryforward: true

ignore:
  - "*/migrations/*"
  - "*/tests/*"
  - "*/settings/*"
  - "manage.py"
  - "*/wsgi.py"
  - "*/asgi.py"
  - "scripts/*"
  - "docs/*"
  - "tests/*"

docs: remove DCO badge (PR-only workflow has no push status)
  README.md
Due: none

ci: switch coverage badge from Codecov to gist-based dynamic badge
  .github/workflows/platform.yml
  .github/workflows/portal.yml
  README.md
  codecov.yml
Due: none

ci: switch back to Codecov for coverage badge (public repo)
  .github/workflows/platform.yml
  .github/workflows/portal.yml
  README.md
  codecov.yml
Due: none

ci: remove Codecov integration entirely
  .github/workflows/platform.yml
  .github/workflows/portal.yml
  README.md
  codecov.yml
Due: none

docs: add PostgreSQL, Tailwind, tests, and GDPR badges to README
  README.md
Due: none

feat: implement 5 TODO fixes across security, audit, settings, analytics, metering
  services/platform/apps/audit/tasks.py
  services/platform/apps/billing/metering_service.py
  services/platform/apps/common/security_decorators.py
  services/platform/apps/customers/tasks.py
  services/platform/apps/settings/services.py
  services/platform/apps/settings/urls.py
  services/platform/apps/settings/views.py
  services/platform/apps/users/services.py
  services/platform/tests/audit/test_audit_notification_integration.py
  services/platform/tests/billing/test_metering_enforcement.py
  services/platform/tests/customers/test_customer_analytics.py
  services/platform/tests/security/test_enhanced_validation.py
  services/platform/tests/settings/test_settings_import.py
Due: platform

test(audit,billing): add comprehensive test coverage for audit and billing apps
  README.md
  services/platform/tests/audit/test_audit_compliance.py
  services/platform/tests/audit/test_audit_logging_formatters.py
  services/platform/tests/audit/test_audit_mgmt_commands.py
  services/platform/tests/audit/test_audit_services_coverage.py
  services/platform/tests/audit/test_audit_siem_coverage.py
  services/platform/tests/audit/test_audit_views_coverage.py
  services/platform/tests/billing/test_billing_misc_coverage.py
  services/platform/tests/billing/test_billing_signals_coverage.py
  services/platform/tests/billing/test_billing_tasks.py
  services/platform/tests/billing/test_billing_views_coverage.py
  services/platform/tests/billing/test_efactura_service.py
  services/platform/tests/billing/test_invoice_service.py
  services/platform/tests/billing/test_metering_gateway_coverage.py
  services/platform/tests/billing/test_payment_service.py
  services/platform/tests/billing/test_refund_service_coverage.py
  services/platform/tests/billing/test_subscription_models_coverage.py
  services/platform/tests/billing/test_subscription_service.py
Due: none

test(e2e): expand portal E2E test suite and add dev-e2e-bg make target
  Makefile
  services/portal/templates/billing/invoices_list.html
  tests/e2e/portal/test_customer_billing.py
  tests/e2e/portal/test_customer_services.py
  tests/e2e/portal/test_customer_tickets.py
  tests/e2e/portal/test_customer_users.py
  tests/e2e/portal/test_dashboard.py
  tests/e2e/portal/test_navigation.py
  tests/e2e/portal/test_signup_order_flow.py
Due: none

chore: bump version to v0.19.0 and update CHANGELOG
  CHANGELOG.md
  README.md
  docs/CODEBASE_ARCHAEOLOGY.md
  docs/architecture/DEPENDENCY_ANALYSIS.md
  docs/audits/SECURITY_AUDIT_REPORT.md
  pyproject.toml
  services/platform/pyproject.toml
  services/platform/templates/base.html
  services/portal/pyproject.toml
  services/portal/templates/base.html
  uv.lock
Due: none

ci(release): fix release title extraction from annotated tags
  .github/workflows/release.yml
Due: none

fix(e2e,portal): harden checkout test selectors and add account overview template
  services/portal/templates/dashboard/account_overview.html
  tests/e2e/portal/test_customer_billing.py
  tests/e2e/portal/test_signup_order_flow.py
Due: none

chore: bump version to v0.19.1 and update CHANGELOG
  CHANGELOG.md
  README.md
  docs/CODEBASE_ARCHAEOLOGY.md
  docs/architecture/DEPENDENCY_ANALYSIS.md
  docs/audits/SECURITY_AUDIT_REPORT.md
  pyproject.toml
  services/platform/pyproject.toml
  services/platform/templates/base.html
  services/portal/pyproject.toml
  services/portal/templates/base.html
  uv.lock
Due: none

chore: bump version to v0.20.0 and update CHANGELOG
  CHANGELOG.md
  README.md
  pyproject.toml
  services/platform/pyproject.toml
  services/platform/templates/base.html
  services/portal/pyproject.toml
  services/portal/templates/base.html
  uv.lock
Due: none

fix(portal): correct test assertion type and update README version badge
  README.md
  services/portal/tests/billing/test_billing_services.py
Due: none

docs: restructure docs/ folder, consolidate ADRs, and remove stale files
  README.md
  docs/ADRs/ADR-0002-strategic-linting-framework.md
  docs/ADRs/ADR-0003-comprehensive-type-safety-implementation.md
  docs/ADRs/ADR-0004-custom-2fa-implementation.md
  docs/ADRs/ADR-0005-single-constants-file-architecture.md
  docs/ADRs/ADR-0018-django-encryption-key-management.md
  docs/ADRs/ADR-0019-virtualmin-automatic-provisioning.md
  docs/ADRs/ADR-0020-async-task-processing-architecture.md
  docs/ADRs/ADR-0021-email-enumeration-prevention.md
  docs/ADRs/ADR-0022-project-structure-strategic-seams.md
  docs/ADRs/ADR-0023-database-structure.md
  docs/ADRs/ADR-0024-user-role-clarification.md
  docs/ADRs/ADR-0025-monetary-amounts-in-cents.md
  docs/ADRs/README.md
  docs/README.md
  docs/architecture/README.md
  docs/development/PRE_COMMIT_HOOKS_GUIDE.md
  docs/domain/QUEUE_TASK_METHODOLOGY.md
  docs/security/2FA-SETUP-AND-KEY-MANAGEMENT.md
  scripts/lint_test_suppressions.py
Due: none

docs(ADRs): audit and fix all 25 ADRs for accuracy and cross-references
  docs/ADRs/ADR-0003-comprehensive-type-safety-implementation.md
  docs/ADRs/ADR-0005-single-constants-file-architecture.md
  docs/ADRs/ADR-0008-mypy-removal.md
  docs/ADRs/ADR-0009-pragmatic-mypy-strategy.md
  docs/ADRs/ADR-0010-django-admin-type-annotations.md
  docs/ADRs/ADR-0011-feature-based-test-organization.md
  docs/ADRs/ADR-0012-internal-app-organization.md
  docs/ADRs/ADR-0013-uv-package-manager-migration.md
  docs/ADRs/ADR-0017-portal-auth-fail-open-strategy.md
  docs/ADRs/ADR-0019-virtualmin-automatic-provisioning.md
  docs/ADRs/ADR-0022-project-structure-strategic-seams.md
  docs/ADRs/ADR-0023-database-structure.md
  docs/ADRs/ADR-0024-user-role-clarification.md
  docs/ADRs/ADR-0025-monetary-amounts-in-cents.md
  docs/ADRs/README.md
  docs/README.md
  docs/architecture/ARCHITECTURE.md
  docs/architecture/CHANGELOG.md
  docs/architecture/DEPENDENCY_ANALYSIS.md
  docs/architecture/app-separation.md
Due: none

docs(architecture): fix 6 inaccuracies in ARCHITECTURE.md and regenerate dependency analysis
  .pre-commit-config.yaml
  .python-version
  README.md
  deploy/ansible/roles/praho-native/defaults/main.yml
  deploy/platform/Dockerfile
  deploy/portal/Dockerfile
  pyproject.toml
  services/platform/pyproject.toml
  services/portal/pyproject.toml
  uv.lock
Due: none

chore: remove outdated post-3-50-questions.md file
  post-3-50-questions.md
Due: none

docs(architecture): move diagrams to subfolder, update archaeology to Era 4
  docs/architecture/ARCHITECTURE.md
  docs/architecture/CODEBASE_ARCHAEOLOGY.md
  docs/architecture/README.md
  docs/architecture/diagrams/app-dependencies.mmd
  docs/architecture/diagrams/data-flow.mmd
  docs/architecture/diagrams/deployment.mmd
  docs/architecture/diagrams/entity-relationships.mmd
  docs/architecture/diagrams/system-overview.mmd
Due: none

fix(billing): replace hardcoded 19% VAT with dynamic TaxService lookup
  docs/deployment/PRODUCTION_QUALITY_CHECKLIST.md
  services/platform/apps/billing/services.py
Due: platform

fix(audit,ci): add taskName to LogRecord attrs and update pre-commit hooks
  .pre-commit-config.yaml
  services/platform/apps/audit/logging_formatters.py
Due: platform

fix(billing): correct parameter order in PDF export views and add invoice PDF E2E test
  services/platform/apps/api/billing/views.py
  services/platform/static/css/tailwind.min.css
  services/portal/static/css/tailwind.min.css
  tests/e2e/portal/test_customer_billing.py
Due: platform

chore: suppress noisy Tailwind CSS warnings in build-css target
  Makefile
Due: none

fix(billing): handle date vs datetime mismatch in Invoice.is_overdue()
  services/platform/apps/billing/invoice_models.py
Due: platform

fix(orders): wrap order item audit call in BusinessEventData
  services/platform/apps/orders/signals.py
Due: platform

test(e2e): consolidate ticket E2E tests with hard assertions and correct selectors
  tests/e2e/platform/test_platform_tickets.py
  tests/e2e/portal/test_customer_users.py
  tests/e2e/portal/test_portal_tickets.py
Due: none

fix(security): add 503 maintenance template for Semgrep-clean responses
  services/platform/templates/503.html
Due: none

fix(tickets): allow staff reply on closed tickets, add inert to mobile nav
  services/platform/apps/tickets/views.py
  services/platform/templates/components/mobile_header.html
  services/platform/templates/tickets/partials/status_and_comments.html
  services/portal/templates/components/mobile_header.html
  services/portal/templates/tickets/partials/status_and_comments.html
  tests/e2e/portal/test_portal_tickets.py
Due: platform

feat(portal): unified list page architecture with shared components (ADR-0026)
  CHANGELOG.md
  docs/ADRs/ADR-0026-portal-frontend-architecture.md
  docs/development/COMPONENT_MIGRATION_SUMMARY.md
  services/platform/apps/api/services/serializers.py
  services/platform/apps/api/tickets/views.py
  services/platform/static/css/tailwind.min.css
  services/platform/tests/audit/test_audit_services_coverage.py
  services/portal/apps/billing/urls.py
  services/portal/apps/billing/views.py
  services/portal/apps/common/pagination.py
  services/portal/apps/services/urls.py
  services/portal/apps/services/views.py
  services/portal/apps/tickets/views.py
  services/portal/static/css/tailwind.min.css
  services/portal/templates/billing/invoices_list.html
  services/portal/templates/billing/partials/header_action.html
  services/portal/templates/billing/partials/invoice_extra_filters.html
  services/portal/templates/billing/partials/invoices_table.html
  services/portal/templates/components/list_page_filters.html
  services/portal/templates/components/list_page_header.html
  services/portal/templates/components/list_page_skeleton.html
  services/portal/templates/services/partials/header_action.html
  services/portal/templates/services/partials/services_table.html
  services/portal/templates/services/service_list.html
  services/portal/templates/tickets/partials/header_action.html
  services/portal/templates/tickets/ticket_list.html
  tests/e2e/portal/test_customer_invoices.py
  tests/e2e/portal/test_customer_provisioning.py
  tests/e2e/portal/test_customer_services.py
  tests/e2e/portal/test_customer_tickets.py
  tests/e2e/portal/test_portal_tickets.py
Due: platform, portal

fix(billing): use request.user.id instead of .pk for portal invoice view
  services/portal/apps/billing/views.py
Due: portal

feat(portal): add persistent account health banner with session-cached summaries
  services/portal/apps/common/account_health.py
  services/portal/apps/common/context_processors.py
  services/portal/locale/ro/LC_MESSAGES/django.mo
  services/portal/locale/ro/LC_MESSAGES/django.po
  services/portal/templates/base.html
  services/portal/templates/components/account_status_banner.html
  services/portal/tests/common/test_account_health.py
Due: portal

refactor(portal): shorten ticket list page title to "Tickets"
  services/portal/apps/tickets/views.py
Due: portal

fix(test): widen timing tolerance in response uniformity test
  services/portal/tests/orders/test_security.py
Due: none

feat(tickets): link tickets to services and rename TicketAPIClient
  services/platform/static/css/tailwind.min.css
  services/portal/apps/common/account_health.py
  services/portal/apps/dashboard/views.py
  services/portal/apps/tickets/services.py
  services/portal/apps/tickets/views.py
  services/portal/static/css/tailwind.min.css
  services/portal/templates/services/service_detail.html
  services/portal/templates/tickets/ticket_create.html
  services/portal/templates/tickets/ticket_detail.html
Due: portal

fix(build): ensure trailing newline in built CSS files
  Makefile
Due: none
