Repository captainpragmatic/PRAHO: changes, and which Codecov flags are due for each by the changed paths.
All: platform, portal

codecov.yml:

# Codecov configuration for PRAHO two-service architecture
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 90%

flags:
  platform:
    paths:
      - services/platform/apps/
    carryforward: true
  portal:
    paths:
      - services/portal/apps/
    carryforward: true

ignore:
  - "*/migrations/*"
  - "*/tests/*"
  - "*/settings/*"
  - "manage.py"
  - "*/wsgi.py"
  - "*/asgi.py"
  - "scripts/*"
  - "docs/*"
  - "tests/*"

fix(billing): gate TESTING auth bypass on DEBUG=True to prevent prod exposure (#129)
  services/platform/apps/billing/views.py
  services/platform/config/settings/base.py
  services/platform/config/settings/e2e.py
  services/platform/config/settings/test.py
  services/platform/tests/billing/test_security.py
Due: platform

fix(tests): deduplicate imports in test_security.py after PR #140 merge
  services/platform/tests/billing/test_security.py
Due: none

fix(orders): add transaction.set_rollback(True) in create_order error path
  services/platform/apps/orders/services.py
Due: platform

fix(billing): fix InvoiceNumberingService.get_or_create_sequence AttributeError
  services/platform/apps/billing/signals.py
Due: platform

fix(notifications): narrow RSA public key type for mypy in SES webhook verification
  services/platform/apps/notifications/webhooks.py
Due: platform

fix(api/customers): 3 security and data integrity gaps in customer API (#143, #144, #146)
  .github/workflows/platform.yml
  services/platform/apps/api/customers/views.py
  services/platform/tests/api/test_api_users_security.py
  services/platform/tests/api/test_customer_api.py
  services/platform/tests/api/test_customer_details_api.py
  services/platform/tests/api/test_hmac_billing_staff_bypass.py
  services/platform/tests/api/test_throttle_exception_handler.py
Due: platform

fix(security): 5 post-merge hardening fixes from PR #147 review
  .github/workflows/platform.yml
  services/platform/apps/api/customers/views.py
  services/platform/apps/common/middleware.py
  services/platform/tests/api/test_customer_details_api.py
Due: platform

fix(api): send invite email when creating Portal user (#145)
  services/platform/apps/api/customers/views.py
  services/platform/apps/customers/user_management_views.py
  services/platform/templates/customers/emails/welcome_email.html
  services/platform/templates/customers/emails/welcome_email.txt
  services/platform/tests/api/test_customer_api.py
  services/platform/tests/customers/test_user_management_views.py
Due: platform

fix(users,tickets): staff role classification — is_staff_user, validation, data migration (#150)
  services/platform/apps/common/management/commands/generate_sample_data.py
  services/platform/apps/customers/customer_views.py
  services/platform/apps/tickets/models.py
  services/platform/apps/tickets/views.py
  services/platform/apps/users/migrations/0002_fix_staff_role_data.py
  services/platform/apps/users/models.py
  services/platform/apps/users/views.py
  services/platform/tests/users/test_staff_role_classification.py
Due: platform

fix: 5 medium-priority hardening fixes from v0.27.0 pre-release review (#130)
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/signals.py
Due: platform

fix(tests): update payment refund mock to use aggregate instead of list iteration
  services/platform/tests/billing/test_billing_signals_regressions.py
Due: none

fix: address PR #137 review — 7 findings across platform and portal
  services/platform/apps/common/checks.py
  services/platform/apps/domains/webhooks.py
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/views.py
  services/platform/tests/orders/test_order_list_dashboard.py
  services/portal/apps/users/middleware.py
  services/portal/tests/users/test_membership_hash_middleware.py
Due: platform, portal

fix: deferred hardening — circuit breaker, CSP check, webhook validation, refund alert, query optimization (#130)
  services/platform/apps/billing/refund_service.py
  services/platform/apps/common/checks.py
  services/platform/apps/domains/webhooks.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/views.py
  services/portal/apps/users/middleware.py
Due: platform, portal

fix(billing): EN16931 XML — VATEX codes, tax category logic, safe Decimal
  services/platform/apps/billing/efactura/xml_builder.py
Due: platform

fix(api): address PR #149 review — email expiry text, request_ip audit logging
  services/platform/apps/api/customers/views.py
  services/platform/apps/customers/user_management_views.py
  services/platform/templates/customers/emails/welcome_email.html
  services/platform/templates/customers/emails/welcome_email.txt
  services/platform/tests/api/test_customer_api.py
  services/platform/tests/customers/test_user_management_views.py
Due: platform

fix(portal): update circuit breaker tests for cache.incr() pattern
  services/portal/tests/users/test_membership_hash_middleware.py
Due: none

fix(billing,domains,portal): address PR #137 review feedback
  services/platform/apps/billing/payment_service.py
  services/platform/apps/common/checks.py
  services/platform/apps/domains/webhooks.py
  services/portal/apps/users/middleware.py
Due: platform, portal

fix(orders): include CustomerTaxProfile overrides in VAT calculation
  services/platform/apps/orders/views.py
Due: platform

perf(orders): batch-fetch products and prices in calculate_cart_totals (#100)
  services/platform/apps/api/orders/views.py
  services/portal/apps/orders/views.py
Due: platform, portal

fix(notifications): atomicity, audit trail, and TOCTOU fixes for consent ops (#94)
  services/platform/apps/notifications/models.py
  services/platform/apps/notifications/services.py
  services/platform/tests/notifications/test_unsubscribe_tokens.py
Due: platform

fix(orders): status change AJAX feedback and destructive action confirmation (#98)
  services/platform/templates/orders/order_detail.html
Due: none

perf(portal): reduce auth log noise and enable HTTP connection reuse (#83)
  services/platform/apps/api/secure_auth.py
  services/portal/apps/common/outbound_http.py
  services/portal/tests/api_client/test_outbound_http.py
Due: platform, portal

test(portal): update mock patches for session-based HTTP client
  services/portal/tests/integration/test_cross_service_hmac.py
  services/portal/tests/security/test_hmac_concurrent_attacks.py
  services/portal/tests/security/test_hmac_malformed_headers.py
  services/portal/tests/security/test_hmac_production_security.py
  services/portal/tests/security/test_hmac_timing_attacks.py
  services/portal/tests/users/test_api_client_hmac.py
Due: none

perf(portal): seed account_health session cache from dashboard data (#83)
  services/portal/apps/dashboard/views.py
  services/portal/tests/dashboard/test_rate_limit_dashboard.py
Due: portal

feat(auth): custom APIToken model with hashed storage, multi-token, expiry (#77)
  docs/ADRs/ADR-0031-api-token-authentication-strategy.md
  services/platform/apps/api/users/authentication.py
  services/platform/apps/api/users/views.py
  services/platform/apps/users/management/__init__.py
  services/platform/apps/users/management/commands/__init__.py
  services/platform/apps/users/management/commands/purge_expired_tokens.py
  services/platform/apps/users/migrations/0002_create_apitoken.py
  services/platform/apps/users/migrations/0003_migrate_drf_tokens.py
  services/platform/apps/users/models.py
  services/platform/config/settings/base.py
  services/platform/tests/api/test_api_token_auth.py
  services/platform/tests/api/test_api_users_security.py
Due: platform

fix(audit): add APIToken to audit model allowlist
  scripts/audit_model_allowlist.txt
Due: none

fix(tests): deterministic dates in cost tracking tests
  services/platform/tests/infrastructure/test_infrastructure_services.py
Due: none

fix(types): suppress mypy misc error on BaseAuthentication subclass
  services/platform/apps/api/users/authentication.py
Due: platform

feat(billing): EN16931 + Romanian law compliance for PDF invoices (#153)
  services/platform/apps/billing/invoice_models.py
  services/platform/apps/billing/migrations/0025_add_bill_to_registration_number.py
  services/platform/apps/billing/pdf_generators.py
  services/platform/apps/billing/proforma_models.py
  services/platform/config/settings/base.py
  services/platform/tests/billing/test_pdf_generators.py
Due: platform

fix(tests): update comprehensive PDF tests for Romanian disclaimers
  services/platform/tests/billing/test_pdf_generators_comprehensive.py
Due: none

refactor(tickets): migrate platform ticket list to shared components (#152)
  services/platform/apps/tickets/views.py
  services/platform/templates/tickets/list.html
  services/platform/templates/tickets/partials/header_action.html
  services/platform/templates/tickets/partials/tickets_table.html
  services/portal/templates/tickets/partials/tickets_table.html
Due: platform

fix(types): remove explicit type annotation on TICKET_STATUS_TABS
  services/platform/apps/tickets/views.py
Due: platform

feat(common): add retriability signal to Result pattern Err type (#121)
  services/platform/apps/common/types.py
  services/platform/tests/common/test_result_types.py
Due: platform

feat(domains): implement registrar gateway layer with Gandi + ROTLD (#93)
  services/platform/apps/domains/gateways/__init__.py
  services/platform/apps/domains/gateways/base.py
  services/platform/apps/domains/gateways/errors.py
  services/platform/apps/domains/gateways/gandi.py
  services/platform/apps/domains/gateways/rotld.py
  services/platform/apps/domains/services.py
  services/platform/apps/domains/views.py
  services/platform/tests/domains/test_domains_security.py
  services/platform/tests/domains/test_registrar_gateways.py
Due: platform

feat(domains): Phase 2 — transfers, nameservers, lock, info, bulk availability, domain-sync (#93)
  services/platform/apps/domains/gateways/__init__.py
  services/platform/apps/domains/gateways/base.py
  services/platform/apps/domains/gateways/gandi.py
  services/platform/apps/domains/gateways/rotld.py
  services/platform/apps/domains/management/commands/domain_sync.py
  services/platform/apps/domains/migrations/0003_add_domain_operation_model.py
  services/platform/apps/domains/models.py
  services/platform/apps/domains/services.py
  services/platform/tests/domains/test_gateway_phase2.py
Due: platform

fix(audit): add DomainOperation to audit model allowlist
  scripts/audit_model_allowlist.txt
Due: none

fix(domains): resolve mypy dict-item type error in GandiGateway._do_set_lock
  services/platform/apps/domains/gateways/gandi.py
Due: platform

feat(security): encryption key versioning + AAD binding for EncryptedJSONField (#87)
  services/platform/apps/common/encryption.py
  services/platform/apps/common/fields.py
  services/platform/apps/common/management/commands/reencrypt_with_aad.py
  services/platform/config/settings/prod.py
  services/platform/config/settings/test.py
  services/platform/tests/common/test_encrypted_json_field.py
  services/platform/tests/common/test_encryption.py
Due: platform

fix(security): use get_encryption_key() in encrypt path for patch compatibility
  services/platform/apps/common/encryption.py
Due: platform

fix: v0.27.0 pre-release hardening — all medium + low priority findings (#130) (#137)
  services/platform/apps/billing/payment_service.py
  services/platform/apps/billing/refund_service.py
  services/platform/apps/billing/signals.py
  services/platform/apps/common/checks.py
  services/platform/apps/domains/webhooks.py
  services/platform/apps/orders/models.py
  services/platform/apps/orders/services.py
  services/platform/apps/orders/signals.py
  services/platform/apps/orders/views.py
  services/platform/tests/billing/test_billing_signals_regressions.py
  services/platform/tests/orders/test_order_list_dashboard.py
  services/portal/apps/users/middleware.py
  services/portal/tests/users/test_membership_hash_middleware.py
Due: platform, portal
